<!-- All Dashboard Start -->
<section class="clearfix container-fluid-full">
  <div class="row-fluid">
    <div class="sidebar-left">
       <%= render 'layouts/navigation' %>
</div>   
    <div class="content clearfix">
      <div class="submenutabs-dashboard clearfix">
         <%= render 'layouts/dashboard_feed' %>
      </div>
      <div class="clearfix bookmark-tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#BookMarks">BookMarks <i></i></a></li>
          <li>
            <button class="blue-btn marginL5" type="button" data-toggle="modal" data-target="#createCollectionModal">Create Bookmarks</button>
          </li>
        </ul>
        <div class="tab-content">
          <div id="BookMarks" class="tab-pane fade in active">
            <div class="clearfix bookmark-wrap">
              <ul>
                <% 
                 @collection.each do |collection|  
                    src = '' 
                     if collection.collection_detail.present?

                        collection.collection_detail.each_with_index do | collectiondetail, index |
                            collectiondetail.gallery.images.each_with_index do | collectionimage, index |
                                if index == 1
                                    break
                                end  
                                 src =  collectionimage.image.large_image.url
                            end
                        end 
                    end                      
                  %>
                <li class="col-md-3 col-sm-6 col-xs-12">
                  <div class="book-indent clearfix">
                    <div class="book-profile"><a href='<%= collection_detail_path(collection.id) %>'><img src="<%= src %>" class="img-responsive tutorial-img-height"></a></div>
                    <div class="wip-title padding10"><%= link_to collection.title, collection_detail_path(collection.id) %></div>
                    <!-- <div class="wip-small clearfix">
                      <ul class="margin">
                        <li class="lists"><img src="images/database/mioree-silas-sall.jpg" class="img-responsive" alt="img"></li>
                        <li class="lists"><img src="images/database/mioree-ana.jpg" class="img-responsive" alt="img"></li>
                        <li class="lists"><img src="images/database/mioree-snape.jpg" class="img-responsive" alt="img"></li>
                      </ul>
                    </div> -->
                  </div>
                </li>
              <% end %>


              
              </ul>
            </div>
            <div class="text-center text-uppercase">
             <%= paginate @collection %>
            <!--     <ul class="pagination">
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">Next</a></li>
                  <li><a href="#">Last</a></li>
                </ul> -->
            </div>
          </div>
        </div>
      </div>
    </div>    
    
  </div>
   <div class="modal fade default-popup" id="createCollectionModal" tabindex="-1" role="dialog" aria-labelledby="createCollectionModalLabel">
      <div class="modal-dialog" role="document">
        <%= form_for(@collectionrec, :html => {:id => 'create_bookmark_form_popup'}, :url => 'javascript:void(0);') do |f|
         %>
          <div class="modal-content">
            <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal"></button>
              <h4 class="modal-title" id="exampleModalLabel">Create Bookmark</h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  <label for="recipient-name" class="control-label">Bookmarks Name:</label>
                  <%= f.text_field :title, :autofocus => true, :placeholder => "Bookmark Name", class:"form-control", :type => 'text' %>
                  <span class="err-msg" id='bookmark_error_msg'><%= form_error_msg_for(@collection,:title, "Bookmark") %></span>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="lightbtn" data-dismiss="modal">Close</button>
              <button type="submit" class="lightbtn">Create</button>
            </div>
          </div>
        <% end %>  
      </div>
    </div>
</section>
<footer class="footer clearfix padding">
<%= render 'layouts/lastfooter' %>
</footer>
<script>
$(document).ready(function() {
   $('#create_bookmark_form_popup').on('submit',function(){
             $.ajax({
              type: "post",
              url: "<%= create_collection_path %>" ,
              data: $('#create_bookmark_form_popup').serialize(),
              success: function(data){
                  if(data.res == 0){
                      $('#bookmark_error_msg').html('');
                      $('#bookmark_error_msg').html(data.message);
                  }else{
                      window.location.reload(true);

                  }
                  

              }
            });
    });

});
</script>