<!-- All Dashboard Start -->
<section class="clearfix container-fluid-full">
  <div class="row-fluid">
    <div class="sidebar-left">
       <%= render 'layouts/navigation' %>
</div>   
    <div class="content clearfix">
      <div class="submenutabs-dashboard clearfix">
         <%= render 'layouts/dashboard_feed' %>
      </div>
      <div class="clearfix bookmark-tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a style='cursor:pointer' href="<%= index_collection_path %>">BookMark / <%= @collection.title %><i></i></a></li>
          <li>
            <button class="blue-btn marginL5" type="button" data-toggle="modal" data-target="#editCollectionModal">Update Bookmarks</button>
          </li>
          <li><%= link_to image_tag("cross.png",:alt => "Delete",:class=>"img-responsive"), collectiondelete_path(@collection.id), class: '', style:'margin-left:10px', data: { confirm: "Are you sure you want to delete this bookmark?" } %></li>
        </ul>
        <div class="tab-content">
          <div id="BookMarks" class="tab-pane fade in active">
            <div class="clearfix bookmark-wrap">
             <%  if @collectiondetail %>
              <ul>
                <% @collectiondetail.each_with_index do | collectiondetail, index |
                   src = '' 
                    collectiondetail.gallery.images.each_with_index do | collectionimage, index |
                          if index == 1
                              break
                          end  
                          src =  collectionimage.image.large_image.url
                      end  
                  %>
                <li class="col-md-3 col-sm-6 col-xs-12">
                  <div class="book-indent clearfix">
                    <div class="book-profile"> <a href='<%= show_gallery_path(collectiondetail.gallery.paramlink) %>'>
                            <img src="<%= src %>" class="img-responsive tutorial-img-height">
                          </a></div>
                    <div class="wip-title padding10"><%= link_to collectiondetail.gallery.title, show_gallery_path(collectiondetail.gallery.paramlink) %></div>
                    <!-- <div class="wip-small clearfix">
                      <ul class="margin">
                        <li class="lists"><img src="images/database/mioree-silas-sall.jpg" class="img-responsive" alt="img"></li>
                        <li class="lists"><img src="images/database/mioree-ana.jpg" class="img-responsive" alt="img"></li>
                        <li class="lists"><img src="images/database/mioree-snape.jpg" class="img-responsive" alt="img"></li>
                      </ul>
                    </div> -->
                  </div>
                </li>
              <% end %>


              
              </ul>
              <% end %>
            </div>
            <div class="text-center text-uppercase">
             <%= paginate @collectiondetail %>
            <!--     <ul class="pagination">
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">Next</a></li>
                  <li><a href="#">Last</a></li>
                </ul> -->
            </div>
          </div>
        </div>
      </div>
    </div>    
    
  </div>
     <div class="modal fade default-popup" id="editCollectionModal" tabindex="-1" role="dialog" aria-labelledby="editCollectionModalLabel">
      <div class="modal-dialog" role="document">
        <%= form_for(@collection, :html => {:id => 'edit_bookmark_form_popup'}, :url => 'javascript:void(0);') do |f| %>
        <%= f.hidden_field :collection_id, value: @collection.id %> 

          <div class="modal-content">
            <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal"></button>
              <h4 class="modal-title" id="exampleModalLabel">Edit Bookmark</h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  <label for="recipient-name" class="control-label">Bookmark Name:</label>
                  <%= f.text_field :title, :autofocus => true, :placeholder => "Bookmark Name", class:"form-control", :type => 'text' %>
                  <span class="err-msg" id='bookmark_error_msg'><%= form_error_msg_for(@collection,:title, "Collection") %></span>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="lightbtn" data-dismiss="modal">Close</button>
              <button type="submit" class="lightbtn">Edit</button>
            </div>
          </div>
        <% end %>  


      </div>
    </div>
 
</section>
<footer class="footer clearfix padding">
<%= render 'layouts/lastfooter' %>
</footer>
<script>
$(document).ready(function() {
   $('#edit_bookmark_form_popup').on('submit',function(){
    //alert('ghdfg');
             $.ajax({
              type: "post",
              url: "<%= update_collection_path %>" ,
              data: $('#edit_bookmark_form_popup').serialize(),
              success: function(data){
                  if(data.res == 0){
                      $('#bookmark_error_msg').html('');
                      $('#bookmark_error_msg').html(data.message);
                  }else{
                      window.location.reload(true);

                  }
              }

            });
    });

});
</script>