<!-- All Dashboard Start -->
<section class="clearfix container-fluid-full">
<div class="row-fluid">
<div class="sidebar-left">
<%= render 'layouts/navigation' %>
</div>

<div class="content clearfix">

<div class="messagewrap clearfix">

<div class="MessageLeft clearfix">

<div class="searchmessage">		
		<form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="q">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
</div>

<div class="mCustomScrollbar clearfix">
<div class="clearfix MessageLeftIndent">
<ul>
	<li class="clearfix">
		<div class="messageprofilepic"> <%= image_tag("message-profile.jpg", :alt => "Profile") %></div>
		<div class="clearfix Message-Indent">
		<div class="MessageContent clearfix">
		<div class="MessageTitle pull-left">Maciej Kuciara</div> 
		<div class="MessageTime">2:44 pm</div>
		</div>
		<div class="Message-content">
		<div class="MessageReplay"><i class="fa fa-reply" aria-hidden="true"></i></div>
		if there is job opportunity</div>
		</div>
	</li> 
</ul>
</div>
</div>

</div>


<div class="MessageRight clearfix">

<div class="clearfix MessageBox">
<div class="mCustomScrollbar clearfix">

	<div class="MessageReplayIndent clearfix">
		<div class="MessagePro"><%= image_tag("message-profile3.jpg", :alt => "Message") %></div>
			<div class="clearfix MessageRightComment">
				<div class="clearfix marginB10">
					<div class="pull-left white-txt txt13"><strong>Marlon R. Nunez</strong></div>
					<div class="pull-right lightcolor">2:15 pm</div>
				</div>

				<div class="clearfix MessageText"> Hi, How are you Mr. Alex ? Add add me as friend <br>
				My High Res Tank M1A1 according to CheckMate Specification<br>Thanks</div>
				<div class="LivesText">Lives in Istanbul, Turkey</div>

			</div>

	</div>

	<div class="MessageReplayIndent clearfix">
		<div class="ConversationText text-center">Conversation started today</div>
		<div class="MessagePro"><%= image_tag("message-profile.jpg", :alt => "Message") %></div>

		<div class="clearfix MessageRightComment">
			<div class="clearfix marginB10">
				<div class="pull-left white-txt txt13"><strong>Marlon R. Nunez</strong></div>
				<div class="pull-right lightcolor">2:15 pm</div>
			</div>

			<div class="clearfix MessageText"> Hi, How are you Mr. Alex ? Add add me as friend <br>
			My High Res Tank M1A1 according to CheckMate Specification<br>Thanks</div>
			<div class="LivesText marginB15">Lives in Istanbul, Turkey</div>

			<div class="clearfix">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6"><%= image_tag("database/message-1.jpg", :alt => "img",:class=>"img-responsive") %> </div>
					<div class="col-md-6 col-sm-6 col-xs-6"><%= image_tag("database/message-2.jpg", :alt => "img",:class=>"img-responsive") %></div>
				</div>
			</div>
		</div>

	</div>


</div>
</div>

	<div class="clearfix MessageRightReplay">
		<div class="MessageWrite clearfix">
			<div class="MessageSmile"><i class="fa fa-smile-o" aria-hidden="true"></i></div>
			<textarea name="" cols="" rows="" class="form-control MessageComment" placeholder="Write a reply..."></textarea>
		</div>

		<div class="clearfix MessageOtherFiled">
			<div class="pull-left AddFiles"><a href="#"><i class="fa fa-paperclip marginR5" aria-hidden="true"></i> Add Files</a></div>
			<div class="pull-left AddFiles"><a href="#"><i class="fa fa-camera marginR5" aria-hidden="true"></i> Add  Photo</a></div>
			<div class="clearfix pull-right PressEnterBox">
				<div class="checkbox-btn pull-left paddinT5 presssend">
				  <!-- <input type="checkbox" name="rc1" id="rc1" value="value-1">
				  <label onclick="" for="rc1">Press Enter to send</label> -->
				</div>
				<div class="pull-right"><button type="button" class="green-btn">Reply</button></div>
			</div>
		</div>
	</div>


</div>
</div>
</div>
</div>
</section>
<!-- Footer Start -->
<footer class="footer clearfix padding">
<%= render 'layouts/lastfooter'; %>
</footer>
<%= javascript_include_tag "jquery.mCustomScrollbar.concat.min" %>
