<div class="container" id="mayShop2" ng-app="Cartmodule">
  <div ng-controller="CartCtrl">
    <!-- Checkout -->
    <div class="site-page--checkout clearfix">
      <div class="checkout-steps checkout-steps--3-way">
        <ul class="clearfix">
        <% 
           classname = ''
           if user_signed_in? 
              classname = 'is-active is-active-full'
              
           else 
               classname = 'is-active'   
           end 
          %>
          <li class="<%= classname %>"><a href="javascript:;">Cart</a></li>
           <% 
           classname = ''
           if user_signed_in? 
              classname = 'is-active'
              
           else 
               classname = 'is-disabled'   
           end 
          %>
          <li class="<%= classname %> is-active-full"><a href="javascript:;">Sign in</a></li>
          <li class="<%= classname %>"><a href="javascript:;">Review &amp; Payment</a></li>
       
        </ul>
      </div>
    </div>
    <div class="checkout-content clearfix">

      <div class="product-list clearfix">

        <article ng-repeat="item in cart.items" class="product-list__item">

          <div class="product-list__item-preview is-with-credit-badge">
            <div class="product-list__item-shop-credit-badge"><i class="fa fa-usd fa-not-spaced"></i></div>
            <a href="#"><img src="{{item.image}}" alt="{{item.name}}"></a>
          </div>
          <div class="product-list__item-info">
            <h1 class="product-list__item-title"><a href="#">{{item.name}}</a></h1>
          </div>
          <div class="product-list__item-price"><span>{{item.price | currency}}</span>
          </div>
          <div class="product-list__item-remove has-tooltip tooltipstered">
            <a class="js-checkout-cart-remove-item" ng-click="cart.addItem({sku:item.sku}, -10000000);resetDiscount()" href="#"><i class="fa fa-times-circle-o fa-24"></i></a></div>
        </article>
      </div>

      <div class="cart-summary clearfix">
        <div class="cart-summary__total-items pull-left">Total items: <strong>{{cart.getTotalCount()}}</strong></div>

        <div class="cart-summary__price-info pull-right">
          <div class="checkout-summary__discounts"></div>
          <div class="cart-summary__total-price text-right">Total: <strong>{{cart.getTotalPrice() | currency}}</strong></div>
          <% if user_signed_in? %> 
          <div class="cart-summary__credits-used text-right">Coupon amount: <strong>{{deductionAmt | currency}}</strong><span class="credits-used-info-tooltip has-tooltip js-credits-used-info-tooltip tooltipstered"
              data-bonus-credits-title="Weekend Sale" data-bonus-credits-used="70" data-cart-value="600" data-store-credits-used="5.0"
              data-temporary-credits-active="" data-temporary-credits-used="0" data-total-credits-used="75.0"> <i class="fa fa-question-circle-o fa-green"></i></span></div>
          <% end %>    

          <div class="cart-summary__final-price text-right">Final price: <strong>{{GrandTotal | currency}}</strong></div>
        </div>
      </div>
      <% if user_signed_in? %>  
      <div class="enter-promo-code">
        <input placeholder="Enter promo code" capitalize ng-model="ApplyCode" class="field" type="text">
        <button type="submit" ng-click="ApplyPromocode();" ng-disabled="ApplyCode=='' || ApplyCode == undefined || ApplyCode == null"
          class="button-payment-apply">Apply code</button>
        <p ng-if="resCode==1" style="color: green;">{{errorMessage}}</p>
        <p ng-if="resCode!=1" style="color: red;">{{errorMessage}}</p>

      </div>
      <% end %>
      <div class="cart-footer">

        <div class="cart-continue pull-right">
        	<!-- <a class="blue-btn" href="#">Share Cart</a>  -->
        	<% if !user_signed_in? %>        		
        		<a class="blue-btn" data-toggle="modal" href="#login-popup">Continue <i class="fa fa-chevron-right"></i></a>
        	<% end %>

        </div>
      </div>
       <% if user_signed_in? %>  
      <form ng-submit="PaywithCC(ccForm)" novalidate name="ccForm">
        <div class="cart-sections-main">

          <div class="form-group clearfix">
            <div class="checkbox-btn">
              <input name="job[use_tag_from_previous_upload]" value="0" autocomplete="off" type="hidden"><input value="1"
                ng-model="check" ng-click="checkCompany(check);" name="job[use_tag_from_previous_upload]" id="job_use_tag_from_previous_upload"
                type="checkbox">
              <label for="job_use_tag_from_previous_upload" onclick="">Purchase as a company?</label>
            </div>
          </div>

          <div ng-if="CompanyShow" class="check-address-form">
            <h4> Company details </h4>
            <div class="check-address-form-left">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group clearfix">
                  <label class="col-md-12 col-sm-12 col-xs-12">Company name</label>
                  <div class="col-md-12 col-sm-12 col-xs-10">
                    <input class="form-control from-input" required="" ng-model="card.companyName" name="comapnyname" placeholder="Company name"
                      type="text">
                    <p style="color: red;" ng-show="ccForm.comapnyname.$error.required && submitted">
                      Company name is required.
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group clearfix">
                  <label class="col-md-12 col-sm-12 col-xs-12">Country</label>
                  <div class="col-md-12 col-sm-12 col-xs-10">
                    
                    <input class="form-control from-input" required="" ng-model="card.Country" name="country" placeholder="Country" type="text">
                    <p style="color: red;" ng-show="ccForm.country.$error.required && submitted">
                      Country is required.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group clearfix">
                  <label class="col-md-12 col-sm-12 col-xs-12">City</label>
                  <div class="col-md-12 col-sm-12 col-xs-10">
                    <input class="form-control from-input" required="" ng-model="card.City" name="city" placeholder="City" type="text">
                    <p style="color: red;" ng-show="ccForm.city.$error.required && submitted">
                      City is required.
                    </p>
                  </div>
                </div>
              </div>

            </div>

            <div class="check-address-form-left">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group clearfix">
                  <label class="col-md-12 col-sm-12 col-xs-12">Company code</label>
                  <div class="col-md-12 col-sm-12 col-xs-10">
                    <input class="form-control from-input" required="" ng-model="card.CompanyCode" name="comapnycode" placeholder="Company code"
                      type="text">
                    <p style="color: red;" ng-show="ccForm.comapnycode.$error.required && submitted">
                      Company code is required.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group clearfix">
                  <label class="col-md-12 col-sm-12 col-xs-12">VAT number</label>
                  <div class="col-md-12 col-sm-12 col-xs-10">
                    <input class="form-control from-input" required="" ng-model="card.VAT" name="vat" placeholder="VAT" type="text">

                    <p style="color: red;" ng-show="ccForm.vat.$error.required && submitted">
                      VAT code is required.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group clearfix">
                  <label class="col-md-12 col-sm-12 col-xs-12">Street Address</label>
                  <div class="col-md-12 col-sm-12 col-xs-10">
                    <input class="form-control from-input" required="" ng-model="card.Address" name="address" placeholder="Address" type="text">
                    <p style="color: red;" ng-show="ccForm.address.$error.required && submitted">
                      Address code is required.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="payment-section-main">
          <div class="col-md-8">
            <div class="secure-payment">
              <h4> Secure payments </h4>
              <p>

           <%= image_tag('source.png') %>
           <%= image_tag('source1.png') %>
           <%= image_tag('discover_network.png') %>
           <%= image_tag('diners_club.png') %>

              </p>
              <p> All sensitive data is processed via Braintree, a division of PayPal, Inc. Braintree is being used by some of
                the biggest brands such as Airbnb, Uber, Github and others. </p>
              <h4> PayPal </h4>
              <p>

             <%= image_tag('paypal.png') %>

              </p>
              <p>As an alternative to credit cards, you can use your PayPal balance to pay for the order. Just click the 
              <strong>Purchase with PayPal</strong>                button, authorize within PayPal and click <strong>Pay</strong>.</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="creadiy-card-apy">
              <h4> Pay with a credit card </h4>
              <div class="card-under-fields">
                <div class="card-fields-one">
                  <p> Name on card </p>
                  <!--  <input type="text" placeholder="Enter your Name"> -->
                  <input type="text" name="name" ng-model="card.name" required placeholder="Enter your Name" />
                  <p style="color: red;" ng-show="ccForm.name.$error.required && submitted">
                    Name is required.
                  </p>
                </div>
                <div class="card-fields-one">
                  <p> Card number </p>

                  <input type="text" placeholder="0123 456 789 XXX" id="cardNumber" cc-number cc-eager-type name="ccNumber" ng-model="card.number"
                    required maxlength="19">
                  <p style="color: red;" ng-show="ccForm.ccNumber.$error.required && submitted">
                    Please enter your credit card number.
                  </p>
                  <p style="color: red;" ng-show="ccForm.ccNumber.$invalid && submitted && !ccForm.ccNumber.$error.required">
                    Invalid Card
                  </p>
                  <p style="color: red;">{{ccForm.ccNumber.$ccEagerType}}</p>



                </div>
                <div class="card-fields-one card-fields-one-half ">
                  <p> Expiry date </p>

                  <div class="col-xs-6">
                    <input placeholder="MM" type="text" required="" class="form-control" cc-exp-month name="ccExpMonth" ng-model="card.month">
                    <p style="color: red;" ng-show="ccForm.ccExpMonth.$error.required && submitted">
                      Enter Month.
                    </p>
                    <p style="color: red;" ng-show="ccForm.ccExpMonth.$invalid && submitted && !ccForm.ccExpMonth.$error.required">
                      Invalid month
                    </p>
                  </div>
                  <div class="col-xs-6">
                    <input placeholder="YY" type="text" class="form-control" cc-exp-year name="ccExpYear" ng-model="card.year" required="">
                    <p style="color: red;" ng-show="ccForm.ccExpYear.$error.required && submitted">
                      Enter Year.
                    </p>
                    <p style="color: red;" ng-show="ccForm.ccExpYear.$invalid && submitted && !ccForm.ccExpYear.$error.required">
                      Invalid Year
                    </p>
                  </div>
                </div>
                <div class="card-fields-one">
                  <p> Security code </p>
                  <!--    <input type="text" placeholder="****"> -->
                  <input type="text" maxlength="4" name="ccCvc" ng-model="card.securitycode" required="">
                  <p style="color: red;" ng-show="ccForm.ccCvc.$error.required && submitted">
                    Enter security code.
                  </p>

                </div>

                <div class="form-group clearfix">
                <!--   <div class="checkbox-btn">
                    <input name="job[use_tag_from_previous_upload]" value="0" autocomplete="off" type="hidden"><input value="1"
                      name="job[use_tag_from_previous_upload]" id="job_use_tag_from_previous_upload" type="checkbox">
                    <label for="job_use_tag_from_previous_upload" onclick="">Save my payment method for next time</label>
                  </div> -->
                </div>

                <div class="card-detail-pay-btn">
                  <input type="submit" ng-disabled="countItem==0" value="Pay">
                </div>
                <div ng-if="countItem!=0">
                <a href="#" class="purchase-paypal" ng-click="pay_with_paypal()"> Purchase with Paypal </a>
                </div>
                   <div ng-if="countItem==0">
                <a href="#" class="purchase-paypal"> Purchase with Paypal </a>
                </div>
              </div>
            </div>
          </div>


        </div>
    </div>
    </form>
    <% end %>

  </div>
</div>
</div>
</div>
<script type="text/javascript">
  var app = angular.module('Cartmodule', ['MainModule']);
  //Controller For Navbar
  app.controller('CartCtrl', function ($scope, $http, Cart, $rootScope) {
    $rootScope.cart = Cart.cart;
    $scope.GrandTotal = $rootScope.cart.getTotalPrice();
    $scope.card = {};
    $scope.ApplyCode = '';
    $scope.countItem = $rootScope.cart.getTotalCount();






    $scope.deductionAmt = 0;

    $scope.ApplyPromocode = function () {
          loading();

      /*var ff = $scope.ApplyCode;*/
      $scope.applyforData = {};

      var Products = $rootScope.cart.items;
      $scope.applyforData.products = Products;
      $scope.applyforData.couponCode = $scope.ApplyCode;
      $scope.applyforData.user_id = '<%= user_signed_in?  ? current_user.id : 0 %>';

      console.log(JSON.stringify($scope.applyforData));

      $http({
        method: "POST",
        url: "/check_valid_coupon_code",
        data: $scope.applyforData
      }).then(function mySucces(response) {
        unloading();
        $scope.GrandTotal = $rootScope.cart.getTotalPrice();
        $scope.deductionAmt = 0;
        $scope.resCode = response.data.res;
        $scope.errorMessage = response.data.message;
        $scope.totalCart =0;
        $rootScope.AfterAppliedCode = response.data.applied_products;
        angular.forEach(response.data.applied_products, function (v, k) {
          angular.forEach($rootScope.cart.items, function (value, key) {
            if (value.sku == v) {
            /*  $scope.deductionAmt += Number(value.price) - Number(response.data.data.discount_value);*/
            $scope.totalCart +=value.price;

            $scope.discountVal =response.data.data.discount_value;
            }
          });
        });
        if(response.data.data.discount_type=='Percent')
        {
           $scope.deductionAmt = $scope.discountVal / 100 * $scope.totalCart;
        }
        else
        {
          $scope.deductionAmt = $scope.discountVal;

        }

        if ($scope.deductionAmt > 0) {
          if($scope.deductionAmt>= $scope.totalCart)
          {
            $scope.deductionAmt = $scope.totalCart;
            $scope.GrandTotal -= $scope.totalCart;
          }
          else
          {
            $scope.GrandTotal -= $scope.deductionAmt;
          }
        }

      }, function myError(response) {
        unloading();
        console.log("Error" + JSON.stringify(response));

      });

    }
    
    $scope.PaywithCC = function (form) {
      $scope.submitted = true;
      if (form.$valid) {
      loading();
        
        var  price_before_discount  = $scope.GrandTotal + $scope.deductionAmt;
        $scope.setindividualDiscount = $scope.deductionAmt;

        angular.forEach($rootScope.AfterAppliedCode, function (v, k) {
          angular.forEach($rootScope.cart.items, function (value, key) {
            if (value.sku == v) {
              if ($scope.setindividualDiscount > 0) {
                  if($scope.setindividualDiscount>= value.mrp)
                  {
                    $scope.setindividualDiscount -=value.mrp;
                    value.mrp -=value.mrp;
                  }
                  else
                  {
                    value.mrp -= $scope.setindividualDiscount;
                    $scope.setindividualDiscount -=$scope.setindividualDiscount;
                  }
              }
            }
          });
        });

        var data ={
          'data':{
             'type' :$scope.ccForm.ccNumber.$ccEagerType,
             'number':$scope.card.number,
             'expire_month': $scope.card.month,
             'expire_year': $scope.card.year,
             'cvv2':$scope.card.securitycode,
             'first_name':$scope.card.name,
             'cart_data': $scope.cart,
             'price_before_discount': price_before_discount,
             'discount':  $scope.deductionAmt,
             'final_price': $scope.GrandTotal,
             'applied_coupon_code': $scope.ApplyCode,
             'user_id': "<%= user_signed_in? ? current_user.id : '' %>",
             'company_name': $scope.card.companyName,
             'company_code': $scope.card.CompanyCode,
             'company_vat': $scope.card.VAT,
             'company_country': $scope.card.Country,
             'company_city': $scope.card.City ,
             'company_address': $scope.card.Address ,
             'is_company': $scope.check 
        }};

debugger;
          $http({
              method: "POST",
              url: "/checkout_credit_card_paypal",
              data:data ,
            }).then(function mySucces(response) {
                 if(response.data.success == 1){
                  unloading();
                     $scope.cart.clearItems();
                      alert(response.data.message);
                     
                      window.location.href='<%= root_path %>';
                     

                 }else if(response.data.success == 2){
                  unloading();
                      alert(response.data.message);
                      $scope.cart.clearItems();
                      window.location.href='<%= root_path %>';

                 }
                 else{
                  unloading();
                      alert(response.data.message);
                 }


   
            }, function myError(response) {
                  unloading();

              console.log("Error" + JSON.stringify(response));

           });

          //alert(JSON.stringify($scope.card));
          //alert("Total amount for Credit card"+$scope.GrandTotal);
          //alert("CREDIT CARD TYPE"+$scope.ccForm.ccNumber.$ccEagerType);
          
      }
    };

    $scope.pay_with_paypal = function () {
      loading();

        var  price_before_discount  =      $scope.GrandTotal + $scope.deductionAmt;
        $scope.setindividualDiscount = $scope.deductionAmt;

        angular.forEach($rootScope.AfterAppliedCode, function (v, k) {
          angular.forEach($rootScope.cart.items, function (value, key) {
            if (value.sku == v) {
              if ($scope.setindividualDiscount > 0) {
                  if($scope.setindividualDiscount>= value.mrp)
                  {
                    $scope.setindividualDiscount -=value.mrp;
                    value.mrp -=value.mrp;
                  }
                  else
                  {
                    value.mrp -= $scope.setindividualDiscount;
                    $scope.setindividualDiscount -=$scope.setindividualDiscount;
                  }
              }
            }
          });
        });


          var data = {'data': 
            {
             'cart_data': $scope.cart,
             'price_before_discount': price_before_discount,
             'discount':  $scope.deductionAmt,
             'final_price': $scope.GrandTotal,
             'applied_coupon_code': $scope.ApplyCode,
             'user_id': "<%= user_signed_in? ? current_user.id : '' %>",
             'company_name': $scope.card.companyName,
             'company_code': $scope.card.CompanyCode,
             'company_vat': $scope.card.VAT,
             'company_country': $scope.card.Country,
             'company_city': $scope.card.City ,
             'company_address': $scope.card.Address ,
             'is_company': $scope.check 
           }};
          $http({
              method: "POST",
              url: "/checkout_paypal",
              data:data ,
            }).then(function mySucces(response) {
                 if(response.data.success == 1){
                  
                     $scope.cart.clearItems();
                     window.location.href = response.data.url;

                 }else if(response.data.success == 2){
                  unloading();
                      alert(response.data.message);
                      $scope.cart.clearItems();
                      window.location.href='<%= root_path %>';

                 }
                 else{
                  unloading();
                      alert(response.data.message);
                 }


   
            }, function myError(response) {
              unloading();
              console.log("Error" + JSON.stringify(response));

           });
      
    };
    $scope.resetDiscount = function()
    {
     $scope.deductionAmt = 0; 
      $scope.GrandTotal = $rootScope.cart.getTotalPrice();
    }
    $scope.checkCompany = function (value) {
      $scope.CompanyShow = value;
    }
  });
  angular.bootstrap(document.getElementById("mayShop2"), ['Cartmodule']);
</script>