<!-- Submenu Navigation -->
<section class="wip-navigation-wrap">
<div class="navbar-default">
<div class="container-fluid">
<div class="row">
<div class="col-md-3 col-sm-4 col-xs-9 header-search">
  <div class="input-group stylish-input-group">
    <input type="text" class="form-control"  placeholder="Search 520 000 3D models" >
    <span class="input-group-addon">
    <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
    </span> </div>
</div>
<div class="col-md-9 col-sm-8 col-xs-3 downloadpage">
  <div class="navbar-header"> <a class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> </div>
  <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">All Item</a></li>
      <li><a href="#">3D Models</a></li>
      <li><a href="#">Cars</a></li>
      <li><a href="#">HDRI Images</a></li>
      <li><a href="#">CG Textures</a></li>
      <li><a href="#">Materials &amp; Shaders</a></li>
      <li><a href="#">Base Meshes</a></li>
      <li><a href="#">Scripts &amp; Plugins</a></li>
      <li><a href="#">Tutorial</a></li>
      <li><a href="#">more</a></li>
    </ul>
  </div>
</div>
</div>
</div>
</div>
</section>
<div class="clearfix download-post-bread hidden-xs">
<ul class="breadcrumb">
<li><a href="#">CGTrader</a></li>
<li><a href="#">3D Models</a></li>
<li><a href="#">Charachter</a></li>
<li><a href="#">Human</a></li>
<li><a href="#">Women</a></li>
<li class="active">Cartoon Sport Girl 2 3D model</li>
</ul>
</div>

<!--  Download Details Content -->
<section class="DownloadPostWrapper clearfix">
<div class="clearfix DownloadPostLeft">
<div class="large-search"><a href="#"><i class="fa fa-search-plus fa-3x" aria-hidden="true"></i></a></div>
<div class="marginB15 clearfix">
<ul class="pgwSlideshow">
<li class="lists"><a href="#"><%= image_tag("database/download-slider.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
<li class="lists"><a href="#"><%= image_tag("database/download-slider1.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
<li class="lists"><a href="#"><%= image_tag("database/download-slider2.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
<li class="lists"><a href="#"><%= image_tag("database/download-slider3.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
<li class="lists"><a href="#"><%= image_tag("database/download-slider4.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
<li class="lists"><a href="#"><%= image_tag("database/download-slider5.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
<li class="lists"><a href="#"><%= image_tag("database/download-slider6.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
<li class="lists"><a href="#"><%= image_tag("database/download-slider7.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
<li class="lists"><a href="#"><%= image_tag("database/download-slider8.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
<li class="lists"><a href="#"><%= image_tag("database/download-slider9.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
<li class="lists"><a href="#"><%= image_tag("database/download-slider10.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
</ul>
</div>
<div class="comment-wrap clearfix">
<div class="gallerycomment">
<div class="gallery-title">CGI Animated Short Film HD: "Goutte d’Or Short Film" by Happy Flyfish </div>
<div class="clearfix row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="combox"><%= image_tag("comment.jpg", :alt=>"Comment") %></div>
    <div class="comleft">The Gnomon Workshop
      <div class="clearfix">
        <button type="button" class="followbtnn"> Follow</button>
        <span class="followcomment">36,686</span></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 text-right"><a href="#" class="view-txt"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Likes</a> <a href="" class="view-txt"><i class="fa fa-eye" aria-hidden="true"></i>2942</a> <a href="#" class="view-txt"><i class="fa fa-comment-o" aria-hidden="true"></i>115</a> </div>
</div>
<div class="bdr"></div>
<div class="clearfix row">
  <div class="col-md-6 col-sm-12 col-xs-12 share-txt"> <a href="#"><i class="fa fa-share" aria-hidden="true"></i> Share</a> <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Bookmark </a> <a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i> More</a> </div>
  <div class="col-md-6 col-sm-12 col-xs-12 text-right comright">
    <div class="clearfix">
      <button type="button" class="likebtn border-radius marginR5">Download</button>
      <button type="button" class="likebtn"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like</button>
      <span class="likecomment">258</span></div>
  </div>
</div>
</div>
<div class="clearfix tabsdownloadpost">
<ul class="nav nav-tabs shadow">
  <li class="active"><a data-toggle="tab" href="#description">DESCRIPTION</a></li>
  <li><a data-toggle="tab" href="#comments">COMMENTS (4)</a></li>
</ul>
<div class="tab-content">
  <div id="description" class="tab-pane fade in active">
    <div class="publishwrap clearfix paddinT5">
      <h3>Published on Aug 21, 2014</h3>
      <div class="marginB15 publish-txt">Cartoon Sport Girl 2 3D model</div>
      <h3>Cartoon Sport Girl</h3>
      <div class="marginB15 publish-txt">Cartoon Sport Girl 2 3D model<br>
        Cartoon Sport Girl<br>
        <br>
        Low-poly. <br>
        Rendered in Marmoset Toolbag. <br>
        All materials and textures are included. <br>
        The textures of the model are applied with UV Unwrap. <br>
        Units used: cm, model is 162cm tall.<br>
        <br>
        Normal map was baked from a high poly model.<br>
        <br>
        Including MAX, OBJ and FBX formats.<br>
        <br>
        8850 polygons <br>
        16828 triangles <br>
        9750 vertices<br>
        <br>
        Maps:<br>
        <br>
        Body_diffuse.tga (4096x4096)<br>
        Body_specular.tga (4096x4096) <br>
        Body_gloss.tga (4096x4096) <br>
        Body_normal.tga (4096x4096) <br>
        <br>
        Boot_diffuse.tga (4096x4096) <br>
        Boot_diffuse_blue.tga (4096x4096) <br>
        Boot_normal.tga (4096x4096) <br>
        <br>
        Shirt_diffuse.tga (4096x4096) <br>
        Shirt_diffuse_blue.tga (4096x4096) <br>
        Shirt_normal.tga (4096x4096) <br>
        <br>
        Short_diffuse.tga (4096x4096) <br>
        Short_diffuse_blue.tga (4096x4096) <br>
        Short_normal.tga (4096x4096) <br>
        <br>
        Hair_alpha.tga (1024x2048) <br>
        Hair_diffuse.tga (1024x2048) <br>
        Hair_normal.tga (1024x2048) <br>
        Hair_specular.tga (1024x2048)<br>
        <br>
        Eye.tga (1024x1024) <br>
        Eye_yellow.tga (1024x1024) <br>
        Eye_normal.tga (1024x1024) </div>
    </div>
  </div>
  <div id="comments" class="tab-pane fade in ">
    <div class="clearfix commentwrap">
      <div class="clearfix">
        <div class="col-md-1 col-sm-2 col-xs-3 padding"><%= image_tag("activity-profile3.jpg", :alt=>"Activity", :width=>'50', :height=>"50") %></div>
        <div class="col-md-11 col-sm-10 col-xs-9 padding">
          <textarea class="form-control activitymessage" rows="" cols="" name=""></textarea>
        </div>
        <div class="col-md-11 col-sm-12 col-xs-12 padding col-md-offset-1 paddinT10 marginB15 text-right">
          <button class="postbtn border-radius" type="button"><i aria-hidden="true" class="fa fa-comments"></i> Post Comment</button>
        </div>
      </div>
      <h3 class="content-heading-title">Comments</h3>
      <div class="content-heading-subtitle marginB25">Tell the author what you think of this product!</div>
      <div class="clearfix marginB15 comment-reply"> <%= image_tag("message-profile2.jpg", :alt=>"profile", :class=>"img-circle img-responsive") %> <span>rakibkhan7496</span> wrote 4 months ago <a href="#" data-toggle="tooltip" data-placement="top" title="reply to rakibkhan7496"><i class="fa fa-comment-o" aria-hidden="true"></i> Reply</a>
        <div class="paddinT5">Cute</div>
      </div>
      <div class="clearfix marginB15 comment-reply"> <%= image_tag("message-profile2.jpg", :alt=>"profile", :class=>"img-circle img-responsive") %> <span>rakibkhan7496</span> wrote 4 months ago <a href="#" data-toggle="tooltip" data-placement="top" title="reply to rakibkhan7496"><i class="fa fa-comment-o" aria-hidden="true"></i> Reply</a>
        <div class="paddinT5">This cartoon girl costume is wonderful and girls may like this costume and clothing because it look better than the others. <a href="#">Kim Kardashian Leather Jacket Outfit </a></div>
      </div>
      <div class="clearfix marginB15 comment-reply"> <%= image_tag("noti-profile.jpg", :alt=>"profile", :class=>"img-circle img-responsive") %> <span>rakibkhan7496</span> wrote 4 months ago <a href="#" data-toggle="tooltip" data-placement="top" title="reply to rakibkhan7496"><i class="fa fa-comment-o" aria-hidden="true"></i> Reply</a>
        <div class="paddinT5">wow she looks so cute .</div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="wipdetailtag publishwrap">
<div class="marginB10 publish-txt"> <span class="txt-white"><strong>Category:</strong> </span> <a href="#">Flim &amp; Animation</a> </div>
<div class="marginB10 publish-txt"> <span class="txt-white"><strong>Tags:</strong> </span> 3d, model, female, maya, rigged, free download, download, 3d model, obj </div>
<div class="marginB10 publish-txt"><span class="txt-white"><strong>Software Used: </strong></span> <span class="softb"><%= image_tag("soft.jpg", :class=>"img-rounded",:alt=>"Software") %></span> 3ds Max <span class="softb"><%= image_tag("ps.jpg", :alt=>"Software", :class=>"img-rounded") %></span> Photoshop <span class="softb"><%= image_tag("Keyshot.jpg", :alt=>"Software", :class=>"img-rounded") %></span> Keyshot</div>
</div>
<div class="clearfix SimilarPost">
<h2>Similar Models</h2>
<h3>In Cartoon Sport Girl 2 3D model</h3>
<div class="clearfix download-post">
  <div class="clearfix">
    <ul>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/wip-gallery3.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
          <div class="clearfix down-name"> by <span class="price-txt1">Matte Agr</span> </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/wip-gallery4.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
          <div class="clearfix down-name"> by <span class="price-txt1">Matte Agr</span> </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/wip-gallery5.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
          <div class="clearfix down-name"> by <span class="price-txt1">Matte Agr</span> </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/wip-gallery6.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
          <div class="clearfix down-name"> by <span class="price-txt1">Matte Agr</span> </div>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>
</div>
</div>
<div class="DownloadPostRight clearfix">
<div class="artist-title marginB10">Athlete Female No Rig</div>
<div class="product-name marginB15">by <a href="#">PeartVision</a></div>
<div class="post-price marginB10">$49.00</div>
<div class="offer-price marginB10"><%= image_tag("hand-icon.png", :class=>"marginR5",:alt=>"Hand") %> Offer your price</div>
<div class="clearfix marginB15"> <a href="#" class="blue-btn"><i class="fa fa-shopping-cart marginR5" aria-hidden="true"></i> Add to cart</a> <a href="#" class="red-btn border-radius"><i class="fa fa-shopping-bag marginR5" aria-hidden="true"></i> Buy Now</a> </div>
<div class="product-rating marginB15">Product Rating <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i></div>
<div class="clearfix download-cupon">
<ul>
<li><a href="#">Redeem a Coupon</a></li>
<li><a href="#">Start Free Preview</a></li>
<li class="dropdown"><a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown">More Options <i class="fa fa-caret-down marginL5" aria-hidden="true"></i></a>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</li>
</ul>
</div>
<div class="clearfix WishlistHome">
<ul>
<li class="row">
  <div class="col-md-4 col-sm-4 col-xs-4">Lectures</div>
  <div class="col-md-8 col-sm-8 col-xs-8 wishlist-txt">23</div>
</li>
<li class="row">
  <div class="col-md-4 col-sm-4 col-xs-4">Video</div>
  <div class="col-md-8 col-sm-8 col-xs-8 wishlist-txt">2 hours</div>
</li>
<li class="row">
  <div class="col-md-4 col-sm-4 col-xs-4">Skill Level</div>
  <div class="col-md-8 col-sm-8 col-xs-8 wishlist-txt">All Levels</div>
</li>
<li class="row">
  <div class="col-md-4 col-sm-4 col-xs-4">Languages</div>
  <div class="col-md-8 col-sm-8 col-xs-8 wishlist-txt">English</div>
</li>
<li class="row">
  <div class="col-md-4 col-sm-4 col-xs-4">Includes</div>
  <div class="col-md-8 col-sm-8 col-xs-8 wishlist-txt">Lifetime access 30 day money back guarantee! Available on iOS and Android Certificate of Completion</div>
</li>
</ul>
</div>
<div class="ProductDetail clearfix">
<h2>Product Details</h2>
<div class="filewrap clearfix marginB10">
<h3>File Formats</h3>
<ul>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8"> <span>3D Studio Max</span> 2014 (.max)<br>
      Renderer.Default (Scanline) </div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right">89.3 MB</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8"> <span>3D Studio Max</span> 2009 (.max)<br>
      Renderer.Default (Scanline) </div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right">89.2 MB</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8"> <span>OBJ</span> (.obj)<br>
    </div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right">89.1 MB</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8"> <span>Autodesk FBX</span> (.fbx)<br>
    </div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right">90.1 MB</div>
  </li>
</ul>
</div>
<div class="filewrap clearfix marginB15">
<h3>3D Models Details</h3>
<ul>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Product ID</div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right">#487731</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Publiched on </div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right">2016-05-20</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Animated</div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right red-txt">No</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Rigged</div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right red-txt">No</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Lowpoly (game-ready)</div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right green-txt">Yes</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Geometry</div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right">Polygon mesh</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Polygons</div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right">8,850</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Vertices</div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right">9,750</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Textures</div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right green-txt">Yes</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Materials</div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right green-txt">Yes</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">UV Mapping</div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right green-txt">Yes</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Unwrapped UVs</div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right">Overlapping</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Plugins Used </div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right red-txt">No</div>
  </li>
</ul>
</div>
<div class="clearfix row lic-txt">
<div class="col-md-6 col-sm-6 col-xs-6"><i class="fa fa-book marginR5" aria-hidden="true"></i> License :</div>
<div class="col-md-6 col-sm-6 col-xs-6 text-right">General License</div>
</div>
<div class="cont-pubilsh">Content published with the General Licoel may not be sold, given or assigned to another person or n the form it is downloaded from the site.</div>
</div>
</div>
</section>
<!-- Footer Start -->
<footer class="footer clearfix padding">
 <%= render 'layouts/lastfooter' %>
</footer>

<script>
$(document).ready(function() {
$('.pgwSlideshow').pgwSlideshow();
});
$(document).ready(function(){
$('[data-toggle="tooltip"]').tooltip();
});
</script>