
<div id="myApp2" ng-app="myApp" >
<%= render 'layouts/download_sub_header' %>

<div ng-controller="myCtrl" >
  <!-- Showcase & Discover Creative Work -->
  <section  class="clearfix downloadwrap text-center">
    <div class="container">
      <div class="download-title text-center">Buy &amp; Sell Marketplace &amp; Free Downloads</div>
      <div class="download-txt text-center">for <a href="#">3D Models <i></i></a>, <a href="#">3D Rigs<i></i></a>, <a href="#">Materials &amp; Shaders<i></i></a>, <a href="#">Textures<i></i></a> and more</div>
      <div class="clearfix download-gallery-wrap">
        <div class="col-md-3 col-sm-3 col-xs-12 marginB10 ColPad">
          <div class="input-group stylish-input-group">
            <input type="text" class="form-control" ng-model="searchKey"  placeholder="Enter a keyword..." >
            <span class="input-group-addon">
            <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
            </span> </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 marginB10 text-left ColPad">
           
            <select class="custom-select post-type-link"  ng-change="searchByPostType(selected)" ng-model='selected'>
                <option value="" class="post-type-link"  id="post-type-link-all" selected="selected">All</option>
                <% 
                   if @post_types.present?
                     @post_types.each_with_index do |value,index| #abort(value.to_json) %>
                      <option value = "<%= value.id %>" class="post-type-link"  id="post-type-link-<%= value.id %>"> <%= value['type_name'] %></option>
                <% 
                    end 
                  end
                %>
            </select>


        </div>

        <div class="col-md-3 col-sm-4 col-xs-12 marginB10 text-left ColPad">
            <select class="custom-select post-type-category-link"  ng-change="searchByPostTypeCategory(selected)" ng-model='selected'>
                <option value="" class="post-type-category-link"  id="post-type-category-link-all" selected="selected">All</option>
                <option ng-repeat="x in post_type_category_data"  ng-click="searchByPostTypeCategory(x.id)" class="post-type-category-link"  id="post-type-category-link-{{x.id}}">{{x.name}}</option>
               
            </select>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-12 marginB10 text-left ColPad">
            
            <select class="custom-select post-type-subcategory-link"  ng-change="searchByPostTypeSubCategory(selected)" ng-model='selected'>
                <option value="" class="post-type-subcategory-link"  id="post-type-subcategory-link" selected="selected">All</option>
                <option ng-repeat="x in post_type_subcategory_data"  ng-click="searchByPostTypeSubCategory(x.id)" class="post-type-category-link"  id="post-type-subcategory-link-{{x.id}}">{{x.name}}</option>
               
            </select>
        </div>
         </div>
      <div class="showcase-btn-wrap clearfix text-center">
        <button type="button" class="btn btn-default border-radius marginB10" 
        ng-click="orderBy('-number_of_download');" >Top Downloaded</button>
        <button type="button" class="btn btn-default border-radius marginB10" 
        ng-click="orderBy('-number_of_sold');">Top Sold</button>
        <button type="button" class="btn btn-default border-radius marginB10"
         ng-click="orderBy('-id');">Browse Latest Items</button>
      </div>
    </div>
  </section>

  <!-- Download Content Start -->
  <section class="clearfix browseallcompanies">
    <div class="clearfix wipwrap">
      <div class="wiptabs clearfix">
        <ul class="nav nav-pills">
          <li class="dropdown active"> <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-th txt15 marginR5" aria-hidden="true"></i> Download
            <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            </a>
            <ul class="dropdown-menu">

              <li>
                  <a href="javascript:void(0);" ng-click="searchByPostType('all')" class="active post-type-link"  id="post-type-link-all">
                    All
                  </a>
              </li>
              <% @post_types.each do |val| %>
                <li>
                  <a href="javascript:void(0);" ng-click="searchByPostType('<%= val['id'] %>')" class="post-type-link"  id="post-type-link-<%= val['id'] %>">
                    <%= val['type_name'] %>
                  </a>
                </li>
              <% end %>

            </ul>
          </li>
          <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Category
            <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="javascript:void(0);" ng-click="searchByPostTypeCategory('all')" class="active post-type-category-link"  id="post-type-category-link-all">
                    All
                  </a>
              </li>

              <li class="clearfix" ng-repeat="x in post_type_category_data">
                <a href="javascript:void(0);" ng-click="searchByPostTypeCategory(x.id)" class="post-type-category-link"  id="post-type-category-link-{{x.id}}">{{x.name}}</a>
              </li>

             
            </ul>
          </li>
          <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sub Category
            <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="javascript:void(0);" ng-click="searchByPostTypeSubCategory('all')" class="active post-type-subcategory-link"  id="post-type-subcategory-link-all">
                    All
                  </a>
              </li>

              <li class="clearfix" ng-repeat="x in post_type_subcategory_data">
                <a href="javascript:void(0);" ng-click="searchByPostTypeSubCategory(x.id)" class="post-type-subcategory-link"  id="post-type-subcategory-link-{{x.id}}">{{x.name}}</a>
              </li>
            </ul>
          </li>
          <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Featured
            <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            </a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0);" ng-click="searchByFeatured('', 'all')" class="active featured-type-link"  id="featured-type-link-all">All</a></li>
              <li><a href="javascript:void(0);" ng-click="searchByFeatured('TRUE', 'yes')" class="featured-type-link"  id="featured-type-link-yes">Show Only Featured</a></li>
              <li><a href="javascript:void(0);" ng-click="searchByFeatured('FALSE', 'no')" class="featured-type-link"  id="featured-type-link-no">Show Without Featured</a></li>

            </ul>
          </li>
         <!--  <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Filter
            <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Inbox</a></li>
              <li><a href="#">Drafts</a></li>
              <li><a href="#">Sent Items</a></li>
              <li class="divider"></li>
              <li><a href="#">Trash</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
    </div>

    
    <!-- User Followers Start -->
    <div class="container-fluid download-indent clearfix">
      <div class="container">


        <div class="clearfix downbox" dir-paginate="x in download_data | filter:searchKey | itemsPerPage:10">
          <div class="clearfix downtop">

            <h2>{{x.PostType.type_name}} </h2>

            <a href="/downloads/{{x.PostType.slug}}" class="text-uppercase pull-right">view all</a> </div>
          <div class="clearfix">
            <ul>
              <li class="clearfix" ng-repeat="y in x.Download | orderBy:setorderBy">
              
                <div class="downwrap"> 
                <a href="/downloads/{{y.paramlink}}/show">  <img lazy-img="<%= root_url %>{{ y.company_logo.download_list.url }}" class="img-responsive download-img-height">
                </div>
                <div class="padding10 clearfix">
                  <div class="down-txt"><span>{{y.title}}</span> <span class="pull-right price-txt">{{(y.free) ? 'Free' : '$' + y.price}}</span></div>
                  <div class="clearfix down-name">
                    <div class="pull-left">by <span class="price-txt1">{{y.is_admin == 'Y' ? 'Admin' : y.user.firstname + ' ' + y.user.lastname}}</span></div>
                    <div ng-if="y.free==false" class="pull-right">
                    <span ng-if="!checkCart(y.product_id)" class="checkbox-btn">
                      <input  type="checkbox" ng-click="AddTocart(y)" value="value-1" id="rc{{y.id}}">
                    

                      <label for="rc{{y.id}}" onclick=""></label>
                    </span> 
                    <span ng-if="checkCart(y.product_id)" class="checkbox-btn">
                      <input  type="checkbox" ng-checked="true" ng-click="RemoveThis(y)" value="value-1" id="rc{{y.id}}">
                    

                      <label for="rc{{y.id}}" onclick=""></label>
                      </span> 
                      <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a>
                      </div>
                  </div>
                </div>
              </li>

            </ul>
            
          </div>

        </div>  
          <div class="pagintionpage clearfix">
            <dir-pagination-controls
                 max-size="1"
                 direction-links="true"
                 boundary-links="false" >
            </dir-pagination-controls>
          </div>
        <div class="clearfix downbox text-center err-msg no-result" ng-hide="download_data.length" >No Result Found!</div>      
      
      </div>
    </div>
  </section>
  <div>
</div>

<!-- Footer Start -->
<footer class="footer clearfix padding">
 <%= render 'layouts/lastfooter' %>
</footer>


<script type="text/javascript">

  // main page angular app start
  var app = angular.module('myApp', ["angularUtils.directives.dirPagination","angularLazyImg","MainModule"]);
   

app.controller('myCtrl', function($scope,Cart,$rootScope, $http) {
      
    $scope.filter = function() {
        
        list_url = '/downloads/get_download_list?';

        if(typeof $scope.viewFeaturedType !== 'undefined' && $scope.viewFeaturedType != '' && $scope.viewFeaturedType != 'all'){
          list_url += '&is_feature=' + $scope.viewFeaturedType
        }

        if(typeof $scope.viewPostType !== 'undefined' && $scope.viewPostType != '' && $scope.viewPostType != 'all'){
          list_url += '&post_type_id=' + $scope.viewPostType
        }

        if(typeof $scope.viewPostTypeCategory !== 'undefined' && $scope.viewPostTypeCategory != '' && $scope.viewPostTypeCategory != 'all'){
          list_url += '&post_type_category_id=' + $scope.viewPostTypeCategory
        }

        if(typeof $scope.viewPostTypeSubCategory !== 'undefined' && $scope.viewPostTypeSubCategory != '' && $scope.viewPostTypeSubCategory != 'all'){
          list_url += '&sub_category_id=' + $scope.viewPostTypeSubCategory
        }

        $http.get(list_url).then(function (response) {
          $scope.download_data = response.data;
          console.log(JSON.stringify($scope.download_data));
        });
    };
    $scope.filter();

    $scope.searchByFeatured = function(value, id) {

      angular.element( document.querySelectorAll( '.featured-type-link' ) ).removeClass('active');
      angular.element( document.querySelector( '#featured-type-link-' + id ) ).addClass('active');
      
      $scope.viewFeaturedType = value;
      $scope.filter();

    };

    $scope.searchByPostType = function(id) {

      angular.element( document.querySelectorAll( '.post-type-link, .post-type-category-link, .post-type-subcategory-link' ) ).removeClass('active');
      angular.element( document.querySelectorAll( '#post-type-link-' + id + ', #post-type-category-link-all, #post-type-subcategory-link-all' ) ).addClass('active');

      $scope.viewPostType = id;
      $scope.viewPostTypeCategory = '';
      $scope.viewPostTypeSubCategory = '';
      $scope.filter();
      $scope.getPostTypeCategory();

    };

    $scope.searchByPostTypeCategory = function(id) {
      
      angular.element( document.querySelectorAll( '.post-type-category-link, .post-type-subcategory-link' ) ).removeClass('active');
      angular.element( document.querySelectorAll( '#post-type-category-link-' + id + ', #post-type-subcategory-link-all') ).addClass('active');
      
      $scope.viewPostTypeCategory = id;
      $scope.viewPostTypeSubCategory = '';
      $scope.filter();
      $scope.getPostTypeSubCategory();
    };

    $scope.searchByPostTypeSubCategory = function(id) {
      
      angular.element( document.querySelectorAll( '.post-type-subcategory-link' ) ).removeClass('active');
      angular.element( document.querySelector( '#post-type-subcategory-link-' + id ) ).addClass('active');
      
      $scope.viewPostTypeSubCategory = id;
      $scope.filter();
    };
    $scope.setorderBy = '-number_of_download';
    $scope.orderBy = function(val)
    {
     
      $scope.setorderBy= val;
    }

    $scope.getPostTypeCategory = function() {
        
      $scope.post_type_category_data = [];
      $scope.post_type_subcategory_data = [];

      if(typeof $scope.viewPostType !== 'undefined' && $scope.viewPostType != '' && $scope.viewPostType != 'all'){

        list_url = '/downloads/get_post_type_category_list?';
        list_url += '&post_type_id=' + $scope.viewPostType;

        $http.get(list_url).then(function (response) {
          $scope.post_type_category_data = response.data;
        });
      }
        
    };

    $scope.getPostTypeSubCategory = function() {
        
        $scope.post_type_subcategory_data = [];

        if(typeof $scope.viewPostTypeCategory !== 'undefined' && $scope.viewPostTypeCategory != '' && $scope.viewPostTypeCategory != 'all'){
          list_url = '/downloads/get_post_type_category_list?';
          list_url += '&parent_id=' + $scope.viewPostTypeCategory;
          $http.get(list_url).then(function (response) {
            $scope.post_type_subcategory_data = response.data;
          });
        }
    };
    $rootScope.cart = Cart.cart;
        $rootScope.checkCart = function(id){
  
        if($scope.cart.skuArray.includes(id)){
          debugger;
            return true;
        }else{
            return false;
        }
    };
    $scope.RemoveThis = function (product) {
      
        $scope.cart.addItem({ sku: product.product_id}, -10000000);
        window.location.reload();
    }
    $scope.AddTocart = function (product) {
      
       $scope.cart.addItem(
        { sku: product.product_id,
          name: product.title,
          slug:product.paramlink, 
          mrp: product.price, 
          price: product.price, 
          quantity: 1, 
          image: product.company_logo.thumb.url, 
          weight: 0 }, true);
       window.location.reload();
    };

  });
app.controller('downloadHead', function($scope, $http) {
        var uRl = 'downloads/get_post_type_list';
        $http.get(uRl).then(function (response) {
          $scope.download_Heads = response.data;
          
        });
  });

 
    angular.bootstrap(document.getElementById("myApp2"), ['myApp']);

</script>