<div id="myApp2" ng-app="myApp" ng-controller="myCtrl">

<section class="wip-navigation-wrap">
<div class="navbar-default">
<div class="container">

<div class="row">
      
      <div class="col-md-12 header-search paddinB10 paddinT10">
      <div class="input-group stylish-input-group">
          <input type="text" class="form-control"  placeholder="Search 520 000 3D models" >
          <span class="input-group-addon">
          <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
          </span> </div>
      </div>
      
       
      
      </div>

</div>
</div>
</section>

<!-- Download Indent Start -->
<section class="clearfix downpadcategory">
<div class="container">
<div class="clearfix hidden-xs hidden-sm">
<ol class="breadcrumb margin">
      <li class="breadcrumb-item"><a href="<%= free_download_path %>">Free Download</a></li>
      <% if @topic_details.present? %>
      <li class="breadcrumb-item active"><%= @topic_details.name %></li>
      <% end %>
    </ol>
</div>

<div class="freedownloadpage clearfix">
    <div class="row">
      <% if @topic_list.present? %>
      <ul>
        <% @topic_list.each_with_index do |val, i| %>
          <li class="col-md-3 col-sm-4 col-xs-6"><a href="<%= free_download_path %>?post_type_id=<%= val.try(:id) %>"><%= val.try(:name) %> <span class="badge">(<%= val.try(:count_downloads) %>)</span></a></li>
         
        <% end %>
      </ul>
      <% end %>
    </div>
</div>



<!-- User Followers Start -->
<div class="download-indent clearfix">
<div class="container">
<div class="clearfix downbox row">
  <div class="clearfix">
      <% if @result.present? %>
          <ul>
              <li  class="clearfix marginL" ng-repeat="x in <%= @result_final.to_json %>">
                <div class="downwrap"><img lazy-img="<%= root_url %>{{ x.company_logo.tutorial_list.url }}" class="img-responsive"> </div>
                    <div class="padding10 clearfix">
                      <div class="down-txt"><span>{{x.title}}</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
                      <div class="clearfix down-name">
                        <div class="pull-left">by <span class="price-txt1">{{x.is_admin == 'Y' ? 'Admin' : x.user.firstname + ' ' + x.user.lastname}}</span></div>
                       
                      </div>
                    </div>
               </li>
           </ul>    
         <% else %>
          <div class="clearfix downbox text-center err-msg no-result">No Result Found!</div>    

        <% end %>
  </div>
  
</div>
   <div class="text-center col-md-12 col-sm-12 col-xs-12 text-uppercase">
          <%= paginate @result %>
    </div>
</div>
</div>
</div>
</section>

<!-- Footer Start -->
<footer class="footer clearfix padding">
 <%= render 'layouts/lastfooter' %>
</footer>
<script>
// main page angular app start
var app = angular.module('myApp', ["angularLazyImg"]);
app.controller('myCtrl', function($scope, $http) {
    
});
angular.bootstrap(document.getElementById("myApp2"), ['myApp']);

</script>