<script type="text/javascript">
  $.fn.raty.defaults.path = '<%= root_url+'assets' %>';
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5895a76640dc4c96"></script>
<!-- Submenu Navigation -->
<div id="myApp2" ng-app="myApp" >
<%= render 'layouts/download_sub_header' %>
<div ng-controller="myCtrl" >
<div class="clearfix download-post-bread hidden-xs">
<ul class="breadcrumb">
<li><a href="javascript:void(0);">Downloads</a></li>
<li class="active">{{get_download_info.title}}</li>
</ul>
</div>

<!--  Download Details Content -->
<section class="DownloadPostWrapper clearfix">
<div class="clearfix DownloadPostLeft">
<!-- <div class="large-search"><a href="#"><i class="fa fa-search-plus fa-3x" aria-hidden="true"></i></a></div> -->
<div class="marginB15 clearfix">
  <ul class="pgwSlideshow">
      <%
        if @download_data.images.present? && !@download_data.images.nil?
          @download_data.images.each_with_index do |value, index|
      %>
        <li class="lists" >
          <a href="#"><img src="<%= value.image.large_image.url %>" class="img-responsive" alt="<%= value.caption_image %>"></a>
        </li>

      <%
          end
        end  
      %>

  </ul>
</div>
<div class="comment-wrap clearfix">
<div class="gallerycomment">
<div class="gallery-title" ng-bind="get_download_info.title"></div>
<div class="clearfix row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="combox"><img src="{{get_download_info.user.image.user_activity.url}}" alt="Comment"></div>
    <div class="comleft">{{get_download_info.user.firstname}} {{get_download_info.user.lastname}}
      <div class="clearfix">
        <button id='follow_button' class="followbtn" type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i> Follow</button>
        <button id='unfollow_button' class="followbtn hidden" type="button"><i class="fa fa-check" aria-hidden="true"></i> Following</button>
        <span class="followcomment">{{get_download_info.follow_count}}</span></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 text-right"><a href="#" class="view-txt"><i class="fa fa-thumbs-up" aria-hidden="true"></i>{{get_download_info.like_count}}</a> <a href="" class="view-txt"><i class="fa fa-eye" aria-hidden="true"></i>{{get_download_info.view_count}}</a> <a href="#" class="view-txt"><i class="fa fa-comment-o" aria-hidden="true"></i>{{get_download_info.comment_count}}</a> </div>
</div>
<div class="bdr"></div>
<div class="clearfix row">

<div class="col-md-6 col-sm-12 col-xs-12 share-txt">
  <div class="addthis_inline_share_toolbox_zdrk btn-group"></div>
  <div class="btn-group">
    <button type="button" class="btn btn-primary btn-xs" id='bookmarkbutton' data-toggle="modal" data-target="#bookmarkModal">Bookmark
    </button>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-danger btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      More <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="mark_spam" href="#">Mark as spam</a></li>
      <li><a class="unmark_spam hidden" href="#">Marked as Spam</a></li>
    </ul>
  </div>

</div>
  <div class="col-md-6 col-sm-12 col-xs-12 text-right comright">
    <div class="clearfix">
      <!-- <button type="button" class="likebtn border-radius marginR5">Download</button> -->
      <button id='post_like_button' class="greenbtn" type="button"><i class="fa fa-thumbs-up" aria-hidden="true"></i> &nbsp; Like</button>
      <button id='post_dislike_button' class="greenbtn hidden" type="button"><i class="fa fa-check" aria-hidden="true"></i> &nbsp; Liked</button>
      <span class="likecomment">{{get_download_info.like_count}}</span></div>
  </div>
</div>
</div>
<div class="clearfix tabsdownloadpost">
<ul class="nav nav-tabs shadow">
  <li class="active"><a data-toggle="tab" href="#description">DESCRIPTION</a></li>
  <li><a data-toggle="tab" href="#comments">COMMENTS <%= @download_data.comment_count  %></a></li>
</ul>
<div class="tab-content">
  <div id="description" class="tab-pane fade in active">
    <div class="publishwrap clearfix paddinT5">
      <!-- <h3>Published on Aug 21, 2014</h3> -->
      <div class="marginB15 publish-txt" ng-bind-html="get_download_info.description"> </div>
      <!-- <h3>Cartoon Sport Girl</h3> -->
     
    </div>
  </div>
  <div id="comments" class="tab-pane fade in ">
    <div class="clearfix commentwrap">
      <div class="clearfix">
        <div class="col-md-1 col-sm-2 col-xs-3 padding">
            <% if user_signed_in? %>
                <%= image_tag(current_user.image.user_activity.url,:alt => "img",:class=>"img-responsive") %>
            <% end %>  
        </div>
        <div class="col-md-11 col-sm-10 col-xs-9 padding">
          <textarea class="form-control" id='post_comments_<%= @download_data.id %>'  style='margin-top:0px !important' ></textarea>
        </div>
        <div class="col-md-11 col-sm-12 col-xs-12 padding col-md-offset-1 paddinT10 marginB15 text-right">
<button id='post_comments_submit_<%= @download_data.id %>' type="button" class="bluebtn"><i class="fa fa-comments" aria-hidden="true"></i> Post Comment</button>
        </div>
      </div>
      <h3 class="content-heading-title">Comments</h3>
      <div class="clearfix marginB15 comment-reply"> 
       
            <div id ='commentslist_dev'></div>
        
      </div>
    </div>
  </div>
</div>
</div>
<div class="wipdetailtag publishwrap">
<div class="marginB10 publish-txt"> <span class="txt-white"><strong>Category:</strong> </span> 
<a ng-repeat="cat in post_type_category_data" href="#">{{cat.name}}</a> 
</div>
<div class="marginB10 publish-txt"> <span class="txt-white"><strong>Tags:</strong> </span>
&nbsp;<span ng-repeat="tag in get_download_info.tags">
    {{tag.tag}}&nbsp;
</span>
 </div>
<div class="marginB10 publish-txt">
<span class="txt-white"><strong>Software Used: </strong></span> 
<span ng-repeat="soft in software_used_name" class="softb">
<img src="{{soft.image.software_used.url}}" class="img-rounded" alt="Software">
{{soft.name}}
</span> 

</div>
</div>
<div class="clearfix SimilarPost">
<h2>Similar Models</h2>
<div class="clearfix download-post">
  <div class="clearfix">
    <ul>
      <li ng-repeat="sim in similar_download" class="clearfix">
        <div class="downwrap">
        <img src="{{sim.company_logo.tutorial_list.url}}" class="img-responsive"></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>{{sim.title}}</span> <span class="pull-right price-txt">{{sim.price}}</span></div>
          <div class="clearfix down-name"> by <span class="price-txt1">Matte Agr</span> </div>
        </div>
      </li>
     
    </ul>
  </div>
</div>
</div>
</div>
</div>
<div class="DownloadPostRight clearfix">
<div class="artist-title marginB10">{{get_download_info.title}}</div>
<div class="product-name marginB15">by 
<a ng-if="get_download_info.is_admin=='Y'" href="#">Admin</a>
<a ng-if="get_download_info.is_admin=='N'" href="#">{{get_download_info.user.firstname}} &nbsp;{{get_download_info.user.lastname}}</a>

</div>
<div class="post-price marginB10" ng-if="get_download_info.free==false">${{get_download_info.price}}</div>
<div class="post-price marginB10" ng-if="get_download_info.free==true">Free</div>

<div class="offer-price marginB10">
<%= image_tag("hand-icon.png", :alt => "Hand", :class => 'marginR5') %> Offer your price</div>
<div class="clearfix marginB15"> 
<a href="#" class="blue-btn" ng-if="get_download_info.free==false && !checkCart(get_download_info.product_id)"  ng-click="AddTocart(get_download_info)">
<i class="fa fa-shopping-cart marginR5" aria-hidden="true"></i> Add to cart</a> 
<a ng-if="checkCart(get_download_info.product_id)" ng-click="RemoveThis(get_download_info)" href="#" class="red-btn border-radius"><i class="fa fa-shopping-bag marginR5" aria-hidden="true"></i>Remove cart</a> 
<a id="buy_now" ng-if="get_download_info.free==true" ng-click="BuyThis()" href="#" class="red-btn border-radius"><i class="fa fa-shopping-bag marginR5" aria-hidden="true"></i> Buy Now</a> 
</div>

<div class="offer-price offer-price-new-mar marginB10 hidden" id="download_show">
  <ul>
    <% if @download_data.zip_files.present? %>
      <% @download_data.zip_files.each do |download_data|%>
     
        <li class="row">
          <div class="col-md-8 col-sm-7 col-xs-8"><%= download_data.zip_caption %></div>
          <div class="col-md-4 col-sm-5 col-xs-4 text-right"><a class="download-new-mar" href="<%= download_data.zipfile.url %>">Download</a></div>
        </li>
        
      <% end %>
    <% end %>
  </ul>
</div>

<div class="product-rating marginB15">Product Rating 
  <% if user_signed_in? && @has_user_already_given_rating < 1 %>
       <script>
          $(function() {
              $('#p_rating').raty({ score: 0, click: function(score, evt) {
                   $.ajax({
                        url: "<%= save_download_rating_path %>",
                        data: { 'product_id': <%= @download_data.id %>, 'score': score, 'post_type': 'download' },
                        type: 'post',
                        success: function(r){
                          $('#p_rating').raty({ score: r.ratingdata, readOnly: true});
                        } 
                    });
              }});
           });
        </script>
  <% else %>    
      <script>
          $(function() {
              $.ajax({
                  url: "<%= get_download_avg_rating_path %>",
                  data: { 'product_id': <%= @download_data.id %>, 'post_type': 'download' },
                  type: 'post',
                  success: function(r){
                    $('#p_rating').raty({ score: r.ratingdata, readOnly: true});
                  } 
              });

              
           });
      </script> 
  <% end %> 
  <div id ="p_rating"></div>
</div>


<div class="clearfix download-cupon">
<ul>
<!-- <li><a href="#">Redeem a Coupon</a></li> -->

</ul>
</div>

<div class="ProductDetail clearfix">
<h2>Product Details</h2>
<div class="filewrap clearfix marginB10">
<h3>File Formats</h3>
<ul>
  <li ng-repeat="zip in zip_file_info" class="row">
    <div class="col-md-8 col-sm-7 col-xs-8"> <span>{{zip.software_name}}</span> {{zip.software_version}}<br>
      {{zip.renderer}} {{zip.renderer_version}}</div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right">{{zip.file_size}}</div>
  </li>
</ul>
</div>
<div class="filewrap clearfix marginB15">
<h3>3D Models Details</h3>
<ul>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Product ID</div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right">{{get_download_info.product_id}}</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Publiched on </div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right" ng-bind="formatDate(get_download_info.created_at) |  date:'MM/dd/yyyy'">
    </div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Animated</div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right red-txt">{{get_download_info.animated}}</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Rigged</div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right red-txt">{{get_download_info.rigged}}</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Lowpoly (game-ready)</div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right green-txt">{{get_download_info.lowpoly}}</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Geometry</div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right">{{get_download_info.geometry}}</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Polygons</div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right">{{get_download_info.polygon}}</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Vertices</div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right">{{get_download_info.vertice}}</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Textures</div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right green-txt">{{get_download_info.texture}}</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Materials</div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right green-txt">{{get_download_info.material}}</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">UV Mapping</div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right green-txt">{{get_download_info.uv_mapping}}</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Unwrapped UVs</div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right">{{get_download_info.unwrapped_uv}}</div>
  </li>
  <li class="row">
    <div class="col-md-8 col-sm-7 col-xs-8">Plugins Used </div>
    <div class="col-md-4 col-sm-5 col-xs-4 text-right red-txt">{{get_download_info.plugin_used}}</div>
  </li>
</ul>
</div>
<div class="clearfix row lic-txt">
<div class="col-md-6 col-sm-6 col-xs-6"><i class="fa fa-book marginR5" aria-hidden="true"></i> License :</div>
<div class="col-md-6 col-sm-6 col-xs-6 text-right">{{get_download_info.license_type}}</div>
</div>
<div class="cont-pubilsh">
{{get_download_info.license_custom_info}}
</div>
</div>
</div>

 <div class="modal fade default-popup" id="bookmarkModal" tabindex="-1" role="dialog" aria-labelledby="bookmarkModalLabel">
      <div class="modal-dialog" role="document">
    <!--    <%#= form_for(@collection, :html => {:id => 'bookmark_form_popup'}, :url => create_collection_path) do |f|
         %> -->
         <%= form_for(@collection, :html => {:id => 'bookmark_form_popup'}, :url => 'javascript:void(0);') do |f|
         %>
         <%= f.hidden_field :download_id, value: @download_data.id %>
          <div class="modal-content">
            <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal"></button>
              <h4 class="modal-title" id="exampleModalLabel">Add product to collection</h4>
            </div>
            <div class="modal-body">
            
                <div class="form-group">
                  <label for="recipient-name" class="control-label">Collection Name:</label>
                  <%= f.text_field :title, :autofocus => true, :placeholder => "Collection Name", class:"form-control", :type => 'text' %>
                  <span class="err-msg" id='bookmark_error_msg'><%= form_error_msg_for(@collection,:title, "Collection") %></span>
                </div>
               
                <div id='get_already_collection'></div>
    
            </div>
            <div class="modal-footer">
              <button type="button" class="lightbtn" data-dismiss="modal">Close</button>
              <button type="submit" class="lightbtn">Create</button>
            </div>
          </div>
        <% end %>  


      </div>
    </div>
</section>
</div>
</div>
<script type="text/javascript">
    var app = angular.module('myApp', ["angularUtils.directives.dirPagination","ngSanitize","angularLazyImg","MainModule"]);
    app.config(['$qProvider', function ($qProvider) {
    $qProvider.errorOnUnhandledRejections(false);
    }]);   

app.controller('myCtrl', function($scope,Cart,$rootScope,$sce, $http) {
    download1  = "<%= @paramlink %>"
     var uRl = '/get_download_info/'+download1;
        $http.get(uRl).then(function (response) {
          $scope.zip_file_info = [];
          $scope.get_download_info = response.data.download_data;
          $scope.post_type_category_data = response.data.post_type_category_data;
          $scope.software_used_name = response.data.software_used_name;
          $scope.similar_download = response.data.similar_download;
          for(var i = 0;i<response.data.zip_file_info.length;i++)
          {
            for(var j=0; j<response.data.zip_file_info[i].length;j++)
            {
            $scope.zip_file_info.push(response.data.zip_file_info[i][j]);
            }
          }
   
        });
    $scope.formatDate = function(date){
          var dateOut = new Date(date);
          return dateOut;
    };

       $rootScope.cart = Cart.cart;
        $rootScope.checkCart = function(id){
  
        if($scope.cart.skuArray.includes(id)){
          debugger;
            return true;
        }else{
            return false;
        }
    };

    $scope.BuyThis= function () {
        $('#buy_now').addClass('hidden');
        $('#download_show').removeClass('hidden');
    };

    $scope.RemoveThis = function (product) {
      
        $scope.cart.addItem({ sku: product.product_id}, -10000000);
        window.location.reload();
    }
    $scope.AddTocart = function (product) {
       $scope.cart.addItem(
        { sku: product.product_id,
          name: product.title,
          slug:product.paramlink, 
          mrp: product.price, 
          price: product.price, 
          quantity: 1, 
          image: product.company_logo.thumb.url, 
          weight: 0 }, true);
       window.location.reload();
    };
});
app.controller('downloadHead', function($scope, $http) {
        var uRl = '/downloads/get_post_type_list';
        $http.get(uRl).then(function (response) {
          $scope.download_Heads = response.data;
          
        });
  });

 
    angular.bootstrap(document.getElementById("myApp2"), ['myApp']);
</script>
<script>
$(document).ready(function() {
$('.pgwSlideshow').pgwSlideshow();
});
$(document).ready(function(){
$('[data-toggle="tooltip"]').tooltip();
       

});
</script>

<% if user_signed_in? %>

<script>
  $(document).ready(function(){

        $.ajax({
            type: "post",
            url: "<%= check_downloadsave_like_path %>" ,
            data: {'download_id': '<%= @download_data.id %>'},
           success: function(data){
              //alert(data.res)
             if(data.res == 1) {
                  $('#post_like_button').addClass('hidden');
                  $('#post_dislike_button').removeClass('hidden');
              }else if(data.res == 0){
                   $('#post_like_button').removeClass('hidden');
                   $('#post_dislike_button').addClass('hidden');
              }else{

              }

            }
        });

        $('#bookmark_form_popup').on('submit',function(){
             $.ajax({
              type: "post",
              url: "<%= create_collection_path %>" ,
              data: $('#bookmark_form_popup').serialize(),
              success: function(data){
                  if(data.res == 0){
                      $('#bookmark_error_msg').html('');
                      $('#bookmark_error_msg').html(data.message);
                  }else{
                      window.location.reload(true);

                  }
              }
            });
        });

    $('#post_like_button, #post_dislike_button').on('click',function(){
      //alert('gh');
            $.ajax({
                type: "post",
                url: "<%= downloadsave_like_path %>" ,
                data: {'download_id': '<%= @download_data.id %>','artist_id': '<%= @download_data.user_id %>'},
                success: function(data){
                  //alert(data.res)
                 if(data.res == 1) {
                      $('#post_like_button').addClass('hidden');
                      $('#post_dislike_button').removeClass('hidden');
                  }else if(data.res == 0){
                       $('#post_like_button').removeClass('hidden');
                       $('#post_dislike_button').addClass('hidden');
                  }else{

                  }

                }
            });
    });

    $.ajax({
        type: "post",
        url: "<%= check_mark_spam_download_path %>" ,
        data:{id: "<%= @download_data.id %>"},
        success: function(data){
           // alert(data.res);
            if(data.res == 1)
            {
                $('.mark_spam').addClass('hidden');
                $('.unmark_spam').removeClass('hidden');        

            }else{

                $('.mark_spam').removeClass('hidden');
                $('.unmark_spam').addClass('hidden');

            }
        }
    });

    $('.mark_spam, .unmark_spam').on('click',function(){

            $.ajax({
                    type: "post",
                    url: "<%= mark_spam_download_path %>" ,
                    data:{id: "<%= @download_data.id %>"},
                    success: function(data){
                        if(data.res == 1)
                        {
                            $('.mark_spam').addClass('hidden');
                            $('.unmark_spam').removeClass('hidden');        
            
                        }else{

                            $('.mark_spam').removeClass('hidden');
                            $('.unmark_spam').addClass('hidden');

                        }
                    }
            });
        

     });  


    $.ajax({
            type: "post",
            url: "<%= check_downloadfollow_artist_path %>" ,
            data: {'download_id': '<%= @download_data.id %>','artist_id': '<%= @download_data.user_id %>'},
            success: function(data){
                //alert(data.res)
               if(data.res == 1) {
                        $('#follow_button').addClass('hidden');
                        $('#unfollow_button').removeClass('hidden');
                }else if(data.res == 0) {
                        $('#follow_button').removeClass('hidden');
                        $('#unfollow_button').addClass('hidden');
                }else{

                }
            }
    });

    $('#follow_button, #unfollow_button').on('click',function(){
        $.ajax({
            type: "post",
            url: "<%= download_follow_artist_path %>" ,
            data: {'download_id': '<%= @download_data.id %>','artist_id': '<%= @download_data.user_id %>'},
            success: function(data){
              //alert(data.res)
                if(data.res == 1) {
                  $('#follow_button').addClass('hidden');
                  $('#unfollow_button').removeClass('hidden');
                }else if(data.res == 0){
                  $('#follow_button').removeClass('hidden');
                  $('#unfollow_button').addClass('hidden');
                }else{
                  
                }
            }
        });
    });


    $.ajax({
          type: "get",
          url: "<%= get_download_comment_path %>" ,
          data: {'download_id': "<%= @download_data.id %>",'user_id': "<%= current_user.id %>",'section_type': 'download_detail'},
          success: function(data){
            $('#commentslist_dev').html(data.data);
          }
      }); 


      $('[id^= post_comments_submit_]').on('click',function(){

          download_id = $(this).attr('id').replace('post_comments_submit_','');
          textareavalue   = $('#post_comments_'+download_id).val();
          if(textareavalue == ''){
              alert('Comment cannot be blank.');
              return false;
           }else{

                  $.ajax({
                      type: "post",
                      url: "<%= save_download_comment_path %>" ,
                      data: {'download_id': download_id,'description': textareavalue,'section_type': 'download_detail'},
                      success: function(data){
                          $('#post_comments_'+download_id).val('');
                         
                          $.ajax({
                            type: "get",
                            url: "<%= get_comment_path %>" ,
                            data: {'download_id': "<%= @download_data.id %>",'user_id': "<%= current_user.id %>",'section_type': 'download_detail'},
                            success: function(data){
                              $('#commentslist_dev').html(data.data);
                               window.location.reload(true);
                              //return false;  
                            }
                        }); 

                      }
                  });
              } 

      });

  });

</script>


<% end %>  