<div class="container login-page">
  <h2 class="text-center">Add Email</h2>
  <div id="login-popup">
    <div class="modal-dialog">
      <div class="modal-header"><h4 class="modal-title">Add Email</h4></div>
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">

          <%= form_for(current_user, :as => 'user', :url => finish_signup_path(current_user), :html => { role: 'form'}) do |f| %>
              <% if @show_errors && @user.errors.any? %>
                <div id="error_explanation">
                  <% @user.errors.full_messages.each do |msg| %>
                    <%= msg %><br>
                  <% end %>
                </div>
              <% end %>
              <div class="form-group">
                <%= f.label :email %>
                <div class="controls">
                <%= f.email_field :email, placeholder: "Enter Email Address*", required: true, autofocus: true, class: 'form-control' %>
                  <p class="help-block">Please confirm your email address. No spam.</p>
                </div>
              </div>
              <div class="actions">
                <%= f.submit 'Continue', :class => 'btn btn-primary' %>
              </div>
            <% end %>

 </div>
      </div>
    </div>
  </div>
</div>