<div id="tutorialindex" ng-app="tutorialindex">

<div ng-controller="myCtrl">

	<!-- Submenu Navigation -->
	<section class="wip-navigation-wrap">
		<div class="navbar-default">
	    	<div class="container-fluid">
	      		<div class="row">

	      			<div class="col-md-3 col-sm-4 col-xs-9 header-search">
	      				<div class="input-group stylish-input-group">
	          				<input type="text" class="form-control"  ng-model="searchKey"  placeholder="Search 520 000 3D models" >
	      					<span class="input-group-addon">
	      						<button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
	      					</span>
	      				</div>
	      			</div>

	      			<div class="col-md-9 col-sm-8 col-xs-3 downloadpage">
	      				<div class="navbar-header">
	      					<a class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
	      				</div>
	      				<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
	        				<ul class="nav navbar-nav">
								<li class="active"><a href="/tutorials/all">All Topic</a></li>
								<li ng-repeat="topic in TopicsTypeList track by $index"><a href="/tutorials/{{topic.slug}}">{{topic.name}}</a></li>

							</ul>
						</div>
					</div>
	      		</div>
	    	</div>
	  	</div>
	</section>

	<!-- Showcase & Discover Creative Work -->
	<section class="clearfix downloadwrap text-center">
		<div class="container">
			<div class="download-title text-center">Free Tutorials CG, 3D, 2D, VFX, CAD, Games &amp; more</div>
			<div class="download-txt text-center">for <a href="#">Maya<i></i></a>, <a href="#">Blender<i></i></a>, <a href="#">Cinema 4D<i></i></a>, <a href="#">3Ds Max<i></i></a>, <a href="#">Photoshop<i></i></a> and more</div>

			<div class="clearfix download-gallery-wrap">
				<div class="col-md-3 col-sm-3 col-xs-12 marginB10 ColPad">
					<div class="input-group stylish-input-group">
						<input type="text" class="form-control" ng-model="searchKey" placeholder="Enter a keyword..." >
						<span class="input-group-addon">
							<button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
						</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12 marginB10 text-left ColPad">
					 <select class="custom-select topic-link"  ng-change="searchByTopic(selected)" ng-model='selected'>
                		<option value="" class="active topic-link"  id="topic-link-all">All</option>
                <%
                   if @topics.present?
                    @topics.each do |val| %>
                      <option value = "<%= val.id %>" class="topic-link"  id="topic-link-<%= val.id %>"> <%= val['name'] %></option>
                <%
                    end
                  end
                %>
            </select>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12 marginB10 text-left ColPad">
					<select class="custom-select">
						<option>Sub Category</option>
					</select>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-12 marginB10 text-left ColPad">
					 <select class="custom-select topic-link"  ng-change="searchBySkillLevel(selected)" ng-model='selected'>
                		<option value="" class="active skill-level-link"  id="skill-level-link-all">All</option>
                <%
                	if @tutorial_skill.present?
					@tutorial_skill.each do |val| %>
                      <option value = "<%= val.id %>" class="skill-level-link"  id="skill-level-<%= val.id %>"> <%= val['title'] %></option>
                <%
							end
							end %>
            </select>
				</div>


			</div>
			<div class="showcase-btn-wrap clearfix text-center">
			<% if user_signed_in? %>
				<button type="button" class="btn btn-success border-radius marginB10">Submit</button>
			<% end %>
				<button type="button" class="btn btn-default border-radius marginB10" ng-click="orderBy('-view_count');">Top Viewed</button>
				<button type="button" class="btn btn-default border-radius marginB10" ng-click="orderBy('-number_of_sold');">Top Sold</button>
				<button type="button" class="btn btn-default border-radius marginB10" ng-click="orderBy('-id');">Browse Latest Tutorials</button>
			</div>
		</div>
	</section>

	<!-- Download Content Start -->
	<section class="clearfix browseallcompanies">
		<div class="clearfix wipwrap">
			<div class="wiptabs clearfix">
				<ul class="nav nav-pills">
	  				<li class="dropdown active">
	  					<a href="#" data-toggle="dropdown" class="dropdown-toggle">
	  						<i class="fa fa-th txt15 marginR5" aria-hidden="true"></i> Topic
	    					<div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
	    				</a>
	    				<ul class="dropdown-menu">
	      					<li>
			                 	<a href="javascript:void(0);" ng-click="searchByTopic('all')" class="active topic-link"  id="topic-link-all">All</a>
	              			</li>
							<% @topics.each do |val| %>
								<li>
									<a href="javascript:void(0);" ng-click="searchByTopic('<%= val['id'] %>')" class="topic-link"  id="topic-link-<%= val['id'] %>">
										<%= val['name'] %>
									</a>
								</li>
							<% end %>
	    				</ul>
	  				</li>

					<li class="dropdown">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle">Subject<div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div></a>
						<ul class="dropdown-menu">
							<li>
								<a href="javascript:void(0);" ng-click="searchBySubTopic('all')" class="active sub-topic-link"  id="sub-topic-link-all">All</a>
							</li>

							<li class="clearfix" ng-repeat="x in sub_topic_data">
								<a href="javascript:void(0);" ng-click="searchBySubTopic(x.id)" class="sub-topic-link"  id="sub-topic-link-{{x.id}}">{{x.name}}</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle">Skill Level <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div></a>
						<ul class="dropdown-menu">
							<li>
								<a href="javascript:void(0);" ng-click="searchBySkillLevel('', 'all')" class="active skill-level-link" id="skill-level-link-all">All</a>
							</li>

							<% i = 1

							@tutorial_skill.each do |val| %>
								<li>
									<a href="javascript:void(0);" ng-click="searchBySkillLevel('<%= val['id'] %>', '<%= i %>')" class="skill-level-link"  id="skill-level-link-<%= i %>"><%= val['title'] %></a>
								</li>
							<%  i = i + 1
							end %>
						</ul>
					</li>
					<li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Featured
					  <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
					  </a>
					  <ul class="dropdown-menu">
					    <li><a href="javascript:void(0);" ng-click="searchByFeatured('', 'all')" class="active featured-type-link"  id="featured-type-link-all">All</a></li>
					    <li><a href="javascript:void(0);" ng-click="searchByFeatured('1', 'yes')" class="featured-type-link"  id="featured-type-link-yes">Show Only Featured</a></li>
					    <li><a href="javascript:void(0);" ng-click="searchByFeatured('0', 'no')" class="featured-type-link"  id="featured-type-link-no">Show Without Featured</a></li>

					  </ul>
					</li>
				</ul>
			</div>
		</div>

		<!-- User Followers Start -->
		<div class="container-fluid download-indent clearfix">
			<div class="container">
				<div class="clearfix downbox" dir-paginate="x in tutorial_data | filter:searchKey | itemsPerPage:10 track by $index">
		  			<div class="clearfix downtop">
		    			<h2>{{x.Topic.name}}</h2>
		    				<a href="/tutorials/{{x.Topic.slug}}" class="text-uppercase pull-right">view all</a>
		    		</div>
		  			<div class="clearfix">
						<ul>
							<li class="clearfix" ng-repeat="y in x.Tutorial | orderBy:setorderBy  track by $index">
								<div class="downwrap">
						<a href="/tutorials/{{y.paramlink}}/show">
									<img lazy-img="<%= root_url %>{{ y.company_logo.tutorial_list.url }}" class="img-responsive tutorial-img-height">
									</a>
								</div>
								<div class="padding10 clearfix">
									<div class="down-txt">
										<span>{{y.title}}</span> <span class="pull-right tut-price">{{(y.free) ? 'Free' : '$' + y.price}}</span>
									</div>
									<div class="clearfix down-name">
										<div class="pull-left">by <span class="price-txt1">{{y.is_admin == 'Y' ? 'Admin' : y.user.firstname + ' ' + y.user.lastname}}</span></div>
										<!-- <div class="pull-right"> <span class="checkbox-btn">
											<input type="checkbox" value="value-1" id="rc{{y.id}}" name="rc1">
											<label for="rc{{y.id}}" onclick=""></label>
											</span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a>
										</div> -->
					<div ng-if="y.free==false" class="pull-right">
                    <span ng-if="!checkCart(y.tutorial_id)" class="checkbox-btn">
                      <input  type="checkbox" ng-click="AddTocart(y)" value="value-1" id="rc{{y.id}}">


                      <label for="rc{{y.id}}" onclick=""></label>
                    </span>
                    <span ng-if="checkCart(y.tutorial_id)" class="checkbox-btn">
                      <input  type="checkbox" ng-checked="true" ng-click="RemoveThis(y)" value="value-1" id="rc{{y.id}}">


                      <label for="rc{{y.id}}" onclick=""></label>
                      </span>
                      <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a>
                      </div>

									</div>
								</div>
							</li>

						</ul>
		  			</div>
				</div>
				<div class="pagintionpage clearfix">
		            <dir-pagination-controls
		                 max-size="1"
		                 direction-links="true"
		                 boundary-links="false" >
		            </dir-pagination-controls>
	            </div>
				<div class="clearfix downbox text-center err-msg no-result" ng-hide="tutorial_data.length" >No Result Found!</div>


			</div>
		</div>
	</section>
</div>
</div>

<!-- Footer Start -->
<footer class="footer clearfix padding">
 <%= render 'layouts/lastfooter' %>
</footer>

<script type="text/javascript">

  // main page angular app start
  var app = angular.module('tutorialindex', ["angularUtils.directives.dirPagination","angularLazyImg","MainModule"]);

  app.controller('myCtrl', function($scope,Cart,$rootScope, $http) {
		var url = $(location).attr('search');
    var params = "";
    // If parameters are present in URL?
    // If yes then create params to send to back end
    var paramsStartIndex = url.indexOf("?");
    if (paramsStartIndex != -1) {
      params = "&" + url.substr(paramsStartIndex + 1);
    }
    $scope.filter = function() {

        list_url = '/tutorials/get_tutorial_list?';
				list_url += params;
        if(typeof $scope.viewFeaturedType !== 'undefined' && $scope.viewFeaturedType != '' && $scope.viewFeaturedType != 'all'){
          list_url += '&is_featured=' + $scope.viewFeaturedType
        }

        if(typeof $scope.viewSkillLevel !== 'undefined' && $scope.viewSkillLevel != '' && $scope.viewSkillLevel != 'all'){
          list_url += '&skill_level=' + $scope.viewSkillLevel
        }

        if(typeof $scope.viewTopic !== 'undefined' && $scope.viewTopic != '' && $scope.viewTopic != 'all'){
          list_url += '&topic=' + $scope.viewTopic
        }

        if(typeof $scope.viewSubTopic !== 'undefined' && $scope.viewSubTopic != '' && $scope.viewSubTopic != 'all'){
          list_url += '&sub_topic=' + $scope.viewSubTopic
        }

        $http.get(list_url).then(function (response) {
          $scope.tutorial_data = response.data;
					// Setting params to blank because we only want to filter the results by URL parameter
					// first time only when user is comming from the home page
					params = "";
        });
    };
    $scope.filter();

    $scope.searchByFeatured = function(value, id) {

      angular.element( document.querySelectorAll( '.featured-type-link' ) ).removeClass('active');
      angular.element( document.querySelector( '#featured-type-link-' + id ) ).addClass('active');

      $scope.viewFeaturedType = value;
      $scope.filter();

    };

    $scope.searchBySkillLevel = function(value, id) {

      angular.element( document.querySelectorAll( '.skill-level-link' ) ).removeClass('active');
      angular.element( document.querySelector( '#skill-level-link-' + id ) ).addClass('active');

      $scope.viewSkillLevel = value;
      $scope.filter();

    };

    $scope.searchByTopic = function(id) {

      angular.element( document.querySelectorAll( '.topic-link, .sub-topic-link' ) ).removeClass('active');
      angular.element( document.querySelectorAll( '#topic-link-' + id + ', #sub-topic-link-all' ) ).addClass('active');

      $scope.viewTopic = id;
      $scope.viewSubTopic = '';
      $scope.filter();
      $scope.getSubTopic();

    };

    $scope.searchBySubTopic = function(id) {

      angular.element( document.querySelectorAll( '.sub-topic-link' ) ).removeClass('active');
      angular.element( document.querySelectorAll( '#sub-topic-link-' + id ) ).addClass('active');

      $scope.viewSubTopic = id;
      $scope.filter();
    };

    $scope.getSubTopic = function() {

      $scope.sub_topic_data = [];

      if(typeof $scope.viewTopic !== 'undefined' && $scope.viewTopic != '' && $scope.viewTopic != 'all'){

        list_url = '/tutorials/get_subject_list?';
        list_url += '&parent_id=' + $scope.viewTopic;

        $http.get(list_url).then(function (response) {
          $scope.sub_topic_data = response.data;
        });
      }

    };

    $scope.setorderBy = '+view_count';

    $scope.orderBy = function(val)
    {
      $scope.setorderBy= val;
    }

        $rootScope.cart = Cart.cart;
    $rootScope.checkCart = function(id){

        if($scope.cart.skuArray.includes(id)){
          debugger;
            return true;
        }else{
            return false;
        }
    };
    $scope.RemoveThis = function (product) {

        $scope.cart.addItem({ sku: product.tutorial_id}, -10000000);
        window.location.reload();
    }
    $scope.AddTocart = function (product) {

       $scope.cart.addItem(
        { sku: product.tutorial_id,
          type:'tutorial',
          name: product.title,
          slug:product.paramlink,
          mrp: product.price,
          price: product.price,
          quantity: 1,
          image: product.company_logo.thumb.url,
          weight: 0 }, true);
       window.location.reload();
    };

    $http.get('/tutorials/get_topic_type_list').then(function(response){
    	$scope.TopicsTypeList = response.data;
    });


  });
 angular.bootstrap(document.getElementById("tutorialindex"), ['tutorialindex']);
  // main page angular app end

</script>
