<!-- All Dashboard Start -->
<div id="tutorial_list" ng-app="tutorial_list">
<div ng-controller="tutorialCtrl">
  <section class="clearfix container-fluid-full">
  <div class="row-fluid">
  <div class="sidebar-left">
  <%= render 'layouts/navigation' %>
  </div>
  <div class="content clearfix">
  <div class="clearfix job-post-bread">
  <ul class="breadcrumb">
  <li><%= link_to 'Tutorials', index_tutorial_path %></li>
  <li class="active">All Tutorials Post</li>
  </ul>
  </div>

  <!-- User Followers Start -->
  <section class="clearfix usersettings">
  <div class="clearfix notification-heading"> <span class="noti-title">All Tutorials Post</span>
  <!-- <button class="addbtn" type="button">Add New</button> -->
  <%= link_to 'Add New', create_tutorial_path, class:'addbtn' %>
  </div>
  <div class="clearfix marginB15 allgallerypost-link hidden-xs hidden-sm">
  <div class="row">
    <div class="col-md-8 paddinT10">
      <ul>
        <li><a href="javascript:void(0);" class="white-txt view-type-link" id="all-link" ng-click="viewType('all')">All <span class="badge">({{total_count}})</span></a></li>
        <li><a href="javascript:void(0);" class="view-type-link" id="featured-link" ng-click="viewType('featured')">Featured <span class="badge">({{total_featured}})</span></a></li>
        <li><a href="javascript:void(0);" class="view-type-link" id="published-link" ng-click="viewType('published')">Published <span class="badge">({{total_published}})</span></a></li>
        <li><a href="javascript:void(0);" class="view-type-link" id="drafts-link" ng-click="viewType('drafts')">Drafts <span class="badge">({{total_draft}})</span></a></li>
         <li><a href="javascript:void(0);" class="view-type-link" id="trash-link" ng-click="viewType('trash')">Trash <span class="badge">({{total_trash}})</span></a></li>
      </ul>

      <input type="hidden" ng-model="viewTypeValue" value="">

    </div>
    <div class="col-md-4">
      <div class="search clearfix pull-right">
        <input type="text" class="form-control from-input" maxlength="64" placeholder="Search" ng-model="search" />
        <button type="submit" class="blue-btn">Search</button>
      </div>
    </div>
  </div>
  </div>
  <div class="clearfix marginB15 allpostwrap hidden-xs hidden-sm">
  <div class="bulkaction clearfix">
    <select class="custom-select" id="delete_check">
     <!--  <option>Bulk Actions</option> -->
      <option value="delete" >Delete</option>
    </select>
    <button type="button" id="delete_button" class="blue-btn" ng-click="deleteAll()">Apply</button>
      
  </div>
          




  <%= form_tag do %>
  <!--   <div class="alldated clearfix">
      <select class="custom-select">
        <option>All dates</option>
      </select>
    </div> -->
 

    <!-- <div class="clearfix pull-left marginR10">    
      <button type="button" class="blue-btn" ng-click="filter()">Filter</button>
    </div> -->

    <div class="gallerytype clearfix">
      <select class="custom-select topic-link"  ng-change="" ng-model='selected'>
                    <option value="" class="active topic-link"  id="topic-link-all">All</option>
                <% 
                   if @topics.present?
                    @topics.each do |val| %>
                      <option value = "<%= val.id %>" class="topic-link"  id="topic-link-<%= val.id %>"> <%= val['name'] %></option>
                <% 
                    end 
                  end
                %>
            </select>
  </div>
  <div class="gallerytype clearfix">
   <select class="custom-select">
            <option>Sub Category</option>
    </select>
  </div>
  <div class="clearfix pull-left marginR10">    
    <button type="button" class="blue-btn" ng-click="searchByTopic()">Filter</button>
  </div>

  <% end %>  

  <div class="allitem">{{tutorial_data.length}} items</div>
  <div class="pagintionpage clearfix">
    
    <dir-pagination-controls
         max-size="1"
         direction-links="true"
         boundary-links="false" >
    </dir-pagination-controls>

  </div>
  </div>
  <div class="panel panel-default allgallerypostwrap">
  <div class="panel-heading clearfix padding">
    <div class="postcheck clearfix">
      <div class="checkbox-btn">
       <input type="checkbox" id="rc15" name="rc15" value="" ng-model="selectedAll" ng-click="checkAll()" >
        <label for="rc15" onclick=""></label>
      </div>
    </div>
    <div class="GalleryThumbnail hidden-xs">Thumbnail</div>
    <div class="GalleryTitle hidden-xs" ng-click="sort('title')">Title<!-- <span class="glyphicon sort-icon" ng-show="sortKey=='title'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span> --></div>
    <div class="GalleryDate hidden-xs">Date</div>
    <div class="GalleryLike hidden-xs">Likes</div>
    <div class="GalleryLike hidden-xs">Status</div>
    <div class="GalleryLike hidden-xs">Actions</div>
  </div>
  <div class="panel-body padding">
    <div class="clearfix Allpostgallery">
      <ul>

      <!-- <li class="clearfix" ng-repeat="x in gallery_data|orderBy:sortKey:reverse|filter:search"> -->
       <li class="clearfix" dir-paginate="x in tutorial_data|orderBy:sortKey:reverse|filter:search|itemsPerPage:10">

          <div class="AllGalleryCheck clearfix">
            <div class="checkbox-btn">
             <input type="checkbox" class="rcl" value="{{x.id}}" id="rc_{{x.id}}" name="tutorials[id][]" ng-model="x.Selected">
              <label for="rc_{{x.id}}" onclick=""></label>
            </div>
          </div>
          <div class="AllGalleryThumbnail">
          <%#= image_tag(root_url + "{{ x.company_logo.thumb.url }}", :alt => "img", :class=>"img-responsive") %>
            
          <img lazy-img="<%= root_url %>{{ x.company_logo.thumb.url }}" class="img-responsive">
  &nbsp;
          </div>
          <div class="AllGalleryTitle"><span class="pull-left marginB5 marginR5"><i class="fa fa-file-video-o" aria-hidden="true"></i></span> {{ x.title }} &nbsp;</div>
         <!--  <div class="AllGalleryAuthor">{{ x.category.name }}&nbsp;</div> -->
          <div class="AllGalleryDate">
           <!--  <span ng-repeat="y in x.tags">{{ $index > 0 ? ', ' : '' }}{{ y.tag }}</span> -->
           {{ x.created_at | date:'MM/dd/yyyy HH:mm' }}
  &nbsp;
          </div>

          <div class="AllGalleryLike clearfix">
            <div class="marginB15 clearfix"><i class="fa fa-thumbs-o-up marginR5" aria-hidden="true"></i> {{ x.like_count }}</div>
            <div class="marginB15 clearfix"><i class="fa fa-globe marginR5" aria-hidden="true"></i> {{ x.view_count }}</div>
            <div class="marginB15 clearfix"><i class="fa fa-comment-o marginR5" aria-hidden="true"></i>  {{ x.comment_count }}</div>
          </div>
          <div class="AllGalleryLike">
            <button class="draftbtn border-radius" type="button">
              {{ x.is_trash ? 'Trashed' : x.is_save_to_draft ? 'Draft' : x.publish ? 'Published' : 'Not Published' }} &nbsp;
            </button>

          </div>
          <div class="AllGalleryLike clearfix">
              <div class="clearfix marginB15">
                <a class="lightbtn lightbtn-new-bor" href="/tutorials/{{x.paramlink}}/show"><i class="fa fa-eye marginR5" aria-hidden="true"></i>View</a>
              </div>
              <div class="clearfix marginB15">
                 <a class="lightbtn lightbtn-new-bor" href="/dashboard/tutorials/{{x.paramlink}}/edit"><i class="fa fa-pencil-square-o marginR5" aria-hidden="true"></i>Edit</a>
              </div>
             <div class="clearfix marginB15" ng-show = "{{viewTypeValue != 'trash'}}">
              <%= link_to '<i class="fa fa-trash marginR5" aria-hidden="true"></i>Delete'.html_safe, "/tutorials/{{x.paramlink}}/make_trash", class: 'lightbtn lightbtn-new-bor', data: { confirm: "Are you sure you want to trash this Tutorial?" } %>

             </div>

             <div class="clearfix marginB15" ng-show = "{{viewTypeValue == 'trash'}}">
              <%= link_to '<i class="fa fa-trash marginR5" aria-hidden="true"></i>Delete'.html_safe, "/tutorials/{{x.paramlink}}/delete_from_trash", class: 'lightbtn lightbtn-new-bor', data: { confirm: "Are you sure you want to delete this Tutorial permanently?" } %>

             </div>           
             <div class="clearfix marginB15" ng-show = "{{viewTypeValue == 'trash'}}">
              <%= link_to '<i class="fa fa-trash marginR5" aria-hidden="true"></i>Restore'.html_safe, "/tutorials/{{x.paramlink}}/restore_tutorial", class: 'lightbtn lightbtn-new-bor', data: { confirm: "Are you sure you want to restore this Tutorial?" } %>
             </div>


          </div>
        </li>

        <li ng-hide="tutorial_data.length" class="text-center err-msg no-result">No Result Found!</li>

      </ul>
   
    </div>
  </div>
  </div>
  </section>
  </div>
  </div>
  </section>
</div>
</div>

<!-- Footer Start -->
<footer class="footer clearfix padding">
<%= render "layouts/lastfooter" %>
</footer>

<script>

var app = angular.module('tutorial_list', ["angularUtils.directives.dirPagination","angularLazyImg","MainModule"]);
app.controller('tutorialCtrl', function($scope, $http) {

    //function to get count of user gallery data
    $scope.getCount = function() {
        
        list_url = '/tutorials/count_user_tutorial_post';

        $http.get(list_url).then(function (response) {
          $scope.total_count       = response.data.total_count;
          $scope.total_featured    = response.data.total_featured;
          $scope.total_published   = response.data.total_published;
          $scope.total_draft       = response.data.total_draft;
          $scope.total_trash       = response.data.total_trash;
        });
    };
    $scope.getCount();

    //function to get user gallery data on the basis of search
    $scope.filter = function() {
        
        list_url = '/tutorials/get_tutorial_list?';        
       
        if(typeof $scope.viewTopic !== 'undefined' && $scope.viewTopic != '' && $scope.viewTopic != 'all'){
          list_url += '&topic=' + $scope.viewTopic
        }

        if(typeof $scope.viewSubTopic !== 'undefined' && $scope.viewSubTopic != '' && $scope.viewSubTopic != 'all'){
          list_url += '&sub_topic=' + $scope.viewSubTopic
        }

        $http.get(list_url).then(function (response) {
          $scope.tutorial_data = response.data;
        });
    };
    $scope.filter();

    $scope.searchByFeatured = function(value, id) {

      angular.element( document.querySelectorAll( '.featured-type-link' ) ).removeClass('active');
      angular.element( document.querySelector( '#featured-type-link-' + id ) ).addClass('active');
      
      $scope.viewFeaturedType = value;
      $scope.filter();

    };

    $scope.sort = function(keyname){
        $scope.sortKey = keyname;   //set the sortKey to the param passed
        $scope.reverse = !$scope.reverse; //if true make it false and vice versa
    }

    $scope.checkAll = function () {
        if ($scope.selectedAll) {
            $scope.selectedAll = true;
        } else {
            $scope.selectedAll = false;
        }
        angular.forEach($scope.tutorial_data, function (x) {
            x.Selected = $scope.selectedAll;
        });

    };

     $scope.deleteAll = function () {

        var arr = [];
        $('.rcl').each(function() {
            if($(this).prop( "checked" )){
                arr.push($(this).val());
            }else{ }
        });
        //alert(JSON.stringify(arr));
        if(arr!=""){
            viewtype =  $scope.viewTypeValue;
            
            var r = confirm("Do you want to perform this action?");
            var val = $('#delete_check').val();
            if(r == true && val == 'delete'){  
                $.ajax({
                        type: "post",
                        url: "<%= delete_tutorial_post_path %>" ,
                        data:{tutorial_id:arr, viewtype: viewtype},
                        success: function(data){
                            if(data.res == 1)
                            {
                              window.location.reload(true);
                            }
                        }
                });
            }
        }else{
            alert("Please select atleast one record");
            return false;
        }

    };

    $scope.searchByTopic = function() {
      var id =$scope.selected;      
      angular.element( document.querySelectorAll( '.topic-link, .sub-topic-link' ) ).removeClass('active');
      angular.element( document.querySelectorAll( '#topic-link-' + id + ', #sub-topic-link-all' ) ).addClass('active');

      $scope.viewTopic = id;
      $scope.viewSubTopic = '';
      $scope.filter();
      $scope.getSubTopic();
      
    };

    $scope.getSubTopic = function() {
        
      $scope.sub_topic_data = [];

      if(typeof $scope.viewTopic !== 'undefined' && $scope.viewTopic != '' && $scope.viewTopic != 'all'){

        list_url = '/tutorials/get_subject_list?';
        list_url += '&parent_id=' + $scope.viewTopic;

        $http.get(list_url).then(function (response) {
          $scope.sub_topic_data = response.data;
        });
      }
        
    };

});

angular.bootstrap(document.getElementById("tutorial_list"), ['tutorial_list']);

</script>


