<!-- Submenu Navigation -->
<script type="text/javascript">
  $.fn.raty.defaults.path = '<%= root_url+'assets' %>';
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5895a76640dc4c96"></script>
   <link href="http://lukaszwatroba.github.io/v-accordion/dist/v-accordion.css" rel="stylesheet">
<div id="myApp2" ng-app="myApp">
<div ng-controller="myCtrl">
<section class="wip-navigation-wrap">
<div class="navbar-default">
<div class="container-fluid">
<div class="row">
<div class="col-md-3 col-sm-4 col-xs-9 header-search">
  <div class="input-group stylish-input-group">
    <input type="text" class="form-control"  placeholder="Search 520 000 3D models" >
    <span class="input-group-addon">
    <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
    </span> </div>
</div>
<div class="col-md-9 col-sm-8 col-xs-3 downloadpage">
  <div class="navbar-header"> <a class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> </div>
  <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/tutorials/all">All Topic</a></li>
                <li ng-repeat="topic in TopicsTypeList track by $index"><a href="/tutorials/{{topic.slug}}">{{topic.name}}</a></li>
              
              </ul>
  </div>
</div>
</div>
</div>
</div>
</section>
<div class="clearfix download-post-bread hidden-xs">
<ul class="breadcrumb">
<li><a href="/tutorials">Tutorials</a></li>
<li class="active">{{tutorial_data.title}}</li>
</ul>
</div>

<!--  Download Details Content -->
<section class="DownloadPostWrapper clearfix">
<div class="clearfix DownloadPostLeft">
<div class="clearfix">
<div class="youtubewrap">
<iframe width="100%" height="400" src="https://www.youtube.com/embed/6roIVjov4hw?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
</div>
</div>
<div class="comment-wrap clearfix">
<div class="gallerycomment">
<div class="gallery-title" ng-bind="tutorial_data.title"></div>
<div class="clearfix row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="combox"><img src="{{tutorial_data.user.image.user_activity.url}}" alt="Comment"></div>
    <div class="comleft">
    <div ng-if="tutorial_data.is_admin=='Y'">Admin</div>
    <div ng-if="tutorial_data.is_admin=='N'">{{tutorial_data.user.firstname}} {{tutorial_data.user.lastname}}</div>
      <div class="clearfix">
        <button id='follow_button' class="followbtn" type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i> Follow</button>
        <button id='unfollow_button' class="followbtn hidden" type="button"><i class="fa fa-check" aria-hidden="true"></i> Following</button>
        <span class="followcomment">{{tutorial_data.follow_count}}</span></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 text-right"><a href="#" class="view-txt"><i class="fa fa-thumbs-up" aria-hidden="true"></i>{{tutorial_data.like_count}}</a> <a href="" class="view-txt"><i class="fa fa-eye" aria-hidden="true"></i>{{tutorial_data.view_count}}</a> <a href="#" class="view-txt"><i class="fa fa-comment-o" aria-hidden="true"></i>{{tutorial_data.comment_count}}</a> </div>
</div>
<div class="bdr"></div>
<div class="clearfix row">
    <div class="col-md-6 col-sm-12 col-xs-12 share-txt"> 
      <div class="addthis_inline_share_toolbox_zdrk btn-group"></div>
      <div class="btn-group">
        <button type="button" class="btn btn-primary btn-xs" id='bookmarkbutton' data-toggle="modal" data-target="#bookmarkModal">Bookmark</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-danger btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a class="mark_spam" href="#">Mark as spam</a></li>
          <li><a class="unmark_spam hidden" href="#">Marked as Spam</a></li>
        </ul>
      </div>
    </div>
  <div class="col-md-6 col-sm-12 col-xs-12 text-right comright">
    <div class="clearfix">
     <!--  <div class="posts-price">$14 <span class="pricecut">$29</span> <span class="priceoff">30% off</span></div>
      <button type="button" class="likebtn border-radius marginR5">Take This Course</button> -->
      <button id='post_like_button' class="greenbtn" type="button"><i class="fa fa-thumbs-up" aria-hidden="true"></i> &nbsp; Like</button>
      <button id='post_dislike_button' class="greenbtn hidden" type="button"><i class="fa fa-check" aria-hidden="true"></i> &nbsp; Liked</button>
      <span class="likecomment">{{tutorial_data.like_count}}</span></div>
  </div>
</div>
</div>
<div class="clearfix tabsdownloadpost">
<ul class="nav nav-tabs shadow">
  <li class="active"><a data-toggle="tab" href="#description">DESCRIPTION</a></li>
  <li><a data-toggle="tab" href="#comments">COMMENTS <%= @tutorial_data.comment_count  %></a></li>
</ul>
  <div class="tab-content">
    <div id="description" class="tab-pane fade in active">
      <div class="publishwrap clearfix paddinT5">
        <!-- <h3>Published on Aug 21, 2014</h3> -->
        <div class="marginB15 publish-txt" ng-bind-html="tutorial_data.description"> </div>
        <!-- <h3>Cartoon Sport Girl</h3> -->
       
      </div>
    </div>
    <div id="comments" class="tab-pane fade in ">
      <div class="clearfix commentwrap">
        <div class="clearfix">
          <div class="col-md-1 col-sm-2 col-xs-3 padding">
              <% if user_signed_in? %>
                  <%= image_tag(current_user.image.user_activity.url,:alt => "img",:class=>"img-responsive") %>
              <% end %>  
          </div>
          <div class="col-md-11 col-sm-10 col-xs-9 padding">
            <textarea class="form-control" id='post_comments_<%= @tutorial_data.id %>'  style='margin-top:0px !important' ></textarea>
          </div>
          <div class="col-md-11 col-sm-12 col-xs-12 padding col-md-offset-1 paddinT10 marginB15 text-right">
            <button id='post_comments_submit_<%= @tutorial_data.id %>' type="button" class="bluebtn"><i class="fa fa-comments" aria-hidden="true"></i> Post Comment</button>
          </div>
        </div>
        <h3 class="content-heading-title">Comments</h3>
        <div class="clearfix marginB15 comment-reply"> 
         
              <div id ='commentslist_dev'></div>
          
        </div>
      </div>
    </div>
  </div>
</div>
  
<div class="lessonstutorial clearfix marginB15">
<div class="col-md- col-sm-4 col-xs-12"> <h2>Lessons in this tutorial </h2></div><div class="col-md-8 col-sm-8 col-xs-12 text-right1"> <div class="addthis_inline_share_toolbox_xe0e"></div></div>
<ul>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox">
      <img src="images/message-profile4.jpg" alt="img"> 1. Course Overview
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt">
      <a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      </div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">
      </div>
   


        
    </div>
  </li>
  <li class="clearfix">
      <v-accordion style="background-color: #FFF;" id="accordionA" class="vAccordion--default" control="accordionA" onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)">

            <v-pane id="{{ ::pane.id }}" ng-repeat="pane in all_chapters_data" expanded="pane.isExpanded">
              <v-pane-header id="{{ ::pane.id }}-header" aria-controls="{{ ::pane.id }}-content">
              <div class="col-md-8 col-sm-7 col-xs-7 lessonbox">
               <img src="{{pane.image.thumb.url}}" alt="img"> {{$index +1}}. {{ ::pane.title }}
              </div>
              <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt">
               <!-- <a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a> -->
              </div>
              <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">
             </div>
                <h5><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></h5>
              </v-pane-header>

              <v-pane-content id="{{ ::pane.id }}-content" aria-labelledby="{{ ::pane.id }}-header">
                <span ng-repeat="Mc in pane.media_contents">
                <span ng-if="Mc.media_type=='Description'">
                    <p>{{ ::Mc.media_description }}</p>
                </span>
                 <span ng-if="Mc.media_type=='Upload Image'">
                 <div class="youtubewrap">
                   <img src="{{Mc.mediacontent.url}}" class="img-responsive" alt="img"> 
                   </div>
                </span><br>
                 <span ng-if="Mc.media_type=='Upload Video'">
               
                  <div class="youtubewrap">
              <iframe width="700px" height="450px"  frameborder="0"  ng-src="{{setTrustUrl(Mc.mediacontent.url)}}" allowfullscreen></iframe>
              </div>
                </span><br>

                <span ng-if="Mc.media_type=='Video Url'">
                  <span ng-if="ifYoutube(Mc.Video_Url);">
                  <div class="youtubewrap">
                  <iframe width="100%" height="400" ng-src="{{Mc.media_description}}" frameborder="0" allowfullscreen>
                  </iframe>
                 </div>
                  </span>
                  <span ng-if="!ifYoutube(Mc.Video_Url)">

                    <div class="youtubewrap">
                  <iframe width="100%" height="400" ng-src="{{Mc.media_description}}" frameborder="0" allowfullscreen>
                  </iframe>
                  
                 </div>
                  </span>
                </span>
                
                <span ng-if="Mc.media_type=='Sketchfab Url'">
                    <div class="youtubewrap" ng-init="ScetchFebData(Mc.id,Mc.media_description)">
                      <div id="sketch_span_{{Mc.id}}"></div>
                    </div>
                  
                 </span>
                  <span ng-if="Mc.media_type=='Upload Marmoset'">
                    <div class="youtubewrap" ng-init="MarmosetFebData(Mc.id,Mc.mediacontent.url)">
                      <div id="marmoset_span_marmoset_span_{{Mc.id}}"></div>
                    </div>
                  </span>
                  
                </span>

             
              </v-pane-content>
            </v-pane>

          </v-accordion>
  </li>
</ul>
</div>
<div class="wipdetailtag publishwrap">
<div class="marginB10 publish-txt"> <span class="txt-white"><strong>Category:</strong> </span> 
<a ng-repeat="cat in subject_data" href="#">{{cat.name}} &nbsp;</a> 
</div>
<div class="marginB10 publish-txt"> <span class="txt-white"><strong>Tags:</strong> </span>
&nbsp;<span ng-repeat="tag in tag_data">
    {{tag.tag}}&nbsp;
</span>
 </div>
<div class="marginB10 publish-txt">

<span class="txt-white"><strong>Software Used: </strong></span> 
<span ng-repeat="soft in software_used_name" class="softb">
<img src="{{soft.image.software_used.url}}" class="img-rounded" alt="Software">
{{soft.name}}
</span> 

</div>
 
</div>
<div class="clearfix SimilarPost">
<h2 class="marginB15">Others who watched this also recommend:</h2>
<div class="clearfix download-post">
  <div class="clearfix">
    <ul>
      <li class="clearfix" ng-repeat="sim in similar_tutorial">
        <div class="downwrap">
        <a href="/tutorials/{{sim.paramlink}}/show">
        <img src="{{sim.company_logo.medium.url}}" class="img-responsive"></a>
        </div>
        <div class="padding10 clearfix">
          <div class="watched-txt">
          <a href="/tutorials/{{sim.paramlink}}/show"> <span>{{sim.title}}</span> </a>
          </div>
          <div class="clearfix down-name">
          <span class="marginR5"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{sim.view_count}} watched</span> <span class="marginL5"><i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;{{sim.like_count}}</span> </div>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>
</div>
</div>
<div class="DownloadPostRight clearfix">
  <div class="artist-title marginB10">{{tutorial_data.title}}</div>
  <div class="product-name marginB15">by 
    <a ng-if="tutorial_data.is_admin=='Y'" href="#">Admin</a>
    <a ng-if="tutorial_data.is_admin=='N'" href="#">{{tutorial_data.user.firstname}}&nbsp;{{tutorial_data.user.lastname}}</a>
  </div>
  <div class="post-price marginB10" ng-if="tutorial_data.free==false">${{tutorial_data.price}}</div>
  <div class="post-price marginB10" ng-if="tutorial_data.free==true">Free</div>

  <div class="offer-price marginB10"><%= image_tag("hand-icon.png", :alt => "Hand", :class => 'marginR5') %> Offer your price</div>
  <div class="clearfix marginB15"> 
    <% if !@is_purchased %>
        <a href="#" class="blue-btn" ng-if="tutorial_data.free==false && !checkCart(tutorial_data.tutorial_id)"  ng-click="AddTocart(tutorial_data)">
          <i class="fa fa-shopping-cart marginR5" aria-hidden="true"></i> Add to cart
        </a> 
        <a ng-if="checkCart(tutorial_data.tutorial_id)" ng-click="RemoveThis(tutorial_data)" href="#" class="red-btn border-radius">
          <i class="fa fa-shopping-bag marginR5" aria-hidden="true"></i>Remove cart
        </a> 
        <a id="buy_now" ng-if="tutorial_data.free==true" ng-click="BuyThis()" href="#" class="red-btn border-radius">
          <i class="fa fa-shopping-bag marginR5" aria-hidden="true"></i> Buy Now
        </a>   
    <% end %>
  </div>  
    <% if @is_purchased || @tutorial_data.free %>
    <div class="offer-price offer-price-new-mar marginB10 hidden" id="download_show">
      <ul>
        <% if @tutorial_data.zip_files.present? %>
          <% @tutorial_data.zip_files.each do |tutorial_data|%>
         
            <li class="row">
              <div class="col-md-8 col-sm-7 col-xs-8"><%= tutorial_data.zip_caption %></div>
              <div class="col-md-4 col-sm-5 col-xs-4 text-right"><a class="download-new-mar" 
              href="<%= tutorial_data.zipfile.url %>">Download</a></div>
            </li>
            
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="product-rating marginB15">Product Rating 
    <% if user_signed_in? && @has_user_already_given_rating < 1 %>
         <script>
            $(function() {
                $('#p_rating').raty({ score: 0, click: function(score, evt) {
                     $.ajax({
                          url: "<%= save_tutorial_rating_path %>",
                          data: { 'product_id': <%= @tutorial_data.id %>, 'score': score, 'post_type': 'tutorial' },
                          type: 'post',
                          success: function(r){
                            $('#p_rating').raty({ score: r.ratingdata, readOnly: true});
                          } 
                      });
                }});
             });
          </script>
    <% else  %>    
        <script>
            $(function() {
                $.ajax({
                    url: "<%= get_tutorial_avg_rating_path %>",
                    data: { 'product_id': <%= @tutorial_data.id %>, 'post_type': 'tutorial' },
                    type: 'post',
                    success: function(r){
                      $('#p_rating').raty({ score: r.ratingdata, readOnly: true});
                    } 
                });

                
             });
        </script> 
    <% end %> 
    <div id ="p_rating"></div>
  </div>
<div class="clearfix download-cupon">
<ul>
<li><a href="/cart">Redeem a Coupon</a></li>

</ul>
</div>
<div class="clearfix WishlistHome">
<ul>
<li class="row">
  <div class="col-md-4 col-sm-4 col-xs-4">Lectures</div>
  <div class="col-md-8 col-sm-8 col-xs-8 wishlist-txt">{{tutorial_data.total_lecture}}</div>
</li>
<li class="row">
  <div class="col-md-4 col-sm-4 col-xs-4">Video</div>
  <div class="col-md-8 col-sm-8 col-xs-8 wishlist-txt">2 hours</div>
</li>
<li class="row">
  <div class="col-md-4 col-sm-4 col-xs-4">Skill Level</div>
  <div class="col-md-8 col-sm-8 col-xs-8 wishlist-txt">{{tutorial_data.skill_level}}</div>
</li>
<li class="row">
  <div class="col-md-4 col-sm-4 col-xs-4">Languages</div>
  <div class="col-md-8 col-sm-8 col-xs-8 wishlist-txt">{{tutorial_data.language}}</div>
</li>
<li class="row">
  <div class="col-md-4 col-sm-4 col-xs-4">Includes</div>
  <div class="col-md-8 col-sm-8 col-xs-8 wishlist-txt" ng-bind-html="tutorial_data.include_description">
  </div>
</li>
</ul>
</div>
<div class="clearfix featuredpost">
<h2>Featured</h2>
<ul>
<li ng-repeat="Ft in featured_tutorials" class="clearfix">
  <div class="col-md-5 col-sm-5 col-xs-5">
   <!--  <div class="video-timeline">3:11</div> -->
  <a href="/tutorials/{{Ft.paramlink}}/show">  <img src="{{Ft.company_logo.medium.url}}" class="img-responsive" alt="Video"></a>
  </div>
  <div class="col-md-7 col-sm-7 col-xs-7 videopost">
    <h2 class="margin"><a href="#">{{Ft.title}}</a></h2>
     <p ng-if="Ft.is_admin=='Y'">Admin</p>
     <p ng-if="Ft.is_admin=='N'">{{Ft.user.firstname}} {{Ft.user.lastname}}</p>
    <p>{{Ft.view_count}} views</p>
  </div>
</li>

</ul>
</div>
<div class="friendsbox"><img alt="Google Ad" class="img-responsive" src="images/google-ad1.jpg"> </div>
<div class="aside marginB15">
<div class="wiphome clearfix proswrap">
<h2>Wants Critique</h2>
<ul class="margin">
  <li class="lists"><a href="#"><%= image_tag("database/mioree-riven-2016.jpg", :alt => "Home",:class =>"img-responsive") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/mioree-3f71e1d9e907c6965bd7e7485e27e145-d7nmi4l.jpg", :alt => "Home",:class =>"img-responsive") %></a></li>  
  <li class="lists"><a href="#"><%= image_tag("database/mioree-sailor-moon-2016-recovered.jpg", :alt => "Home",:class =>"img-responsive") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/mioree-satsuki-the-queen-by-pieder-d7i0no4.jpg", :alt => "Home",:class =>"img-responsive") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/mioree-child-of-light-becoming-by-pieder-d7isd6a.jpg", :alt => "Home",:class =>"img-responsive") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/mioree-meg-2016-for-amethylia.jpg", :alt => "Home",:class =>"img-responsive") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/mioree-snape.jpg", :alt => "Home",:class =>"img-responsive") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/mioree-ana.jpg", :alt => "Home",:class =>"img-responsive") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "Home",:class =>"img-responsive") %></a></li>
</ul>
</div>
</div>
</div>

  <div class="modal fade default-popup" id="bookmarkModal" tabindex="-1" role="dialog" aria-labelledby="bookmarkModalLabel">
    <div class="modal-dialog" role="document">
        <%= form_for(@collection, :html => {:id => 'bookmark_form_popup'}, :url => 'javascript:void(0);') do |f|
         %>
         <%= f.hidden_field :tutorial_id, value: @tutorial_data.id %>
          <div class="modal-content">
            <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal"></button>
              <h4 class="modal-title" id="exampleModalLabel">Add product to collection</h4>
            </div>
            <div class="modal-body">
            
                <div class="form-group">
                  <label for="recipient-name" class="control-label">Collection Name:</label>
                  <%= f.text_field :title, :autofocus => true, :placeholder => "Collection Name", class:"form-control", :type => 'text' %>
                  <span class="err-msg" id='bookmark_error_msg'><%= form_error_msg_for(@collection,:title, "Collection") %></span>
                </div>
               
                <div id='get_already_collection'></div>
    
            </div>
            <div class="modal-footer">
              <button type="button" class="lightbtn" data-dismiss="modal">Close</button>
              <button type="submit" class="lightbtn">Create</button>
            </div>
          </div>
        <% end %> 
    </div>
  </div>
</section>
</div>
</div>
<script type="text/javascript">
var app = angular.module('myApp', ["angularUtils.directives.dirPagination",
  "ngSanitize","angularLazyImg","MainModule","vAccordion", "ngAnimate"]);
 
    app.config(['$qProvider', function ($qProvider) {
    $qProvider.errorOnUnhandledRejections(false);
    }]);   

app.controller('myCtrl', function($scope,Cart,$rootScope,$sce,$location, $http) {

    $scope.ifYoutube = function(url)
    {
      try{
         var video_id = url.split('v=')[1].split('&')[0];
         if(video_id!=undefined)
         {
          return true;

         }
         else
         {
          return false;
         }
               
         }
      catch(ex)
      {
         return false
      }
    }
    $scope.ifVimeo = function(url)
    {
      var match = /vimeo.*\/(\d+)/i.exec( url );
      if ( match ) 
      {
        var VideoURI = "https://player.vimeo.com/video/"+match[1];
        return $sce.trustAsResourceUrl(VideoURI);
      }
    }
    $scope.setTrustUrl = function(data)
    {
      return $sce.trustAsResourceUrl(data);
    }
   $rootScope.cart = Cart.cart;
   $http.get('/tutorials/get_topic_type_list').then(function(response){
      $scope.TopicsTypeList = response.data;
    });

    
    download1  = "<%= @paramlink %>"
     var uRl = '/get_tutorial_info/'+download1;
        $http.get(uRl).then(function (response) {

            $scope.tutorial_data = response.data.tutorial_data;
            $scope.featured_tutorials = response.data.featured_tutorials;
            $scope.software_used_name = response.data.software_used_name;
            $scope.tag_data = response.data.tag_data;
            $scope.subject_data = response.data.subject_data;
            $scope.similar_tutorial = response.data.similar_tutorial;
            $scope.all_chapters_data = response.data.all_chapters_data;
            angular.forEach($scope.all_chapters_data, function(v, k){ 
                angular.forEach(v.media_contents, function(value1, key1){ 
                 
                  if(value1.media_type=='Video Url')
                  {

                    value1.Video_Url = value1.media_description;

                  try
                  {
                    var video_id = value1.Video_Url.split('v=')[1].split('&')[0];
                   
                    if(video_id!=undefined)
                    {

                    var updateUrl = 'https://www.youtube.com/embed/'+video_id;
                    value1.media_description = $sce.trustAsResourceUrl(updateUrl);
                    }

                  }
                   catch(ex)
                    {
                     value1.media_description = $sce.trustAsResourceUrl(value1.media_description);

                     var match = /vimeo.*\/(\d+)/i.exec( value1.Video_Url );
                      if ( match ) 
                      {
                        var VideoURI = "https://player.vimeo.com/video/"+match[1];
                        value1.media_description = $sce.trustAsResourceUrl(VideoURI);
                      }
                    }

                  }
                });
                });
        });

    $rootScope.checkCart = function(id){
        if($scope.cart.skuArray.includes(id)){
            return true;
        }else{
            return false;
        }
    };
    $scope.RemoveThis = function (product) {
      
        $scope.cart.addItem({ sku: product.tutorial_id}, -10000000);
        window.location.reload();
    };

    $scope.ScetchFebData = function(id,data)
    {
      var HtmlApi = "https://sketchfab.com/oembed?url="+data+"&maxwidth=700&maxheight=450&dataType=jsonp";

        $.getJSON(HtmlApi,{ajax: 'true'},
          function(response){
                $('#sketch_span_'+id).html(response.html);
        });
    }
    $scope.MarmosetFebData =function(id,data)
    {
            var params = { width: 700, height: 450, autoStart: false };
            var myviewer = marmoset.embed( data, params ); 
            $('#marmoset_span_marmoset_span_'+id).html(myviewer);
    }
    $scope.AddTocart = function (product) {
       $scope.cart.addItem(
        { sku: product.tutorial_id,
          name: product.title,
          slug:product.paramlink, 
          mrp: product.price, 
          price: product.price, 
          quantity: 1, 
          image: product.company_logo.thumb.url, 
          weight: 0 }, true);
       window.location.reload();
    };


    $scope.$on('accordionA:onReady', function () {
        console.log('accordionA is ready!');
    });


});
  angular.bootstrap(document.getElementById("myApp2"), ['myApp']);
</script>

<% if user_signed_in? %>

<script>
  $(document).ready(function(){

        $.ajax({
            type: "post",
            url: "<%= check_tutorialsave_like_path %>" ,
            data: {'tutorial_id': '<%= @tutorial_data.id %>'},
           success: function(data){
              //alert(data.res)
             if(data.res == 1) {
                  $('#post_like_button').addClass('hidden');
                  $('#post_dislike_button').removeClass('hidden');
              }else if(data.res == 0){
                   $('#post_like_button').removeClass('hidden');
                   $('#post_dislike_button').addClass('hidden');
              }else{

              }

            }
        });
        $('#post_like_button, #post_dislike_button').on('click',function(){
      //alert('gh');
            $.ajax({
                type: "post",
                url: "<%= tutorialsave_like_path %>" ,
                data: {'tutorial_id': '<%= @tutorial_data.id %>','artist_id': '<%= @tutorial_data.user_id %>'},
                success: function(data){
                  //alert(data.res)
                 if(data.res == 1) {
                      $('#post_like_button').addClass('hidden');
                      $('#post_dislike_button').removeClass('hidden');
                  }else if(data.res == 0){
                       $('#post_like_button').removeClass('hidden');
                       $('#post_dislike_button').addClass('hidden');
                  }else{

                  }

                }
            });
    });
    $.ajax({
            type: "post",
            url: "<%= check_tutorialfollow_artist_path %>" ,
            data: {'tutorial_id': '<%= @tutorial_data.id %>','artist_id': '<%= @tutorial_data.user_id %>'},
            success: function(data){
                //alert(data.res)
               if(data.res == 1) {
                        $('#follow_button').addClass('hidden');
                        $('#unfollow_button').removeClass('hidden');
                }else if(data.res == 0) {
                        $('#follow_button').removeClass('hidden');
                        $('#unfollow_button').addClass('hidden');
                }else{

                }
            }
    });

    $('#follow_button, #unfollow_button').on('click',function(){
        $.ajax({
            type: "post",
            url: "<%= tutorial_follow_artist_path %>" ,
            data: {'tutorial_id': '<%= @tutorial_data.id %>','artist_id': '<%= @tutorial_data.user_id %>'},
            success: function(data){
              //alert(data.res)
                if(data.res == 1) {
                  $('#follow_button').addClass('hidden');
                  $('#unfollow_button').removeClass('hidden');
                }else if(data.res == 0){
                  $('#follow_button').removeClass('hidden');
                  $('#unfollow_button').addClass('hidden');
                }else{
                  
                }
            }
        });
    });

    $.ajax({
        type: "post",
        url: "<%= check_mark_spam_tutorial_path %>" ,
        data:{id: "<%= @tutorial_data.id %>"},
        success: function(data){
           // alert(data.res);
            if(data.res == 1)
            {
                $('.mark_spam').addClass('hidden');
                $('.unmark_spam').removeClass('hidden');        

            }else{

                $('.mark_spam').removeClass('hidden');
                $('.unmark_spam').addClass('hidden');

            }
        }
    });

    $('.mark_spam, .unmark_spam').on('click',function(){

            $.ajax({
                    type: "post",
                    url: "<%= mark_spam_tutorial_path %>" ,
                    data:{id: "<%= @tutorial_data.id %>"},
                    success: function(data){
                        if(data.res == 1)
                        {
                            $('.mark_spam').addClass('hidden');
                            $('.unmark_spam').removeClass('hidden');        
            
                        }else{

                            $('.mark_spam').removeClass('hidden');
                            $('.unmark_spam').addClass('hidden');

                        }
                    }
            });
        

     });
    $('#bookmark_form_popup').on('submit',function(){
        $.ajax({
          type: "post",
          url: "<%= create_collection_path %>" ,
          data: $('#bookmark_form_popup').serialize(),
          success: function(data){
              if(data.res == 0){
                  $('#bookmark_error_msg').html('');
                  $('#bookmark_error_msg').html(data.message);
              }else{
                  window.location.reload(true);

              }
          }
        });
    });

    $.ajax({
          type: "get",
          url: "<%= get_tutorial_comment_path %>" ,
          data: {'tutorial_id': "<%= @tutorial_data.id %>",'section_type': 'Tutorial'},
          success: function(data){
            
            $('#commentslist_dev').html(data.data);
          }
    });

    $('[id^= post_comments_submit_]').on('click',function(){

          tutorial_id = $(this).attr('id').replace('post_comments_submit_','');
          textareavalue   = $('#post_comments_'+tutorial_id).val();
          if(textareavalue == ''){
              alert('Comment cannot be blank.');
              return false;
           }else{

                  $.ajax({
                      type: "post",
                      url: "<%= save_tutorial_comment_path %>" ,
                      data: {'tutorial_id': tutorial_id,'description': textareavalue,'section_type': 'Tutorial'},
                      success: function(data){
                          $('#post_comments_'+tutorial_id).val('');
                         
                          $.ajax({
                            type: "get",
                            url: "<%= get_tutorial_comment_path %>" ,
                            data: {'tutorial_id': "<%= @tutorial_data.id %>",'section_type': 'Tutorial'},
                            success: function(data){
                              $('#commentslist_dev').html(data.data);
                               //window.location.reload(true);
                              //return false;  
                            }
                        }); 

                      }
                  });
              } 

      });



  });

</script>


<% end %>  