<!-- Submenu Navigation -->
<section class="wip-navigation-wrap">
  <div class="navbar-default">
    <div class="container-fluid">
      <div class="row">
      
      <div class="col-md-3 col-sm-4 col-xs-9 header-search">
      <div class="input-group stylish-input-group">
          <input type="text" class="form-control"  placeholder="Search 520 000 3D models" >
          <span class="input-group-addon">
          <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
          </span> </div>
      </div>
      
      <div class="col-md-9 col-sm-8 col-xs-3 downloadpage">
      <div class="navbar-header"> <a class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> </div>
      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">All Tutorials</a></li>
          <li><a href="#">maya</a></li>
          <li><a href="#">3ds Max</a></li>
          <li><a href="#">Blender</a></li>
          <li><a href="#">ZBrush</a></li>
          <li><a href="#">Cinema 4D</a></li>
          <li><a href="#">Houdini</a></li>
          <li><a href="#">Arnold Render</a></li>
          <li><a href="#">V-Ray Render</a></li>
          <li><a href="#">Photoshop</a></li>
          <li><a href="#">RealFlow</a></li>
          <li><a href="#">more</a></li>
        </ul>
      </div>
      </div>
      
      </div>
    </div>
  </div>
</section>

<!-- Showcase & Discover Creative Work -->
<section class="clearfix downloadwrap text-center">
<div class="container">
<div class="download-title text-center">Free News CG, 3D, 2D, VFX, CAD, Games &amp; more</div>
<div class="download-txt text-center">for <a href="#">Maya<i></i></a>, <a href="#">Blender<i></i></a>, <a href="#">Cinema 4D<i></i></a>, <a href="#">3Ds Max<i></i></a>, <a href="#">Photoshop<i></i></a> and more</div>
<div class="clearfix download-gallery-wrap">
<div class="col-md-3 col-sm-3 col-xs-12 marginB10 ColPad">
  <div class="input-group stylish-input-group">
    <input type="text" class="form-control"  placeholder="Enter a keyword..." >
    <span class="input-group-addon">
    <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
    </span> </div>
</div>
<div class="col-md-2 col-sm-3 col-xs-12 marginB10 text-left ColPad">
  <select class="custom-select">
    <option>News</option>
  </select>
</div>
<div class="col-md-2 col-sm-4 col-xs-12 marginB10 text-left ColPad">
  <select class="custom-select">
    <option>Category</option>
  </select>
</div>
<div class="col-md-3 col-sm-4 col-xs-12 marginB10 text-left ColPad">
  <select class="custom-select">
    <option>Sub Category</option>
  </select>
</div>
<strong>
<div class="col-md-2 col-sm-4 col-xs-12 marginB10 text-left ColPad">
  <select class="custom-select">
    <option>Filter</option>
  </select>
</div>
</strong> </div>
<div class="showcase-btn-wrap clearfix text-center">
<button type="button" class="btn btn-success border-radius marginB10">Submit</button>
<button type="button" class="btn btn-default border-radius marginB10">Top Viewed</button>
<button type="button" class="btn btn-default border-radius marginB10">Top Sold</button>
<button type="button" class="btn btn-default border-radius marginB10">Browse Latest News</button>
</div>
</div>
</section>

<!-- Download Content Start -->
<section class="clearfix browseallcompanies">
<div class="clearfix wipwrap">
<div class="wiptabs clearfix">
<ul class="nav nav-pills">
  <li class="dropdown active"> <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-th txt15 marginR5" aria-hidden="true"></i> News
    <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">3D Models</a></li>
      <li><a href="#">3D Painting Models</a></li>
      <li><a href="#">3D Rigs / Character Rigs</a></li>
      <li><a href="#">Brushes</a></li>
      <li><a href="#">Materials and Shaders</a></li>
      <li><a href="#">HDRI Images</a></li>
      <li><a href="#">Render Setups and Scene</a></li>
      <li><a href="#">2D Concepts / Blueprints</a></li>
      <li><a href="#">Animation Data</a></li>
      <li><a href="#">Scripts and Plugins</a></li>
      <li><a href="#">Tutorials</a></li>
      <li><a href="#">Templates</a></li>
      <li><a href="#">Other</a></li>
    </ul>
  </li>
  <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Category
    <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">All</a></li>
      <li><a href="#">Animals</a></li>
      <li><a href="#">Architecture</a></li>
      <li><a href="#">Characters</a></li>
      <li><a href="#">Environment</a></li>
      <li><a href="#">Food</a></li>
      <li><a href="#">Furniture</a></li>
      <li><a href="#">Objects</a></li>
      <li><a href="#">Textures &amp; Materials</a></li>
      <li><a href="#">Vechicles</a></li>
    </ul>
  </li>
  <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sub Category
    <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">Inbox</a></li>
      <li><a href="#">Drafts</a></li>
      <li><a href="#">Sent Items</a></li>
      <li class="divider"></li>
      <li><a href="#">Trash</a></li>
    </ul>
  </li>
  <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Featured
    <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">Inbox</a></li>
      <li><a href="#">Drafts</a></li>
      <li><a href="#">Sent Items</a></li>
      <li class="divider"></li>
      <li><a href="#">Trash</a></li>
    </ul>
  </li>
  <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Filter
    <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">Inbox</a></li>
      <li><a href="#">Drafts</a></li>
      <li><a href="#">Sent Items</a></li>
      <li class="divider"></li>
      <li><a href="#">Trash</a></li>
    </ul>
  </li>
</ul>
</div>
</div>

<!-- User Followers Start -->
<div class="container-fluid download-indent clearfix">
<div class="container">
<div class="clearfix downbox">
  <div class="clearfix downtop">
    <h2>3D Models</h2>
    <a href="#" class="text-uppercase pull-right">view all</a> </div>
  <div class="clearfix">
    <ul>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials1.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>           
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials2.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials3.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="clearfix downbox">
  <div class="clearfix downtop">
    <h2>Cars</h2>
    <a href="#" class="text-uppercase pull-right">view all</a> </div>
  <div class="clearfix">
    <ul>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials4.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials5.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials6.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>            
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials7.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>            
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="clearfix downbox">
  <div class="clearfix downtop">
    <h2>HDRI Images</h2>
    <a href="#" class="text-uppercase pull-right">view all</a> </div>
  <div class="clearfix">
    <ul>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials8.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>            
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials9.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials10.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>            
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials11.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>            
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="clearfix downbox">
  <div class="clearfix downtop">
    <h2>CG Textures</h2>
    <a href="#" class="text-uppercase pull-right">view all</a> </div>
  <div class="clearfix">
    <ul>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials12.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>            
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials13.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>            
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials14.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>            
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials15.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>            
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="clearfix downbox">
  <div class="clearfix downtop">
    <h2>Base Meshes</h2>
    <a href="#" class="text-uppercase pull-right">view all</a> </div>
  <div class="clearfix">
    <ul>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials16.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials17.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials18.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials19.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="clearfix downbox">
  <div class="clearfix downtop">
    <h2>Scripts &amp; Plugins</h2>
    <a href="#" class="text-uppercase pull-right">view all</a> </div>
  <div class="clearfix">
    <ul>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials20.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials21.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials22.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials23.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="clearfix downbox">
  <div class="clearfix downtop">
    <h2>Tutorial</h2>
    <a href="#" class="text-uppercase pull-right">view all</a> </div>
  <div class="clearfix">
    <ul>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/down16.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/down17.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/down18.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>

          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/down19.jpg",:class=>"img-responsive") %> </div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>
</div>
</section>
<footer class="footer clearfix">
  <%= render "layouts/lastfooter" %>
</footer>