 <div id="myApp2" ng-app="myApp" ng-controller="myCtrl">
  <!-- Submenu Navigation -->
  <section class="wip-navigation-wrap">
    <div class="navbar-default">
      <div class="container-fluid">
        <div class="row">
        
        <div class="col-md-3 col-sm-4 col-xs-9 header-search">
        <div class="input-group stylish-input-group">
            <input type="text" class="form-control"  placeholder="Search 520 000 3D models" >
            <span class="input-group-addon">
            <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
            </span> </div>
        </div>
        
        <div class="col-md-9 col-sm-8 col-xs-3 downloadpage">
        <div class="navbar-header"> <a class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> </div>
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">All Tutorials</a></li>
            <li><a href="#">maya</a></li>
            <li><a href="#">3ds Max</a></li>
            <li><a href="#">Blender</a></li>
            <li><a href="#">ZBrush</a></li>
            <li><a href="#">Cinema 4D</a></li>
            <li><a href="#">Houdini</a></li>
            <li><a href="#">Arnold Render</a></li>
            <li><a href="#">V-Ray Render</a></li>
            <li><a href="#">Photoshop</a></li>
            <li><a href="#">RealFlow</a></li>
            <li><a href="#">more</a></li>
          </ul>
        </div>
        </div>
        
        </div>
      </div>
    </div>
  </section>

  <!-- Showcase & Discover Creative Work -->
  <section class="clearfix downloadwrap text-center">
  <div class="container">
  <div class="download-title text-center">Free News CG, 3D, 2D, VFX, CAD, Games &amp; more</div>
  <div class="download-txt text-center">for <a href="#">Maya<i></i></a>, <a href="#">Blender<i></i></a>, <a href="#">Cinema 4D<i></i></a>, <a href="#">3Ds Max<i></i></a>, <a href="#">Photoshop<i></i></a> and more</div>
  <div class="clearfix download-gallery-wrap">
  <div class="col-md-3 col-sm-3 col-xs-12 marginB10 ColPad">
    <div class="input-group stylish-input-group">
      <input type="text" class="form-control"  placeholder="Enter a keyword..." >
      <span class="input-group-addon">
      <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
      </span> </div>
  </div>
  <div class="col-md-2 col-sm-3 col-xs-12 marginB10 text-left ColPad">
    <select class="custom-select">
      <option>News</option>
    </select>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-12 marginB10 text-left ColPad">
    <select class="custom-select">
      <option>Category</option>
    </select>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-12 marginB10 text-left ColPad">
    <select class="custom-select">
      <option>Sub Category</option>
    </select>
  </div>
  <strong>
  <div class="col-md-2 col-sm-4 col-xs-12 marginB10 text-left ColPad">
    <select class="custom-select">
      <option>Filter</option>
    </select>
  </div>
  </strong> </div>
  <div class="showcase-btn-wrap clearfix text-center">
  <button type="button" class="btn btn-success border-radius marginB10">Submit</button>
  <button type="button" class="btn btn-default border-radius marginB10">Top Viewed</button>
  <button type="button" class="btn btn-default border-radius marginB10">Top Sold</button>
  <button type="button" class="btn btn-default border-radius marginB10">Browse Latest News</button>
  </div>
  </div>
  </section>

  <!-- Download Content Start -->
  <section class="clearfix browseallcompanies">
  <div class="clearfix wipwrap">
  <div class="wiptabs clearfix">
  <ul class="nav nav-pills">
    <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Category
      <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="javascript:void(0);" ng-click="searchByCategory('all')" class="active category-link"  id="category-link-all">All</a>
        </li>
        <% @categories.each do |val| %>
          <li>
            <a href="javascript:void(0);" ng-click="searchByCategory('<%= val['id'] %>')" class="category-link"  id="category-link-<%= val['id'] %>">
              <%= val['name'] %>
            </a>
          </li>
        <% end %>
      </ul>
    </li>
    <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sub Category
      <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="javascript:void(0);" ng-click="searchBySubCategory('all')" class="active sub-category-link"  id="sub-category-link-all">All</a>
        </li>

        <li class="clearfix" ng-repeat="x in sub_category_data">
          <a href="javascript:void(0);" ng-click="searchBySubCategory(x.id)" class="sub-category-link"  id="sub-category-link-{{x.id}}">{{x.name}}</a>
        </li>
      </ul>
    </li>

    <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Featured
      <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
      </a>
      <ul class="dropdown-menu">
        <li><a href="javascript:void(0);" ng-click="searchByFeatured('', 'all')" class="active featured-type-link"  id="featured-type-link-all">All</a></li>
        <li><a href="javascript:void(0);" ng-click="searchByFeatured('1', 'yes')" class="featured-type-link"  id="featured-type-link-yes">Show Only Featured</a></li>
        <li><a href="javascript:void(0);" ng-click="searchByFeatured('0', 'no')" class="featured-type-link"  id="featured-type-link-no">Show Without Featured</a></li>

      </ul>
    </li>
    
  </ul>
  </div>
  </div>

  <!-- User Followers Start -->
  <div class="container-fluid download-indent clearfix">
  <div class="container">

  <div class="clearfix downbox" ng-repeat="x in news_data">
        <div class="clearfix downtop">
          <h2>{{x.Category.name}}</h2>
            <a href="#" class="text-uppercase pull-right">view all</a> 
        </div>
        <div class="clearfix">
        <ul>
          <li class="clearfix" ng-repeat="y in x.News">
            <div class="downwrap">
              <img lazy-img="<%= root_url %>{{ y.company_logo.tutorial_list.url }}" class="img-responsive tutorial-img-height">
            </div>
            <div class="padding10 clearfix">
              <div class="down-txt">
                <span>{{y.title}}</span> <a href="#" class="pull-right tut-price txt13">View</a>
              </div>
              <div class="clearfix down-name">
                <div class="pull-left">by <span class="price-txt1">{{y.is_admin == 'Y' ? 'Admin' : y.user.firstname + ' ' + y.user.lastname}}</span></div>
              </div>
            </div>
          </li>
          
        </ul>
        </div>
    </div>

    <div class="clearfix downbox text-center err-msg no-result" ng-hide="news_data.length" >No Result Found!</div>    

  </div>
  </div>
  </section>

</div>

<footer class="footer clearfix">
  <%= render "layouts/lastfooter" %>
</footer>

<script type="text/javascript">

  // main page angular app start
  var app = angular.module('myApp', ["angularLazyImg"]);
  app.controller('myCtrl', function($scope, $http) {
      
    $scope.filter = function() {
        
        list_url = '/news/get_news_list?';

        if(typeof $scope.viewFeaturedType !== 'undefined' && $scope.viewFeaturedType != '' && $scope.viewFeaturedType != 'all'){
          list_url += '&is_featured=' + $scope.viewFeaturedType
        }
        
        if(typeof $scope.viewCategory !== 'undefined' && $scope.viewCategory != '' && $scope.viewCategory != 'all'){
          list_url += '&category_id=' + $scope.viewCategory
        }

        if(typeof $scope.viewSubCategory !== 'undefined' && $scope.viewSubCategory != '' && $scope.viewSubCategory != 'all'){
          list_url += '&sub_category_id=' + $scope.viewSubCategory
        }

        $http.get(list_url).then(function (response) {
          $scope.news_data = response.data;
        });
    };
    $scope.filter();

    $scope.searchByFeatured = function(value, id) {

      angular.element( document.querySelectorAll( '.featured-type-link' ) ).removeClass('active');
      angular.element( document.querySelector( '#featured-type-link-' + id ) ).addClass('active');
      
      $scope.viewFeaturedType = value;
      $scope.filter();

    };

    $scope.searchByCategory = function(id) {

      angular.element( document.querySelectorAll( '.category-link, .sub-category-link' ) ).removeClass('active');
      angular.element( document.querySelectorAll( '#category-link-' + id + ', #sub-category-link-all' ) ).addClass('active');

      $scope.viewCategory = id;
      $scope.viewSubCategory = '';
      $scope.filter();
      $scope.getSubCategory();

    };

    $scope.searchBySubCategory = function(id) {
      
      angular.element( document.querySelectorAll( '.sub-category-link' ) ).removeClass('active');
      angular.element( document.querySelectorAll( '#sub-category-link-' + id ) ).addClass('active');
      
      $scope.viewSubCategory = id;
      $scope.filter();
    };

    $scope.getSubCategory = function() {
        
      $scope.sub_category_data = [];

      if(typeof $scope.viewCategory !== 'undefined' && $scope.viewCategory != '' && $scope.viewCategory != 'all'){

        list_url = '/news/get_category_list?';
        list_url += '&parent_id=' + $scope.viewCategory;

        $http.get(list_url).then(function (response) {
          $scope.sub_category_data = response.data;
        });
      }
        
    };

  });

  // main page angular app end

</script>