<% previous_tags = get_previous_uploaded_news_tags %>
<!-- All Dashboard Start -->
<div id="New_News" ng-app="New_News" >
<div ng-controller="NewNewsCtrl as ctrl">
<section class="clearfix container-fluid-full">
  <div class="row-fluid">
    <div class="sidebar-left">
         <%= render 'layouts/navigation' %>
    </div>
    <div class="content clearfix" >
      <div class="clearfix job-post-bread">
         <ul class="breadcrumb">
          <li><%= link_to 'News', index_news_path %></li>
            <li class="active">
               <% actiontype = '' %>
                <% if 'edit' == params[:action] || 'update' == params[:action]
                        actiontype = update_news_path
                %>
                    Edit News
                <% else
                        actiontype = save_news_path
                 %>
                    Create News
                <% end %>

            </li>
        </ul>
      </div>

      <!-- User Followers Start -->
      <section class="clearfix jobswrap">
      <%= form_for( @news, url: actiontype, html: { id: 'news_post_form',  role: "form" }) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id, id: 'news_user_id' %>
        <%= f.hidden_field :is_admin, value: 'N', id: 'news_is_admin' %>
        <%= f.hidden_field :removedNewsContent, value: '', id: 'news_removed_content' %>
        <%= f.hidden_field :removedMediaContent, value: '', id: 'news_removed_media_content' %>
         <div id="hiddendata"></div>
        <div class="clearfix notification-heading">
            <span class="noti-title" style="border:none;">
                <% if 'edit' == params[:action] || 'update' == params[:action] %>
                    <%= @news.title %>
                <% else %>
                    Untitled News
                <% end %>
            </span> </div>
        <div class="jobpostindent clearfix col-sm-12 col-xs-12 padding">

                  <div class="marginB15">
                      <label class="marginB15">* Title</label>
                    <%= f.text_field :title, class: 'form-control from-input skill-input', id: 'title', placeholder: 'News Title', value: params[:news].present? ? params[:news][:title] : @news[:title] %>
                    <span class="err-msg"><%= form_error_msg_for(@news,:title, "Title") %></span>
                  </div>

          <div class="panel panel-default">
            <div class="panel-heading">Description</div>
            <div class="panel-body">

                <div class="row">


                    <div class="col-md-12 col-sm-12 col-xs-12 marginB10">
                        <button class="lightbtn padding5 lightcolor addMoreBtn" type="button" ng-click="addDescription()" title="Add More Description">Add Description<span class="fa fa-plus marginL10" aria-hidden="true"></span></button>
                    </div>

                    <div ng-repeat="x in add_description_default" id="lichapter_default{{$index}}" class="col-md-12 col-sm-12 col-xs-12 marginB10 paddinB10 border-bottom-bold">
                      <div class="col-md-12 col-sm-12 col-xs-12 marginB10">
                          <button class="lightbtn padding5 lightcolor pull-right addMoreBtn" type="button" ng-click="removeChapterDefault($index, x.id)" title="Remove Description">Remove Description<span class="fa fa-times marginL10" aria-hidden="true"></span></button>
                        </div>

                        <div class="form-group clearfix">

                          <label class="col-md-12 col-sm-12 col-xs-12">Title:</label>
                          <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="text" name="news_content_default[{{x.id}}][title]" id="chapter_title_{{$index}}" placeholder="Enter Title" class="form-control from-input" value="{{x.title}}">
                          </div>
                        </div>

                        <div ng-repeat="y in x.media_contents track by $index" id="lichapter_child_default{{$parent.$index}}_{{$index}}" class="col-md-12 col-sm-12 col-xs-12 border-bottom marginB10">

                            <div class="form-group clearfix marginB10">
                                <div class="gallery-select-top clearfix marginB10 col-md-12 col-sm-12 col-xs-12">
                                    <button class="lightbtn padding5 lightcolor pull-right addMoreBtn" type="button" ng-click="removeMediaDefault($parent.$index, $index, y.id)" title="Remove Media Content">Remove Media Content<span class="fa fa-times marginL10" aria-hidden="true"></span></button>
                                </div>
                                <input type="hidden" name="news_content_default[{{x.id}}][media_contents_attributes][{{$index}}][id]" id="chapter_media_content_id_default_{{$parent.$index}}_{{$index}}" value="{{y.id}}">
                                <div class="form-group clearfix">
                                  <label class="col-md-4 col-sm-6 col-xs-12 marginT10">Select Media Content Type : </label>
                                  <div class="col-md-8 col-sm-6 col-xs-12">


                                  <select
                                    class="custom-select"
                                    ng-model="chapter_media_content_media_type_default_$parent.$index_$index"
                                    ng-init="chapter_media_content_media_type_default_$parent.$index_$index = y.media_type"
                                    ng-change="changeMediaContentTypeDefault(this);"
                                    name="news_content_default[{{x.id}}][media_contents_attributes][{{$index}}][media_type]"
                                    id="chapter_media_content_media_type_default_{{$parent.$index}}_{{$index}}"
                                    data-ng-options="blisterPackTemplate as blisterPackTemplate for blisterPackTemplate in media_content_type_options track by blisterPackTemplate" >
                                        <option value="">Select Media Content Type</option>
                                  </select>


                                  </div>
                                </div>

                              <div id="chapter_media_content_mediacontent_div_default_{{$parent.$index}}_{{$index}}" class="form-group clearfix">

                                <div class="col-md-6 col-sm-12 col-xs-12">

                                  <a ng-show="chapter_media_content_media_type_default_$parent.$index_$index=='Upload Image' || chapter_media_content_media_type_default_$parent.$index_$index=='Upload Video' || chapter_media_content_media_type_default_$parent.$index_$index=='Upload Zip' || chapter_media_content_media_type_default_$parent.$index_$index=='Upload Marmoset'" href="javascript:void(0);" ng-click="selectMediaContent($parent.$index, $index, 'default_')" title="Click to select media content file">
                                      <i class="fa fa-upload marginR5 blue-txt" aria-hidden="true"></i> Select Media Content File
                                    </a>


                              <input type="file" name="news_content_default[{{x.id}}][media_contents_attributes][{{$index}}][mediacontent]" id="chapter_media_content_mediacontent_default_{{$parent.$index}}_{{$index}}" onchange="angular.element(this).scope().newMediaContent(this, 'default_')" class="hidden" >
                            </div>

                                <div class="col-md-6 col-sm-12 col-xs-12">

                                  <img ng-show="y.media_type == 'Upload Image'" ng-src="{{y.mediacontent.url}}" width="50" id="chapter_media_image_default_old_{{$parent.$index}}_{{$index}}">

                                  <label ng-show="y.media_type == 'Upload Video' || y.media_type == 'Upload Zip' || y.media_type == 'Upload Marmoset'" id="chapter_media_file_default_old_{{$parent.$index}}_{{$index}}">
                                    {{y.mediacontent.url.split("/")[y.mediacontent.url.split("/").length-1]}}
                                  </label>

                                  <label id="chapter_media_file_default_{{$parent.$index}}_{{$index}}"></label>

                                  <img id="chapter_media_image_default_{{$parent.$index}}_{{$index}}" src="" class="hidden" width="50">

                                </div>
                            </div>

                                <div id="chapter_media_content_media_description_div_default_{{$parent.$index}}_{{$index}}" class="col-md-12 col-sm-12 col-xs-12 form-group clearfix {{(y.media_type == 'Video Url' || y.media_type == 'Sketchfab Url' || y.media_type == 'Description') ? '' : 'hidden'}}">
                              <textarea name="news_content_default[{{x.id}}][media_contents_attributes][{{$index}}][media_description]" id="chapter_media_content_media_description_default_{{$parent.$index}}_{{$index}}" placeholder="Enter Description" class="form-control from-input message-form1">{{y.media_description}}</textarea>
                            </div>

                            </div>

                        </div>

                        <div class="gallery-select-top clearfix col-md-12 col-sm-12 col-xs-12">
                            <button class="lightbtn padding5 lightcolor pull-right addMoreBtn" type="button" ng-click="addMoreMediaDefault($index)" title="Add More Media Content">Add More Media Content<span class="fa fa-plus marginL10" aria-hidden="true"></span></button>
                        </div>

                    </div>

                    <div ng-repeat="x in add_description" id="lichapter{{$index}}" class="hidden col-md-12 col-sm-12 col-xs-12 marginB10 paddinB10 border-bottom-bold">
                      <div class="col-md-12 col-sm-12 col-xs-12 marginB10">
                          <button class="lightbtn padding5 lightcolor pull-right addMoreBtn" type="button" ng-click="removeChapter($index)" title="Remove Chapter">Remove Description<span class="fa fa-times marginL10" aria-hidden="true"></span></button>
                        </div>

                        <div class="form-group clearfix">

                          <label class="col-md-12 col-sm-12 col-xs-12">Title:</label>
                          <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="text" name="news_content[{{$index}}][title]" id="chapter_title_{{$index}}" placeholder="Enter Title" class="form-control from-input">
                          </div>
                        </div>

                        <div ng-repeat="y in news_media_count[$index]" id="lichapter_child{{$parent.$index}}_{{$index}}" class="col-md-12 col-sm-12 col-xs-12 border-bottom marginB10">

                            <div class="form-group clearfix marginB10">
                                <div class="gallery-select-top clearfix marginB10 col-md-12 col-sm-12 col-xs-12">
                                    <button class="lightbtn padding5 lightcolor pull-right addMoreBtn" type="button" ng-click="removeMedia($parent.$index, $index)" title="Remove Media Content">Remove Media Content<span class="fa fa-times marginL10" aria-hidden="true"></span></button>
                                </div>

                                <div class="form-group clearfix">
                                  <label class="col-md-4 col-sm-6 col-xs-12 marginT10">Select Media Content Type : </label>
                                  <div class="col-md-8 col-sm-6 col-xs-12">
                                      <select class="custom-select" name="news_content[{{$parent.$index}}][media_contents_attributes][{{$index}}][media_type]" id="chapter_media_content_media_type_{{$parent.$index}}_{{$index}}" ng-change="changeMediaContentType(chapter_media_content_media_type_$parent.$index_$index, $parent.$index, $index, '')" ng-model="chapter_media_content_media_type_$parent.$index_$index">
                                        <option value="">Select Media Content Type</option>
                                          <%
                                            MediaContent.filtered_types.each_with_index do |value, index|
                                          %>
                                              <option value="<%= value %>"><%= value %></option>
                                          <% end %>
                                      </select>
                                  </div>
                                </div>

                                <div id="chapter_media_content_mediacontent_div_{{$parent.$index}}_{{$index}}" class="form-group clearfix hidden">
                                  <div class="col-md-6 col-sm-12 col-xs-12">

                                    <a href="javascript:void(0);" ng-click="selectMediaContent($parent.$index, $index, '')" title="Click to select media content file"><i class="fa fa-upload marginR5 blue-txt" aria-hidden="true"></i> Select Media Content File</a>

                                <input type="file" name="news_content[{{$parent.$index}}][media_contents_attributes][{{$index}}][mediacontent]" id="chapter_media_content_mediacontent_{{$parent.$index}}_{{$index}}" onchange="angular.element(this).scope().newMediaContent(this, '')" class="hidden">
                              </div>

                              <div class="col-md-6 col-sm-12 col-xs-12">

                                <label id="chapter_media_file_{{$parent.$index}}_{{$index}}"></label>
                                <img id="chapter_media_image_{{$parent.$index}}_{{$index}}" src="" class="hidden" width="50">
                              </div>
                            </div>

                                <div id="chapter_media_content_media_description_div_{{$parent.$index}}_{{$index}}" class="col-md-12 col-sm-12 col-xs-12 form-group clearfix hidden">
                              <textarea name="news_content[{{$parent.$index}}][media_contents_attributes][{{$index}}][media_description]" id="chapter_media_content_media_description_{{$parent.$index}}_{{$index}}" placeholder="Enter Description" class="form-control from-input message-form1"></textarea>
                            </div>

                            </div>

                        </div>

                        <div class="gallery-select-top clearfix col-md-12 col-sm-12 col-xs-12">
                            <button class="lightbtn padding5 lightcolor pull-right addMoreBtn" type="button" ng-click="addMoreMedia($index)" title="Add More Media Content">Add More Media Content<span class="fa fa-plus marginL10" aria-hidden="true"></span></button>
                        </div>

                    </div>


                    <div class="form-group clearfix">
                        <label class="col-md-12 col-sm-12 col-xs-12">Category</label>
                        <div class="col-md-12 col-sm-12 col-xs-10">

                           <select class="form-control multi-select js-chosen-select-multi" multiple="multiple" name="news[category_id][]" id="category">
                                <% if @category.present?
                                  @category.each_with_index do |value, index|
                                %>

                                    <% selected_category = ''
                                        if params[:news].present? && !params[:news][:category_id].nil? && params[:news][:category_id].include?(value.id.to_s)
                                            selected_category = 'selected="selected"'
                                        elsif !@news[:category_id].nil? && @news[:category_id].include?(value.id.to_s)
                                            selected_category = 'selected="selected"'
                                        end %>

                                        <option value="<%= value.id %>" <%= selected_category %> ><%= value.name %></option>

                                <% end
                                end %>
                            </select>
                         </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-12 col-sm-12 col-xs-12">Sub Category</label>
                        <div class="col-md-12 col-sm-12 col-xs-10">
                           <%= f.select(:sub_category_id, options_for_select([]), {:include_blank => false}, {'class' => 'form-control multi-select js-chosen-select-multi', 'id' => 'sub_category', multiple: true})  %>
                         </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-md-12 col-sm-12 col-xs-12">Software Used</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">

                        <%= f.select(:software_used, options_for_select(@software_expertise, params[:news].present? ? params[:news][:software_used] : @news[:software_used]), {:include_blank => false}, {'class' => 'form-control multi-select js-chosen-select-multi', 'id' => 'news_software_used', multiple: true})  %>

                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <%= f.fields_for :tag do |tag_form| %>
                            <% tag_options = []
                            if params[:news].present?
                                tag_options  = params[:news][:tag][:tag]
                                tag_options.reject!{|a| a==""}

                            elsif @news.try(:tags).present?
                                @news.try(:tags).each_with_index do |tag, i|
                                    tag_options[i] = tag['tag']
                                end
                            end
                            %>

                            <label class="col-md-12 col-sm-12 col-xs-12">Tags</label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <%= tag_form.select(:tag, options_for_select(tag_options, params[:news].present? ? params[:news][:tag][:tag] : tag_options), {:include_blank => false}, {'class' => 'form-control multi-select js-chosen-select-tags', 'id' => 'tag', multiple: true})  %>
                            </div>
                        <% end %>

                        <div class="white-txt marginB15 col-md-12 col-sm-12 col-xs-12"><em>Separate tags with commas</em></div>
			            <div class="blue-txt marginB15 col-md-12 col-sm-12 col-xs-12">Choose from the most used tags</div>


			            <% if previous_tags.present? && 'edit' != params[:action] && 'update' != params[:action] %>
			                <div class="col-md-12 col-sm-12 col-xs-12">
			                    <div class="checkbox-btn">
			                        <%= f.check_box :use_tag_from_previous_upload %>
			                        <label for="news_use_tag_from_previous_upload" onclick>Use tags from previous upload </label>
			                    </div>
			                </div>

			            <% end %>

                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6 marginB10">
                      <div class="checkbox-btn paddinT10">
                       <%= f.check_box :has_adult_content, id: 'has_adult_content', name: "news[has_adult_content]" %>
                        <label for="has_adult_content" onclick>Has Adult Content</label>
                      </div>
                    </div>

                    <% if 'new' == params[:action] || 'create' == params[:action]

                        if @package.present?
                            @package.each_with_index do | value, index|
                               is_checked  = ""

                            if @news[:package_id].present? && !@news[:package_id].nil?
                                is_exist_in_array  =  @news[:package_id].include? value.id.to_s

                                if is_exist_in_array == true
                                  is_checked = "checked = checked"
                                end
                            end
                      %>
                            <label class="postJobUpgrade">
                                <div><input name="news[package_id][]" id="upsell_ids_" value="<%= value.id %>" data-js="postJobUpgrade" type="checkbox"  <%= is_checked %>></div>
                                <div class="postJobUpgrade-intro">
                                  <h5 class="u-mt--xsmall"><%= value.title %></h5>
                                  <%= value.description %>
                                </div>
                                <div class="postJobUpgrade-price">$<%= value.amount %></div>

                            </label>
                    <%      end
                        end
                      end
                    %>




                </div>

            </div>
          </div>


        </div>


        <div class="aside col-sm-12 col-xs-12 padding">
                    <div class="panel panel-default">
                        <div class="panel-heading">Publish</div>
                        <div class="panel-body">
                            <div class="clearfix marginB15 row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <button type="submit" class="lightbtn" value="SaveDraft" name="commit">Save Draft</button>
                                </div>
                                <% if 'edit' == params[:action] || 'update' == params[:action] %>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <button onclick = "return preview('<%= @news.paramlink %>')" class="lightbtn" type="button">Preview</button>
                                </div>
                                <% end %>
                            </div>

                            <% if 'edit' == params[:action] || 'update' == params[:action] %>
                                <div class="clearfix marginB15 status-link"> <i class="fa fa-key marginR5 lightcolor" aria-hidden="true"></i> Status : <strong>
                                    <%  if @news.is_trash == 1 %>
                                        Trashed
                                    <%  elsif @news.is_save_to_draft == 1 %>
                                        Draft
                                    <% elsif @news.publish %>
                                        Published
                                    <% else %>
                                        Not Published
                                    <% end %>

                                    </strong>
                                </div>
                            <% end %>

                            <div class="clearfix marginB15 status-link"> <i class="fa fa-eye marginR5 lightcolor" aria-hidden="true"></i> Visibility  : <strong>{{data.selectedOption.name}}</strong> <a href="javascript:void(0);" ng-click="view_visibility_option()" ng-show="show_visibility_edit_option">Edit</a>
                                <div class="form-group clearfix createpost marginT10" ng-show="show_visibility_option">
                                    <select id="visibility" name="news[visibility]" class="custom-select" ng-options="option.name for option in data.availableOptions track by option.id" ng-model="data.selectedOption" ng-change="view_visibility_edit_option()"></select>
                                </div>
                            </div>

                            <div class="clearfix marginB15 status-link">
                                <i class="fa fa-calendar marginR5 lightcolor" aria-hidden="true"></i> Publish : <strong>{{dataPublish.selectedOption.name}}</strong> <a href="javascript:void(0);" ng-click="view_publish_option()" ng-show="show_publish_edit_option">Edit</a>


                                <div class='form-group clearfix marginT10' ng-show="show_publish_option">
                                    <div class='clearfix' >
                                        <select id="publish" name="news[publish]" class="custom-select" ng-options="option.name for option in dataPublish.availableOptions track by option.id" ng-model="dataPublish.selectedOption" ng-change="update_publish_type()"></select>
                                    </div>
                                      <div class='clearfix input-group date marginT10 right-panel-datetime-picker' id='datetimepicker1' ng-show="show_schedule_time" >
                                        <%= f.text_field :schedule_time, class: 'form-control from-input', id: 'schedule_time', placeholder: '', "ng-model" => "ctrl.schedule_time.date", "is-open" => "ctrl.schedule_time.open", "datetime-picker" => "yyyy-MM-dd HH:mm", 'readonly' => 'readonly' %>
                                        <span class="input-group-addon" ng-click="ctrl.openCalendar($event, 'schedule_time')"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                    </div>

                                </div>


                            </div>
                            <div class="clearfix row">

                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <% if 'edit' == params[:action] %>
                                        <%= link_to 'Delete'.html_safe, trash_news_path(@news.paramlink), data: { confirm: 'Are you sure?' }, title: "Delete", class: "btn-link" %>
                                    <% end %>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                 <button type="submit" class="green-btn" value="Publish" name="commit">Publish</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">News Thumbnail</div>
                        <div class="panel-body padding">
                            <div class="marginB15 pos-rel img-company-logo">

                                <%= f.file_field(:company_logo, accept: "image/*", id: "companyLogoUpload", "ng-model" => "companyLogoUpload", onchange: "angular.element(this).scope().imageUpload(this)", class: "drag-photo") %>

                                <center>
                                    <img id='companylogoimage' src="/assets/database/jobs-logo.png" alt="img" class="img-responsive" ng-src="{{companyLogoImage}}">
                                </center>

                            </div>
                             <!--  <div id='crop_container'></div>   -->
                           <% for attribute in [:zoom_w, :zoom_h, :zoom_x, :zoom_y, :drag_x, :drag_y, :rotation_angle, :crop_x, :crop_y, :crop_w, :crop_h] %>
                                <%= f.hidden_field attribute, :id => attribute %>
                            <% end %>
                            <div class="clearfix marginB15 text-center project-btn">
                               <!--  <div class="lightbtn"><i class="fa fa-crop marginR5 blue-txt" aria-hidden="true"></i> Crop</div> -->
                               <button id="cropbutton" type="button" class="lightbtn hidden" data-target="#modal_crop" data-toggle="modal"> <i class="fa fa-crop marginR5 blue-txt" aria-hidden="true"></i> Crop</button>

                                <div class="lightbtn" ng-click="clickCompanyLogoUpload()"><i class="fa fa-upload marginR5 blue-txt" aria-hidden="true"></i> Upload</div>
                                <%#= f.file_field(:company_logo, accept: "image/*", id: "companyLogoUpload", "ng-model" => "companyLogoUpload", onchange: "angular.element(this).scope().imageUpload(this)", style: "display: none;")%>


                                <div id="remove-custom-thumb" class="lightbtn hidden" ng-click="removeCompanyLogo()"><i class="fa fa-times marginR5 blue-txt" aria-hidden="true"></i> Remove custom thumbnail</div>
                            </div>
                            <div class="lightcolor txt12 marginB15 text-center">Drag and drop an image above to replace</div>

                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Visibility</div>
                        <div class="panel-body">
                            <div class="white-txt marginB15"> Where do you want this Project to show?</div>
                            <div class="checkbox-btn marginB15">
                                <%= f.check_box :show_on_cgmeetup , name: 'news[show_on_cgmeetup]', id: 'gallery_show_on_cgmeetup' %>
                                <label for="gallery_show_on_cgmeetup" onclick>CGMeetup.net</label>
                            </div>
                            <div class="checkbox-btn">
                                <%= f.check_box :show_on_website , name: 'news[show_on_website]', id: 'gallery_show_on_website' %>
                                <label for="gallery_show_on_website" onclick>My Website</label>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="panel panel-default">
                        <div class="panel-heading">Albums</div>
                        <div class="panel-body"> </div>
                    </div> -->
                </div>

        <% end %>
      </section>

            <div  class="modal fade default-popup" id="modal_crop" aria-labelledby="modalLabel" role="dialog" tabindex="-1">
              <div class="modal-dialog" role="document">
                <div class="modal-content">

                  <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal"></button>
                    <h5 class="modal-title" id="modalLabel">Crop the image</h5>

                  </div>
                  <div class="modal-body">
                    <div>
                        <img id="cropimage" src="" alt="Picture">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default lightbtn" data-dismiss="modal">Crop</button>
                  </div>
                </div>
              </div>
            </div>


    </div>
  </div>

</section>
</div>
</div>

<script type="text/javascript">

    function preview(paramlink){
      window.location.href = '<%= root_url %>news/' + paramlink + '/show';
    }


    // main page angular app start
    var app = angular.module('New_News', ["angularLazyImg", 'ui.bootstrap','MainModule', 'ui.bootstrap.datetimepicker']);

    app.controller('NewNewsCtrl', function($scope, $http) {

        var that = this;

        //profile pic upload
        $scope.clickCompanyLogoUpload = function(){
          angular.element('#companyLogoUpload').trigger('click');
        };

        $scope.companyLogoImage = '';
        <% if @news.try(:company_logo).try(:large_image).try(:url).present? %>
            $scope.companyLogoImage = "<%= @news.company_logo.large_image.url %>";
        <% end %>

        $scope.imageUpload = function(element){

            var reader = new FileReader();
            reader.onload = $scope.imageIsLoaded;

            reader.readAsDataURL(element.files[0]);
        }

        $scope.imageIsLoaded = function(e){
            $scope.$apply(function() {

                $scope.companyLogoImage= e.target.result;
                angular.element('#crop_w').val('');
                angular.element('#crop_h').val('');
                angular.element('#crop_x').val('');
                angular.element('#crop_y').val('');
                angular.element('#zoom_w').val('');
                angular.element('#zoom_h').val('');
                angular.element('#zoom_x').val('');
                angular.element('#zoom_y').val('');
                angular.element( document.querySelector( '#cropbutton' ) ).removeClass('hidden');
                angular.element( document.querySelector( '#remove-custom-thumb' ) ).removeClass('hidden');

            });
        }

        $scope.removeCompanyLogo = function(e){
            $scope.companyLogoImage= "/assets/database/jobs-logo.png";
            angular.element('#companyLogoUpload').val(null);
            angular.element('#crop_w').val('');
            angular.element('#crop_h').val('');
            angular.element('#crop_x').val('');
            angular.element('#crop_y').val('');
            angular.element('#zoom_w').val('');
            angular.element('#zoom_h').val('');
            angular.element('#zoom_x').val('');
            angular.element('#zoom_y').val('');
            angular.element( document.querySelector( '#cropbutton' ) ).addClass('hidden');
            angular.element( document.querySelector( '#remove-custom-thumb' ) ).addClass('hidden');
        }

        visibility_sel_id = '0';
        visibility_sel_name = 'Public';

        publish_sel_id = '1';
        publish_sel_name = 'Immediately';

        $scope.show_visibility_option = false;
        $scope.show_visibility_edit_option = true;
        $scope.show_schedule_time = false;
        $scope.show_publish_option = false;
        $scope.show_publish_edit_option = true;

        this.schedule_time = {
            date: new Date()

        };

        <% if params['news'].present? %>

            <% if params['news']['visibility'] == '1' %>
                visibility_sel_id = '1';
                visibility_sel_name = 'Private';

            <% end %>

            <% if params['news']['publish'] == '0' %>
                publish_sel_id = '0';
                publish_sel_name = 'Schedule';

                $scope.show_publish_option = true;
                $scope.show_publish_edit_option = false;
                $scope.show_schedule_time = true;

                <% if params['news']['schedule_time'] != '' %>
                    var schedule_time_val = '<%= params['news']['schedule_time'] %>';
                    this.schedule_time = {
                        date: new Date(schedule_time_val)
                    };
                <% else %>
                    this.schedule_time = {
                    };
                <% end %>
            <% end %>

        <% elsif 'edit' == params[:action] || 'update' == params[:action] %>
                <% if @news.visibility == 1 %>
                    visibility_sel_id = '1';
                    visibility_sel_name = 'Private';
                <% end %>

                <% if @news.publish == 0 %>
                    publish_sel_id = '0';
                    publish_sel_name = 'Schedule';

                    $scope.show_publish_option = true;
                    $scope.show_publish_edit_option = false;
                    $scope.show_schedule_time = true;

                    <% if @news.schedule_time != '' %>
                        var schedule_time_val = '<%= @news.schedule_time %>';
                        this.schedule_time = {
                            date: new Date(schedule_time_val)
                        };
                    <% else %>
                        this.schedule_time = {
                        };
                    <% end %>
                <% end %>


        <% end %>

        $scope.data = {
            availableOptions: [
                {id: '0', name: 'Public'},
                {id: '1', name: 'Private'}
            ],
            selectedOption: {id: visibility_sel_id, name: visibility_sel_name} //This sets the default value of the select in the ui
        };

        $scope.view_visibility_option = function(){
            $scope.show_visibility_option = true;
            $scope.show_visibility_edit_option = false;
        }

        $scope.view_visibility_edit_option = function(){
            $scope.show_visibility_option = false;
            $scope.show_visibility_edit_option = true;
        }


        $scope.dataPublish = {
            availableOptions: [
                {id: '1', name: 'Immediately'},
                {id: '0', name: 'Schedule'}
            ],
            selectedOption: {id: publish_sel_id, name: publish_sel_name} //This sets the default value of the select in the ui
        };

        $scope.view_publish_option = function(){
            $scope.show_publish_option = true;
            $scope.show_publish_edit_option = false;
        }

        $scope.update_publish_type = function(){

            if ($scope.dataPublish.selectedOption.id == 0){
                $scope.show_schedule_time = true;
            }else{
                $scope.show_schedule_time = false;
            }

        }

        this.openCalendar = function(e, picker) {

            that[picker].open = true;
        };

/********* add new news content ***************/
        var add_description_count = 0;
        $scope.add_description = [];
        $scope.news_media_count = [];

        $scope.addDescription = function () {
            $scope.add_description.push(add_description_count);

            add_description_count++;

            setTimeout(function() {
                add_description_count_test = add_description_count - 1;
                angular.element( document.querySelector( '#lichapter' + add_description_count_test ) ).removeClass('hidden');

            }, 200);

			      add_description_count_new = add_description_count - 1;
            $scope.news_media_count[add_description_count_new] = [0];

        }

        $scope.removeChapter = function (x) {
            angular.element( document.querySelector( '#lichapter' + x ) ).addClass('hidden');
            angular.element( document.querySelector( '#lichapter' + x ) ).html('');
        }


        $scope.removeMedia = function (parent_key, child_key) {
            angular.element( document.querySelector( '#lichapter_child' + parent_key + '_' + child_key) ).html('');
        }

        $scope.removeChapterDefault = function (x, id) {
            angular.element( document.querySelector( '#lichapter_default' + x ) ).addClass('hidden');
            angular.element( document.querySelector( '#lichapter_default' + x ) ).html('');

            var removedid = angular.element('#news_removed_content').attr('value');

            if(removedid == ''){
                removedid = id;
            }else{
                removedid = removedid + ',' +id;
            }

            angular.element('#news_removed_content').attr('value', removedid);
        }

        $scope.removeMediaDefault = function (parent_key, child_key, id) {
            angular.element( document.querySelector( '#lichapter_child_default' + parent_key + '_' + child_key) ).html('');
            var removedid = angular.element('#news_removed_media_content').attr('value');

            if(removedid == ''){
                removedid = id;
            }else{
                removedid = removedid + ',' +id;
            }

            angular.element('#news_removed_media_content').attr('value', removedid);
        }

        $scope.addMoreMedia = function (parent_key) {

            var arr_len = $scope.news_media_count[parent_key].length;

            new_child_val = 0;
            if (arr_len > 0){
                arr_len = arr_len - 1;
                var val = $scope.news_media_count[parent_key][arr_len];
                new_child_val = val + 1;
            }

            $scope.news_media_count[parent_key].push(new_child_val);

        }

        $scope.addMoreMediaDefault = function (parent_key) {

            var arr_len = $scope.add_description_default[parent_key]['media_contents'].length;

            new_child_val = arr_len + 1;

            $scope.add_description_default[parent_key]['media_contents'].push(new_child_val);

        }

        $scope.changeMediaContentType = function (media_type, parent_key, child_key, default_txt){

        	angular.element( document.querySelector( '#chapter_media_content_mediacontent_div_' + default_txt + parent_key + '_' + child_key ) ).addClass('hidden');
        	angular.element( document.querySelector( '#chapter_media_content_media_description_div_' + default_txt + parent_key + '_' + child_key ) ).addClass('hidden');

        	angular.element('#chapter_media_content_mediacontent_' + default_txt + parent_key + '_' + child_key).val('');
        	angular.element('#chapter_media_content_media_description_' + default_txt + parent_key + '_' + child_key).val('');
        	if (media_type == 'Upload Image' || media_type == 'Upload Video' || media_type == 'Upload Zip' || media_type == 'Upload Marmoset'){
        		angular.element( document.querySelector( '#chapter_media_content_mediacontent_div_' + default_txt + parent_key + '_' + child_key ) ).removeClass('hidden');

        		if (media_type == 'Upload Image'){
        			angular.element('#chapter_media_content_mediacontent_' + default_txt + parent_key + '_' + child_key).attr('accept', 'image/*');
        		}

        		else if (media_type == 'Upload Video'){
        			angular.element('#chapter_media_content_mediacontent_' + default_txt + parent_key + '_' + child_key).attr('accept', 'video/*');
        		}

        		else if (media_type == 'Upload Zip'){
        			angular.element('#chapter_media_content_mediacontent_' + default_txt + parent_key + '_' + child_key).attr('accept', '.zip,.rar');
        		}

        		else if (media_type == 'Upload Marmoset'){
        			angular.element('#chapter_media_content_mediacontent_' + default_txt + parent_key + '_' + child_key).attr('accept', '.mview');
        		}

        	}
        	else if (media_type == 'Video Url' || media_type == 'Sketchfab Url' || media_type == 'Description'){
        		angular.element( document.querySelector( '#chapter_media_content_media_description_div_' + default_txt + parent_key + '_' + child_key ) ).removeClass('hidden');

        		angular.element('#chapter_media_content_media_description_' + default_txt + parent_key + '_' + child_key).attr('placeholder', 'Enter ' + media_type);
        	}

          angular.element( document.querySelector( '#chapter_media_file_' + default_txt + parent_key + '_' + child_key ) ).html('');
          angular.element( document.querySelector( '#chapter_media_image_' + default_txt + parent_key + '_' + child_key ) ).attr('src', '');
          angular.element( document.querySelector( '#chapter_media_image_' + default_txt + parent_key + '_' + child_key ) ).addClass('hidden');

          if(default_txt != ''){
    				angular.element( document.querySelector( '#chapter_media_file_' + default_txt + 'old_' + parent_key + '_' + child_key ) ).html('');
    				angular.element( document.querySelector( '#chapter_media_image_' + default_txt + 'old_' + parent_key + '_' + child_key ) ).attr('src', '');
    				angular.element( document.querySelector( '#chapter_media_image_' + default_txt + 'old_' + parent_key + '_' + child_key ) ).addClass('hidden');
          }

        }

        $scope.changeMediaContentTypeDefault = function (){

        	var media_type = angular.element( document.querySelector( '#chapter_media_content_media_type_default_' +
        		this.$parent.$index + '_' + this.$index ) ).val();

        	$scope.changeMediaContentType(media_type, this.$parent.$index, this.$index, 'default_');
        }

        $scope.$watch(function() {
          return $scope.searchText;
        }, function(n, o) {
          if(n != o){
            $scope.searchRecords();
          }
        }, true);

        $scope.newMediaContent = function(element, default_txt){

    			$scope.media_content_parent_index = this.$parent.$index;
    			$scope.media_content_index = this.$index;
    			$scope.media_content_default_txt = default_txt;

			    var media_type = angular.element( document.querySelector( '#chapter_media_content_media_type_' + default_txt + this.$parent.$index + '_' + this.$index ) ).val();

    			if (media_type != 'Description'){
    				if (media_type == 'Upload Image'){

    	            	var reader = new FileReader();
    	            	reader.onload = $scope.newMediaContentIsLoaded;
    	        	    reader.readAsDataURL(element.files[0]);

    	        	    angular.element( document.querySelector( '#chapter_media_file_' + default_txt + this.$parent.$index + '_' + this.$index ) ).html('');
    	        	    angular.element( document.querySelector( '#chapter_media_image_' + default_txt + this.$parent.$index + '_' + this.$index ) ).removeClass('hidden');

    				}else{
    					angular.element( document.querySelector( '#chapter_media_file_' + default_txt + this.$parent.$index + '_' + this.$index ) ).html(element.files.item(0).name);
    					angular.element( document.querySelector( '#chapter_media_image_' + default_txt + this.$parent.$index + '_' + this.$index ) ).attr('src', '');
    					angular.element( document.querySelector( '#chapter_media_image_' + default_txt + this.$parent.$index + '_' + this.$index ) ).addClass('hidden');
    				}
    			}

    			angular.element( document.querySelector( '#chapter_media_image_default_old_' + this.$parent.$index + '_' + this.$index ) ).attr('src', '');
    			angular.element( document.querySelector( '#chapter_media_image_default_old_' + this.$parent.$index + '_' + this.$index ) ).addClass('hidden');
    			angular.element( document.querySelector( '#chapter_media_file_default_old_' + this.$parent.$index + '_' + this.$index ) ).html('');

    			angular.element( document.querySelector( '#chapter_media_image_default_old_' + this.$parent.$index + '_' + this.$index ) ).attr('src', '');
    			angular.element( document.querySelector( '#chapter_media_image_default_old_' + this.$parent.$index + '_' + this.$index ) ).addClass('hidden');

        }

        $scope.newMediaContentIsLoaded = function(e){

            $scope.$apply(function() {
                angular.element( document.querySelector( '#chapter_media_image_' + $scope.media_content_default_txt + $scope.media_content_parent_index + '_' + $scope.media_content_index ) ).attr('src', e.target.result);
            });
        }

        $scope.selectMediaContent = function(parent_key, child_key, default_txt){
        	angular.element('#chapter_media_content_mediacontent_' + default_txt + parent_key + '_' +child_key).trigger('click');
        }

        /***** for edit page section start*******/

        <% @news_content_data   = JSON.parse(@news.news_contents.to_json(:include => [:media_contents])) %>

        $scope.add_description_default = <%= @news_content_data.to_json.html_safe %>;
        $scope.media_content_type_options = <%= MediaContent.filtered_types.to_json.html_safe %>;


    		/***** for edit page section end*********/

    });


    angular.bootstrap(document.getElementById("New_News"), ['New_News']);

    $(document).ready(function(){

/*****************Crop image code**********************/
     var flag = 0;
        $('#companylogoimage').on('load',function(){
             $('#cropimage').attr('src',$('#companylogoimage').attr('src'));
             var $image = $('#cropimage').attr('src');

              var cropBoxData;
              var canvasData;

              $('#modal_crop').on('shown.bs.modal', function () {
                    $('#cropimage').cropper({
                          autoCropArea: 0.5,
                          ready: function () {
                                $('#cropimage').cropper('setCanvasData', canvasData);
                                $('#cropimage').cropper('setCropBoxData', cropBoxData);
                            }
                    });
              }).on('hidden.bs.modal', function () {

                    cropBoxData = $('#cropimage').cropper('getCropBoxData');
                    canvasData  = $('#cropimage').cropper('getCanvasData');

                    var crop_w = '';
                    var crop_h = '';
                    var crop_x = '';
                    var crop_y = '';
                    var zoom_w = '';
                    var zoom_h = '';
                    var zoom_x = '';
                    var zoom_y = '';

                    if(flag == 0){

                        zoom_w = canvasData.width;
                        zoom_h = canvasData.height;
                        zoom_x = canvasData.left;
                        zoom_y = canvasData.top;
                        crop_w = cropBoxData.width;
                        crop_h = cropBoxData.height;
                        crop_x = cropBoxData.left;
                        crop_y = cropBoxData.top;

                        $('#crop_w').val(crop_w);
                        $('#crop_h').val(crop_h);
                        $('#crop_x').val(crop_x);
                        $('#crop_y').val(crop_y);
                        $('#zoom_w').val(zoom_w);
                        $('#zoom_h').val(zoom_h);
                        $('#zoom_x').val(zoom_x);
                        $('#zoom_y').val(zoom_y);

                    }

                    flag = 1;
                    $('#cropimage').cropper('destroy');
                });
        });

    <% category_arr = []
       sub_category_arr = []
    if params[:news].present?

        category_arr = params[:news][:category_id]
        sub_category_arr = params[:news][:sub_category_id]

    elsif params[:action] == 'edit'

        category_arr = @news[:category_id]
        sub_category_arr = @news[:sub_category_id]

    end
        if !category_arr.nil?
            category_arr.reject!{|a| a==""}
        end
        if !sub_category_arr.nil?
            sub_category_arr.reject!{|a| a==""}
        end
    %>

        var category_arr = <%= category_arr.to_json.html_safe %>;
        var sub_category_arr = <%= sub_category_arr.to_json.html_safe %>;

        get_sub_category_list(category_arr, sub_category_arr);

        $('#category').on('change',function(){
            category = $(this).val();
            get_sub_category_list(category, []);
            $("select#sub_sub_category").html('');
        });

        $('#sub_category').on('change',function(){
            sub_category = $(this).val();
        });

        function get_sub_category_list(category, selected_val){

            if (category !== null && category != ''){
                $.ajax({
                    type: "GET",
                    url: "/news/get_news_category_list",
                    data:{parent_id:category},
                    success: function(data){
                        var options = '';
                          for (var i = 0; i < data.length; i++) {

                            var selected = '';

                            if ($.inArray(data[i]['id'].toString(),selected_val) != -1){
                                selected = 'selected="selected"';
                            }

                            options += '<option value="' + data[i]['id'] + '" ' + selected + '>' + data[i]['name'] + '</option>';
                          }

                     $("select#sub_category").html(options);
                    }
                });
            }else{
                $("select#sub_category").html('');
            }
        }


        check_free();
        $('#rcfree').click(function(){
            check_free();
        });

        function check_free(){
           if($('#rcfree'). prop("checked") === true){
                $("#price").val('');
                $("#price").prop('disabled',true);
            }else{
                $("#price").prop('disabled',false);
            }
        }

    });

	$('#news_use_tag_from_previous_upload').click(function(){
		var previous_tags = <%= previous_tags.to_json.html_safe %>;

		if($(this). prop("checked") === true){
		    $( previous_tags ).each(function( index ) {
		        $("#tag").append($('<option>', {value: this, text: this}));
		    });
		    $('#tag option').prop('selected', true);
		}else{
		    $( previous_tags ).each(function( index ) {
		        $("#tag option[value='" + this + "']").remove();
		    });
		}

	});

    $(function () {
        $('#closing_date').datetimepicker({

            startDate: '-0d',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            dateFormat: 'mm-dd-yy',
            changeMonth: true,
            changeYear: true,
            yearRange: '-70:+10'
        });
    });


</script>
