<!-- Submenu Navigation -->
<section class="wip-navigation-wrap">
  <div class="navbar-default">
    <div class="container-fluid">
      <div class="row">
      
      <div class="col-md-3 col-sm-4 col-xs-9 header-search">
      <div class="input-group stylish-input-group">
          <input type="text" class="form-control"  placeholder="Search 520 000 3D models" >
          <span class="input-group-addon">
          <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
          </span> </div>
      </div>
      
      <div class="col-md-9 col-sm-8 col-xs-3 downloadpage">
      <div class="navbar-header"> <a class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> </div>
      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">All News</a></li>
          <li><a href="#">maya</a></li>
          <li><a href="#">3ds Max</a></li>
          <li><a href="#">Blender</a></li>
          <li><a href="#">ZBrush</a></li>
          <li><a href="#">Cinema 4D</a></li>
          <li><a href="#">Houdini</a></li>
          <li><a href="#">Arnold Render</a></li>
          <li><a href="#">V-Ray Render</a></li>
          <li><a href="#">Photoshop</a></li>
          <li><a href="#">RealFlow</a></li>
          <li><a href="#">more</a></li>
        </ul>
      </div>
      </div>
      
      </div>
    </div>
  </div>
</section>

<!--  Download Details Content -->
<section class="clearfix downloaddetailwrap">
  <div class="container">
    <h2>News</h2>
    <div class="downloadtxt">Get inspiration for your next digital masterpiece or discover <span class="hidden-xs"> professional 3D models for your project by browsing through our 3D model categories. Whether you're looking for a high-quality architectural 3D models or need a realistic 3D human character, we have a leading digital art library for all your needs. Click to discover!</span></div>
    <h3 class="text-uppercase">Popular Tags</h3>
    <ul>
      <li><a href="#">Free</a></li>
      <li><a href="#">Printable</a></li>
      <li><a href="#">Animated</a></li>
      <li><a href="#">Rigged</a></li>
      <li><a href="#">Low-poly</a></li>
      <li><a href="#">Cartoon</a></li>
      <li><a href="#">3Ds</a></li>
      <li><a href="#">MAX</a></li>
      <li><a href="#">C4D</a></li>
      <li><a href="#">OBJ</a></li>
    </ul>
  </div>
</section>

<!-- Download Indent Start -->
<section class="clearfix downloadpageindent">
  <div class="container">
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Aircraft</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage1.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Animals</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage2.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Architectural Details</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage3.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Architectural Exterior</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
             <%= image_tag("database/downloadpage4.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Architectural Interior</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage5.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Car</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage6.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Character / Human</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Electronics</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage1.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Food</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage2.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Furniture Set</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage3.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Household</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Aircraft</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage1.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Animals</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage2.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Architectural Details</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage3.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Architectural Exterior</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
             <%= image_tag("database/downloadpage4.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Architectural Interior</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage5.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Car</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage6.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Character / Human</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Electronics</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage1.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Food</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage2.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Furniture Set</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage3.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Household</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Aircraft</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage1.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Animals</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage2.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Architectural Details</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage3.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Architectural Exterior</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
             <%= image_tag("database/downloadpage4.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Architectural Interior</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage5.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Car</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage6.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Character / Human</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Electronics</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage1.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Food</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage2.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Furniture Set</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
    <div class="downcontent clearfix">
      <div class="clearfix padding15">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <center>
              <%= image_tag("database/downloadpage3.jpg", :alt=>"img", :class=>"img-responsive") %>
            </center>
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="down-title"><a href="#">Household</a> <span>3D Models</span></div>
            <div class="downloads-txt">Flying has never been cooler. If you're after a high-quality CG model of a plane, you came to the right place. Click and download a military <a href="#">helicopter</a> or an actual <a href="#">airplane</a> 3D object to tear the sky! Fancy exploring the future delivery techniques? Check out the <a href="#">drone</a> 3D models!</div>
          </div>
        </div>
      </div>
      <div class="clearfix downloadpagelink">
        <ul>
          <li><a href="#">Aircraft Part</a></li>
          <li><a href="#">Commercial</a></li>
          <li><a href="#">Helicopter</a></li>
          <li><a href="#">Historic</a></li>
          <li><a href="#">Jet</a></li>
          <li><a href="#">Military</a></li>
          <li><a href="#">Sport/Private</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
    </div>
  </div>
</section>


<footer class="footer clearfix padding">
  <%= render 'layouts/lastfooter' %>
</footer>