<!-- Submenu Navigation -->
<section class="wip-navigation-wrap">
<div class="navbar-default">
<div class="container-fluid">
<div class="row">
<div class="col-md-3 col-sm-4 col-xs-9 header-search">
  <div class="input-group stylish-input-group">
    <input type="text" class="form-control"  placeholder="Search 520 000 3D models" >
    <span class="input-group-addon">
    <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
    </span> </div>
</div>
<div class="col-md-9 col-sm-8 col-xs-3 downloadpage">
  <div class="navbar-header"> <a class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> </div>
  <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">All News</a></li>
      <li><a href="#">maya</a></li>
      <li><a href="#">3ds Max</a></li>
      <li><a href="#">Blender</a></li>
      <li><a href="#">ZBrush</a></li>
      <li><a href="#">Cinema 4D</a></li>
      <li><a href="#">Houdini</a></li>
      <li><a href="#">Arnold Render</a></li>
      <li><a href="#">V-Ray Render</a></li>
      <li><a href="#">Photoshop</a></li>
      <li><a href="#">RealFlow</a></li>
      <li><a href="#">more</a></li>
    </ul>
  </div>
</div>
</div>
</div>
</div>
</section>
<div class="clearfix download-post-bread hidden-xs">
<ul class="breadcrumb">
<li><a href="#">CGTrader</a></li>
<li><a href="#">3D Models</a></li>
<li><a href="#">Charachter</a></li>
<li><a href="#">Human</a></li>
<li><a href="#">Women</a></li>
<li class="active">Cartoon Sport Girl 2 3D model</li>
</ul>
</div>

<!--  Download Details Content -->
<section class="DownloadPostWrapper clearfix">
<div class="clearfix DownloadPostLeft">
<div class="clearfix">
<div class="youtubewrap">
<iframe width="100%" height="400" src="https://www.youtube.com/embed/6roIVjov4hw?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
</div>
</div>
<div class="comment-wrap clearfix">
<div class="gallerycomment">
<div class="gallery-title">CGI Animated Short Film HD: "Goutte d’Or Short Film" by Happy Flyfish </div>
<div class="clearfix row">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="combox"><%= image_tag("comment.jpg", :alt=>"Comment") %></div>
    <div class="comleft">The Gnomon Workshop
      <div class="clearfix">
        <button type="button" class="followbtnn"> Follow</button>
        <span class="followcomment">36,686</span></div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 text-right"><a href="#" class="view-txt"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Likes</a> <a href="" class="view-txt"><i class="fa fa-eye" aria-hidden="true"></i>2942</a> <a href="#" class="view-txt"><i class="fa fa-comment-o" aria-hidden="true"></i>115</a> </div>
</div>
<div class="bdr"></div>
<div class="clearfix row">
  <div class="col-md-6 col-sm-12 col-xs-12 share-txt"> <a href="#"><i class="fa fa-share" aria-hidden="true"></i> Share</a> <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Bookmark </a> <a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i> More</a> </div>
  <div class="col-md-6 col-sm-12 col-xs-12 text-right comright">
    <div class="clearfix">
      <div class="posts-price">$14 <span class="pricecut">$29</span> <span class="priceoff">30% off</span></div>
      <button type="button" class="likebtn border-radius marginR5">Take This Course</button>
      <button type="button" class="likebtn"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like</button>
      <span class="likecomment">258</span></div>
  </div>
</div>
</div>
<div class="clearfix coursetuotorial">
<h2>Published on Aug 21, 2014</h2>
<h3>ZBrush and Maya Rigging Pipeline Course - The Fire Ant!</h3>
<p>This course is not a training course as such it is a walk through of processes used to create a model in ZBrush and them import and rig it in Maya, this course will be particilary usefull for people trying to understand the work flow used for animatiing in 3D and how with used of Maps be able to again uderstand there use.</p>
<h3>What are the requirements?</h3>
<p>As this is instructional you would not necesarily need the software, however it would be good to have a Maya and ZBrush</p>
<h3>What am I going to get from this course?</h3>
<p>Main goal of this course is to show you how the pipelin of Maya ZBrush works together<br>
  Gain insightful knowledge of lots of the tools in ZBrush and Maya<br>
  As this is instructional you would not necesarily need the software</p>
<h3>What are the requirements?</h3>
<p>As this is instructional you would not necesarily need the software, however it would be good to have a Maya and ZBrush</p>
</div>
<div class="lessonstutorial clearfix">
<h2>Lessons in this tutorial <%= image_tag("sociall-follow1.jpg", :alt=>"Social", :class=>"pull-right") %></h2>
<ul>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("message-profile4.jpg", :alt=>"img") %> 1. Course Overview</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("user2.jpg", :alt=>"img") %> 2. Intro to Rendr Settings in Renderman RIS</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("noti-profile.jpg", :alt=>"img") %> 3. Intro to TT Window in Renderman</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("message-profile4.jpg", :alt=>"img") %> 4. Course Overview</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("user2.jpg", :alt=>"img") %> 5. Intro to Rendr Settings in Renderman RIS</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("noti-profile.jpg", :alt=>"img") %> 6. Intro to TT Window in Renderman</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("message-profile4.jpg", :alt=>"img") %> 7. Course Overview</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("user2.jpg", :alt=>"img") %> 8. Intro to Rendr Settings in Renderman RIS</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("noti-profile.jpg", :alt=>"img") %> 9. Intro to TT Window in Renderman</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("message-profile4.jpg", :alt=>"img") %> 10. Course Overview</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("user2.jpg", :alt=>"img") %> 11. Intro to Rendr Settings in Renderman RIS</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("noti-profile.jpg", :alt=>"img") %> 12. Intro to TT Window in Renderman</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("message-profile4.jpg", :alt=>"img") %> 13. Course Overview</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("user2.jpg", :alt=>"img") %> 14. Intro to Rendr Settings in Renderman RIS</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("noti-profile.jpg", :alt=>"img") %> 15. Intro to TT Window in Renderman</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("message-profile4.jpg", :alt=>"img") %> 16. Course Overview</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("user2.jpg", :alt=>"img") %> 17. Intro to Rendr Settings in Renderman RIS</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("noti-profile.jpg", :alt=>"img") %> 18. Intro to TT Window in Renderman</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("message-profile4.jpg", :alt=>"img") %> 19 Course Overview</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("user2.jpg", :alt=>"img") %> 20. Intro to Rendr Settings in Renderman RIS</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("noti-profile.jpg", :alt=>"img") %> 21. Intro to TT Window in Renderman</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("message-profile4.jpg", :alt=>"img") %> 22. Course Overview</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("user2.jpg", :alt=>"img") %> 23. Intro to Rendr Settings in Renderman RIS</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("noti-profile.jpg", :alt=>"img") %> 24. Intro to TT Window in Renderman</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("message-profile4.jpg", :alt=>"img") %> 25. Course Overview</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("user2.jpg", :alt=>"img") %> 26. Intro to Rendr Settings in Renderman RIS</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("noti-profile.jpg", :alt=>"img") %> 27. Intro to TT Window in Renderman</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("message-profile4.jpg", :alt=>"img") %> 28. Course Overview</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("user2.jpg", :alt=>"img") %> 29. Intro to Rendr Settings in Renderman RIS</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
  <li class="clearfix">
    <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-7 lessonbox"><%= image_tag("noti-profile.jpg", :alt=>"img") %> 30. Intro to TT Window in Renderman</div>
      <div class="col-md-3 col-sm-3 col-xs-3 text-right watch-txt"><a href="#">Wath it now <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
      <div class="col-md-1 col-sm-2 col-xs-2 text-right time-txt">01:02</div>
    </div>
  </li>
</ul>
</div>
<div class="wipdetailtag publishwrap">
<div class="marginB10 publish-txt"> <span class="txt-white"><strong>Category:</strong> </span> <a href="#">Flim &amp; Animation</a> </div>
<div class="marginB10 publish-txt"> <span class="txt-white"><strong>Tags:</strong> </span> 3d, model, female, maya, rigged, free download, download, 3d model, obj </div>
<div class="marginB10 publish-txt"><span class="txt-white"><strong>Software Used: </strong></span> <span class="softb"><img src="images/soft.jpg" class="img-rounded" alt="Software"></span> 3ds Max <span class="softb"><img src="images/ps.jpg" class="img-rounded" alt="Software"></span> Photoshop <span class="softb"><img src="images/Keyshot.jpg" class="img-rounded" alt="Software"></span> Keyshot</div>
</div>
<div class="clearfix SimilarPost">
<h2 class="marginB15">Others who watched this also recommend:</h2>
<div class="clearfix download-post">
  <div class="clearfix">
    <ul>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="watched-txt"><span>Painting Metal Armor fo Production in MARI</span> </div>
          <div class="clearfix down-name"><span class="marginR5"><i class="fa fa-eye" aria-hidden="true"></i> 12,324 watched</span> <span class="marginL5"><i class="fa fa-bookmark" aria-hidden="true"></i> 90 added</span> </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials1.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="watched-txt"><span>Painting Metal Armor fo Production in MARI</span> </div>
          <div class="clearfix down-name"><span class="marginR5"><i class="fa fa-eye" aria-hidden="true"></i> 12,324 watched</span> <span class="marginL5"><i class="fa fa-bookmark" aria-hidden="true"></i> 90 added</span> </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials2.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="watched-txt"><span>Painting Metal Armor fo Production in MARI</span> </div>
          <div class="clearfix down-name"><span class="marginR5"><i class="fa fa-eye" aria-hidden="true"></i> 12,324 watched</span> <span class="marginL5"><i class="fa fa-bookmark" aria-hidden="true"></i> 90 added</span> </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials3.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="watched-txt"><span>Painting Metal Armor fo Production in MARI</span> </div>
          <div class="clearfix down-name"><span class="marginR5"><i class="fa fa-eye" aria-hidden="true"></i> 12,324 watched</span> <span class="marginL5"><i class="fa fa-bookmark" aria-hidden="true"></i> 90 added</span> </div>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>
</div>
</div>
<div class="DownloadPostRight clearfix">
<div class="post-price marginB10">$49.00</div>
<div class="offer-price marginB10"><%= image_tag("hand-icon.png", :class=>"marginR5", :alt=>"Hand") %> Offer your price</div>
<div class="clearfix marginB15"> <a href="#" class="blue-btn"><i class="fa fa-shopping-cart marginR5" aria-hidden="true"></i> Add to cart</a> <a href="#" class="red-btn border-radius"><i class="fa fa-shopping-bag marginR5" aria-hidden="true"></i> Buy Now</a> </div>
<div class="product-rating marginB15">Product Rating <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i></div>
<div class="clearfix download-cupon">
<ul>
<li><a href="#">Redeem a Coupon</a></li>
<li><a href="#">Start Free Preview</a></li>
<li class="dropdown"><a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown">More Options <i class="fa fa-caret-down marginL5" aria-hidden="true"></i></a>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</li>
</ul>
</div>
<div class="clearfix WishlistHome">
<ul>
<li class="row">
  <div class="col-md-4 col-sm-4 col-xs-4">Lectures</div>
  <div class="col-md-8 col-sm-8 col-xs-8 wishlist-txt">23</div>
</li>
<li class="row">
  <div class="col-md-4 col-sm-4 col-xs-4">Video</div>
  <div class="col-md-8 col-sm-8 col-xs-8 wishlist-txt">2 hours</div>
</li>
<li class="row">
  <div class="col-md-4 col-sm-4 col-xs-4">Skill Level</div>
  <div class="col-md-8 col-sm-8 col-xs-8 wishlist-txt">All Levels</div>
</li>
<li class="row">
  <div class="col-md-4 col-sm-4 col-xs-4">Languages</div>
  <div class="col-md-8 col-sm-8 col-xs-8 wishlist-txt">English</div>
</li>
<li class="row">
  <div class="col-md-4 col-sm-4 col-xs-4">Includes</div>
  <div class="col-md-8 col-sm-8 col-xs-8 wishlist-txt">Lifetime access 30 day money back guarantee! Available on iOS and Android Certificate of Completion</div>
</li>
</ul>
</div>
<div class="clearfix featuredpost">
<h2>Featured</h2>
<ul>
<li class="clearfix">
  <div class="col-md-5 col-sm-5 col-xs-5">
    <div class="video-timeline">3:11</div>
    <%= image_tag("video3.jpg", :class=>"img-responsive", :alt=>"Video") %></div>
  <div class="col-md-7 col-sm-7 col-xs-7 videopost">
    <h2 class="margin"><a href="#">PK VFX BREAKDOWN 2015</a></h2>
    <p>by Riva Animation and VFX</p>
    <p>71,063 views</p>
  </div>
</li>
<li class="clearfix">
  <div class="col-md-5 col-sm-5 col-xs-5">
    <div class="video-timeline">3:11</div>
    <%= image_tag("video2.jpg", :class=>"img-responsive", :alt=>"Video") %></div>
  <div class="col-md-7 col-sm-7 col-xs-7 videopost">
    <h2 class="margin"><a href="#">Iron Man 3 VFX Breakdown by</a></h2>
    <p>by Riva Animation and VFX</p>
    <p>71,063 views</p>
  </div>
</li>
<li class="clearfix">
  <div class="col-md-5 col-sm-5 col-xs-5">
    <div class="video-timeline">3:11</div>
    <%= image_tag("video3.jpg", :class=>"img-responsive", :alt=>"Video") %></div>
  <div class="col-md-7 col-sm-7 col-xs-7 videopost">
    <h2 class="margin"><a href="#">Iron Man 3 VFX Breakdown by</a></h2>
    <p>by Riva Animation and VFX</p>
    <p>71,063 views</p>
  </div>
</li>
<li class="clearfix">
  <div class="col-md-5 col-sm-5 col-xs-5">
    <div class="video-timeline">3:11</div>
    <%= image_tag("video2.jpg", :class=>"img-responsive", :alt=>"Video") %></div>
  <div class="col-md-7 col-sm-7 col-xs-7 videopost">
    <h2 class="margin"><a href="#">Iron Man 3 VFX Breakdown by</a></h2>
    <p>by Riva Animation and VFX</p>
    <p>71,063 views</p>
  </div>
</li>
<li class="clearfix">
  <div class="col-md-5 col-sm-5 col-xs-5">
    <div class="video-timeline">3:11</div>
    <%= image_tag("video3.jpg", :class=>"img-responsive", :alt=>"Video") %></div>
  <div class="col-md-7 col-sm-7 col-xs-7 videopost">
    <h2 class="margin"><a href="#">Iron Man 3 VFX Breakdown by</a></h2>
    <p>by Riva Animation and VFX</p>
    <p>71,063 views</p>
  </div>
</li>
<li class="clearfix">
  <div class="col-md-5 col-sm-5 col-xs-5">
    <div class="video-timeline">3:11</div>
    <%= image_tag("video2.jpg", :class=>"img-responsive", :alt=>"Video") %></div>
  <div class="col-md-7 col-sm-7 col-xs-7 videopost">
    <h2 class="margin"><a href="#">Iron Man 3 VFX Breakdown by</a></h2>
    <p>by Riva Animation and VFX</p>
    <p>71,063 views</p>
  </div>
</li>
<li class="clearfix">
  <div class="col-md-5 col-sm-5 col-xs-5">
    <div class="video-timeline">3:11</div>
    <%= image_tag("video3.jpg", :class=>"img-responsive", :alt=>"Video") %></div>
  <div class="col-md-7 col-sm-7 col-xs-7 videopost">
    <h2 class="margin"><a href="#">Iron Man 3 VFX Breakdown by</a></h2>
    <p>by Riva Animation and VFX</p>
    <p>71,063 views</p>
  </div>
</li>
<li class="clearfix">
  <div class="col-md-5 col-sm-5 col-xs-5">
    <div class="video-timeline">3:11</div>
    <%= image_tag("video2.jpg", :class=>"img-responsive", :alt=>"Video") %></div>
  <div class="col-md-7 col-sm-7 col-xs-7 videopost">
    <h2 class="margin"><a href="#">Iron Man 3 VFX Breakdown by</a></h2>
    <p>by Riva Animation and VFX</p>
    <p>71,063 views</p>
  </div>
</li>
</ul>
</div>
<div class="friendsbox"><%= image_tag("google-ad1.jpg", :class=>"img-responsive", :alt=>"Google Ad") %> </div>
<div class="aside marginB15">
<div class="wiphome clearfix proswrap">
<h2>Wants Critique</h2>
<ul class="margin">
  <li class="lists"><a href="#"><%= image_tag("database/mioree-riven-2016.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/mioree-3f71e1d9e907c6965bd7e7485e27e145-d7nmi4l.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/mioree-sailor-moon-2016-recovered.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/mioree-satsuki-the-queen-by-pieder-d7i0no4.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/mioree-child-of-light-becoming-by-pieder-d7isd6a.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/mioree-meg-2016-for-amethylia.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/mioree-snape.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/mioree-ana.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/mioree-silas-sall.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
</ul>
</div>
</div>
</div>
</section>
<footer class="footer clearfix padding">
  <%= render 'layouts/lastfooter' %>
</footer>