<div id="myApp2" ng-app="myApp"  ng-controller="myCtrl">
<!-- Submenu Navigation -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5895a76640dc4c96"></script>
<section class="wip-navigation-wrap">
<div class="navbar-default">
<div class="container-fluid">
<div class="row">
<div class="col-md-3 col-sm-4 col-xs-9 header-search">
 
    
    
</div>
<div class="col-md-9 col-sm-8 col-xs-3 downloadpage">
  <div class="navbar-header"> <a class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> </div>
  <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                <li class="active"><a href="/news/all">All News</a></li>
                <li ng-repeat="topic in TopicsTypeList track by $index"><a href="/news/{{topic.slug}}">{{topic.name}}</a></li>
              
              </ul>
            </div>
</div>
</div>
</div>
</div>
</section>
<div class="clearfix download-post-bread hidden-xs">
<ul class="breadcrumb">
<li><a href="/news">News</a></li>
<li class="active">{{news_data.title}}</li>
</ul>
</div>

<!--  Download Details Content -->
<section class="DownloadPostWrapper clearfix">
<div class="clearfix DownloadPostLeft">
<div class="clearfix">
</div>
<div class="comment-wrap clearfix">


<div class="lessonstutorial clearfix">
</div>
<div class="wipdetailtag publishwrap">
<div class="marginB10 publish-txt">
   <div ng-repeat="pane in media_contentsNews">

   <h1 style="color: #FFF"  class="marginB15">{{pane.title}}</h1>
      <div ng-repeat="Mc in pane.media_contents">
      
            <div ng-if="Mc.media_type=='Upload Zip'">
                 <div class="youtubewrap">
                     <a href="{{Mc.mediacontent.url}}" class="download-new-mar">Download Zip</a>&nbsp;&nbsp;
                      <span style="color: #FFF;">
                           {{Mc.mediacontent.url.split("/")[Mc.mediacontent.url.split("/").length-1]}}
                      </span> 
                 </div>
            </div>
             <div ng-if="Mc.media_type=='Description'">
                  <div class="youtubewrap" ng-bind-html="Mc.media_description"></div>
             </div>
             <div ng-if="Mc.media_type=='Upload Image'">
                         <div class="youtubewrap">
                           <img src="{{Mc.mediacontent.url}}" class="img-responsive" alt="img"> 
                          </div>
             </div>

             <div ng-if="Mc.media_type=='Upload Video'">
                 <div class="youtubewrap">
                   <iframe width="700px" height="450px"  frameborder="0"  ng-src="{{setTrustUrl(Mc.mediacontent.url)}}" allowfullscreen></iframe>
                 </div>
            </div>
            <div ng-if="Mc.media_type=='Video Url'">
                        <span ng-if="ifYoutube(Mc.Video_Url);">
                        <div class="youtubewrap">
                        <iframe width="100%" height="400" ng-src="{{Mc.media_description}}" frameborder="0" allowfullscreen>
                        </iframe>
                       </div>
                        </span>
                        <span ng-if="!ifYoutube(Mc.Video_Url)">

                          <div class="youtubewrap">
                        <iframe width="100%" height="400" ng-src="{{Mc.media_description}}" frameborder="0" allowfullscreen>
                        </iframe>
                        
                       </div>
                        </span>
            </div>
                      
            <div ng-if="Mc.media_type=='Sketchfab Url'">
                          <div class="youtubewrap" ng-init="ScetchFebData(Mc.id,Mc.media_description)">
                            <div id="sketch_span_{{Mc.id}}"></div>
                          </div>
                        
            </div>
            <div ng-if="Mc.media_type=='Upload Marmoset'" style="position: relative;">
                          <div class="youtubewrap" ng-init="MarmosetFebData(Mc.id,Mc.mediacontent.url)">
                            <div class="video-marmoset" id="marmoset_span_marmoset_span_{{Mc.id}}"></div>
                      
                          </div>
            </div>
      </div>
   </div>

</div>
</div>


<div class="lessonstutorial clearfix">
<div class="addthis_inline_share_toolbox_xe0e">
      
    </div>
</div>
<div class="wipdetailtag publishwrap">
<div class="marginB10 publish-txt"> 
<span class="txt-white"><strong>Category:</strong> </span> 
<a ng-repeat="cat in category_data" href="#">{{cat.name}} &nbsp;</a> 
</div>
<div class="marginB10 publish-txt"> <span class="txt-white"><strong>Tags:</strong> </span>
&nbsp;<span ng-repeat="tag in tag_data">
    {{tag.tag}}&nbsp;
</span>
 </div>
<div class="marginB10 publish-txt">

<span class="txt-white"><strong>Software Used: </strong></span> 
<span ng-repeat="soft in software_used_name" class="softb">
<img src="{{soft.image.software_used.url}}" class="img-rounded" alt="Software">
{{soft.name}}
</span> 

</div>
</div>
<div class="clearfix SimilarPost">
<h2 class="marginB15">Others who watched this also recommend:</h2>
<div class="clearfix download-post">
  <div class="clearfix">
    <ul>
      <li class="clearfix" ng-repeat="sim in similar_news">
        <div class="downwrap">
        <a href="/news/{{sim.paramlink}}/show">
        <img src="{{sim.company_logo.medium.url}}" class="img-responsive"></a>
        </div>
        <div class="padding10 clearfix">
          <div class="watched-txt">
          <a href="/news/{{sim.paramlink}}/show"> <span>{{sim.title}}</span> </a>
          </div>
          <div class="clearfix down-name">
          <span class="marginR5"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{sim.view_count}} watched</span> <span class="marginL5"><i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;{{sim.like_count}}</span> </div>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>
</div>
</div>
<div class="DownloadPostRight clearfix">

<div class="clearfix featuredpost">
<h2>Featured</h2>
<ul>
<li ng-repeat="Ft in featured_news" class="clearfix">
  <div class="col-md-5 col-sm-5 col-xs-5">
   <!--  <div class="video-timeline">3:11</div> -->
  <a href="/news/{{Ft.paramlink}}/show">  <img src="{{Ft.company_logo.medium.url}}" class="img-responsive" alt="Video"></a>
  </div>
  <div class="col-md-7 col-sm-7 col-xs-7 videopost">
    <h2 class="margin"><a href="/news/{{Ft.paramlink}}/show">{{Ft.title}}</a></h2>
     <p ng-if="Ft.is_admin=='Y'">Admin</p>
     <p ng-if="Ft.is_admin=='N'">{{Ft.user.firstname}} {{Ft.user.lastname}}</p>
    <p>{{Ft.view_count}} views</p>
  </div>
</li>

</ul> 
</div>
<div class="friendsbox"><%= image_tag("google-ad1.jpg", :class=>"img-responsive", :alt=>"Google Ad") %> </div>
<div class="aside marginB15">
<div class="wiphome clearfix proswrap">
<h2>Wants Critique</h2>
<ul class="margin">
  <li class="lists"><a href="#"><%= image_tag("database/mioree-riven-2016.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/mioree-3f71e1d9e907c6965bd7e7485e27e145-d7nmi4l.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/mioree-sailor-moon-2016-recovered.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/mioree-satsuki-the-queen-by-pieder-d7i0no4.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/mioree-child-of-light-becoming-by-pieder-d7isd6a.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/mioree-meg-2016-for-amethylia.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/mioree-snape.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/mioree-ana.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/mioree-silas-sall.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
</ul>
</div>
</div>
</div>
<div class="modal fade default-popup" id="bookmarkModal" tabindex="-1" role="dialog" aria-labelledby="bookmarkModalLabel">
      <div class="modal-dialog" role="document">
    <!--    <%#= form_for(@collection, :html => {:id => 'bookmark_form_popup'}, :url => create_collection_path) do |f|
         %> -->
         <%= form_for(@collection, :html => {:id => 'bookmark_form_popup'}, :url => 'javascript:void(0);') do |f|
         %>
         <%= f.hidden_field :news_id, value: @news_data.id %>
          <div class="modal-content">
            <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal"></button>
              <h4 class="modal-title" id="exampleModalLabel">Add product to collection</h4>
            </div>
            <div class="modal-body">
            
                <div class="form-group">
                  <label for="recipient-name" class="control-label">Collection Name:</label>
                  <%= f.text_field :title, :autofocus => true, :placeholder => "Collection Name", class:"form-control", :type => 'text' %>
                  <span class="err-msg" id='bookmark_error_msg'><%= form_error_msg_for(@collection,:title, "Collection") %></span>
                </div>
               
                <div id='get_already_collection'></div>
    
            </div>
            <div class="modal-footer">
              <button type="button" class="lightbtn" data-dismiss="modal">Close</button>
              <button type="submit" class="lightbtn">Create</button>
            </div>
          </div>
        <% end %>  


      </div>
    </div>
</section>
</div>
<footer class="footer clearfix padding">
  <%= render 'layouts/lastfooter' %>
</footer>

<script type="text/javascript">
var app = angular.module('myApp', ["angularUtils.directives.dirPagination",
  "ngSanitize","angularLazyImg","MainModule","vAccordion", "ngAnimate"]);
 
    app.config(['$qProvider', function ($qProvider) {
    $qProvider.errorOnUnhandledRejections(false);
    }]);   

app.controller('myCtrl', function($scope,Cart,$rootScope,$sce,$location, $http) {


      $scope.ScetchFebData = function(id,data)
    {
      var HtmlApi = "https://sketchfab.com/oembed?url="+data+"&maxwidth=700&maxheight=450&dataType=jsonp";

        $.getJSON(HtmlApi,{ajax: 'true'},
          function(response){
                $('#sketch_span_'+id).html(response.html);
        });
    }
    $scope.MarmosetFebData =function(id,data)
    {
            setTimeout(function() {
                var myviewer = new marmoset.WebViewer( 890, 650, data );
                $('#marmoset_span_marmoset_span_'+id).html(myviewer.domRoot);
            }, 1000);
    }
    $scope.ifYoutube = function(url)
    {
      try{
         var video_id = url.split('v=')[1].split('&')[0];
         if(video_id!=undefined)
         {
          return true;

         }
         else
         {
          return false;
         }
               
         }
      catch(ex)
      {
         return false
      }
    }
    $scope.ifVimeo = function(url)
    {
      var match = /vimeo.*\/(\d+)/i.exec( url );
      if ( match ) 
      {
        var VideoURI = "https://player.vimeo.com/video/"+match[1];
        return $sce.trustAsResourceUrl(VideoURI);
      }
    }
    $scope.setTrustUrl = function(data)
    {
      return $sce.trustAsResourceUrl(data);
    }

     $http.get('/news/get_news_category_list').then(function(response){
      $scope.TopicsTypeList = response.data;
     });

     download1  = "<%= @paramlink %>"
     var uRl = '/get_news_info/'+download1;
         $http.get(uRl).then(function (response) {
              $scope.news_data = response.data.news_data;
              $scope.featured_news = response.data.featured_news;
              $scope.similar_news = response.data.similar_news;
              $scope.tag_data = response.data.tag_data;
              $scope.category_data = response.data.category_data;
              $scope.software_used_name = response.data.software_used_name;
              $scope.similar_news = response.data.similar_news;
              $scope.featured_news = response.data.featured_news;
              $scope.media_contentsNews = response.data.news_content_data;

              angular.forEach($scope.media_contentsNews, function(v, k){ 
                angular.forEach(v.media_contents, function(value1, key1){ 
                 
                  if(value1.media_type=='Video Url')
                  {

                    value1.Video_Url = value1.media_description;

                  try
                  {
                    var video_id = value1.Video_Url.split('v=')[1].split('&')[0];
                   
                    if(video_id!=undefined)
                    {

                    var updateUrl = 'https://www.youtube.com/embed/'+video_id;
                    value1.media_description = $sce.trustAsResourceUrl(updateUrl);
                    }

                  }
                   catch(ex)
                    {
                     value1.media_description = $sce.trustAsResourceUrl(value1.media_description);

                     var match = /vimeo.*\/(\d+)/i.exec( value1.Video_Url );
                      if ( match ) 
                      {
                        var VideoURI = "https://player.vimeo.com/video/"+match[1];
                        value1.media_description = $sce.trustAsResourceUrl(VideoURI);
                      }
                    }

                  }
                });
              });
        });

});
  angular.bootstrap(document.getElementById("myApp2"), ['myApp']);
</script>

<script type="text/javascript">
  
$(document).ready(function(){
  $.ajax({
        type: "post",
        url: "<%= news_save_view_count_path %>" ,
        data: {'news_id': '<%= @news_data.id %>'},
        success: function(data){
        }
    });
});

</script>