<!-- All Dashboard Start -->
<section class="clearfix container-fluid-full">
<div class="row-fluid">
<div class="sidebar-left">
<%= render 'layouts/navigation' %>
</div>
<div class="content clearfix">
<div class="submenutabs-dashboard clearfix margin">
  <%= render 'layouts/dashboard_feed' %>
</div>
<!-- User Followers Start -->
<section class="clearfix notificationwrap">
  <div class="clearfix notification-heading"> <span class="noti-title" style="border:none;">All Activity</span> </div>
  <div class="clearfix">
    <div class="notification-wrap clearfix col-sm-12 col-xs-12">
      <div class="row">
      <%
        if @latestactivity_data.present?
            @latestactivity_data.each_with_index do |value, index|  
             #abort(value.to_json)
        %>    

        <div class="clearfix notification-indent marginB15">
          <div class="clearfix marginB15 noti-comment">
            <div class="notileft"><%= image_tag(value.user_detail.image.user_activity.url :alt => "Notification") %></div>
            <div class="notiright">
              <div class="marginB10 paddinT10">
              <span class="blue-txt">
                  <% if value.section_type == "Download" %>
                       <a href="<%= artist_profile_path (value.user_detail.username) %>"><%= value.user_detail.present? ? value.user_detail.firstname+" "+value.user_detail.lastname : '' %> </a></span> has <%= value.activity_type %> product<%#= value.section_type.present? ? value.section_type : 'artwork' %> <span class="blue-txt"><a href='downloads/<%= value.download.paramlink %>/show'><%= value.download.present? ? value.download.title : '' %></a>
                  <% elsif value.section_type == "Tutorial"  %>
                        <a href="<%= artist_profile_path (value.user_detail.username) %>"><%= value.user_detail.present? ? value.user_detail.firstname+" "+value.user_detail.lastname : '' %> </a></span> has <%= value.activity_type %> tutorial<%#= value.section_type.present? ? value.section_type : 'artwork' %> <span class="blue-txt"><a href='tutorials/<%= value.tutorials.paramlink %>/show'><%= value.tutorials.present? ? value.tutorials.title : '' %></a>

                  <% else %>
                        <a href="<%= artist_profile_path (value.user_detail.username) %>"><%= value.user_detail.present? ? value.user_detail.firstname+" "+value.user_detail.lastname : '' %> </a></span> has <%= value.activity_type %> <%= value.section_type.present? ? value.section_type : 'artwork' %> <span class="blue-txt"><a href='/dashboard/projects/<%= value.gallery.paramlink %>/show'><%= value.gallery.present? ? value.gallery.title : '' %></a>
                  <% end %>   
              
              </span></div>
            </div>
          </div>
          <div class="notification-profile clearfix">
            <% if value.section_type == "Download" %>
			         <%= image_tag(value.download.company_logo.art_activity.url, :alt => "Activity",:class=>"img-responsive") %>
            <% elsif value.section_type == "Tutorial" %>
                <%= image_tag(value.tutorial.company_logo.art_activity.url, :alt => "Activity",:class=>"img-responsive") %>
            <% else %>
               <%= image_tag(value.gallery.company_logo.art_activity.url, :alt => "Activity",:class=>"img-responsive") %>
            <% end %>   
			</div>
          <div class="activity-profile clearfix"> <span class="pull-left marginR5">
			  
        <%= image_tag(value.artist_detail.image.user_activity.url, :alt => "Activity Profile",:class=>"img-responsive") %></span> <span class="pull-left marginL5 paddinT5">
            <div class="blue-txt"><a href="<%= artist_profile_path (value.artist_detail.username) %>"><%= value.artist_detail.present? ? value.artist_detail.firstname+" "+value.artist_detail.lastname : '' %> </a></div>
           <%= value.artist_detail.professional_headline %> </span> </div>
         <!--  <div class="desert-title">Desert worker speedmodel</div> -->
          <div class="activity-txt">
           <% if value.section_type == "Download" %>
              <%= value.download.present? ? value.download.description.html_safe : '' %>
            <% elsif value.section_type == "Tutorial" %>
               <%= value.tutorial.present? ? value.tutorial.description.html_safe : '' %>
            <% else %>
                <%= value.gallery.present? ? value.gallery.description.html_safe : '' %>
            <% end %>  

         
          </div>


          <div class="activity-txt"><em>Posted <%= time_ago_in_words(value.created_at) %> ago</em></div>
          <div class="clearfix marginB15">
            <div class="col-md-3 col-sm-4 col-xs-3 padding">
            <% if value.section_type == "Download" %>
                <script>
                    $(document).ready(function(){
                        $.ajax({
                            type: "post",
                            url: "<%= check_downloadsave_like_path %>" ,
                            data: {'download_id': '<%= value.download.id %>'},
                            success: function(data){
                                if(data.res == 1) {
                                  $('#post_like_button_'+<%= value.download.id %>+'_'+<%= value.download.user_id %>+'_'+<%= value.id %>+'_download').addClass('hidden');
                                  $('#post_dislike_button_'+<%= value.download.id %>+'_'+<%= value.download.user_id %>+'_'+<%= value.id %>+'_download').removeClass('hidden');
                                }else{
                                  $('#post_like_button_'+<%= value.download.id %>+'_'+<%= value.download.user_id %>+'_'+<%= value.id %>+'_download').removeClass('hidden');
                                  $('#post_dislike_button_'+<%= value.download.id %>+'_'+<%= value.download.user_id %>+'_'+<%= value.id %>+'_download').addClass('hidden');
                                }
                            }
                        });

                        $.ajax({
                            type: "post",
                            url: "<%= get_like_comment_view_download_path %>" ,
                            data: {'download_id': '<%= value.download.id %>'},
                           success: function(data){
                         
                                  $('#like_<%= value.download.id %>_<%= value.id %>_download').html('<i aria-hidden="true" class="fa fa-thumbs-up marginR5"></i> '+data['downloadlike']);
                                  $('#comment_<%= value.download.id %>_<%= value.id %>_download').html('<i aria-hidden="true" class="fa fa-comments marginR5"></i> '+data['downloadcomment']);
                                 
                                  $('#view_<%= value.download.id %>_<%= value.id %>_download').html('<i aria-hidden="true" class="fa fa-eye marginR5"></i> '+data['downloadview']);
                            }
                        });
                    });


                </script>
              <% elsif value.section_type == "Tutorial" %>

                  <script>
                    $(document).ready(function(){
                        $.ajax({
                            type: "post",
                            url: "<%= check_tutorialsave_like_path %>" ,
                            data: {'download_id': '<%= value.tutorial.id %>'},
                            success: function(data){
                                if(data.res == 1) {
                                  $('#post_like_button_'+<%= value.tutorial.id %>+'_'+<%= value.tutorial.user_id %>+'_'+<%= value.id %>+'_tutorial').addClass('hidden');
                                  $('#post_dislike_button_'+<%= value.tutorial.id %>+'_'+<%= value.tutorial.user_id %>+'_'+<%= value.id %>+'_tutorial').removeClass('hidden');
                                }else{
                                  $('#post_like_button_'+<%= value.tutorial.id %>+'_'+<%= value.tutorial.user_id %>+'_'+<%= value.id %>+'_tutorial').removeClass('hidden');
                                  $('#post_dislike_button_'+<%= value.tutorial.id %>+'_'+<%= value.tutorial.user_id %>+'_'+<%= value.id %>+'_tutorial').addClass('hidden');
                                }
                            }
                        });

                        $.ajax({
                            type: "post",
                            url: "<%= get_like_comment_view_tutorial_path %>" ,
                            data: {'tutorial_id': '<%= value.tutorial.id %>'},
                           success: function(data){
                         
                                  $('#like_<%= value.tutorial.id %>_<%= value.id %>_tutorial').html('<i aria-hidden="true" class="fa fa-thumbs-up marginR5"></i> '+data['tutoriallike']);
                                  $('#comment_<%= value.tutorial.id %>_<%= value.id %>_tutorial').html('<i aria-hidden="true" class="fa fa-comments marginR5"></i> '+data['tutorialcomment']);
                                 
                                  $('#view_<%= value.tutorial.id %>_<%= value.id %>_tutorial').html('<i aria-hidden="true" class="fa fa-eye marginR5"></i> '+data['tutorialview']);
                            }
                        });
                    });


                </script>

              <% else %>
                <script>
                    $(document).ready(function(){
                        $.ajax({
                            type: "post",
                            url: "<%= check_save_like_path %>" ,
                            data: {'gallery_id': '<%= value.gallery.id %>','artist_id': '<%= value.gallery.user_id %>'},
                            success: function(data){
                                if(data.res == 1) {
                                  $('#post_like_button_'+<%= value.gallery.id %>+'_'+<%= value.gallery.user_id %>+'_'+<%= value.id %>+'_gallery').addClass('hidden');
                                  $('#post_dislike_button_'+<%= value.gallery.id %>+'_'+<%= value.gallery.user_id %>+'_'+<%= value.id %>+'_gallery').removeClass('hidden');
                                }else{
                                  $('#post_like_button_'+<%= value.gallery.id %>+'_'+<%= value.gallery.user_id %>+'_'+<%= value.id %>+'_gallery').removeClass('hidden');
                                  $('#post_dislike_button_'+<%= value.gallery.id %>+'_'+<%= value.gallery.user_id %>+'_'+<%= value.id %>+'_gallery').addClass('hidden');
                                }
                            }
                        });

                        $.ajax({
                            type: "post",
                            url: "<%= get_like_comment_view_gallery_path %>" ,
                            data: {'gallery_id': '<%= value.gallery.id %>'},
                           success: function(data){
                          
                                  $('#like_<%= value.gallery.id %>_<%= value.id %>_gallery').html('<i aria-hidden="true" class="fa fa-thumbs-up marginR5"></i> '+data['gallerylike']);
                                  $('#comment_<%= value.gallery.id %>_<%= value.id %>_gallery').html('<i aria-hidden="true" class="fa fa-comments marginR5"></i> '+data['gallerycomment']);
                                 
                                  $('#view_<%= value.gallery.id %>_<%= value.id %>_gallery').html('<i aria-hidden="true" class="fa fa-eye marginR5"></i> '+data['galleryview']);
                            }
                        });
                    });


                </script>

              <% end %>  
              <% if value.section_type == "Download" %>
                  <button title = "<%= value.section_type %>" id='post_like_button_<%= value.download.id %>_<%= value.download.user_id %>_<%= value.id %>_download' class="green-btn" type="button"><i class="fa fa-thumbs-up marginR5" aria-hidden="true"></i>Like</button>
                 
                   <button title = "<%= value.section_type %>" id='post_dislike_button_<%= value.download.id %>_<%= value.download.user_id %>_<%= value.id %>_download' class="green-btn hidden" type="button"><i class="fa fa-check marginR5" aria-hidden="true"></i>Liked</button>   
              <% elsif value.section_type == "Tutorial" %>
                  <button title = "<%= value.section_type %>" id='post_like_button_<%= value.tutorial.id %>_<%= value.tutorial.user_id %>_<%= value.id %>_tutorial' class="green-btn" type="button"><i class="fa fa-thumbs-up marginR5" aria-hidden="true"></i>Like</button>
                 
                   <button title = "<%= value.section_type %>" id='post_dislike_button_<%= value.tutorial.id %>_<%= value.tutorial.user_id %>_<%= value.id %>_tutorial' class="green-btn hidden" type="button"><i class="fa fa-check marginR5" aria-hidden="true"></i>Liked</button>  

              <% else %>   
                    <button title = "<%= value.section_type %>" id='post_like_button_<%= value.gallery.id %>_<%= value.gallery.user_id %>_<%= value.id %>_gallery' class="green-btn" type="button"><i class="fa fa-thumbs-up marginR5" aria-hidden="true"></i>Like</button>
                   <button title = "<%= value.section_type %>" id='post_dislike_button_<%= value.gallery.id %>_<%= value.gallery.user_id %>_<%= value.id %>_gallery' class="green-btn hidden" type="button"><i class="fa fa-check marginR5" aria-hidden="true"></i>Liked</button>   


              <% end %>     

            </div>
             <% if value.section_type == "Download" %>
                <div class="col-md-9 col-sm-8 col-xs-9 text-right padding"> 
                  <span class="activity-like" id='like_<%= value.download.id %>_<%= value.id %>_download'></span> 
                  <span class="activity-like" id='view_<%= value.download.id %>_<%= value.id %>_download'></span> 
                  <span class="activity-like" id='comment_<%= value.download.id %>_<%= value.id %>_download'></span> 
                </div>
            <% elsif value.section_type == "Tutorial"  %>
                <div class="col-md-9 col-sm-8 col-xs-9 text-right padding"> 
                  <span class="activity-like" id='like_<%= value.tutorial.id %>_<%= value.id %>_tutorial'></span> 
                  <span class="activity-like" id='view_<%= value.tutorial.id %>_<%= value.id %>_tutorial'></span> 
                  <span class="activity-like" id='comment_<%= value.tutorial.id %>_<%= value.id %>_tutorial'></span> 
                </div>

            <% else %>
                <div class="col-md-9 col-sm-8 col-xs-9 text-right padding"> 
                  <span class="activity-like" id='like_<%= value.gallery.id %>_<%= value.id %>_gallery'></span> 
                  <span class="activity-like" id='view_<%= value.gallery.id %>_<%= value.id %>_gallery'></span> 
                  <span class="activity-like" id='comment_<%= value.gallery.id %>_<%= value.id %>_gallery'></span> 
                </div>

            <% end %>    

          </div>
          <div class="clearfix">
            <div class="col-md-1 col-sm-2 col-xs-3 padding">
            <%= image_tag(current_user.image.user_activity.url, :alt => "Activity",:width=>"50",:height=>"50") %>
			</div>
            
        <% if value.section_type == "Download" %>
            <div class="col-md-11 col-sm-8 col-xs-9 padding">
              <textarea class="form-control activitymessage" id='post_comments_<%= value.download.id %>_download' ></textarea>
            </div>
            <div class="col-md-11 col-sm-12 col-xs-12 padding col-md-offset-1 paddinT10 marginB15">
              <button title = "<%= value.section_type %>" id='post_comments_submit_<%= value.download.id %>_download' type="button" class="postbtn border-radius"><i class="fa fa-comments" aria-hidden="true"></i> Post Comment</button>
            </div>
        <% elsif value.section_type == "Tutorial" %>
            <div class="col-md-11 col-sm-8 col-xs-9 padding">
              <textarea class="form-control activitymessage" id='post_comments_<%= value.tutorial.id %>_tutorial' ></textarea>
            </div>
            <div class="col-md-11 col-sm-12 col-xs-12 padding col-md-offset-1 paddinT10 marginB15">
              <button title = "<%= value.section_type %>" id='post_comments_submit_<%= value.tutorial.id %>_tutorial' type="button" class="postbtn border-radius"><i class="fa fa-comments" aria-hidden="true"></i> Post Comment</button>
            </div>

        <% else %>
             <div class="col-md-11 col-sm-8 col-xs-9 padding">
              <textarea class="form-control activitymessage" id='post_comments_<%= value.gallery.id %>_gallery' ></textarea>
            </div>
            <div class="col-md-11 col-sm-12 col-xs-12 padding col-md-offset-1 paddinT10 marginB15">
              <button title = "<%= value.section_type %>" id='post_comments_submit_<%= value.gallery.id %>_gallery' type="button" class="postbtn border-radius"><i class="fa fa-comments" aria-hidden="true"></i> Post Comment</button>
            </div>

        <% end %>    


          </div>
           <div id="commentslist_dev"></div>
        </div>
       <% end
        end

        %> 
         <div class="text-center text-uppercase">
             <%= paginate @latestactivity_data %>
            <!--     <ul class="pagination">
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">Next</a></li>
                  <li><a href="#">Last</a></li>
                </ul> -->
            </div>

      </div>

    </div>
    <div class="aside col-sm-12 col-xs-12 padding">
      <div class="marginB15 clearfix">
        <h2>Featured</h2>
         <%= image_tag("database/ilm.jpg", :alt => "ILM", :class=>"img-responsive") %>
       </div>
      <div class="marginB15 clearfix latest-notification">
        <h2>Latest Industry Jobs</h2>
        <ul>
          <li class="clearfix">
            <div class="col-md-3 col-sm-4 col-xs-4 latestimg">
				 <%= image_tag("goodgame.jpg", :alt => "Good", :class=>"img-responsive") %>
			</div>
            <div class="col-md-9 col-sm-8 col-xs-8">
              <div class="blue-txt marginB5">Concept Artist - Casual Studio</div>
              <div class="latest-txt">Goodgame Studios</div>
              <div class="latest-txt"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Hamburg, Germany</div>
            </div>
          </li>
          <li class="clearfix">
            <div class="col-md-3 col-sm-4 col-xs-4 latestimg"> <%= image_tag("goodgame.jpg", :alt => "Good", :class=>"img-responsive") %></div>
            <div class="col-md-9 col-sm-8 col-xs-8">
              <div class="blue-txt marginB5">User Interface Artist - Master of Whisperers (m/f)</div>
              <div class="latest-txt">Goodgame Studios</div>
              <div class="latest-txt"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Hamburg, Germany</div>
            </div>
          </li>
          <li class="clearfix">
            <div class="col-md-3 col-sm-4 col-xs-4 latestimg"> <%= image_tag("goodgame.jpg", :alt => "Good", :class=>"img-responsive") %></div>
            <div class="col-md-9 col-sm-8 col-xs-8">
              <div class="blue-txt marginB5">Concept Artist - Casual Studio</div>
              <div class="latest-txt">Goodgame Studios</div>
              <div class="latest-txt"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Hamburg, Germany</div>
            </div>
          </li>
          <li class="clearfix">
            <div class="col-md-3 col-sm-4 col-xs-4 latestimg"> <%= image_tag("goodgame.jpg", :alt => "Good", :class=>"img-responsive") %></div>
            <div class="col-md-9 col-sm-8 col-xs-8">
              <div class="blue-txt marginB5">User Interface Artist - Master of Whisperers (m/f)</div>
              <div class="latest-txt">Goodgame Studios</div>
              <div class="latest-txt"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Hamburg, Germany</div>
            </div>
          </li>
          <li class="clearfix">
            <div class="col-md-3 col-sm-4 col-xs-4 latestimg"> <%= image_tag("goodgame.jpg", :alt => "Good", :class=>"img-responsive") %></div>
            <div class="col-md-9 col-sm-8 col-xs-8">
              <div class="blue-txt marginB5">Concept Artist - Casual Studio</div>
              <div class="latest-txt">Goodgame Studios</div>
              <div class="latest-txt"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Hamburg, Germany</div>
            </div>
          </li>
          <li class="clearfix">
            <div class="col-md-3 col-sm-4 col-xs-4 latestimg"> <%= image_tag("goodgame.jpg", :alt => "Good", :class=>"img-responsive") %></div>
            <div class="col-md-9 col-sm-8 col-xs-8">
              <div class="blue-txt marginB5">User Interface Artist - Master of Whisperers (m/f)</div>
              <div class="latest-txt">Goodgame Studios</div>
              <div class="latest-txt"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Hamburg, Germany</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
</div>
</div>
</section>
<footer class="footer clearfix padding">
	<%= render "layouts/lastfooter" %>
</footer>

      <script type='text/javascript'>
          $(document).ready(function(){

              $('[id^= post_like_button_],[id^= post_dislike_button_]').on('click',function(){
              
                        section_type  = $(this).attr('title');
                        gallery_id_and_user_id  = $(this).attr('id').replace('post_like_button_','');
                        gallery_id_and_user_id  = gallery_id_and_user_id.replace('post_dislike_button_','');
                        gallery_id_and_user_id  = gallery_id_and_user_id.replace('_download','');
                        gallery_id_and_user_id  = gallery_id_and_user_id.replace('_gallery','');
                        gallery_id_and_user_id  = gallery_id_and_user_id.replace('_tutorial','');
                   
                        var res = gallery_id_and_user_id.split("_"); 
                        if(section_type == "Download") {
                                 $.ajax({
                                      type: "post",
                                      url: "<%= downloadsave_like_path %>" ,
                                      data: {'download_id': res[0],'artist_id': res[1]},
                                      success: function(data){
                                        //alert(data.res)
                                        if(data.res == 1) {
                                          $('#post_like_button_'+gallery_id_and_user_id + '_download' ).addClass('hidden');
                                          $('#post_dislike_button_'+gallery_id_and_user_id + '_download' ).removeClass('hidden');
                                        }else{
                                          $('#post_like_button_'+gallery_id_and_user_id + '_download' ).removeClass('hidden');
                                          $('#post_dislike_button_'+gallery_id_and_user_id + '_download' ).addClass('hidden');
                                        }

                                      }
                                  });


                        }else if(section_type == "Tutorial"){

                                $.ajax({
                                      type: "post",
                                      url: "<%= tutorialsave_like_path %>" ,
                                      data: {'tutorial_id': res[0],'artist_id': res[1]},
                                      success: function(data){
                                        //alert(data.res)
                                        if(data.res == 1) {
                                          $('#post_like_button_'+gallery_id_and_user_id + '_tutorial' ).addClass('hidden');
                                          $('#post_dislike_button_'+gallery_id_and_user_id + '_tutorial' ).removeClass('hidden');
                                        }else{
                                          $('#post_like_button_'+gallery_id_and_user_id + '_tutorial' ).removeClass('hidden');
                                          $('#post_dislike_button_'+gallery_id_and_user_id + '_tutorial' ).addClass('hidden');
                                        }

                                      }
                                  });

                        }else{
                                 $.ajax({
                                        type: "post",
                                        url: "<%= save_like_path %>" ,
                                        data: {'gallery_id': res[0],'artist_id': res[1]},
                                        success: function(data){
                                          //alert(data.res)
                                          if(data.res == 1) {
                                            $('#post_like_button_'+gallery_id_and_user_id+'_gallery').addClass('hidden');
                                            $('#post_dislike_button_'+gallery_id_and_user_id+'_gallery').removeClass('hidden');
                                          }else{
                                            $('#post_like_button_'+gallery_id_and_user_id+'_gallery').removeClass('hidden');
                                            $('#post_dislike_button_'+gallery_id_and_user_id+'_gallery').addClass('hidden');
                                          }

                                        }
                                  });


                        }  
                
                      
              });


              $('[id^= post_comments_submit_]').on('click',function(){
                        
                        section_type  = $(this).attr('title');
                        gallery_id = $(this).attr('id').replace('post_comments_submit_','');
                        gallery_id  = gallery_id.replace('_download','');
                        gallery_id  = gallery_id.replace('_gallery','');
                        gallery_id  = gallery_id.replace('_tutorial','');
                        textareavalue = $('#post_comments_'+gallery_id).val();
                        if(textareavalue == ''){
                            alert('Comment cannot be blank.');
                            return false;
                         }else{

                              if(section_type == "Download") { 
                                  $.ajax({
                                      type: "post",
                                      url: "<%= save_download_comment_path %>" ,
                                      data: {'download_id': gallery_id,'description': textareavalue,'section_type': 'download_detail'},
                                      success: function(data){
                                          $('#post_comments_'+gallery_id+'_download').val('');
                                        alert(data.message)
                                        return false;  
                                      }
                                  });

                              }else if(section_type == "Tutorial"){
                                  $.ajax({
                                      type: "post",
                                      url: "<%= save_tutorial_comment_path %>" ,
                                      data: {'tutorial_id': gallery_id,'description': textareavalue,'section_type': 'tutorial'},
                                      success: function(data){
                                          $('#post_comments_'+gallery_id+'_tutorial').val('');
                                        alert(data.message)
                                        return false;  
                                      }
                                  });



                              }else{

                                   $.ajax({
                                        type: "post",
                                        url: "<%= save_comment_path %>" ,
                                        data: {'gallery_id': gallery_id,'description': textareavalue,'section_type': 'gallery_activity'},
                                        success: function(data){
                                            $('#post_comments_'+gallery_id+'_gallery').val('');
                                          alert(data.message)
                                          return false;  
                                        }
                                    });


                              }  
                             
                          } 

                   });   

        });
  </script>