<!-- All Dashboard Start -->
<section class="clearfix container-fluid-full">
<div class="row-fluid">
<div class="sidebar-left">
<%= render 'layouts/navigation' %>
</div>
<div class="content clearfix">
<div class="submenutabs-dashboard clearfix margin">
  <%= render 'layouts/dashboard_feed' %>
</div>
<!-- User Followers Start -->
<section class="clearfix notificationwrap">
  <div class="clearfix notification-heading"> <span class="noti-title" style="border:none;">All Activity</span> </div>
  <div class="clearfix">
    <div class="notification-wrap clearfix col-sm-12 col-xs-12">
      <div class="row">
      <%
        if @latestactivity_data.present?
            @latestactivity_data.each_with_index do |value, index|  
            #abort(value.to_json)
        %>    

        <div class="clearfix notification-indent marginB15">
          <div class="clearfix marginB15 noti-comment">
            <div class="notileft"><%= image_tag(value.user_detail.image.user_activity.url :alt => "Notification") %></div>
            <div class="notiright">
              <div class="marginB10 paddinT10"><span class="blue-txt"><%= value.user_detail.present? ? value.user_detail.firstname+" "+value.user_detail.lastname : '' %> </span> has <%= value.activity_type %> <%= value.section_type.present? ? value.section_type : 'artwork' %> <span class="blue-txt"><a href='/dashboard/projects/<%= value.gallery.paramlink %>/show'><%= value.gallery.present? ? value.gallery.title : '' %></a></span>.</div>
            </div>
          </div>
          <div class="notification-profile clearfix">
			   <%= image_tag(value.gallery.company_logo.art_activity.url, :alt => "Activity",:class=>"img-responsive") %>
			</div>
          <div class="activity-profile clearfix"> <span class="pull-left marginR5">
			  
        <%= image_tag(value.artist_detail.image.user_activity.url, :alt => "Activity Profile",:class=>"img-responsive") %></span> <span class="pull-left marginL5 paddinT5">
            <div class="blue-txt"><%= value.artist_detail.present? ? value.artist_detail.firstname+" "+value.artist_detail.lastname : '' %> </div>
           <%= value.artist_detail.professional_headline %> </span> </div>
         <!--  <div class="desert-title">Desert worker speedmodel</div> -->
          <div class="activity-txt">
           <%= value.gallery.present? ? value.gallery.description.html_safe : '' %>
          </div>


          <div class="activity-txt"><em>Posted <%= time_ago_in_words(value.created_at) %> ago</em></div>
          <div class="clearfix marginB15">
            <div class="col-md-3 col-sm-4 col-xs-3 padding">
            <script>
              $(document).ready(function(){
                       $.ajax({
                            type: "post",
                            url: "<%= check_save_like_path %>" ,
                            data: {'gallery_id': '<%= value.gallery.id %>','artist_id': '<%= value.gallery.user_id %>'},
                           success: function(data){
                             if(data.res == 1) {
                                  $('#post_like_button_'+<%= value.gallery.id %>+'_'+<%= value.gallery.user_id %>).addClass('hidden');
                                  $('#post_dislike_button_'+<%= value.gallery.id %>+'_'+<%= value.gallery.user_id %>).removeClass('hidden');
                              }else{
                                   $('#post_like_button_'+<%= value.gallery.id %>+'_'+<%= value.gallery.user_id %>).removeClass('hidden');
                                   $('#post_dislike_button_'+<%= value.gallery.id %>+'_'+<%= value.gallery.user_id %>).addClass('hidden');
                              }

                            }
                        });

                     $.ajax({
                            type: "post",
                            url: "<%= get_like_comment_view_gallery_path %>" ,
                            data: {'gallery_id': '<%= value.gallery.id %>'},
                           success: function(data){
                           // alert(<%= value.gallery.id %>);
                                  $('#like_<%= value.gallery.id %>').html('<i aria-hidden="true" class="fa fa-thumbs-up marginR5"></i> '+data['gallerylike']);
                                  $('#comment_<%= value.gallery.id %>').html('<i aria-hidden="true" class="fa fa-comments marginR5"></i> '+data['gallerycomment']);
                                 
                                  $('#view_<%= value.gallery.id %>').html('<i aria-hidden="true" class="fa fa-eye marginR5"></i> '+data['galleryview']);
                                
                             
                            }
                        });

                 });
            </script>
              <button id='post_like_button_<%= value.gallery.id %>_<%= value.gallery.user_id %>' class="green-btn" type="button"><i class="fa fa-thumbs-up marginR5" aria-hidden="true"></i>Like</button>
               <button id='post_dislike_button_<%= value.gallery.id %>_<%= value.gallery.user_id %>' class="green-btn hidden" type="button"><i class="fa fa-check marginR5" aria-hidden="true"></i>Liked</button>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-9 text-right padding"> 
              <span class="activity-like" id='like_<%= value.gallery.id %>'></span> 
              <span class="activity-like" id='view_<%= value.gallery.id %>'></span> 
              <span class="activity-like" id='comment_<%= value.gallery.id %>'></span> 
            </div>
          </div>
          <div class="clearfix">
            <div class="col-md-1 col-sm-2 col-xs-3 padding">
            <%= image_tag(current_user.image.user_activity.url, :alt => "Activity",:width=>"50",:height=>"50") %>
			</div>
            <div class="col-md-11 col-sm-8 col-xs-9 padding">
              <textarea class="form-control activitymessage" id='post_comments_<%= value.gallery.id %>' ></textarea>
            </div>
            <div class="col-md-11 col-sm-12 col-xs-12 padding col-md-offset-1 paddinT10 marginB15">
              <button id='post_comments_submit_<%= value.gallery.id %>' type="button" class="postbtn border-radius"><i class="fa fa-comments" aria-hidden="true"></i> Post Comment</button>
            </div>
          </div>
        </div>
       <% end
        end

        %> 
         <div class="text-center text-uppercase">
             <%= paginate @latestactivity_data %>
            <!--     <ul class="pagination">
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">Next</a></li>
                  <li><a href="#">Last</a></li>
                </ul> -->
            </div>

      </div>

    </div>
    <div class="aside col-sm-12 col-xs-12 padding">
      <div class="marginB15 clearfix">
        <h2>Featured</h2>
         <%= image_tag("database/ilm.jpg", :alt => "ILM", :class=>"img-responsive") %>
       </div>
      <div class="marginB15 clearfix latest-notification">
        <h2>Latest Industry Jobs</h2>
        <ul>
          <li class="clearfix">
            <div class="col-md-3 col-sm-4 col-xs-4 latestimg">
				 <%= image_tag("goodgame.jpg", :alt => "Good", :class=>"img-responsive") %>
			</div>
            <div class="col-md-9 col-sm-8 col-xs-8">
              <div class="blue-txt marginB5">Concept Artist - Casual Studio</div>
              <div class="latest-txt">Goodgame Studios</div>
              <div class="latest-txt"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Hamburg, Germany</div>
            </div>
          </li>
          <li class="clearfix">
            <div class="col-md-3 col-sm-4 col-xs-4 latestimg"> <%= image_tag("goodgame.jpg", :alt => "Good", :class=>"img-responsive") %></div>
            <div class="col-md-9 col-sm-8 col-xs-8">
              <div class="blue-txt marginB5">User Interface Artist - Master of Whisperers (m/f)</div>
              <div class="latest-txt">Goodgame Studios</div>
              <div class="latest-txt"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Hamburg, Germany</div>
            </div>
          </li>
          <li class="clearfix">
            <div class="col-md-3 col-sm-4 col-xs-4 latestimg"> <%= image_tag("goodgame.jpg", :alt => "Good", :class=>"img-responsive") %></div>
            <div class="col-md-9 col-sm-8 col-xs-8">
              <div class="blue-txt marginB5">Concept Artist - Casual Studio</div>
              <div class="latest-txt">Goodgame Studios</div>
              <div class="latest-txt"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Hamburg, Germany</div>
            </div>
          </li>
          <li class="clearfix">
            <div class="col-md-3 col-sm-4 col-xs-4 latestimg"> <%= image_tag("goodgame.jpg", :alt => "Good", :class=>"img-responsive") %></div>
            <div class="col-md-9 col-sm-8 col-xs-8">
              <div class="blue-txt marginB5">User Interface Artist - Master of Whisperers (m/f)</div>
              <div class="latest-txt">Goodgame Studios</div>
              <div class="latest-txt"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Hamburg, Germany</div>
            </div>
          </li>
          <li class="clearfix">
            <div class="col-md-3 col-sm-4 col-xs-4 latestimg"> <%= image_tag("goodgame.jpg", :alt => "Good", :class=>"img-responsive") %></div>
            <div class="col-md-9 col-sm-8 col-xs-8">
              <div class="blue-txt marginB5">Concept Artist - Casual Studio</div>
              <div class="latest-txt">Goodgame Studios</div>
              <div class="latest-txt"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Hamburg, Germany</div>
            </div>
          </li>
          <li class="clearfix">
            <div class="col-md-3 col-sm-4 col-xs-4 latestimg"> <%= image_tag("goodgame.jpg", :alt => "Good", :class=>"img-responsive") %></div>
            <div class="col-md-9 col-sm-8 col-xs-8">
              <div class="blue-txt marginB5">User Interface Artist - Master of Whisperers (m/f)</div>
              <div class="latest-txt">Goodgame Studios</div>
              <div class="latest-txt"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Hamburg, Germany</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
</div>
</div>
</section>
<footer class="footer clearfix padding">
	<%= render "layouts/lastfooter" %>
</footer>
<script type='text/javascript'>
  $(document).ready(function(){

      $('[id^= post_like_button_],[id^= post_dislike_button_]').on('click',function(){
        
            gallery_id_and_user_id  = $(this).attr('id').replace('post_like_button_','');
            gallery_id_and_user_id  = gallery_id_and_user_id.replace('post_dislike_button_','');
 
            var res = gallery_id_and_user_id.split("_"); 
              $.ajax({
                  type: "post",
                  url: "<%= save_like_path %>" ,
                  data: {'gallery_id': res[0],'artist_id': res[1]},
                  success: function(data){
                    //alert(data.res)
                   if(data.res == 1) {
                        $('#post_like_button_'+gallery_id_and_user_id).addClass('hidden');
                        $('#post_dislike_button_'+gallery_id_and_user_id).removeClass('hidden');
                    }else{
                         $('#post_like_button_'+gallery_id_and_user_id).removeClass('hidden');
                         $('#post_dislike_button_'+gallery_id_and_user_id).addClass('hidden');
                    }

                  }
              });
      });


      $('[id^= post_comments_submit_]').on('click',function(){

          gallery_id = $(this).attr('id').replace('post_comments_submit_','');
          textareavalue   = $('#post_comments_'+gallery_id).val();
          if(textareavalue == ''){
              alert('Comment cannot be blank.');
              return false;
           }else{

                $.ajax({
                    type: "post",
                    url: "<%= save_comment_path %>" ,
                    data: {'gallery_id': gallery_id,'description': textareavalue,'section_type': 'gallery_activity'},
                    success: function(data){
                        $('#post_comments_'+gallery_id).val('');
                      alert(data.message)
                      return false;  

                    }
                });


           } 

      });


  })
</script>