<%  res = connection_like_count_by_artist_id(@artist_data.id) %>
<div class="artist-profile ng-scope" ng-app="myAppHeader" ng-controller="myCtrlHeader">

  <div style="background-image: url({{cover_art_image}});" class="artist-masthead">
    
<%= form_for(@artist_data, url: update_user_image_path(@artist_data), html: { method: :put, id: 'cover_art_image_form' }) do |f| %>

    <div class="change-cover-image hidden-xs">
     <!--  <a href="javascript:void(0);" ng-click="clickUploadCoverArt()"><i class="fa fa-pad-right fa-upload"></i><span class="text ng-binding">Change background (1920x640)</span></a> -->
    </div>

    <% if (!@artist_data.cover_art_image.blank? && !@artist_data.cover_art_image.try(:full).blank?) %>
      <div class="remove-cover-image hidden-xs">
        <%#= link_to '<i class="fa fa-pad-right fa-remove"></i><span class="text ng-binding">Remove Cover Art</span>'.html_safe, remove_cover_art_path(@artist_data),method: :delete, data: { confirm: 'Are you sure?' }, title: "Remove Cover Art" %>
      </div>    
    <% end %>

    <%= f.file_field(:cover_art_image, accept: "image/*", id: "covertArtPicUpload", "ng-model" => "covertArtPicUpload", onchange: "angular.element(this).scope().coverArtUpload(this)", style: "display: none;")%>
    
    <!-- <button type="submit" id="saveCoverArtPic" value="UpdateCoverArt" ng-show="false" name="commit"><i class="fa fa-pad-right fa-check"></i><span class="text ng-binding">Save <span class="hidden-xs">Picture</span></span></button> -->
       
<% end %>    


    <div class="container artist-info clearfix">
      <div class="row">
        <div class="col-sm-9 col-md-8 col-xs-12">
<%= form_for(@artist_data, url: update_user_image_path(@artist_data), html: { method: :put, id: 'image_form' }) do |f| %>
 
          <div class="avatar">
            <center>

              <% if (@artist_data.image.blank? || @artist_data.image.try(:event_small).blank?)%>
                <img src="/assets/profile-noimage.jpg" alt="User" class="img-thumbnail img-responsive" ng-src="{{stepsModel}}">
              <% else %>
                <%= image_tag(@artist_data.image.try(:event_small).try(:url), alt: "User Image", class: "img-thumbnail img-responsive", "ng-src"=>"{{stepsModel}}") %>
              <% end %>  
              <span class="user-pro-pic">
                <!-- <a href="javascript:void(0);" ng-click="clickUpload()">
                  <i class="fa fa-pad-right fa-remove"></i><span class="text ng-binding">Update Profile <span class="hidden-xs">Picture</span></span>
                </a> -->

                <!-- <input id="profilePicUpload1" ng-model="profilePicUpload1" type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(this)" style="display: none;" accept="image/*" /> -->

                <%= f.file_field(:image, accept: "image/*", id: "profilePicUpload", "ng-model" => "profilePicUpload", onchange: "angular.element(this).scope().imageUpload(this)", style: "display: none;")%>

               <!--  <button type="submit" id="saveProfilePic" class="save-img" value="UpdateProfilePhoto" ng-show="false" name="commit"><i class="fa fa-pad-right fa-check"></i><span class="text ng-binding">Save <span class="hidden-xs">Picture</span></span></button> -->

                <!-- <a href="javascript:void(0);" id="saveProfilePic" class="save-img" ng-show="profilePicUpload"><i class="fa fa-pad-right fa-check"></i><span class="text ng-binding">Save <span class="hidden-xs">Picture</span></span></a> -->
              </span>

            </center>
          </div>
<% end %>          

          <div class="artist-info-texts pull-left">
            <h2 class="artist-name ng-binding"><%= @artist_data.firstname + ' ' + @artist_data.lastname %> <i class="fa fa-check-circle"></i></h2>
            <div class="artist-additional-info">
              <ul>
                <li class="ng-binding"> <i class="fa fa-briefcase"></i> <%= @artist_data.profile_type %> </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="artist-additional-info">
              <ul>
                <% if @artist_data.try(:city) || @artist_data.try(:country) %>
                  <li class="ng-binding"> <i class="fa fa-pad-right fa-map-marker"></i> <%= @artist_data.try(:city) %><%= (@artist_data.try(:city) != '' && @artist_data.try(:country).try(:name) != '') ? ', ' : '' %><%= @artist_data.try(:country).try(:name) %> </li>
                <% end %>
                <li class="ng-binding"> <i class="fa fa-pad-right fa-eye"></i> <%= @artist_data.view_count %> Views </li>
                <li class="ng-binding"> <i class="fa fa-pad-right fa-thumbs-up"></i> <%= res[:myartworklike] %> Likes </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-4 col-xs-12 artist-social-info">
          <ul class="list-inline pull-right">
            <li class="ng-scope">
              <div aria-label="..." role="group" class="btn-group">
                <button type="button" title="Follow this user (F)" class="btn btn-primary btn-sm ng-binding ng-scope"> <i class="fa fa fa-plus-circle fa-pad-right"></i>Follow </button>
                <button class="btn btn-sm user-follow" type="button"><%= res[:follower] %></button>
              </div>
            </li>
       <!--      <li ng-if="artistCanContact" class="ng-scope">
              <button href="" class="btn btn-success btn-sm"> <i class="fa fa-pad-right fa-envelope"></i>Message </button>
            </li>
            <li ng-if="artistCanContact" class="ng-scope">
              <button href="" class="btn btn-warning btn-sm"> <i class="fa fa-globe fa-pad-right"></i>My Website </button>
            </li>
 -->
            <li class="ng-scope">
              <a href="<%= message_path %>" class="btn btn-success btn-sm"><i class="fa fa-pad-right fa-envelope"></i>Message</a>

              <!-- <button href="" class="btn btn-success btn-sm"> <i class="fa fa-pad-right fa-envelope"></i>Message </button> -->
            </li>
            <li class="ng-scope">
              <button href="javascript:void(0);" class="btn btn-warning btn-sm"> <i class="fa fa-globe fa-pad-right"></i>My Website </button>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- User Profile Menu -->
<section class="usernavivation clearfix">
<nav class="navbar-default clearfix">
<div class="container">
  <div class="navbar-artist-profile clearfix">
    <ul class="nav navbar-nav">
      <li class="dropdown ng-scope active"> <a href="user-profile.html">Portfolio <i class="fa fa-chevron-down fa-pad-left blue-txt"></i></a></li>
      <li> <a href="user-profile-info.html">About</a> </li>
      <li> <a href="user-following.html"> Following <span class="counter-number ng-binding">(13)</span> </a> </li>
      <li> <a href="user-like.html"> Likes<span class="counter-number ng-binding">(27)</span> </a> </li>
      <li class=""> <a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle"> More <i class="fa fa-chevron-down fa-pad-left  blue-txt"></i> </a>
        <ul class="dropdown-menu ng-scope">
          <li class="ng-scope"> <a href="#" class="ng-binding"> <i class="fa fa-fw fa-pad-right fa-folder"></i> Forum Post (12) </a> </li>
          <li class="ng-scope"> <a href="#" class="ng-binding"> <i class="fa fa-fw fa-pad-right fa-folder"></i> Followers (13) </a> </li>
          <li class="ng-scope"> <a href="#" class="ng-binding"> <i class="fa fa-fw fa-pad-right fa-folder"></i> Jobs (7) </a> </li>
          <li class="ng-scope"> <a href="#" class="ng-binding"> <i class="fa fa-bar-chart"></i> Stats </a> </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</nav>
<div class="clearfix hidden-xs" style="background:#171717;">
<ul class="nav nav-pills">
  <li class="dropdown recentdrop" role="presentation"> <a aria-expanded="false" aria-haspopup="true" role="button" href="#" data-toggle="dropdown" class="dropdown-toggle">All Projects <i class="fa fa-chevron-down fa-pad-left  blue-txt"></i> </a>
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
      <li><a href="#">Artwork</a></li>
      <li><a href="#">Videos </a></li>
      <li><a href="#">Wip</a></li>
      <li><a href="#">Downloads </a></li>
      <li><a href="#">Tutorials</a></li>
      <li><a href="#">Challenges</a></li>
    </ul>
  </li>
  <li role="presentation" style="padding:10px 0 0;">
    <input type="text" placeholder="Search" class="form-control from-input">
  </li>
  <li class="manage-btn manage-left"><a href="#"><i class="fa fa-picture-o marginR5 blue-txt" aria-hidden="true"></i> Manage portfolio</a></li>
  <li class="manage-btn"><a href="#"><i class="fa fa-wrench marginR5 blue-txt" aria-hidden="true"></i> Portfolio display options</a></li>
  <li class="dropdown pull-right recentdrop" role="presentation"> <a aria-expanded="false" aria-haspopup="true" role="button" href="#" data-toggle="dropdown" class="dropdown-toggle">Recent <i class="fa fa-chevron-down fa-pad-left  blue-txt"></i> </a>
    <ul class="dropdown-menu">
      <li><a href="#">Recent</a></li>
      <li><a href="#">Popular </a></li>
      <li><a href="#">Featured</a></li>
      <li><a href="#">Awarded</a></li>
      <li class="divider" role="separator"></li>
      <li><a href="#">Top liked</a></li>
      <li><a href="#">Top Viewed</a></li>
      <li><a href="#">Top Commented</a></li>
    </ul>
  </li>
  <li class="dropdown pull-right recentdrop hidden-sm" role="presentation"> <a aria-expanded="false" aria-haspopup="true" role="button" href="#" data-toggle="dropdown" class="dropdown-toggle">Categories <i class="fa fa-chevron-down fa-pad-left  blue-txt"></i> </a> 
    <!--<ul class="dropdown-menu">
    <li><a href="#">Animation</a></li>
      <li><a href="#">Architectural Visualization</a></li>
      <li><a href="#">Architecture</a></li>
      <li><a href="#">Characters</a></li>
      <li><a href="#">Comic Art</a></li>
      <li><a href="#">Concept Art</a></li>
      <li><a href="#">Creatures</a></li>
      <li><a href="#">Environments</a></li>
      <li><a href="#">Fantasy</a></li>
      <li><a href="#">Game Art</a></li>
      <li><a href="#">Illustration</a></li>
      <li><a href="#">Industrial Design</a></li>
      <li><a href="#">Matte Painting</a></li>
      <li><a href="#">Mecha</a></li>
      <li><a href="#">Motion Graphics</a></li>
      <li><a href="#">Product Design</a></li>
      <li><a href="#">Props</a></li>
      <li><a href="#">Science Fiction</a></li>
      <li><a href="#">Still Life</a></li>
      <li><a href="#">Storyboards</a></li>
      <li><a href="#">Storytelling</a></li>
      <li><a href="#">Surreal</a></li>
      <li><a href="#">Textures &amp; Materials</a></li>
      <li><a href="#">Transport &amp; Vehicles</a></li>
      <li><a href="#">Tutorial</a></li>
      <li><a href="#">User Interface</a></li>
      <li><a href="#">Virtual Reality</a></li>
      <li><a href="#">Visual Effects</a></li>
      <li><a href="#">Weapons</a></li>
      <li><a href="#">Whimsical</a></li>
      </ul>--> 
  </li>
</ul>
</div>
</section>

<!-- User Profile Menu -->
<section class="userprofile celarfix">
<ul class="margin">
<li>
  <div class="user-wrap"><a href="#" class="fa fa-picture-o" aria-hidden="true"></a> <a href="#" class="fa fa-video-camera" aria-hidden="true"></a></div>
  <div class="clearfix userprowrap">
    <div class="userprofile-content clearfix">
      <div class="userproleft"><img src="images/userpro-img.jpg" class="img-responsive" alt="User Profile"></div>
      <div class="userproright">
        <h2>Lean Squared Skin Shader</h2>
        Maciej Kuciara </div>
    </div>
  </div>
  <a href="#"><img src="images/database/user-pro.jpg" class="img-responsive" alt="User Profile"></a> </li>
</ul>
</section>
<div class="clear"></div>
<div class="text-center text-uppercase">
<ul class="pagination">
<li><a href="#">1</a></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">4</a></li>
<li><a href="#">5</a></li>
<li><a href="#">Next</a></li>
<li><a href="#">Last</a></li>
</ul>
</div>

<script type="text/javascript">
  // header angular app start
  var myAppHeader = angular.module('myAppHeader',[]);

  myAppHeader.controller('myCtrlHeader', function($scope) {

    <% if (@artist_data.cover_art_image.blank? || @artist_data.cover_art_image.try(:full).blank?) %>
     $scope.cover_art_image = "<%= asset_path 'artist-profile-masthead-gradient.png' %>";
    <% else %>
      $scope.cover_art_image = "<%= asset_path  @artist_data.cover_art_image.try(:full).try(:url) %>";
    <% end %>

    //profile pic upload
    $scope.clickUpload = function(){
      angular.element('#profilePicUpload').trigger('click');
    };

    $scope.stepsModel = '';

    $scope.imageUpload = function(element){
        var reader = new FileReader();
        reader.onload = $scope.imageIsLoaded;
        reader.readAsDataURL(element.files[0]);
    }

    $scope.imageIsLoaded = function(e){
        $scope.$apply(function() {
            $scope.stepsModel= e.target.result;
            angular.element( document.querySelector( '#saveProfilePic' ) ).removeClass('ng-hide');
        });
    }

    //cover art upload
    $scope.clickUploadCoverArt = function(){
      angular.element('#covertArtPicUpload').trigger('click');
    };

    $scope.coverArtUpload = function(element){
        angular.element('#saveCoverArtPic').trigger('click');
    }
   
  });
  // header angular app end
</script>