<!-- All Dashboard Start -->
<section class="clearfix container-fluid-full">
  <div class="row-fluid">
    <div class="sidebar-left">
  <%= render 'layouts/navigation' %>
</div>
    
    <div class="content clearfix">
      <div class="submenutabs-dashboard clearfix">
        <%= render 'layouts/dashboard_feed' %>
      </div>
      <div class="clearfix bookmark-tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#BookMarks">BookMarks <i></i></a></li>
          <li>
            <button class="blue-btn marginL5" type="button">Create Bookmarks</button>
          </li>
        </ul>
        <div class="tab-content">
          <div id="BookMarks" class="tab-pane fade in active">
            <div class="clearfix bookmark-wrap">
              <ul>
                <li class="col-md-3 col-sm-6 col-xs-12">
                  <div class="book-indent clearfix">
                    <div class="book-profile"> <%= image_tag("database/bookmark.jpg", :alt => "Bookmark",:class=>"img-responsive") %>
						</div>
                    <div class="wip-title padding10"><a href="#">Garvel Hever</a></div>
                    <div class="wip-small clearfix">
                      <ul class="margin">
                        <li class="lists"> <%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                  <div class="book-indent clearfix">
                    <div class="book-profile"><%= image_tag("database/bookmark1.jpg", :alt => "Bookmark",:class=>"img-responsive") %></div>
                    <div class="wip-title padding10"><a href="#">Garvel Hever</a></div>
                    <div class="wip-small clearfix">
                      <ul class="margin">
                        <li class="lists"> <%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                  <div class="book-indent clearfix">
                    <div class="book-profile"><%= image_tag("database/bookmark2.jpg", :alt => "Bookmark",:class=>"img-responsive") %></div>
                    <div class="wip-title padding10"><a href="#">Garvel Hever</a></div>
                    <div class="wip-small clearfix">
                      <ul class="margin">
                        <li class="lists"> <%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                  <div class="book-indent clearfix">
                    <div class="book-profile"><%= image_tag("database/bookmark3.jpg", :alt => "Bookmark",:class=>"img-responsive") %></div>
                    <div class="wip-title padding10"><a href="#">Garvel Hever</a></div>
                    <div class="wip-small clearfix">
                      <ul class="margin">
                        <li class="lists"> <%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                  <div class="book-indent clearfix">
                    <div class="book-profile"><%= image_tag("database/bookmark4.jpg", :alt => "Bookmark",:class=>"img-responsive") %></div>
                    <div class="wip-title padding10"><a href="#">Garvel Hever</a></div>
                    <div class="wip-small clearfix">
                      <ul class="margin">
                        <li class="lists"> <%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                  <div class="book-indent clearfix">
                    <div class="book-profile"><%= image_tag("database/bookmark5.jpg", :alt => "Bookmark",:class=>"img-responsive") %></div>
                    <div class="wip-title padding10"><a href="#">Garvel Hever</a></div>
                    <div class="wip-small clearfix">
                      <ul class="margin">
                        <li class="lists"> <%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                  <div class="book-indent clearfix">
                    <div class="book-profile"><%= image_tag("database/bookmark6.jpg", :alt => "Bookmark",:class=>"img-responsive") %></div>
                    <div class="wip-title padding10"><a href="#">Garvel Hever</a></div>
                    <div class="wip-small clearfix">
                      <ul class="margin">
                        <li class="lists"> <%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                  <div class="book-indent clearfix">
                    <div class="book-profile"><%= image_tag("database/bookmark7.jpg", :alt => "Bookmark",:class=>"img-responsive") %></div>
                    <div class="wip-title padding10"><a href="#">Garvel Hever</a></div>
                    <div class="wip-small clearfix">
                      <ul class="margin">
                       <li class="lists"> <%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                  <div class="book-indent clearfix">
                    <div class="book-profile"><%= image_tag("database/bookmark8.jpg", :alt => "Bookmark",:class=>"img-responsive") %></div>
                    <div class="wip-title padding10"><a href="#">Garvel Hever</a></div>
                    <div class="wip-small clearfix">
                      <ul class="margin">
                        <li class="lists"> <%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                  <div class="book-indent clearfix">
                    <div class="book-profile"><%= image_tag("database/bookmark9.jpg", :alt => "Bookmark",:class=>"img-responsive") %></div>
                    <div class="wip-title padding10"><a href="#">Garvel Hever</a></div>
                    <div class="wip-small clearfix">
                      <ul class="margin">
                        <li class="lists"> <%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                  <div class="book-indent clearfix">
                    <div class="book-profile"><%= image_tag("database/bookmark10.jpg", :alt => "Bookmark",:class=>"img-responsive") %></div>
                    <div class="wip-title padding10"><a href="#">Garvel Hever</a></div>
                    <div class="wip-small clearfix">
                      <ul class="margin">
                        <li class="lists"> <%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12">
                  <div class="book-indent clearfix">
                    <div class="book-profile"><%= image_tag("database/bookmark11.jpg", :alt => "Bookmark",:class=>"img-responsive") %></div>
                    <div class="wip-title padding10"><a href="#">Garvel Hever</a></div>
                    <div class="wip-small clearfix">
                      <ul class="margin">
                        <li class="lists"> <%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
                        <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <%= render 'layouts/paging' %>
				
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer Start -->
<footer class="footer clearfix padding">
 	<%= render "layouts/lastfooter" %>
</footer>

