<section class="wip-navigation-wrap">
    <%#= render 'layouts/browse_sub_header' %>
</section>

<div id="Browse_allartist"  ng-app="Browse_allartist" >
<div ng-controller="BrowseallartistCtrl">
<!-- Showcase & Discover Creative Work -->
<section class="clearfix showcase-wrap text-center">
  <div class="container">
    <div class="showcase-title text-center">Showcase &amp; Discover Creative Work</div>
    <div class="showcase-txt text-center">for <a href="#">Demo Reel <i></i></a>, <a href="#">Digital Art<i></i></a>, <a href="#">Making of &amp; Vfx Breakdown<i></i></a>, <a href="#">Concept Art<i></i></a> and more</div>
    <div class="clearfix wip-gallery-wrap">
      <div class="col-md-4 col-sm-4 col-xs-12 marginB10">
        <div class="input-group stylish-input-group">
          <input type="text" class="form-control" maxlength="64" placeholder="Enter a keyword..." ng-model="search" />
    
            <span class="input-group-addon">
            <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
            </span> 
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12 marginB10 text-left">

        <select class="custom-select" ng-change="searchByPostType1(selected)" ng-model='selected'>
          <option value="" selected="selected" >Select</option>
          <option value="0" class="post-type-link"  id="post-type-link-0" selected="selected" >Gallery</option>
          <option value="1" class="post-type-link"  id="post-type-link-1">Artwork</option>
          <option value="2" class="post-type-link"  id="post-type-link-2">Video</option>
          <option value="3" class="post-type-link"  id="post-type-link-3">WIP</option>
<!--           <option value="4" class="post-type-link"  id="post-type-link-4">Challenge</option>
          <option value="5" class="post-type-link"  id="post-type-link-5">Awards</option> -->
          <option value="6" class="post-type-link"  id="post-type-link-6">Users</option>
        </select>
      </div>
      <div class="col-md-5 col-sm-4 col-xs-12 marginB10 text-left">

       <select class="custom-select" ng-change="searchByProfileType(selected)" ng-model='selected'>
              <option value="" selected="selected">Select Profile Type</option>
              <option value="All" class="profile-type-link"  id="profile-type-link-all" selected="selected" >All</option>
              <option value="Artist" class="profile-type-link"  id="profile-type-link-Artist">Artist</option>
              <option value="Recruiter" class="profile-type-link"  id="profile-type-link-Recruiter">Recruiter</option>
              <option value="Studio" class="profile-type-link"  id="profile-type-link-Studio">Companies</option>
              
        </select>

      </div>
    </div>
    <div class="showcase-btn-wrap clearfix text-center">
      <% if user_signed_in? %>
        <button onclick="redirect_to_create_gallery();" type="button" class="btn btn-success border-radius marginB10">Upload</button>
      <% end %>
      <button type="button" class="btn btn-default border-radius marginB10 browse-by" id="browse-by-link-popular" ng-click="browseBy('popular')">Browse Popular Artists</button>
      <button type="button" class="btn btn-default border-radius marginB10 browse-by" id="browse-by-link-top" ng-click="browseBy('top')">Browse Top Artists </button>
    </div>
  </div>
</section>

<!-- WIP Content Start -->
<section class="clearfix browseallcompanies">
<div class="clearfix wipwrap">
    <div class="wiptabs clearfix">
      <ul class="nav nav-pills">
        <li class="dropdown active"> <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-th txt15 marginR5" aria-hidden="true"></i> Users
          <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
          </a>
          <ul class="dropdown-menu">
              <li><a href="javascript:void(0);"  ng-click="searchByPostType(0)" class="post-type-link"  id="post-type-link-0" >Gallery</a></li>
              <li><a href="javascript:void(0);"  ng-click="searchByPostType(1)" class="post-type-link"  id="post-type-link-1" >Artwork</a></li>
              <li><a href="javascript:void(0);"  ng-click="searchByPostType(2)" class="post-type-link"  id="post-type-link-2" >Video</a></li>
              <li><a href="javascript:void(0);"  ng-click="searchByPostType(3)" class="post-type-link"  id="post-type-link-3" >WIP</a></li>
          <!--     <li><a href="javascript:void(0);"  ng-click="searchByPostType(4)" class="post-type-link"  id="post-type-link-4" >Challenge</a></li>
              <li><a href="javascript:void(0);"  ng-click="searchByPostType(5)" class="post-type-link"  id="post-type-link-5" >Awards</a></li> -->
              <li class='active'><a href="javascript:void(0);"  ng-click="searchByPostType(6)" class="post-type-link"  id="post-type-link-6" >Users</a></li>
          
          </ul>
        </li>
       <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle"> {{ profile_type_value }}
          <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
          </a>
          <ul class="dropdown-menu">
              <li><a href="javascript:void(0);"  ng-click="searchByProfileType('All')" class="profile-type-link"  id="profile-type-link-All">All</a></li>
              <li><a href="javascript:void(0);"  ng-click="searchByProfileType('Artist')" class="profile-type-link"  id="profile-type-link-Artist">Artist</a></li>
              <li><a href="javascript:void(0);" ng-click="searchByProfileType('Recruiter')" class="profile-type-link"  id="profile-type-link-Recruiter">Recruiter</a></li>
              <li><a href="javascript:void(0);" ng-click="searchByProfileType('Studio')" class="profile-type-link"  id="profile-type-link-Studio">Studio</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>

   <div class="clearfix usernavivation hidden-xs">
            <ul class="nav nav-pills">
                <li class="paddinT10 paddinB10">
                <input type="text" placeholder="Search" class="form-control from-input"  ng-model="search.firstname">
                </li>
                <li class="dropdown pull-right recentdrop" role="presentation"> 
                    <a aria-expanded="false" aria-haspopup="true" role="button" href="#" data-toggle="dropdown" class="dropdown-toggle">Recent <i class="fa fa-chevron-down fa-pad-left  blue-txt"></i> </a>
                         <ul class="dropdown-menu">
                        <li><a href="javascript:void(0);" id="sort-link-older" ng-click="searchByCreated('ASC', 'older')" class="sort-link" >Older</a></li>
                        <li><a href="javascript:void(0);" id="sort-link-newest" ng-click="searchByCreated('DESC', 'newest')"  class="sort-link" >Newest </a></li>
                      </ul>
                </li>
            </ul>
        </div>

         <!-- User Followers Start -->
        <section class="clearfix userfollowerswrap">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="clearfix userfollowers-indent">
                    <ul>

                        <li class="clearfix" dir-paginate="x in user_data | filter:search | itemsPerPage:10">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-4"> 
                                   <a href="/user-profile/{{x.username}}"><img lazy-img="<%= root_url %>{{ x.image.thumb.url }}" alt='User' class="img-responsive"></a>
                                </div>
                                <div class="col-md-5 col-sm-6 col-xs-8">
                                <a href="/user-profile/{{x.username}}">
                                    <div class="user-title">
                                   <!--  <a href='artist_profile/{{x.id}}'>{{ x.firstname }} {{ x.lastname }}</a> -->
                                   {{ x.firstname }} {{ x.lastname }}

                                    </div> </a>
                                    <div class="user-position-txt"><i class="fa fa-briefcase marginR5" aria-hidden="true"></i> {{ x.professional_headline }}</div>
                                    <div class="user-position-txt"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i>
                                            {{ x.city }} , {{ x.country.name}}
                                    </div>
                                    <button type="button" class="btn-default"><i class="fa fa-check-circle" aria-hidden="true"></i> Following</button>
                                    <span class="follow-companies">{{x.follow_count}}</span> 
                                    <span class="white-txt txt13 marginR5"> 
                                        <i class="fa fa-thumbs-up marginR5" aria-hidden="true"></i> {{x.like_count}}
                                    </span> 
                                    <span class="white-txt txt13 marginR5">
                                        <i class="fa fa-eye marginR5" aria-hidden="true"></i> {{x.view_count}}
                                    </span> 
                                </div>
                                <div class="col-md-5 col-sm-4 col-xs-12" ng-show = "x.images.length > 0">
                                    <div class="border-radius followers-indent">
                                      <ul>
                                           <li ng-repeat="y in x.images | limitTo: 4">
                                                <center><img src="{{y.image.thumb.url}}" class="img-responsive" alt="img"></center>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li ng-hide="user_data.length" class="text-center err-msg no-result">No Result Found!</li>

                    </ul>

                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 aside">
                <div class="marginB15 clearfix">
                    <div class="filter-heading">Filters</div>
                    <div class="filter-wrap clearfix">
                        <form role="form">
                            <div class="form-group">
                                <label for="ajit">Search by name</label>
                                <input type="text" class="form-control from-input" placeholder="Search" id="searchterms" ng-model='search.firstname'>
                            </div>
                            <div class="form-group clearfix">
                                <label for="Country">Country</label>
                                 <% country =  Country.all  %>
                                <select class="custom-select" id="Country" ng-change="searchByCountry(selected)" ng-model='selected'>
                                 <option value="">Select Country</option>
                                <%  country.each_with_index do |value,index| #abort(value.to_json) %>
                                    <option id="country_<%= value.id %>" value = "<%= value.id %>" ><%= value.name %></option>
                                <% end %>    
                                </select>
                                 

                            </div>
                            <div class="form-group clearfix">
                                <label for="City">City</label>
                                    <input type="text" class="form-control from-input" placeholder="Search" id="searchterms" ng-model='search.city'>
                            </div>
                           
                         <!--    <div class="form-group">
                                <label for="skills">Skills</label>
                                <input type="text" class="form-control from-input" placeholder="Enter skill here" id="skills">
                            </div>
                            <div class="form-group">
                                <label for="software">Software</label>
                                <input type="text" class="form-control from-input" placeholder="Enter software here" id="software">
                            </div> -->
                            <div class="form-group">
                                <div class="marginB10 white-txt">Availability</div>
                                <div class="checkbox-btn marginB10">
                                     <input id='rc3' name="full_time_employment" type="checkbox" ng-change="fulltime_availability(selected)" ng-model="selected">
                                    <label for="rc3" onclick>Full-time</label>
                                </div>
                                <div class="checkbox-btn marginB10">
                                    <input id='rc4' name="contract"  type="checkbox" ng-change="contract_availability(selected1)" ng-model="selected1">
                                    <label for="rc4" onclick>Contract</label>
                                </div>
                                <div class="checkbox-btn marginB10">

                                    <input id='rc5'   name="freelance"  type="checkbox" ng-change="freelance_availability(selected2)" ng-model="selected2">
                                    <label for="rc5" onclick>Freelance</label>
                                </div>
                            </div>
                          <!--   <button  type="submit" class="resetbtn border-radius"><i class="fa fa-refresh blue-txt marginR5" aria-hidden="true"></i> Reset</button> -->
                        </form>
                    </div>
                </div>
                <div class="wiphome clearfix marginB15">
                    <h2>Wip/Wants Critique</h2>
                    <ul class="margin">
                        <li class="lists"><a href="#"> <%= image_tag("database/mioree-riven-2016.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/mioree-3f71e1d9e907c6965bd7e7485e27e145-d7nmi4l.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/mioree-sailor-moon-2016-recovered.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/mioree-satsuki-the-queen-by-pieder-d7i0no4.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/mioree-child-of-light-becoming-by-pieder-d7isd6a.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/mioree-meg-2016-for-amethylia.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                    </ul>
                </div>
                <div class="wiphome marginB15 clearfix">
                    <h2>New From Pros <span>Go Pro!</span></h2>
                    <ul class="margin">
                        <li class="lists"><a href="#"><%= image_tag("database/artists-img.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/artists-img9.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/artists-img2.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/artists-img3.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/artists-img4.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/artists-img5.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/artists-img6.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/artists-img7.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/artists-img8.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                    </ul>
                </div>
                <div class="wiphome marginB15 clearfix">
                    <h2>Popular Today</h2>
                    <ul class="margin">
                        <li class="lists"><a href="#"><%= image_tag("database/mioree-riven-2016.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/mioree-3f71e1d9e907c6965bd7e7485e27e145-d7nmi4l.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/mioree-sailor-moon-2016-recovered.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/mioree-satsuki-the-queen-by-pieder-d7i0no4.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/mioree-child-of-light-becoming-by-pieder-d7isd6a.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/mioree-meg-2016-for-amethylia.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                        <li class="lists"><a href="#"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
                    </ul>
                </div>
            </div>
        </section>
   <div class="pagintionpage clearfix">
      <dir-pagination-controls
           max-size="1"
           direction-links="true"
           boundary-links="false" >
      </dir-pagination-controls>

  </div>
</section>
</div>
</div>

<footer class="footer clearfix padding">
        <%= render 'layouts/lastfooter' %>
</footer>
<script type='text/javascript'>
  function redirect_to_create_gallery(){
      window.location.href = "<%= create_gallery_path %>";
  }
</script>

<script type="text/javascript">

  // main page angular app start
  var app = angular.module('Browse_allartist', ["angularUtils.directives.dirPagination", "angularLazyImg","MainModule"]);
  app.controller('BrowseallartistCtrl', function($sce, $scope, $http) {
      
    $scope.filter = function() {

            profiliname = ''
         if(typeof $scope.profile_type_value !== 'undefined' && $scope.profile_type_value != ''){
               profiliname = $scope.profile_type_value;
        }else{
               profiliname = 'Artist';
               $scope.profile_type_value  =  profiliname;
        }     


         list_url = '/user/get_artist_list?profile_type=Artist';     
         angular.element( document.querySelectorAll( '#profile-type-link-'+profiliname) ).addClass('active');    

        if(typeof $scope.order !== 'undefined' && $scope.order != ''){
          list_url += '&order=' + $scope.order
        }
         if(typeof $scope.profile_type !== 'undefined' && $scope.profile_type != '' && $scope.profile_type != 'all'&& $scope.profile_type != 'All'){
          list_url += '&profile_type=' + $scope.profile_type
        }
        if(typeof $scope.browse_by !== 'undefined' && $scope.browse_by != ''  && $scope.browse_by != 'all'){
          list_url += '&browse_by=' + $scope.browse_by
        }
        if(typeof $scope.country_id !== 'undefined' && $scope.country_id != ''  && $scope.country_id != 'all'){
          list_url += '&country_id=' + $scope.country_id
        }
         if(typeof $scope.full_time_employment !== 'undefined' && $scope.full_time_employment != ''  && $scope.full_time_employment != 'false'){
          list_url += '&full_time_employment=' + $scope.full_time_employment
        }

        if(typeof $scope.contract !== 'undefined' && $scope.contract != ''  && $scope.contract != 'false'){
          list_url += '&contract=' + $scope.contract
        }

        if(typeof $scope.freelance !== 'undefined' && $scope.freelance != ''  && $scope.freelance != 'false'){
          list_url += '&freelance=' + $scope.freelance
        }
       $http.get(list_url).then(function (response) {
          $scope.user_data = response.data;
        });

    };
    $scope.filter();

    $scope.searchByProfileType = function(value) {

      // alert(value);
        angular.element( document.querySelectorAll( '.profile-type-link, .profile-type-category-link, .profile-type-subcategory-link' ) ).removeClass('active');
        angular.element( document.querySelectorAll( '#profile-type-link-' + value + ', #profile-type-category-link-all, #profile-type-subcategory-link-all' ) ).addClass('active');

        $scope.profile_type_value = value;
        $scope.profile_type = value;
        $scope.filter();
    };

     $scope.searchByCreated = function(value, id) {

      angular.element( document.querySelectorAll( '.sort-link' ) ).removeClass('active');
      angular.element( document.querySelector( '#sort-link-' + id ) ).addClass('active');
      
      $scope.order = value;
      $scope.filter();

    };


    $scope.searchByPostType = function(id) {
        
        if(id == 1){
          window.location.href='<%= browse_all_artwork_path %>';
        }else if(id == 2){
          window.location.href='<%= browse_all_video_path %>';
        }else if(id == 3){
          window.location.href='<%= browse_all_work_in_progress_path %>';
        }else if(id == 4){
         /* window.location.href='<%= browse_all_challenge_path %>';*/
        }else if(id == 5){
         /* window.location.href='<%= browse_all_awards_path %>';*/
        }else if(id == 6){
          
        }else{
           window.location.href='<%= browse_all_gallery_path %>';
        }

    };

    $scope.searchByPostType1 = function(id) {
       // alert(id);
        if(id == 1){
           window.location.href='<%= browse_all_artwork_path %>';
        }else if(id == 2){
          window.location.href='<%= browse_all_video_path %>';
        }else if(id == 3){
          window.location.href='<%= browse_all_work_in_progress_path %>';
        }else if(id == 4){
         /* window.location.href='<%= browse_all_challenge_path %>';*/
        }else if(id == 5){
         /* window.location.href='<%= browse_all_awards_path %>';*/
        }else if(id == 6){
          window.location.href='<%= browse_all_artist_path %>';
        }else{
         
        }

    };

     $scope.searchByCountry = function(value, id) {
            
      $scope.country_id = value;
      $scope.filter();

    };

    $scope.fulltime_availability = function(value, id) {
          $scope.full_time_employment = value;
          $scope.filter();
    };

    $scope.contract_availability = function(value, id) {
          $scope.contract = value;
          $scope.filter();
    };

    $scope.freelance_availability = function(value, id) {
          $scope.freelance = value;
          $scope.filter();
    };

   
    $scope.unfollowuser = function(user_id) {
       
      if(confirm('Are you sure?')){
           list_url = '/user/unfollow_user?user_id='+user_id;
             $http.get(list_url).then(function (response) {
           });
      }    
     
     $scope.filter();
    
    }; 

    $scope.browseBy = function(browse_by) {

      angular.element( document.querySelectorAll( '.browse-by' ) ).removeClass('active btn-success');
      angular.element( document.querySelectorAll( '.browse-by' ) ).addClass('btn-default');
      angular.element( document.querySelectorAll( '#browse-by-link-' + browse_by ) ).removeClass('btn-default');
      angular.element( document.querySelectorAll( '#browse-by-link-' + browse_by ) ).addClass('btn-success active');

      $scope.browse_by = browse_by;
      $scope.filter();
    };

  });

  // main page angular app end
angular.bootstrap(document.getElementById("Browse_allartist"), ['Browse_allartist']);
</script>

