<!-- All Dashboard Start -->
<%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
<section class="clearfix container-fluid-full" id="myApp2"  ng-app="myApp" ng-controller="dashboardCtrl">
  <div class="row-fluid">
    <div class="sidebar-left">
  <%= render 'layouts/navigation' %>
</div>
    
    <div class="content clearfix">
      <div class="submenutabs-dashboard clearfix">
        <%= render 'layouts/dashboard_feed' %>
      </div>
      <div class="clearfix bookmark-tabs">
            
<!-- User Statistics Start -->
<section class="clearfix userstatisticswrap">

    <div class="clearfix marginB15">
      <div class="userstat-indent clearfix">
        <div class="col-md-12 col-sm-12 col-xs-12 white-txt txt16 marginB15">All Time Statistics</div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="viewbdr clearfix">
            <div class="userview-title blue-txt"><%= @view_count  %></div>
            <div class="text-uppercase view-txt">Project views</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="viewbdr clearfix">
            <div class="userview-title blue-txt"><%= @user_view_count %></div>
            <div class="text-uppercase view-txt">Profile views</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="viewbdr clearfix">
            <div class="userview-title greencolor"><%= @like_count %></div>
            <div class="text-uppercase view-txt">Project Likes</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="userview-title darkcolor"><%= @comment_count %></div>
          <div class="text-uppercase view-txt">Project comments</div>
        </div>
      </div>
    </div>
    <div class="clearfix marginB15">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="userstat-indent1 clearfix">
            <div class="white-txt txt16 marginB15">Project Views</div>
            <div><%= 
               # line_chart Gallery.group_by_day(:created_at, format: "%B %d, %Y").count, discrete: true , colors: ["red", "#FF0000"] 
                line_chart Gallery.where('user_id=?',current_user.id).group_by_month(:created_at, format: "%B %d, %Y").sum('view_count'),  xtitle: "Day", ytitle: "Likes", discrete: true , colors: ["red", "#FF0000"] 
            %>
            <!-- <img src="images/user-project-view.jpg" class="img-responsive" alt="User Project View"> --></div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="userstat-indent1 clearfix">
            <div class="white-txt txt16 marginB15">Project Likes</div>
            <div>
              <%= 
                line_chart Gallery.where('user_id=?',current_user.id).group_by_month(:created_at, format: "%B %d, %Y").sum('like_count'),  xtitle: "Day", ytitle: "Likes", discrete: true , colors: ["red", "#FF0000"] 
              %>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix marginB15 userstat-indent1 hidden-xs">
      <div class="clearfix marginB15">
        <div class="row">
          <div class="col-md-8 col-sm-7 col-xs-8 white-txt txt16">Project Monthly Review</div>
          <div class="col-md-4 col-sm-5 col-xs-4 white-txt txt16 text-right lightcolor">(In last 30 days)</div>
        </div>
      </div>
      <div class="clearfix reviewuser">
        <div class="reviewfisrt lightcolor pull-left">Project</div>
        <div class="reviewsec pull-left txt16 lightcolor text-center"><i class="fa fa-eye" aria-hidden="true"></i></div>
        <div class="reviewsec pull-left txt16 lightcolor text-center"><i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
        <div class="reviewsec pull-left txt16 lightcolor text-center"><i class="fa fa-comments" aria-hidden="true"></i></div>
        <div class="reviewlast lightcolor pull-left">Liked BY:</div>
      </div>
      
      <div class="user-portfolio-wrap clearfix" ng-repeat = "x in stats_data | limitTo : 5 ">
          <div class="clearfix user-portfolio-first pull-left">
            <div class="user-stat-pic pull-left">
           <!--  <img src="images/database/user-stat.jpg" width="51" height="51" alt="User"> -->
            <img lazy-img="<%= root_url %>{{ x.company_logo.user_activity.url }}" class="img-responsive">
            </div>
            <div class="pull-left">
              <h3>{{ x.title}}</h3>
              <div class="appr-txt">Published: {{x.created_at}}</div>
            </div>
          </div>
          <div class="user-portfolio-sec pull-left text-center">{{ x.view_count}}</div>
          <div class="user-portfolio-sec pull-left text-center">{{ x.like_count}}</div>
          <div class="user-portfolio-sec pull-left text-center">{{ x.comment_count}}</div>
          <div class="clearfix user-portfolio-first pull-left"> 
      
              <a href="javascript:void(0);" class="marginR5" ng-repeat = "y in x.post_like | limitTo : 7 ">
               <img src="<%= root_url %>{{ y.user.image.user_activity.url }}" width="51" height="51" alt="img">
              </a> 
              

            <!--   <a href="#" class="marginR5"><img src="images/database/31.jpg" width="51" height="51" alt="img"></a> 
              <a href="#" class="marginR5"><img src="images/database/32.jpg" width="51" height="51" alt="img"></a> 
              <a href="#" class="marginR5"><img src="images/database/user-stat.jpg" width="51" height="51" alt="img"></a> 
              <a href="#" class="marginR5"><img src="images/database/user-stat1.jpg" width="51" height="51" alt="img"></a> 
              <a href="#" class="marginR5"><img src="images/database/30.jpg" width="51" height="51" alt="img"></a>
              <a href="#" class="marginR5"><img src="images/database/31.jpg" width="51" height="51" alt="img"></a>  -->
         </div>
      </div> 
       <div class="clearfix downbox text-center err-msg no-result marginT10" ng-hide="stats_data.length" >No Result Found!</div> 

    </div>

    <div class="clearfix marginB15 userstat-indent1">
      <div class="row">
        <div class="col-md-6 col-xs-12 col-sm-6">
          <div class="marginB10 white-txt txt16"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Likes</div>
            <%
              if  @allpostlikerecords.present?
            %>    
                <div class="userstatapp clearfix">
                    <ul class="row">
                    <% @allpostlikerecords.each_with_index do |value, index| 
                           # abort(value.user.image.user_activity.url.to_json)
                           if index > 6
                              break
                           end 
                    %>   

                      <li class="col-md-6 col-xs-12 col-sm-12 marginB10">
                        <div class="user-stat-pic pull-left"><a href='<%= artist_profile_path(value.user.id) %>'><img src="<%= value.user.image.user_activity.url %>" width="51" height="51" alt="User"></a></div>
                        <div class="pull-left">
                          <h3><a href='<%= artist_profile_path(value.user.id) %>'><%= value.user.firstname %> <%= value.user.lastname %></a></h3>
                          <div class="appr-txt"><%= value.user.like_count %>  Likes</div>
                        </div>
                      </li>


                  <% end %>  

                    </ul>
                </div>

          <%      
            end
          %> 
        </div>
        <div class="col-md-6 col-xs-12 col-sm-6 userappmobi">
          <div class="marginB10 white-txt txt16"><i class="fa fa-comments" aria-hidden="true"></i> Commenters</div>
          <%
                  if  @allpostcommentrecords.present?
                %>    
                    <div class="userstatapp clearfix">
                        <ul class="row">
                        <% @allpostcommentrecords.each_with_index do |value, index| 
                               # abort(value.user.image.user_activity.url.to_json)
                               if index > 6
                                  break
                               end 
                        %>   

                          <li class="col-md-6 col-xs-12 col-sm-12 marginB10">
                            <div class="user-stat-pic pull-left"><a href='<%= artist_profile_path(value.user.id) %>'><img src="<%= value.user.image.user_activity.url %>" width="51" height="51" alt="User"></a></div>
                            <div class="pull-left">
                              <h3><a href='<%= artist_profile_path(value.user.id) %>'><%= value.user.firstname %> <%= value.user.lastname %></a></h3>
                              <!-- <div class="appr-txt"><%#= value.user.like_count %>  comments</div> -->
                            </div>
                          </li>


                      <% end %>  

                        </ul>
                    </div>

              <%      
                end
              %> 




        </div>

      </div>
    </div>
</section>
      </div>
    </div>
  </div>
</section>

<!-- Footer Start -->
<footer class="footer clearfix padding">
 	<%= render "layouts/lastfooter" %>
</footer>

<script type="text/javascript">

  // main page angular app start
  var app = angular.module('myApp', ["angularUtils.directives.dirPagination", "angularLazyImg"]);
  app.controller('dashboardCtrl', function($sce, $scope, $http) {
      
    $scope.filter = function() {

     
        list_url = '/user/get_stats';     
        $http.get(list_url).then(function (response) {

          $scope.stats_data = response.data;
        });


    };
    $scope.filter();

    $scope.searchByCountry = function(value, id) {
            
      $scope.country_id = value;
      $scope.filter();

    };
  });

  // main page angular app end

</script>


