<div id="myApp2" ng-app="myApp" ng-controller="myCtrl as ctrl">

    <!-- All Dashboard Start -->
    <section class="clearfix container-fluid-full">
        <div class="row-fluid">
            <div class="sidebar-left">
                <%= render 'layouts/navigation' %>
            </div>
            
            <div class="content clearfix">
                <div class="clearfix job-post-bread">
                    <ul class="breadcrumb">
                        <li><a href="<%= user_profile_path %>">Profile</a></li>
                        <li class="active">Edit profile</li>
                    </ul>
                </div>
              
                <!-- User Followers Start -->
                <section class="clearfix usersettings editprofie">
                    <div class="clearfix notification-heading"> <span class="noti-title" style="border:0px;">Professional profile</span> </div>
                    <div class="white-txt txt15 marginB15">Your profile will display on both your <span class="blue-txt">CGMeetuo-powered website</span> as well as well as your <span class="blue-txt">CGMeetup Community page.</span> 
                    </div>
                    <div class="clearfix editprofile-btn marginB15">
                        <button type="button" class="btn btn-info marginR5 marginB10">View profile on community</button>
                        <button type="button" class="btn btn-info marginB10"><i class="fa fa-home marginR5" aria-hidden="true"></i> View profile on my website</button>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">Basic Information</div>
                        <div class="panel-body">
                            <div class="row">
<!-- Basic Information form start -->
<%= form_for(@user, url: user_edit_profile_path(@user), html: { method: :put, id: 'image_form' }) do |f| %>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="firstname">First name</label>
                                        <%= f.text_field :firstname, class: 'form-control from-input', id: 'firstname', placeholder: 'Enter First Name' %>
                                        <span class="err-msg"><%= error_message(@user, :firstname) %></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastname">Last name</label>
                                        <%= f.text_field :lastname, class: 'form-control from-input', id: 'lastname', placeholder: 'Enter Last Name' %>
                                        <span class="err-msg"><%= error_message(@user, :lastname) %></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="professional_headline">Professional Headline - One line about you</label>
                                        <%= f.text_field :professional_headline, class: 'form-control from-input', id: 'professional_headline', placeholder: 'Enter Professional Headline' %>
                                        <span class="err-msg"><%= error_message(@user, :professional_headline) %></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email Address</label>
                                        <%= f.email_field :email, class: 'form-control from-input', id: 'email', placeholder: 'Enter Email' %>
                                        <span class="err-msg"><%= error_message(@user, :email) %></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Phone Number</label>
                                        <%= f.text_field :phone_number, class: 'form-control from-input', id: 'phone_number', placeholder: 'Enter Phone Number' %>
                                        <span class="err-msg"><%= error_message(@user, :phone_number) %></span>
                                    </div>
                                    <div class="form-group timezone clearfix">
                                        <label>Profile Type</label>
                                        <%= f.select(:profile_type, options_for_select(User::PROFILE_TYPE, params[:user].present? ? params[:user][:profile_type] : @user[:profile_type]), {:include_blank => "-- Select Profile Type --"}, {'class' => 'custom-select from-input'})  %>
                                        <span class="err-msg"><%= error_message(@user, :profile_type) %></span>

                                    </div>
                                    <div class="form-group timezone clearfix">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label>Country</label>
                                                <%= f.select(:country_id, options_for_select(Country.pluck(:name, :id), :selected => @user.country_id), {:include_blank => "-- Select Country --"}, {'class' => 'custom-select from-input'}) %>
                                                <span class="err-msg"><%= error_message(@user, :country_id) %></span>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label>City</label>
                                                <%= f.text_field :city, class: 'form-control from-input', id: 'city', placeholder: 'Enter City' %>
                                                <span class="err-msg"><%= error_message(@user, :city) %></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 marginB15">
                                    <div class="edit-profile marginB15">
                                        <% if (current_user.image.blank? || current_user.image.try(:thumb).blank?)%>
                                            <%= image_tag("profile.jpg", :alt => "Profile", :class => "img-responsive", "ng-src"=>"{{stepsModel}}") %>
                
                                        <% else %>
                                            <%= image_tag(current_user.image.try(:thumb).try(:url), alt: "User Image", class: "img-thumbnail img-responsive", "ng-src"=>"{{stepsModel}}") %>
                                        <% end %>  


                                    </div>
                                    <div class="white-txt txt15 marginB15">Upload New Avatar</div>
                                    <div class="clearfix white-txt">

                                        <%= f.file_field(:image, accept: "image/*", id: "userPicUpload", "ng-model" => "userPicUpload", onchange: "angular.element(this).scope().imageUpload(this)")%>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" class="green-btn border-radius" value="BasicInformation" name="commit"><i aria-hidden="true" class="fa fa-floppy-o marginR5"></i> Save</button>
                                </div>
<% end %>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">Contact Information</div>
                        <div class="panel-body">
                            <div class="row">
<!-- Professional Summary form start -->
<%= form_for(@user, url: user_edit_profile_path(@user), html: { method: :put, id: 'contact_information_form' }) do |f|  %>

                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    <div class="form-group timezone clearfix">
                                        <label>Show “message” button?</label>
                                        <%= f.select(:show_message_button, options_for_select([['Yes', 1], ['No', 0]], params[:user].present? ? params[:user][:show_message_button] : @user[:show_message_button]), {:include_blank => false}, {'class' => 'custom-select from-input'})  %>
                                        <span class="err-msg"><%= error_message(@user, :show_message_button) %></span>

                                    </div>

                                    <div class="clearfix"></div>
                                    
                                    <div class="white-txt txt15 marginB15">Interested in:</div>
                                    <div class="checkbox-btn marginB10">

                                        <%= f.check_box :full_time_employment %>
                                        <label for="user_full_time_employment">Full-time employment</label>
                                    </div>
                                    <div class="checkbox-btn marginB10">
                                        <%= f.check_box :contract %>
                                        <label for="user_contract">Contract</label>
                                    </div>
                                    <div class="checkbox-btn marginB10">
                                        <%= f.check_box :freelance %>
                                        <label for="user_freelance">Freelance</label>
                                    </div>

                                    <div class="white-txt txt15 marginB15">Available from:</div>
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker1'>
                                            <!-- <input type='text' class="form-control from-input" ng-model="ctrl.input" ng-model-options="{ updateOn: 'blur' }" moment-picker="ctrl.input" format="YYYY-MM-DD HH:mm" /> -->

                                            <%= f.text_field :available_from, class: 'form-control from-input', id: 'available_from', placeholder: '', "ng-model" => "ctrl.available_from.date", "is-open" => "ctrl.available_from.open", "datetime-picker" => "yyyy-MM-dd HH:mm", 'readonly' => 'readonly' %>
                                            <span class="input-group-addon" ng-click="ctrl.openCalendar($event, 'available_from')"> <span class="glyphicon glyphicon-calendar"></span> </span> 
                                            <span class="err-msg"><%= error_message(@user, :available_from) %></span>
                                                         
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" class="green-btn border-radius" value="ContactInformation" name="commit"><i aria-hidden="true" class="fa fa-floppy-o marginR5"></i> Save</button>
                                </div>
<% end %>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Professional Summary</div>
                        <div class="panel-body">
<!-- Professional Summary form start -->
<%= form_for(@user, url: user_edit_profile_path(@user), html: { method: :put, id: 'professional_summary_form' }) do |f| %>
                            <div class="form-group">
                                <label>Summary</label>
                                <%= f.text_area :summary, class: 'form-control summary-teatarea', id: 'summary', placeholder: 'A summary of your professional skill and experience as an artist' %>
                                <span class="err-msg"><%= error_message(@user, :summary) %></span>
                            </div>
                            <button type="submit" class="green-btn border-radius" value="ProfessionalSummary" name="commit"><i aria-hidden="true" class="fa fa-floppy-o marginR5"></i> Save</button>
<% end %>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Demo Reel</div>
                        <div class="panel-body">
                            <div class="row">
<!-- Demo Reel form start -->
<%= form_for(@user, url: user_edit_profile_path(@user), html: { method: :put, id: 'demo_reel_form' }) do |f| %>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="text">Demo Reel - YouTube or Vimeo URL</label>
                                    <%= f.text_field :demo_reel, class: 'form-control from-input', id: 'demo_reel', placeholder: 'Enter Demo Reel' %>
                                    <span class="err-msg"><%= error_message(@user, :demo_reel) %></span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="green-btn border-radius" value="DemoReel" name="commit"><i aria-hidden="true" class="fa fa-floppy-o marginR5"></i> Save</button>
                            </div>
<% end %>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Professional Experience</div>
                        <div class="panel-body">
                            <div class="row">
<!-- Professional Experience form start -->
<%= form_for(@user, url: user_edit_profile_path(@user), html: { method: :put, id: 'professional_experience_form' }) do |f| %>
    <%= f.fields_for :professional_experience do |pe| %>
                                <div class="clearfix experience-pro marginB15">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-info marginR5 marginB10 text-uppercase" ng-click="addProfessionalExperience()"><i class="fa fa-plus marginR5" aria-hidden="true"></i> Add Professional Experience</button>
                                    </div>
                                </div>

                                <div ng-repeat="x in professional_experiences">
                                    <div class="clearfix">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group timezone clearfix">
                                                <label for="text">Company Name</label>
                                                <%#= pe.select(:company_id, options_for_select(Company.order('name ASC').pluck(:name, :id)), {:include_blank => "-- Select Company --"}, {'class' => 'custom-select from-input', name: "user[professional_experiences][{{$index}}][company_id]", id: 'user_professional_experiences_company_id_{{$index}}'}) %>

                                                <select class="custom-select from-input" name="user[professional_experiences][{{$index}}][company_id]" id="user_professional_experiences_company_id_{{$index}}" >

                                                    <option value="">-- Select Company --</option>
                                                    <option ng-repeat="y in <%= Company.order('name ASC').pluck(:name, :id) %>" value="{{y[1]}}" ng-selected="{{ (y[1] == x.company_id) ? 'true' : 'false' }}" >{{y[0]}}</option>
                                                </select>

                                            </div>
                                            
                                        </div>
                                        <div class="col-md-1 col-sm-6 col-xs-12 or-txt1 lightcolor text-center">or</div>
                                        <div class="col-md-3 col-sm-6 col-xs-12 addnewcompany">
                                            <%= pe.text_field :company_name, class: 'form-control from-input', name: "user[professional_experiences][{{$index}}][company_name]", id: 'user_professional_experiences_company_name_{{$index}}', placeholder: 'Enter Company Name', value: '{{x.company_name}}' %>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label for="text">Title </label>
                                                <%= pe.text_field :title, class: 'form-control from-input', name: "user[professional_experiences][{{$index}}][title]", id: 'user_professional_experiences_title_{{$index}}', placeholder: 'Enter Company Title', value: '{{x.title}}' %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label for="text">Location </label>
                                                <%= pe.text_field :location, class: 'form-control from-input', name: "user[professional_experiences][{{$index}}][location]", id: 'user_professional_experiences_location_{{$index}}', placeholder: 'Enter Company Location', value: '{{x.location}}' %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <label class="col-md-12 col-sm-12 col-xs-12" for="text">Time Period </label>
                                        <div class="col-md-2 col-sm-6 col-xs-12 timeperiod">
                                            
                                            <%#= pe.select(:from_month, options_for_select(User::MONTH_VALUE), {:include_blank => "-- From Month --"}, {'class' => 'custom-select from-input', name: "user[professional_experiences][{{$index}}][from_month]", id: 'user_professional_experiences_from_month_{{$index}}'}) %>

                                            <select class="custom-select from-input" name="user[professional_experiences][{{$index}}][from_month]" id="user_professional_experiences_from_month_{{$index}}" >

                                                    <option value="">-- From Month --</option>
                                                    <option ng-repeat="y in <%= User::MONTH_VALUE %>" value="{{y[1]}}" ng-selected="{{ (y[1] == x.from_month) ? 'true' : 'false' }}" >{{y[0]}}</option>
                                                </select>

                                        </div>
                                        <div class="col-md-2 col-sm-6 col-xs-12 marginB15">
                                            <%= pe.text_field :from_year, class: 'form-control from-input', name: "user[professional_experiences][{{$index}}][from_year]", id: 'user_professional_experiences_from_year_{{$index}}', placeholder: 'From Year', 'maxlength' => '4', value: '{{x.from_year}}' %>
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-xs-12 timeperiod">
                                            <%#= pe.select(:to_month, options_for_select(User::MONTH_VALUE), {:include_blank => "-- To Month --"}, {'class' => 'custom-select1 from-input1', name: "user[professional_experiences][{{$index}}][to_month]", id: 'user_professional_experiences_to_month_{{$index}}'}) %>



                                                <select class="custom-select from-input" name="user[professional_experiences][{{$index}}][to_month]" id="user_professional_experiences_to_month_{{$index}}" >

                                                    <option value="">-- To Month --</option>
                                                    <option ng-repeat="y in <%= User::MONTH_VALUE %>" value="{{y[1]}}" ng-selected="{{ (y[1] == x.to_month) ? 'true' : 'false' }}" >{{y[0]}}</option>
                                                </select>

                                        </div>
                                        <div class="col-md-2 col-sm-6 col-xs-12 marginB15">
                                            <%= pe.text_field :to_year, class: 'form-control from-input', name: "user[professional_experiences][{{$index}}][to_year]", id: 'user_professional_experiences_to_year_{{$index}}', placeholder: 'To Year', 'maxlength' => '4', value: '{{x.to_year}}' %>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 paddinT10 marginB15">
                                            <div class="checkbox-btn">
                                                <input type="checkbox" name="rc15" id="rc15" value="value-1">
                                                <%= pe.check_box :currently_worked, {name: "user[professional_experiences][{{$index}}][currently_worked]", id: 'user_professional_experiences_currently_worked_{{$index}}', 'ng-checked' => '{{x.currently_worked}}'} %>
                                                <label for="user_professional_experiences_currently_worked_{{$index}}">I currently work here</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="text">Description </label>
                                                <%= pe.text_area :description, class: 'form-control summary-teatarea', name: "user[professional_experiences][{{$index}}][description]", id: 'user_professional_experiences_description_{{$index}}', placeholder: 'E.g Concept Artist, Digital Matte Painter', value: '{{x.description}}' %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix experience-pro marginB15">
                                        <div class="col-md-12">
                                            <button class="lightbtn border-radius" type="button" ng-click="removeProfessionalExperience($index)"><i class="fa fa-times marginR5" aria-hidden="true"></i> Remove</button>
                                        </div>
                                    </div>
                                </div>  
                                <div class="clearfix experience-pro">
                                    <div class="col-md-12">
                                      
                                        <button type="submit" class="green-btn border-radius" value="ProfessionalExperience" name="commit"><i aria-hidden="true" class="fa fa-floppy-o marginR5"></i> Save</button>
                                    </div>
                                </div>
    <% end %>
<% end %>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Production Experience</div>
                        <div class="panel-body">
                            <div class="row">
<!-- Production Experience form start -->
<%= form_for(@user, url: user_edit_profile_path(@user), html: { method: :put, id: 'production_experience_form' }) do |f| %>
    <%= f.fields_for :production_experience do |pe| %>
                                    <div class="col-md-12 experience-pro marginB15">
                                        <button type="button" class="btn btn-info marginR5 marginB10 text-uppercase" ng-click="addProductionExperience()"><i class="fa fa-plus marginR5" aria-hidden="true"></i> Add Position</button>
                                    </div>
                                    
                                    <div class="clearfix" ng-repeat="x in production_experiences">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label for="text">Production Title</label>
                                                <%= pe.text_field :production_title, class: 'form-control from-input', name: "user[production_experiences][{{$index}}][production_title]", id: 'user_production_experiences_production_title_{{$index}}', placeholder: 'Enter Title', value: '{{x.production_title}}' %>
                                            </div>
                                            <div class="form-group clearfix">
                                                <%= pe.text_field :release_year, class: 'form-control from-input', name: "user[production_experiences][{{$index}}][release_year]", id: 'user_production_experiences_release_year_{{$index}}', placeholder: 'Enter Release Year', value: '{{x.release_year}}', 'maxlength' => '4' %>
                                            </div>
                                            <div class="form-group timezone clearfix">
                                                <label for="text">Production Type</label>
                                               
                                                <select class="custom-select from-input" name="user[production_experiences][{{$index}}][production_type]" id="user_production_experiences_production_type_{{$index}}" >

                                                    <option value="">-- Select Production Type --</option>
                                                    <option ng-repeat="y in <%= User::PRODUCTION_TYPE %>" value="{{y[1]}}" ng-selected="{{ (y[1] == x.production_type) ? 'true' : 'false' }}" >{{y[0]}}</option>
                                                </select>    

                                            </div>
                                            <div class="form-group">
                                                <label for="text">Your Role</label>
                                                <%= pe.text_field :your_role, class: 'form-control from-input', name: "user[production_experiences][{{$index}}][your_role]", id: 'user_production_experiences_your_role_{{$index}}', placeholder: 'E.g Concept Artist, Digital Matte Painter', value: '{{x.your_role}}' %>
                                            </div>
                                            <div class="form-group">
                                                <label for="text">Company</label>
                                                <%= pe.text_field :company, class: 'form-control from-input', name: "user[production_experiences][{{$index}}][company]", id: 'user_production_experiences_company_{{$index}}', placeholder: 'The Company you worked for', value: '{{x.company}}' %>
                                            </div>
                                            <div class="clearfix experience-pro marginB15">
                                                <button class="lightbtn border-radius" type="button" ng-click="removeProductionExperience($index)"><i class="fa fa-times marginR5" aria-hidden="true"></i> Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix experience-pro col-md-6 col-sm-6 col-xs-12">
                                        <button type="submit" class="green-btn border-radius" value="ProductionExperience" name="commit"><i aria-hidden="true" class="fa fa-floppy-o marginR5"></i> Save</button>
                                    </div>
    <% end %>
<% end %>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Education Experience</div>
                        <div class="panel-body">
                            <div class="row">
<!-- Education Experience form start -->
<%= form_for(@user, url: user_edit_profile_path(@user), html: { method: :put, id: 'education_experience_form' }) do |f| %>
    <%= f.fields_for :education_experience do |pe| %>
                                <div class="clearfix experience-pro marginB15">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-info marginR5 marginB10 text-uppercase" ng-click="addEducationExperience()"><i class="fa fa-plus marginR5" aria-hidden="true"></i> Add Education</button>
                                    </div>
                                </div>

                                <div class="clearfix" ng-repeat="x in education_experiences">
                                    <div class="clearfix">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label for="text">School Name</label>
                                                <%= pe.text_field :school_name, class: 'form-control from-input', name: "user[education_experiences][{{$index}}][school_name]", id: 'user_education_experiences_school_name_{{$index}}', placeholder: 'Enter School Name', value: '{{x.school_name}}' %>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-1 col-sm-6 col-xs-12 text-center lightcolor or-txt1">or</div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 addnewcompany">
                                            <input class="form-control from-input">
                                        </div> -->
                                    </div>
                                    <div class="clearfix">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <label for="text">Field of Study/Skill </label>
                                                <%= pe.text_field :field_of_study, class: 'form-control from-input', name: "user[education_experiences][{{$index}}][field_of_study]", id: 'user_education_experiences_field_of_study_{{$index}}', placeholder: '', value: '{{x.field_of_study}}' %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <label class="col-md-12 col-sm-12 col-xs-12" for="text">Date Addended* </label>
                                        <div class="col-md-3 col-sm-6 col-xs-12 timeperiod">
                                            <select class="custom-select from-input" name="user[education_experiences][{{$index}}][month_val]" id="user_education_experiences_month_val_{{$index}}" >

                                                <option value="">-- Month --</option>
                                                <option ng-repeat="y in <%= User::MONTH_VALUE %>" value="{{y[1]}}" ng-selected="{{ (y[1] == x.month_val) ? 'true' : 'false' }}" >{{y[0]}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <%= pe.text_field :year_val, class: 'form-control from-input', name: "user[education_experiences][{{$index}}][year_val]", id: 'user_education_experiences_year_val_{{$index}}', placeholder: 'Year', value: '{{x.year_val}}', 'maxlength' => '4' %>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12 marginB15 lightcolor paddinT10">or expected graduation year</div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="text">Description </label>
                                                <%= pe.text_area :description, class: 'form-control summary-teatarea', name: "user[education_experiences][{{$index}}][description]", id: 'user_education_experiences_description_{{$index}}', placeholder: 'E.g Concept Artist, Digital Matte Painter', value: '{{x.description}}' %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix experience-pro marginB15 col-md-12">
                                        <button class="lightbtn border-radius" type="button" ng-click="removeEducationExperience($index)"><i class="fa fa-times marginR5" aria-hidden="true"></i> Remove</button>
                                    </div>

                                </div>

                                <div class="clearfix experience-pro">
                                    <div class="col-md-12">
                                        <button type="submit" class="green-btn border-radius" value="EducationExperience" name="commit"><i aria-hidden="true" class="fa fa-floppy-o marginR5"></i> Save</button>
                                    </div>
                                </div>
    <% end %>
<% end %>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Skills</div>
                        <div class="panel-body">
<!-- Skills form start -->
<%= form_for(@user, url: user_edit_profile_path(@user), html: { method: :put, id: 'skills_form' }) do |f| %>
                            <div class="row">
                                <div class="form-group clearfix">
                                    <label class="col-md-12 col-sm-12 col-xs-12">Skills and expertise needed for job:</label>
                                    <div class="col-md-8 col-sm-6 col-xs-6">
                                        <%= f.text_field :skill_expertise, class: 'form-control from-input', id: 'skill_expertise', placeholder: 'Enter Skills And Expertise' %>
                                        <span class="err-msg"><%= error_message(@user, :skill_expertise) %></span>
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <label class="col-md-12 col-sm-12 col-xs-12">Software expertise needed for job:</label>
                                    <div class="col-md-8 col-sm-12 col-xs-12">
                                        <%= f.text_field :software_expertise, class: 'form-control from-input', id: 'software_expertise', placeholder: 'Enter Software Expertise' %>
                                        <span class="err-msg"><%= error_message(@user, :software_expertise) %></span>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="green-btn border-radius" value="Skills" name="commit"><i aria-hidden="true" class="fa fa-floppy-o marginR5"></i> Save</button>
<% end %>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Contact & Social Media</div>
                        <div class="panel-body">
<!-- Skills form start -->
<%= form_for(@user, url: user_edit_profile_path(@user), html: { method: :put, id: 'social_media_form' }) do |f| %>                        
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="text">Public Email Address</label>
                                        <%= f.text_field :public_email_address, class: 'form-control from-input', id: 'public_email_address', placeholder: 'contact@artist.com' %>
                                        <span class="err-msg"><%= error_message(@user, :public_email_address) %></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="text">Website URL</label>
                                        <%= f.text_field :website_url, class: 'form-control from-input', id: 'website_url', placeholder: 'http://www.yourwebsite.com' %>
                                        <span class="err-msg"><%= error_message(@user, :website_url) %></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="text">Facebook Page URL</label>
                                        <%= f.text_field :facebook_url, class: 'form-control from-input', id: 'facebook_url', placeholder: 'http://www.facebook.com/pagename' %>
                                        <span class="err-msg"><%= error_message(@user, :facebook_url) %></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="text">linkedin Profile URL</label>
                                        <%= f.text_field :linkedin_profile_url, class: 'form-control from-input', id: 'linkedin_profile_url', placeholder: 'http://www.linkedin.com/in/username' %>
                                        <span class="err-msg"><%= error_message(@user, :linkedin_profile_url) %></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="text">Twitter Handle (e.g.CGMeetup)</label>
                                        <%= f.text_field :twitter_handle, class: 'form-control from-input', id: 'twitter_handle', placeholder: 'username without the @' %>
                                        <span class="err-msg"><%= error_message(@user, :twitter_handle) %></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="text">Instagram Username (e.g. CGMeetup)</label>
                                        <%= f.text_field :instagram_username, class: 'form-control from-input', id: 'instagram_username', placeholder: 'Instagram username' %>
                                        <span class="err-msg"><%= error_message(@user, :instagram_username) %></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="text">Behance Username (e.g. CGMeetup)</label>
                                        <%= f.text_field :behance_username, class: 'form-control from-input', id: 'behance_username', placeholder: 'Behance username' %>
                                        <span class="err-msg"><%= error_message(@user, :behance_username) %></span>
                                    </div>
                                </div>
                                
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="text">Tumblr URL</label>
                                        <%= f.text_field :tumbler_url, class: 'form-control from-input', id: 'tumbler_url', placeholder: 'http://username.tumblr.com' %>
                                        <span class="err-msg"><%= error_message(@user, :tumbler_url) %></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="text">Pinterest URL</label>
                                        <%= f.text_field :pinterest_url, class: 'form-control from-input', id: 'pinterest_url', placeholder: 'http://www.pinterest.com/username' %>
                                        <span class="err-msg"><%= error_message(@user, :pinterest_url) %></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="text">Youtube URL</label>
                                        <%= f.text_field :youtube_url, class: 'form-control from-input', id: 'youtube_url', placeholder: 'http://www.youtube.com/channel/id' %>
                                        <span class="err-msg"><%= error_message(@user, :youtube_url) %></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="text">Vimeo URL</label>
                                        <%= f.text_field :vimeo_url, class: 'form-control from-input', id: 'vimeo_url', placeholder: 'https://vimeo.com/billistiq' %>
                                        <span class="err-msg"><%= error_message(@user, :vimeo_url) %></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="text">Google Plus URL</label>
                                        <%= f.text_field :google_plus_url, class: 'form-control from-input', id: 'google_plus_url', placeholder: 'http://plus.google.com/id/posts' %>
                                        <span class="err-msg"><%= error_message(@user, :google_plus_url) %></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="text">Steam Profile URL</label>
                                        <%= f.text_field :stream_profile_url, class: 'form-control from-input', id: 'stream_profile_url', placeholder: 'http://steamcommunity.com/id/username' %>
                                        <span class="err-msg"><%= error_message(@user, :stream_profile_url) %></span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" class="green-btn border-radius" value="SocialMedia" name="commit"><i aria-hidden="true" class="fa fa-floppy-o marginR5"></i> Save</button>
                                </div>
<% end %>                                
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </section>


</div>

<!-- Footer Start -->
<footer class="footer clearfix padding">
  <%= render 'layouts/lastfooter' %>
</footer>

<script>

    // main page angular app start
    var app = angular.module('myApp', ["angularLazyImg", 'ui.bootstrap', 'ui.bootstrap.datetimepicker']);
    app.controller('myCtrl', function($scope, $http) {

        //app.controller('MyController', ['$scope', function($scope) {
        var that = this;
        $scope.stepsModel = '';

        this.openCalendar = function(e, picker) {
            that[picker].open = true;
        };

        var available_from_date = '<%= @user.available_from %>';

        // date and time picker
        this.available_from = {
            //date: new Date()
            date: new Date(available_from_date)
        };

        $scope.imageUpload = function(element){
            var reader = new FileReader();
            reader.onload = $scope.imageIsLoaded;
            reader.readAsDataURL(element.files[0]);
        }

        $scope.imageIsLoaded = function(e){
            $scope.$apply(function() {
                $scope.stepsModel= e.target.result;
            });
        }

////////////////////////
       
        // For professional experience
        var professional_experience_count = 0;
        /*$scope.professional_experiences = [];*/
        $scope.professional_experiences = <%= @professional_experiences.to_json.html_safe %>;

        $scope.addProfessionalExperience = function () {
            $scope.professional_experiences.push(professional_experience_count);
            professional_experience_count++;
        }

        $scope.removeProfessionalExperience = function (x) {   
            $scope.professional_experiences.splice(x, 1);
        }

        // For production experience
        var production_experience_count = 0;
        $scope.production_experiences = <%= @production_experiences.to_json.html_safe %>;

        $scope.addProductionExperience = function () {
            $scope.production_experiences.push(production_experience_count);
            production_experience_count++;
        }

        $scope.removeProductionExperience = function (x) {   
            $scope.production_experiences.splice(x, 1);
        }

        // For education experience
        var education_experience_count = 0;
        $scope.education_experiences = <%= @education_experiences.to_json.html_safe %>;

        $scope.addEducationExperience = function () {
            $scope.education_experiences.push(education_experience_count);
            education_experience_count++;
        }

        $scope.removeEducationExperience = function (x) {   
            $scope.education_experiences.splice(x, 1);
        }
    
    });

</script>