<!-- All Dashboard Start -->
<section class="clearfix container-fluid-full">
  <div class="row-fluid">
	<div class="sidebar-left">
	<%= render 'layouts/navigation' %>
</div>
    
    <div class="content clearfix">
      <div class="submenutabs-dashboard clearfix margin">
         <%= render 'layouts/dashboard_feed' %>
      </div>
      
      <!-- User Followers Start -->
      <section class="clearfix notificationwrap">
        
        <div class="clearfix notification-heading">
        <span class="noti-title">Notifications</span> <!-- <button type="button" class="blue-btn">Notification Settings</button> -->
        
        </div>
        
        <div class="clearfix">
          
          <div class="notification-wrap clearfix col-sm-12 col-xs-12">
          <div class="row">
          <% if @notification_data.present? %>
            <div class="noti-top clearfix">All Notifications</div>
                          
                <div class="clearfix notification-indent">
                  <% @notification_data.each do |notification| 
                   
                    %>
                  <div class="clearfix marginB15 noti-comment">
                    <div class="notileft"><%= image_tag(notification.user.image.user_activity.url, :alt => "Notification") %>
    				        </div>
                    <div class="notiright">

                      <% if notification.notification_type=='like' %> 
                        <% if notification.section_type == 'Download' || notification.section_type == 'download_detail' %>
                          <div class="marginB10"><span class="blue-txt"><a href="<%= artist_profile_path (notification.user.username) %>"><%= notification.user.firstname %> <%= notification.user.lastname %></a></span> has liked post <span class="blue-txt"><a href="/downloads/<%= notification.download.paramlink %>/show"><%= notification.download.title %></a></span>.</div>

                        <% elsif notification.section_type == 'Tutorial' %>
                          <div class="marginB10"><span class="blue-txt"><a href="<%= artist_profile_path (notification.user.username) %>"><%= notification.user.firstname %> <%= notification.user.lastname %></a></span> has liked post <span class="blue-txt"><a href="/tutorials/<%= notification.tutorial.paramlink %>/show"><%= notification.tutorial.title %></a></span>.</div>
                        <% else %>
                          <div class="marginB10"><span class="blue-txt"><a href="<%= artist_profile_path (notification.user.username) %>"><%= notification.user.firstname %> <%= notification.user.lastname %></a></span> has liked post <span class="blue-txt"><a href="/dashboard/projects/<%= notification.gallery.paramlink %>/show"><%= notification.gallery.title %></a></span>.</div>
                        <% end %>
                      <div><em class="txt12"><%= time_ago_in_words(notification.created_at) %> ago</em></div>
                      <% elsif notification.notification_type=='follow user' %> 
                      <div class="marginB10"><span class="blue-txt"><a href="<%= artist_profile_path (notification.user.username) %>"><%= notification.user.firstname %> <%= notification.user.lastname %></a></span> has started following you. </div>
                      <div><em class="txt12"><%= time_ago_in_words(notification.created_at) %> ago</em></div>
                      <% elsif notification.notification_type=='comment' %>
                      <% if notification.section_type == 'Download' || notification.section_type == 'download_detail'%>
                        <div class="marginB10"><span class="blue-txt"><a href="<%= artist_profile_path (notification.user.username) %>"><%= notification.user.firstname %> <%= notification.user.lastname %></a></span> has commented on post <span class="blue-txt"><a href="/downloads/<%= notification.download.paramlink %>/show"><%= notification.download.title %></a></span>.</div>
                      <% elsif notification.section_type == 'Tutorial' %>
                        <div class="marginB10"><span class="blue-txt"><a href="<%= artist_profile_path (notification.user.username) %>"><%= notification.user.firstname %> <%= notification.user.lastname %></a></span> has commented on post <span class="blue-txt"><a href="/tutorials/<%= notification.tutorial.paramlink %>/show"><%= notification.tutorial.title %></a></span>.</div>
                      <% else %>
                        <div class="marginB10"><span class="blue-txt"><a href="<%= artist_profile_path (notification.user.username) %>"><%= notification.user.firstname %> <%= notification.user.lastname %></a></span> has commented on post <span class="blue-txt"><a href="/dashboard/projects/<%= notification.gallery.paramlink %>/show"><%= notification.gallery.title %></a></span>.</div>
                      <% end %>
                      <div><em class="txt12"><%= time_ago_in_words(notification.created_at) %> ago</em></div>
                      <% end %>
                    </div>
                  </div>
                  <% if notification.notification_type=='like' ||  notification.notification_type=='comment' %>
                    <% if notification.section_type == 'Download' || notification.section_type == 'download_detail' %>
                      <div class="notification-profile clearfix"><%= image_tag(notification.download.company_logo.art_activity.url, :class=>"img-responsive", :alt => "Notification") %>
        			        </div>
                    <% elsif notification.section_type == 'Tutorial' %>
                      <div class="notification-profile clearfix"><%= image_tag(notification.tutorial.company_logo.art_activity.url, :class=>"img-responsive", :alt => "Notification") %>
                      </div>
                    <% else %>
                      <div class="notification-profile clearfix"><%= image_tag(notification.gallery.company_logo.art_activity.url, :class=>"img-responsive", :alt => "Notification") %>
                      </div>
                    <% end %>

                  <% end %>
                <% end %>
            </div>
          <% end %>
             <%= paginate @notification_data %>
            </div>
          </div>
          <div class="aside col-sm-12 col-xs-12 padding">
    <% if @featured_job1.present?  %>
      <div class="marginB15 clearfix">
        <h2>Featured</h2>
        <% 
              @featured_job1.each do |featured_job|
                if featured_job.company_logo.present? %>
                <a href="jobs/<%= featured_job.paramlink %>"><img src="<%= featured_job.company_logo.job_featured_activity.url %>" class="img-responsive" alt="ILM"></a> 

                
                    <h2><a href="jobs/<%= featured_job.paramlink %>"><%= featured_job.title %></a></h2>
                    <span><%= featured_job.company_name %></span>
                
              <% end 
            end
              %>

        </div>
    <% end %>
    <% if @non_featured_job.present?  %>
      <div class="marginB15 clearfix latest-notification">

        <h2>Latest Industry Jobs</h2>
        <ul>
         <% 
              @non_featured_job.each do |non_featured_job|
                %>

          <li class="clearfix">
          <% if non_featured_job.company_logo.present? %> 
            <div class="col-md-3 col-sm-4 col-xs-4 latestimg">
              <a href="jobs/<%= non_featured_job.paramlink %>"><img src="<%= non_featured_job.company_logo.thumb.url %>" class="img-responsive" alt="Good"></a>
            </div>
          <% end %>
            <div class="col-md-9 col-sm-8 col-xs-8">
              <div class="blue-txt marginB5"><a href="jobs/<%= non_featured_job.paramlink %>"><%= non_featured_job.title %></a></div>
              <div class="latest-txt"><%= non_featured_job.company_name %></div>
              <div class="latest-txt"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> <%= non_featured_job.city.present? ? non_featured_job.city + ', ' : '' %> <%= non_featured_job.country.present? ? non_featured_job.country.name : '' %></div>
            </div>
          </li>
        <% end %>
        </ul>
      </div>
    <% end %>
    </div>
          
          
          
        </div>
      </section>
    </div>
  
  </div>
  
</section>

<!-- Footer Start -->
<footer class="footer clearfix padding">
 <%= render 'layouts/lastfooter' %>
</footer>

