<%  res = connection_like_count_by_artist_id(@artist_data.id) %>
<div class="artist-profile">
  <div style="background-image: url(<%= @artist_data.cover_art_image.full.url  %>);" class="artist-masthead">
    
<%= form_for(@artist_data, url: update_user_image_path(@artist_data), html: { method: :put, id: 'cover_art_image_form' }) do |f| %>

    <div class="change-cover-image hidden-xs">
     <!--  <a href="javascript:void(0);" ng-click="clickUploadCoverArt()"><i class="fa fa-pad-right fa-upload"></i><span class="text ng-binding">Change background (1920x640)</span></a> -->
    </div>

    <% if (!@artist_data.cover_art_image.blank? && !@artist_data.cover_art_image.try(:full).blank?) %>
      <div class="remove-cover-image hidden-xs">
        <%#= link_to '<i class="fa fa-pad-right fa-remove"></i><span class="text ng-binding">Remove Cover Art</span>'.html_safe, remove_cover_art_path(@artist_data),method: :delete, data: { confirm: 'Are you sure?' }, title: "Remove Cover Art" %>
      </div>    
    <% end %>

    <%#= f.file_field(:cover_art_image, accept: "image/*", id: "covertArtPicUpload", "ng-model" => "covertArtPicUpload", onchange: "angular.element(this).scope().coverArtUpload(this)", style: "display: none;")%>
    
<% end %>    


    <div class="container artist-info clearfix">
      <div class="row">
        <div class="col-sm-9 col-md-8 col-xs-12">
<%= form_for(@artist_data, url: update_user_image_path(@artist_data), html: { method: :put, id: 'image_form' }) do |f| %>
 
          <div class="avatar">
            <center>

              <% if (@artist_data.image.blank? || @artist_data.image.try(:event_small).blank?)%>
                <img src="/assets/profile-noimage.jpg" alt="User" class="img-thumbnail img-responsive" ng-src="{{stepsModel}}">
              <% else %>
                <%= image_tag(@artist_data.image.try(:event_small).try(:url), alt: "User Image", class: "img-thumbnail img-responsive", "ng-src"=>"{{stepsModel}}") %>
              <% end %>  
              <span class="user-pro-pic">
                <!-- <a href="javascript:void(0);" ng-click="clickUpload()">
                  <i class="fa fa-pad-right fa-remove"></i><span class="text ng-binding">Update Profile <span class="hidden-xs">Picture</span></span>
                </a> -->

                <!-- <input id="profilePicUpload1" ng-model="profilePicUpload1" type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(this)" style="display: none;" accept="image/*" /> -->

                <%#= f.file_field(:image, accept: "image/*", id: "profilePicUpload", "ng-model" => "profilePicUpload", onchange: "angular.element(this).scope().imageUpload(this)", style: "display: none;")%>

               <!--  <button type="submit" id="saveProfilePic" class="save-img" value="UpdateProfilePhoto" ng-show="false" name="commit"><i class="fa fa-pad-right fa-check"></i><span class="text ng-binding">Save <span class="hidden-xs">Picture</span></span></button> -->

                <!-- <a href="javascript:void(0);" id="saveProfilePic" class="save-img" ng-show="profilePicUpload"><i class="fa fa-pad-right fa-check"></i><span class="text ng-binding">Save <span class="hidden-xs">Picture</span></span></a> -->
              </span>

            </center>
          </div>
<% end %>          

          <div class="artist-info-texts pull-left">
            <h2 class="artist-name ng-binding"><%= @artist_data.firstname + ' ' + @artist_data.lastname %> <i class="fa fa-check-circle"></i></h2>
            <div class="artist-additional-info">
              <ul>
                <li class="ng-binding"> <i class="fa fa-briefcase"></i> <%= @artist_data.profile_type %> </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="artist-additional-info">
              <ul>
                <% if @artist_data.try(:city) || @artist_data.try(:country) %>
                  <li class="ng-binding"> <i class="fa fa-pad-right fa-map-marker"></i> <%= @artist_data.try(:city) %><%= (@artist_data.try(:city) != '' && @artist_data.try(:country).try(:name) != '') ? ', ' : '' %><%= @artist_data.try(:country).try(:name) %> </li>
                <% end %>
                <li class="ng-binding"> <i class="fa fa-pad-right fa-eye"></i> <%= @artist_data.view_count %> Views </li>
                <li class="ng-binding"> <i class="fa fa-pad-right fa-thumbs-up"></i> <%= res[:like] %> Likes </li>
                <!-- <li class="ng-binding"> <i class="fa fa fa-plus-circle fa-pad-right"></i> <%= res[:following] %> Following </li> -->
              </ul>
            </div>

          </div>
        </div>
        <div class="col-sm-3 col-md-4 col-xs-12 artist-social-info">
          <ul class="list-inline pull-right">
            
       <!--      <li ng-if="artistCanContact" class="ng-scope">
              <button href="" class="btn btn-success btn-sm"> <i class="fa fa-pad-right fa-envelope"></i>Message </button>
            </li>
            <li ng-if="artistCanContact" class="ng-scope">
              <button href="" class="btn btn-warning btn-sm"> <i class="fa fa-globe fa-pad-right"></i>My Website </button>
            </li>
 -->

 <% if user_signed_in? %>
            
            <li class="ng-scope">
              <div aria-label="..." role="group" class="btn-group">
                <button id='follow_button' type="button" title="Follow this user" class="btn btn-primary btn-sm ng-binding ng-scope"> <i class="fa fa fa-plus-circle fa-pad-right"></i>Follow </button>
                <button id='follow_button_count' class="btn btn-sm user-follow" type="button"><%= @artist_data.follow_count %></button>

                <button id='unfollow_button' type="button" title="Follow this user" class="btn btn-primary btn-sm ng-binding ng-scope hidden"> <i class="fa fa-check fa-pad-right"></i>Following </button>
                <button id='unfollow_button_count' class="btn btn-sm user-follow hidden" type="button"><%= @artist_data.follow_count %></button>  
              </div>
            </li>

            <li class="ng-scope">
              <a href="<%= message_path %>" class="btn btn-success btn-sm"><i class="fa fa-pad-right fa-envelope"></i>Message</a>

              <!-- <button href="" class="btn btn-success btn-sm"> <i class="fa fa-pad-right fa-envelope"></i>Message </button> -->
            </li>
            <li class="ng-scope">
              <button href="javascript:void(0);" class="btn btn-warning btn-sm"> <i class="fa fa-globe fa-pad-right"></i>My Website </button>
            </li>
  <%   else  %>
            <li class="ng-scope">
                <div aria-label="..." role="group" class="btn-group">
                  <button type="button" title="Follow this user (F)" class="btn btn-primary btn-sm ng-binding ng-scope"> <i class="fa fa fa-plus-circle fa-pad-right"></i>Follow </button>
                  <button class="btn btn-sm user-follow" type="button"><%= @artist_data.follow_count %></button>
                </div>
            </li>

  <% end %>          


          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="usernavivation clearfix">
        <nav class="navbar-default clearfix">
        <div class="container">
          <div class="navbar-artist-profile clearfix">
            <ul class="nav navbar-nav">
              <li class=""> <a href="<%= artist_profile_path(@artist_data.id) %>">Portfolio </a></li>
              <li class="dropdown ng-scope active"> <a href="<%= user_profile_info_path(@artist_data.id) %>">About <i class="fa fa-chevron-down fa-pad-left blue-txt"></i></a> </li>
             <!--  <li> <a href="javascript:void(0);"> Following <span class="counter-number ng-binding">(<%= res[:following] %>)</span> </a> </li>
               <li> <a href="javascript:void(0);"> Followers<span class="counter-number ng-binding">(<%#= @artist_data.follow_count %>)</span> </a> </li> -->
             <!--  <li> <a href="javascript:void(0);"> Likes<span class="counter-number ng-binding">(<%#= res[:like] %>)</span> </a> </li> -->
            </ul>
          </div>
        </div>
        </nav>
    </section>

  <!-- User Profile start -->
    <section class="userprofileinfo celarfix">
          <div class="container">
            <div class="row">
                <div class="clearfix col-md-12 col-xs-12 col-sm-12 edit-pro text-right">
                   <!--  <a href="<%= edit_profile_path %>" class="lightbtn"><i class="fa fa-pencil-square-o blue-txt marginR5" aria-hidden="true"></i>  Edit Profile</a> -->
                </div>

                <div class="col-md-8 col-sm-7 col-xs-12">

                    <div class="clearfix marginB40">
                        <h2>Summary</h2>
                        <div class="about-txt"><%= @artist_data.professional_headline %></div>
                    </div>

                    <div class="clearfix marginB40">
                        <h2>Demo Reel</h2>
                        <div class="about-txt">
                            <% if(@artist_data.demo_reel.include?('youtube')) 
                                if @artist_data.demo_reel[/youtu\.be\/([^\?]*)/]
                                    youtube_id = $1
                                else
                                    @artist_data.demo_reel[/^.*((v\/)|(embed\/)|(watch\?))\??v?=?([^\&\?]*).*/]
                                    youtube_id = $5
                                end %>
                                    
                                <iframe width="765" height="370" src="https://www.youtube.com/embed/<%= youtube_id %>" frameborder="0" allowfullscreen></iframe>
                      
                            <% elsif(@artist_data.demo_reel.include?('vimeo')) 
                                match = @artist_data.demo_reel.match(/https?:\/\/(?:[\w]+\.)*vimeo\.com(?:[\/\w]*\/?)?\/(?<id>[0-9]+)[^\s]*/)

                                if match.present?
                                    vimeoid = match[:id] %>
                                    <iframe width="765" height="370" src="https://player.vimeo.com/video/<%= vimeoid %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                <% end %>
                                
                            <% elsif(@artist_data.demo_reel.include?('dailymotion'))  
                                match =  @artist_data.demo_reel.gsub('http://www.dailymotion.com/video/', "")
                                match1  = match.index('_')
                                match = match[0...match1]
                                if match.present?
                                    dailymotionid = match %>
                                    <iframe width="765" height="370" frameborder="0"  src="//www.dailymotion.com/embed/video/<%= dailymotionid %>" allowfullscreen></iframe>
                                <% end 
                            end %>


                        </div>
                    </div>

                    <div class="clearfix marginB40">
                        <h2>Professional Experience</h2>

                        <!-- <div class="clearfix marginB15 row experience-wrap">
                            <div class="col-md-3 col-sm-3 col-xs-4"><%= image_tag("gameloft.jpg", :alt => "crytek",:class=>"img-responsive") %></div>
                            <div class="col-md-5 col-sm-9 col-xs-8">
                                <h3>Animator at illumination Studio</h3>
                                <div class="experience-txt">Paris, France</div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 text-right">
                                <a href="#" class="lightbtn">February 2013- January 2016</a>
                            </div>
                        </div>

                        <div class="clearfix marginB15 row experience-wrap">
                            <div class="col-md-3 col-sm-3 col-xs-4"><%= image_tag("gameloft.jpg", :alt => "gameloft",:class=>"img-responsive") %></div>
                            <div class="col-md-5 col-sm-9 col-xs-8">
                                <h3>Animator at R&H</h3>
                                <div class="experience-txt">Los Angeles, United States of America<br>
                                <br>
                                As Animator for the film</div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 text-right">
                                <a href="#" class="lightbtn">March 2004- February 2005</a>
                            </div>
                        </div> -->
                          <% if @professional_experiences.present? %>  
                        <% @professional_experiences.each do |professional_experience| %>

                            <div class="clearfix marginB15 row experience-wrap">
                                <!-- <div class="col-md-3 col-sm-3 col-xs-4"><%= image_tag("gameloft.jpg", :alt => "crytek",:class=>"img-responsive") %></div> -->
                                <div class="col-md-5 col-sm-9 col-xs-8">
                                    <h3><%= professional_experience.title %> at 
                                        <% if professional_experience.try(:company).try(:name).present? %>
                                            <%= professional_experience.try(:company).try(:name) %>
                                        <% else %>
                                            <%= professional_experience.company_name %>
                                        <% end %>        

                                    </h3>
                                    <div class="experience-txt"><%= professional_experience.location %></div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12 text-right">
                                    <% if professional_experience.from_year != '' || professional_experience.to_year != '' %>
                                        <a href="javascript:void(0);" class="lightbtn">
                                            <%= (professional_experience.from_month != '') ? User::GET_MONTH_VALUE[professional_experience.from_month.to_i] : '' %> <%= professional_experience.from_year %>
                                            <% if professional_experience.from_year != '' && professional_experience.to_year != '' %>
                                                 - 
                                            <% end %>    

                                            <%= (professional_experience.to_month != '') ? User::GET_MONTH_VALUE[professional_experience.to_month.to_i] : '' %> <%= professional_experience.to_year %>
                                            
                                        </a>
                                    <% end %>
                                </div>
                            </div>

                        <% end
                            end
                         %>


                    </div>

                    <div class="clearfix marginB40">
                        <h2>Production Experience</h2>

                        <!-- <div class="clearfix marginB15 row production-wrap">
                            <div class="col-md-3 col-sm-3 col-xs-3"><%= image_tag("johb-carter.jpg", :alt => "johb-carter",:class=>"img-responsive") %></div>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <ul>
                                    <li><span>Movie</span>   The Chronicles of Narnia : The Lion,  the Witch and the Aardrobe</li>
                                    <li><span>Year</span>   2005</li>
                                    <li><span>Role </span>   Animator</li>
                                    <li><span>Company</span>   R&H</li>
                                </ul>
                            </div>
       
                        </div> -->

                        <% 
                            if @production_experiences.present?
                        @production_experiences.each do |production_experience| %>

                            <div class="clearfix marginB15 row production-wrap">
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <ul>
                                        <li><span>Movie</span><%= production_experience.production_title %></li>
                                        <li><span>Year</span>   <%= production_experience.release_year %></li>
                                        <li><span>Role </span>   <%= production_experience.your_role %></li>
                                        <li><span>Company</span>   <%= production_experience.company %></li>
                                    </ul>
                                </div>
           
                            </div>

                        <% end 
                            end

                        %>

                    </div>

                    <div class="clearfix marginB40">
                        <h2>Education Experience</h2>

                        <div class="clearfix row">
                            <!-- <div class="col-md-8 col-sm-12 col-xs-12">
                                <div class="edu-title">M.D.U.S. India</div>
                                <div class="edu-degree marginB10">Bachelor's degree of Arts</div>
                                <div class="edu-degree marginB10">2007  –  2010</div>
                                <div class="edu-activitie">Activities and Societies: </div>
                                <div class="edu-degree marginB10">Finding activities that you're passionate about is just as important in college ... <br>Go outside of your comfort zone when looking</div>
                            </div>

                            <div class="col-md-4 col-sm-12 col-xs-12 add-btn">
                                <a href="#" class="lightbtn"><i class="fa fa-plus" aria-hidden="true"></i> Add education</a>
                                <a href="#" class="lightbtn arrow-full"><i class="fa fa-arrows-v" aria-hidden="true"></i></a>
                            </div> -->
                            <% 
                                if @education_experiences.present?
                            @education_experiences.each do |education_experience| %>

                                <div class="col-md-8 col-sm-12 col-xs-12 marginB15">
                                    <div class="edu-title"><%= education_experience.school_name %></div>
                                    <div class="edu-degree marginB10"><%= education_experience.field_of_study %></div>
                                    <div class="edu-degree marginB10">
                                        <%= (education_experience.month_val != '') ? User::GET_MONTH_VALUE[education_experience.month_val.to_i] : '' %> <%= education_experience.year_val %>
                                    </div>
                                    <div class="edu-activitie">Description: </div>
                                    <div class="edu-degree marginB10"><%= education_experience.description %></div>
                                </div>

                            <% end 
                                end
                            %>


                        </div>
                    </div>

                    <div class="clearfix marginB40 skills-userprofile">
                        <h2>Skills</h2>

                        <% if @artist_data.skill_expertise.present? 
                            @artist_data.skill_expertise.reject!{|a| a==""}
                            %>
                            <% @artist_data.skill_expertise.each do |skill_id| 
                                skill_data = JobSkill.find_by(id: skill_id)
                                %>
                                <a href="javascript:void(0);"><%= skill_data.name %></a>
                            <% end %>
                        <% end %>

                    </div>

                    <div class="clearfix marginB40 soft-userprofile">
                        <h2>Software</h2>

                        <% if @artist_data.software_expertise.present? 
                            @artist_data.software_expertise.reject!{|a| a==""}
                            %>
                            <% @artist_data.software_expertise.each do |software_expertise_id| 
                                software_expertise_data = SoftwareExpertise.find_by(id: software_expertise_id)
                                %>
                                <a href="javascript:void(0);"><%= image_tag(software_expertise_data.image.try(:thumb).try(:url), :alt => software_expertise_data.name) %><%= software_expertise_data.name %></a>
                            <% end %>
                        <% end %>

                    </div>

                </div>

                <div class="col-md-4 col-sm-5 col-xs-12 user-prowrap">

                    <div class="panel panel-default marginB15">
                        <div class="panel-heading">Hiring Information</div>
                        <div class="panel-body user-right-wrap">
                            <a href="#">Interested in:</a>

                            <% if @artist_data.full_time_employment %>
                                <a href="javascript:void(0);">Full Time Employment</a>
                            <% end %>

                            <% if @artist_data.contract %>
                                <a href="javascript:void(0);">Contract</a>
                            <% end %>

                            <% if @artist_data.freelance %>
                                <a href="javascript:void(0);">Freelance</a>
                            <% end %>

                            <!-- <button class="btn btn-success col-md-12 border-radius" type="button"><i class="fa fa-envelope marginR5" aria-hidden="true"></i> Send Message</button> -->
                            <% if user_signed_in? %>
                                    <a href="<%= message_path %>" class="btn btn-success col-md-12 border-radius"><i class="fa fa-envelope marginR5" aria-hidden="true"></i> Send Message</a> 
                            <% end %>

                        </div>
                    </div>

                    <div class="panel panel-default marginB15">
                        <div class="panel-heading">Connect</div>
                        <%#= abort(@artist_data.to_json) %>
                        <div class="panel-body connect-wrap">
                            <a href="<%= message_path %>"><i class="fa fa-envelope" aria-hidden="true"></i></a> 
                            <a href="http://<%= @artist_data.facebook_url %>"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="http://<%= @artist_data.google_plus_url %>"><i class="fa fa-globe" aria-hidden="true"></i></a>
                            <a href="http://<%= @artist_data.linkedin_profile_url %>"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <div class="panel panel-default marginB15">
                        <div class="panel-heading">Artist Stats</div>
                        <div class="panel-body artist-wrap-stast">

                            <div class="marginB15"><i class="fa fa-eye marginR5" aria-hidden="true"></i> <%= @artist_data.view_count %> Views</div>
                            <div class="marginB15"><i class="fa fa-thumbs-up marginR5" aria-hidden="true"></i> <%= @artist_data.like_count %> Likes</div>
                            <div class="marginB5"><i class="fa fa-thumbs-up marginR5" aria-hidden="true"></i> <%= res[:follower] %> Followers</div>   
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<% if user_signed_in? %>
<script type="text/javascript">

  $(document).ready(function(){

    $.ajax({
            type: "post",
            url: "<%= save_view_count_user_path %>" ,
            data: {'user_id': '<%= @artist_data.id %>'},
            success: function(data){
            }
    });

       $.ajax({
            type: "post",
            url: "<%= check_follow_artist_path %>" ,
            data: {'artist_id': '<%= @artist_data.id %>'},
            success: function(data){
                //alert(data.res)
               if(data.res == 1) {
                        $('#follow_button').addClass('hidden');
                        $('#follow_button_count').addClass('hidden');
                     

                        $('#unfollow_button').removeClass('hidden');
                        $('#unfollow_button_count').removeClass('hidden');

                }else{
                        
                       $('#follow_button').removeClass('hidden');
                       $('#follow_button_count').removeClass('hidden');
                       
                       $('#unfollow_button').addClass('hidden');
                       $('#unfollow_button_count').addClass('hidden');
                }
            }
      });

    $('#follow_button, #unfollow_button').on('click',function(){
            $.ajax({
                type: "post",
                url: "<%= follow_artist_path %>" ,
                data: {'artist_id': '<%= @artist_data.id %>'},
                success: function(data){
                  //alert(data.res)
                 if(data.res == 1) {
                      
                      $('#follow_button').addClass('hidden');
                      $('#follow_button_count').addClass('hidden');
                   
                      $('#unfollow_button').removeClass('hidden');
                      $('#unfollow_button_count').removeClass('hidden');
                  
                  }else{
                       
                       $('#follow_button').removeClass('hidden');
                       $('#follow_button_count').removeClass('hidden');
                       
                       $('#unfollow_button').addClass('hidden');
                       $('#unfollow_button_count').addClass('hidden');
                  }

                }
            });
    });

  })
</script>

<% end %>