<!-- Join The Challange Page Start -->
<div id="subscriptionId" ng-controller="subscriptionCtrl" ng-cloak>
  <form name="subscriptionForm" ng-submit="PaywithCC(subscriptionForm)" novalidate>
    <section class="paymentpage clearfix">
      <div class="container">
        <h2>Payment Details</h2>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <div class="panel panel-default">
                <div class="panel-body">
                  
                  <table class="table"><thead><tr><th>Item</th><th>Total</th></tr></thead><tbody><tr><td>Pro Subscription</td><td>$<%= @package_data.amount %>.00</td></tr><tr><td><b>Total</b></td><td><b class="total-cell">$<%= @package_data.amount %>.00</b></td></tr></tbody></table>
                  <p class="small">Your Pro subscription automatically renews every year and you can cancel any time.</p>

                    <hr>
                  <h3><i class="fa fa-pencil fa-pad-right"></i> Billing Information</h3>

                    <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>* First name</label>
                          <input class="form-control from-input" value="" name="first_name" ng-model="person.first_name" type="text" placeholder="First name" required>
                          <p style="color: red;" ng-show="subscriptionForm.first_name.$error.required && submitted">
                            First name is required.
                          </p>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>* Last name</label>
                          <input class="form-control from-input" value="" name="last_name" ng-model="person.last_name" type="text" placeholder="Last name" required>
                          <p style="color: red;" ng-show="subscriptionForm.last_name.$error.required && submitted">
                            Last name is required.
                          </p>
                        </div>
                      </div>
                    </div>
                    
                    <div class="form-group">
                        <label>Company</label>
                        <input class="form-control from-input" value="" ng-model="person.company_name" placeholder="Company" type="text">
                    </div>
                    
                    <div class="form-group">
                        <label>* Email</label>
                        <input class="form-control from-input" value="" name="email" ng-model="person.email" type="email" placeholder="Email" required>
                        <p style="color: red;" ng-show="subscriptionForm.email.$error.required && submitted">
                            Email is required.
                          </p>
                          <p style="color: red;" ng-show="subscriptionForm.email.$invalid && submitted && !subscriptionForm.email.$error.required">
                            Valid email is required.
                          </p>
                    </div>
                    
                    <div class="form-group">
                        <label>* Address</label>
                        <input class="form-control from-input" value="" name="address1" ng-model="person.address1" type="text" placeholder="Address" required>
                        <p style="color: red;" ng-show="subscriptionForm.address1.$error.required && submitted">
                            Address is required.
                          </p>
                    </div>
                    
                    <div class="form-group">
                        <label>Address Line 2 - Suite number / apt</label>
                        <input class="form-control from-input" value="" ng-model="person.address2" type="text" placeholder="Address Line 2">
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>* City</label>
                          <input class="form-control from-input" value="" name="city" ng-model="person.city" type="text" placeholder="City" required>
                          <p style="color: red;" ng-show="subscriptionForm.city.$error.required && submitted">
                            City is required.
                          </p>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>* Country</label>
                          <input class="form-control from-input" value="" name="country" ng-model="person.countrty" type="text" placeholder="Country" required>
                          <p style="color: red;" ng-show="subscriptionForm.country.$error.required && submitted">
                            Country is required.
                          </p>
                        </div>
                      </div>
                  </div>
                    
                    <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>State / Province</label>
                          <input class="form-control from-input" value="" ng-model="person.state" type="text" placeholder="State / Province">
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>* Zip / Postal Code</label>
                          <input class="form-control from-input" value="" name="zip_code" ng-model="person.zip_code" type="text" placeholder="Zip / Postal Code" required>
                          <p style="color: red;" ng-show="subscriptionForm.zip_code.$error.required && submitted">
                              Zip / Postal Code is required.
                            </p>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <h3><i class="fa fa-credit-card fa-pad-right"></i> Payment</h3>
                    <div class="clearfix">
                      <a href="" class="bluebtn" style="padding: 5px;" ng-click="cardDetail(subscriptionForm)">Pay with Credit Card</a>    &nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp; 
                      <a href="" ng-click="pay_with_paypal(subscriptionForm)"><%= image_tag('paypal_checkout_button.png', width: '142', height: '27', alt: 'paypal') %><!-- <img src="assets/paypal_checkout_button.png" width="142" height="27" alt="Paypal"> --></a> 
                    </div>
                    <div class="clearfix row">&nbsp;</div>
                    <div ng-if="cardDetails" class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>* Card number</label>
                          <input  class = "form-control from-input" type="text" placeholder="0123 456 789 XXX" id="cardNumber" cc-number cc-eager-type name="ccNumber" ng-model="person.number"
                            required maxlength="19">
                            <p style="color: red;" ng-show="subscriptionForm.ccNumber.$error.required && submitted">
                              Please enter your credit card number.
                            </p>
                            <p style="color: red;" ng-show="subscriptionForm.ccNumber.$invalid && submitted && !subscriptionForm.ccNumber.$error.required">
                              Invalid Card
                            </p>
                            <p style="color: red;">{{subscriptionForm.ccNumber.$ccEagerType}}</p>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>* Expiry month</label>
                          <input placeholder="MM" type="text" required="" class="form-control" cc-exp-month name="ccExpMonth" ng-model="person.month">
                          <p style="color: red;" ng-show="subscriptionForm.ccExpMonth.$error.required && submitted">
                              Enter Month.
                          </p>
                          <p style="color: red;" ng-show="subscriptionForm.ccExpMonth.$invalid && submitted && !subscriptionForm.ccExpMonth.$error.required">
                              Invalid month
                          </p>
                        </div>
                      </div>
                    </div>

                    <div ng-if="cardDetails" class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>* Expiry year</label>
                          <input placeholder="YY" type="text" class="form-control" cc-exp-year name="ccExpYear" ng-model="person.year" required="">
                            <p style="color: red;" ng-show="subscriptionForm.ccExpYear.$error.required && submitted">
                              Enter Year.
                            </p>
                            <p style="color: red;" ng-show="subscriptionForm.ccExpYear.$invalid && submitted && !subscriptionForm.ccExpYear.$error.required">
                              Invalid Year
                            </p>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>* CVV2</label>
                          <input class = "form-control from-input" type="text" maxlength="4" name="ccCvc" ng-model="person.securitycode" required="">
                          <p style="color: red;" ng-show="subscriptionForm.ccCvc.$error.required && submitted">
                            Enter security code.
                          </p>
                        </div>
                      </div>
                    </div>

                    <div ng-if="cardDetails" class="clearfix">
                      <a href="#" class="bluebtn" style="padding: 5px;"><input style="background: #14aff1; border: #14aff1" type="submit" id="submit" value="Purchase"></a>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>

  <script type="text/javascript">
  
  angular.module('subscriptionModule', ['MainModule'])
  .controller('subscriptionCtrl', ['$scope', '$http', function($scope, $http) {

    $scope.person = {};

    $scope.cardDetail = function (form) {
      $scope.submitted = true;
      if (form.$valid) {
        $scope.cardDetails = true;
        $scope.submitted = false;
      } else {
        $scope.cardDetails = false;
      }
    }

    $scope.PaywithCC = function (form) {
      $scope.submitted = true;
      if (form.$valid) {
      loading();

        var data ={
          'data':{
            'first_name': $scope.person.first_name,
            'last_name': $scope.person.last_name,
            'company_name': $scope.person.company_name,
            'email': $scope.person.email,
            'address1': $scope.person.address1,
            'address2': $scope.person.address2,
            'city': $scope.person.city,
            'country': $scope.person.countrty,
            'state': $scope.person.state,
            'zip_code': $scope.person.zip_code,
            'type': $scope.subscriptionForm.ccNumber.$ccEagerType,
            'number': $scope.person.number,
            'expire_month': $scope.person.month,
            'expire_year': $scope.person.year,
            'cvv2': $scope.person.securitycode,
            'user_id': "<%= user_signed_in? ? current_user.id : '' %>",
            'net_amount':  "<%= @package_data.amount %>"
        }};

            $http({
              method: "POST",
              url: "/checkout_subscription_credit_card_paypal",
              data:data ,
            }).then(function mySucces(response) {
                  if(response.data.success == 1){
                  unloading();
                      return false;
                      window.location.href='<%= root_path %>';
                 }else if(response.data.success == 2){
                  unloading();
                      window.location.href='<%= root_path %>';
                 }
                 else{
                  unloading();
                 }
            }, function myError(response) {
                  unloading();
                  console.log("Error" + JSON.stringify(response));
           });
      }
    };



    $scope.pay_with_paypal = function (form) {
      $scope.submitted = true;
      $scope.cardDetails = false;
      if (form.$valid) {
      loading();


          var data = {'data': 
            {
            'first_name': $scope.person.first_name,
            'last_name': $scope.person.last_name,
            'company_name': $scope.person.company_name,
            'email': $scope.person.email,
            'address1': $scope.person.address1,
            'address2': $scope.person.address2,
            'city': $scope.person.city,
            'country': $scope.person.countrty,
            'state': $scope.person.state,
            'zip_code': $scope.person.zip_code,
            'user_id': "<%= user_signed_in? ? current_user.id : '' %>",
            'net_amount':  "<%= @package_data.amount %>"
           }};

          $http({
              method: "POST",
              url: "/checkout_paypal_for_subscription",
              data:data ,
            }).then(function mySucces(response) {
                 if(response.data.success == 1){
                     window.location.href = response.data.url;
                 }else if(response.data.success == 2){
                      unloading();
                      window.location.href='<%= root_path %>';
                 }
                 else{
                  unloading();
                 }
            }, function myError(response) {
              unloading();
              console.log("Error" + JSON.stringify(response));
           });
      }
    };


  }]);
  angular.bootstrap(document.getElementById("subscriptionId"), ['subscriptionModule']);
  </script>
