<%  res = connection_like_count %>
<%= render "elements/profile_header" %>
<!-- User Profile Menu -->
<div id="myApp2"  ng-app="myApp" ng-controller="browseAllArtworkCtrl" >
<section class="usernavivation clearfix">
<nav class="navbar-default clearfix">
<div class="container">
  <div class="navbar-artist-profile clearfix">
    <ul class="nav navbar-nav">
      <li class="dropdown ng-scope active"> <a href="<%= user_portfolio_path %>">Portfolio <i class="fa fa-chevron-down fa-pad-left blue-txt"></i></a></li>

      <li> <a href="<%= my_profile_path %>">About</a> </li>
      <li> <a href="<%= user_jobs_path %>">Job</a> </li>
      <li> <a href="<%= connection_following_path %>"> Following <span class="counter-number ng-binding">(<%= res[:following] %>)</span> </a> </li>
       <li> <a href="<%= connection_followers_path %>"> Followers<span class="counter-number ng-binding">(<%= res[:follower] %>)</span> </a> </li>
      <li> <a href="<%= user_like_path %>"> Likes<span class="counter-number ng-binding">(<%= res[:like] %>)</span> </a> </li>
    </ul>
  </div>
</div>
</nav>
</section>


<!-- User Statistics Start -->
<section class="upgradewrap clearfix">
  <div class="container">
    <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
      <div class="panel panel-black">
        <div class="panel-body text-center">
          <p class="small">Introductory pricing<br>
            Subscribe now to lock in at this great price!</p>
          <div class="price">$<%= @package_data.amount/12 %><span class="per-month">/month</span></div>
          Billed at $<%= @package_data.amount %>/year USD
          <div class="separator"></div>
          <p class="text-center"><a class="btn btn-success btn-lg" href="<%= subscription_new_path %>"><i class="fa fa-pad-right fa-arrow-up"></i> Upgrade to PRO</a></p>
          <div class="separator"></div>
          
        </div>
      </div>
    </div>
  </div>
</section>
</div>