<%  res = connection_like_count %>
<%= render "elements/profile_header" %>
<!-- User Profile Menu -->
<div id="myApp2" ng-app="myApp" ng-controller="myCtrl" >
<section class="usernavivation clearfix">
<nav class="navbar-default clearfix">
 <div class="container">
 <div class="navbar-artist-profile clearfix">
<ul class="nav navbar-nav">
      <li class="dropdown ng-scope"> <a href="<%= user_portfolio_path %>">Portfolio <i class="fa fa-chevron-down fa-pad-left blue-txt"></i></a></li>
      
      <li> <a href="<%= my_profile_path %>">About</a> </li>
      <li class="active" > <a href="<%= user_jobs_path %>">Job</a> </li>
      <li> <a href="<%= connection_following_path %>"> Following <span class="counter-number ng-binding">(<%= res[:following] %>)</span> </a> </li>
       <li> <a href="<%= connection_followers_path %>"> Followers<span class="counter-number ng-binding">(<%= res[:follower] %>)</span> </a> </li>
      <li> <a href="<%= user_like_path %>"> Likes<span class="counter-number ng-binding">(<%= res[:like] %>)</span> </a> </li>
    </ul>
</div>
</div>
</nav>
<div class="clearfix hidden-xs">
<ul class="nav nav-pills">
  <li class="paddinT10 paddinB10">
    <input type="text" class="form-control from-input" maxlength="64" placeholder="Search" ng-model="search" />
  </li>
  
  <li class="dropdown pull-right recentdrop" role="presentation"> <a aria-expanded="false" aria-haspopup="true" role="button" href="#" data-toggle="dropdown" class="dropdown-toggle">Recent <i class="fa fa-chevron-down fa-pad-left  blue-txt"></i> </a>
    <ul class="dropdown-menu">
      <li><a href="#" id="sort-link-older" ng-click="searchByCreated('ASC', 'older')" class="sort-link" >Older</a></li>
      <li><a href="#" id="sort-link-newest" ng-click="searchByCreated('DESC', 'newest')"  class="sort-link" >Newest </a></li>
    </ul>
  </li>
  
  <li class="dropdown pull-right recentdrop" role="presentation"> <a aria-expanded="false" aria-haspopup="true" role="button" href="#" data-toggle="dropdown" class="dropdown-toggle">Job Type <i class="fa fa-chevron-down fa-pad-left  blue-txt"></i> </a>
    <ul class="dropdown-menu">
       <% if @job_type.present? %>
         <% @job_type.each_with_index do |job_type, index| %>
           <li><a href="#" id="sort-link-<%= index %>" ng-click="searchByJobType('<%= job_type.name %>', <%= index %>)" class="sort-link" ><%= job_type.name %></a></li>
      <% end %>
    <% end %>
    </ul>
  </li>
  <li class="pull-right location-txt-drop"> Location</li>
  
</ul>
</div>
</section>

<!-- User Followers Start -->
<section class="clearfix jobs-wrap">
<div class="col-md-12">
  <ul class="margin"> 
        <li class="clearfix" dir-paginate="x in final_result | filter:search | itemsPerPage:10">
         
             <div class="jobs-post-left pull-left"><img lazy-img="<%= root_url %>{{ x.company_logo.jobs_home.url }}" class="img-responsive"> </div>
             
             <div class="jobs-content clearfix pull-left">
             <div class="jobs-title marginB15"><a href="<%= root_url %>company/{{x.paramlink}}/jobs">{{x.title}}</a></div>
             <!-- <div class="white-txt marginB15">{{x.job_type}} </div> -->
             <div class="jobs-view-txt txt12 marginB15">{{x.created_at | date:'dd MMMM yyyy'}} - {{x.view_count}} views</div>
             <div class="jobs-status txt13"><i class="fa fa-bookmark marginR5" aria-hidden="true"></i> {{x.job_type}} </div>
             
             </div>
                      
             <div class="jobs-location-right pull-right"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> {{x.city}}, {{x.country.name}}</div>         
         
        </li>
        <li class="clearfix text-center err-msg no-result" ng-hide="final_result.length" >No Result Found!</li>


  </ul>  
  
</div>

<div class="text-center col-md-12 text-uppercase">
   <div class="pagintionpage clearfix">
          <dir-pagination-controls
               max-size="1"
               direction-links="true"
               boundary-links="false" >
          </dir-pagination-controls>

      </div>
  </div>
</section>
</div>

<script type="text/javascript">
  var app = angular.module('myApp',  ["angularUtils.directives.dirPagination", "angularLazyImg","MainModule"]);
  app.controller('myCtrl', function($sce, $scope, $http) {  

    $scope.filter = function() {
          cur_user = "<%= current_user.id %>"
          list_url = '/job/get_job_home_list?&user_id='+ cur_user; 
          
   
          if(typeof $scope.job_type !== 'undefined' && $scope.job_type != ''  && $scope.job_type != 'all'){
            list_url += '&job_type=' + $scope.job_type
          }

          if(typeof $scope.order !== 'undefined' && $scope.order != ''){
             list_url += '&order=' + $scope.order
          }

         $http.get(list_url).then(function (response) {
               $scope.final_result   = response.data;          
          });
      };
      $scope.filter();


     $scope.searchByCreated = function(value, id) {

          angular.element( document.querySelectorAll( '.sort-link' ) ).removeClass('active');
          angular.element( document.querySelector( '#sort-link-' + id ) ).addClass('active');
          
          $scope.order = value;
          $scope.filter();

      };

      $scope.searchByJobType = function(value, index) {
        //alert(value);
        angular.element( document.querySelectorAll( '.sort-link' ) ).removeClass('active');
        angular.element( document.querySelector( '#sort-link-' + index ) ).addClass('active');
          
         $scope.job_type = value;
         $scope.filter();
      };

  });
   angular.bootstrap(document.getElementById("myApp2"), ['myApp']);
</script>