<%  res = connection_like_count %>
<%= render "elements/profile_header" %>
<!-- User Profile Menu -->
<div id="myApp2"  ng-app="myApp" ng-controller="browseAllArtworkCtrl" >
<section class="usernavivation clearfix">
<nav class="navbar-default clearfix">
<div class="container">
  <div class="navbar-artist-profile clearfix">
    <ul class="nav navbar-nav">
      <li class="dropdown ng-scope active"> <a href="<%= user_portfolio_path %>">Portfolio <i class="fa fa-chevron-down fa-pad-left blue-txt"></i></a></li>
      <li> <a href="<%= my_profile_path %>">About</a> </li>
      <li> <a href="<%= connection_following_path %>"> Following <span class="counter-number ng-binding">(<%= res[:following] %>)</span> </a> </li>
       <li> <a href="<%= connection_followers_path %>"> Followers<span class="counter-number ng-binding">(<%= res[:follower] %>)</span> </a> </li>
      <li> <a href="<%= user_like_path %>"> Likes<span class="counter-number ng-binding">(<%= res[:like] %>)</span> </a> </li>
    </ul>
  </div>
</div>
</nav>
<div class="clearfix hidden-xs" style="background:#171717;">
<ul class="nav nav-pills">
  <li class="dropdown recentdrop" role="presentation"> <a aria-expanded="false" aria-haspopup="true" role="button" href="#" data-toggle="dropdown" class="dropdown-toggle">All Projects <i class="fa fa-chevron-down fa-pad-left  blue-txt"></i> </a>
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
    <li class='active'><a href="javascript:void(0);"  ng-click="searchByPostType(0)" class="post-type-link"  id="post-type-link-0" >All</a></li>
    <li><a href="javascript:void(0);"  ng-click="searchByPostType(1)" class="post-type-link"  id="post-type-link-1" >Artwork</a></li>
    <li><a href="javascript:void(0);"  ng-click="searchByPostType(2)" class="post-type-link"  id="post-type-link-2" >Video</a></li>
    <li><a href="javascript:void(0);"  ng-click="searchByPostType(3)" class="post-type-link"  id="post-type-link-3" >WIP</a></li>
    <li><a href="javascript:void(0);"  ng-click="searchByPostType(4)" class="post-type-link"  id="post-type-link-4" >Challenge</a></li>
    <li><a href="javascript:void(0);"  ng-click="searchByPostType(5)" class="post-type-link"  id="post-type-link-5" >Awards</a></li>

    </ul>
  </li>
  <li role="presentation" style="padding:10px 0 0;">
    <input type="text" class="form-control from-input" maxlength="64" placeholder="Search" ng-model="search" />
  </li>
  <li class="manage-btn manage-left"><a href="<%= index_gallery_path %>"><i class="fa fa-picture-o marginR5 blue-txt" aria-hidden="true"></i> Manage portfolio</a></li>
  <!-- <li class="manage-btn"><a href="#"><i class="fa fa-wrench marginR5 blue-txt" aria-hidden="true"></i> Portfolio display options</a></li> -->
  <li class="dropdown pull-right recentdrop" role="presentation"> <a aria-expanded="false" aria-haspopup="true" role="button" href="#" data-toggle="dropdown" class="dropdown-toggle">Recent <i class="fa fa-chevron-down fa-pad-left  blue-txt"></i> </a>
    <ul class="dropdown-menu">
            <li><a href="javascript:void(0);" ng-click="searchByFeatured('RECENT', 'recent')" class="featured-type-link"  id="featured-type-link-recent">Recent</a></li>
            <li><a href="javascript:void(0);" ng-click="searchByFeatured('POPULAR', 'popular')" class="featured-type-link"  id="featured-type-link-popular">Popular</a></li>
            <li><a href="javascript:void(0);" ng-click="searchByFeatured('AWARDED', 'awarded')" class="featured-type-link"  id="featured-type-link-awarded">Awarded</a></li>
             <li class="divider" role="separator"></li>
            <li><a href="javascript:void(0);" ng-click="searchByFeatured('TOPLIKED', 'top_liked')" class="featured-type-link"  id="featured-type-link-top_liked">Top Liked</a></li>
            <li><a href="javascript:void(0);" ng-click="searchByFeatured('TOPVIEWED', 'top_viewed')" class="featured-type-link"  id="featured-type-link-top_viewed">Top viewed</a></li>
            <li><a href="javascript:void(0);" ng-click="searchByFeatured('TOPCOMMENTED', 'top_commented')" class="featured-type-link"  id="featured-type-link-top_commented">Top Commented</a></li> 
    </ul>
  </li>
      <li class="dropdown pull-right recentdrop hidden-sm" role="presentation"> <a aria-expanded="false" aria-haspopup="true" role="button" href="#" data-toggle="dropdown" class="dropdown-toggle">Categories <i class="fa fa-chevron-down fa-pad-left  blue-txt"></i> </a> 
          <ul class="dropdown-menu" id="categoryli">
             <li ng-repeat = 'olist in optionlist'>
                  <a href="javascript:void(0);" ng-click="searchByMediumType(olist.id)" class="medium-type-link"  id="medium-type-link-"+olist.id > {{olist.name}} </a>
               </li>
          </ul>


      </li>
</ul>
</div>
</section>

<!-- User Profile Menu -->
<section class="userprofile celarfix">
<ul class="margin">
  <li class="lists clearfix" dir-paginate="x in artwork_data | filter:search | itemsPerPage:20">
       <div class="user-wrap">
          <a ng-show = 'x.image.length > 0' href="#" class="fa fa-picture-o" aria-hidden="true"></a> 
          <a ng-show = 'x.video.length > 0 || x.upload_video.length > 0' href="#" class="fa fa-video-camera" aria-hidden="true"></a>
          <a ng-show = 'x.sketchfeb.length > 0 || x.marmoset.length > 0' href="#" class="fa fa fa-cube" aria-hidden="true"></a>
       </div>
      <div class="clearfix userprowrap">
        <div class="userprofile-content clearfix">
          <div class="userproleft"><img lazy-img="<%= root_url %>{{ x.user.image.thumb.url }}" alt="User Profile" class="img-responsive"></div>
          <div class="userproright">
          <h2>{{x.user.professional_headline}} </h2>
             {{x.user.firstname}} {{x.user.lastname}} </div>
        </div>
      </div>
        <a href="/dashboard/projects/{{x.result.paramlink}}/show">  
        <img lazy-img="<%= root_url %>{{ x.result.company_logo.browse_art_work.url }}" alt="Artwork" class="img-responsive download-img-height"></a>
 </li>

</ul>
</section>
</div>
<div class="clear"></div>
<div class="text-center text-uppercase">
  <div class="pagintionpage clearfix">
      <dir-pagination-controls
           max-size="1"
           direction-links="true"
           boundary-links="false" >
      </dir-pagination-controls>

  </div>
</div>

<script type="text/javascript">
  // main page angular app start
  var app = angular.module('myApp', ["angularUtils.directives.dirPagination", "angularLazyImg"]);
  app.controller('browseAllArtworkCtrl', function($sce, $scope, $http) {
      $scope.filter = function() {
        
        list_url = '/dashboard/projects/get_portfolio_list?'; 
        
        if(typeof $scope.viewFeaturedType !== 'undefined' && $scope.viewFeaturedType != ''){
          list_url += '&is_feature=' + $scope.viewFeaturedType
        }

        if(typeof $scope.medium_category_id !== 'undefined' && $scope.medium_category_id != ''  && $scope.medium_category_id != 'all'){
          list_url += '&medium_category_id=' + $scope.medium_category_id
        }

        if(typeof $scope.post_type_id !== 'undefined' && $scope.post_type_id != ''  && $scope.post_type_id != 'all'){
          list_url += '&post_type_category_id=' + $scope.post_type_id
         
          $.ajax({
                    type: "post",
                    url: "<%= get_subject_matter_list_path %>" ,
                    data: {'post_type_category_id': $scope.post_type_id},
                    success: function(data){
                        $scope.optionlist = data.result;
                    }
                });
          }

       $http.get(list_url).then(function (response) {
          
            resultdata            = [];
            angular.forEach(response.data, function(value, key){
                resultdata.push(value);
            });

            $scope.artwork_data              = resultdata;          
          });
    };
    
    $scope.filter();

    $scope.searchByFeatured = function(value, id) {

      angular.element( document.querySelectorAll( '.featured-type-link' ) ).removeClass('active');
      angular.element( document.querySelector( '#featured-type-link-' + id ) ).addClass('active');
      
      $scope.viewFeaturedType = value;
      $scope.filter();

    };

    $scope.searchByPostType = function(id) {
        
      angular.element( document.querySelectorAll( '.post-type-link' ) ).removeClass('active');
      angular.element( document.querySelector( '#post-type-link-' + id ) ).addClass('active');
      
      $scope.post_type_id = id;
      $scope.filter();

    };

   $scope.searchByMediumType = function(id) {

      angular.element( document.querySelectorAll( '.medium-type-link, .medium-type-category-link, .medium-type-subcategory-link' ) ).removeClass('active');
      angular.element( document.querySelectorAll( '#medium-type-link-' + id + ', #medium-type-category-link-all, #medium-type-subcategory-link-all' ) ).addClass('active');

      $scope.medium_category_id = id;
      $scope.filter();
    };

  });

  angular.bootstrap(document.getElementById("myApp2"), ['myApp']);
  // main page angular app end

</script>