    <!-- <button type="submit" id="saveCoverArtPic" value="UpdateCoverArt" ng-show="false" name="commit"><i class="fa fa-pad-right fa-check"></i><span class="text ng-binding">Save <span class="hidden-xs">Picture</span></span></button> -->
<%  res = connection_like_count_by_artist_id(@artist_data.id) %>
<div class="artist-profile">
  <div style="background-image: url(<%= @artist_data.cover_art_image.full.url  %>);" class="artist-masthead">
    
<%= form_for(@artist_data, url: update_user_image_path(@artist_data), html: { method: :put, id: 'cover_art_image_form' }) do |f| %>

    <div class="change-cover-image hidden-xs">
     <!--  <a href="javascript:void(0);" ng-click="clickUploadCoverArt()"><i class="fa fa-pad-right fa-upload"></i><span class="text ng-binding">Change background (1920x640)</span></a> -->
    </div>

    <% if (!@artist_data.cover_art_image.blank? && !@artist_data.cover_art_image.try(:full).blank?) %>
      <div class="remove-cover-image hidden-xs">
        <%#= link_to '<i class="fa fa-pad-right fa-remove"></i><span class="text ng-binding">Remove Cover Art</span>'.html_safe, remove_cover_art_path(@artist_data),method: :delete, data: { confirm: 'Are you sure?' }, title: "Remove Cover Art" %>
      </div>    
    <% end %>

    <%#= f.file_field(:cover_art_image, accept: "image/*", id: "covertArtPicUpload", "ng-model" => "covertArtPicUpload", onchange: "angular.element(this).scope().coverArtUpload(this)", style: "display: none;")%>
    
<% end %>    


    <div class="container artist-info clearfix">
      <div class="row">
        <div class="col-sm-9 col-md-8 col-xs-12">
<%= form_for(@artist_data, url: update_user_image_path(@artist_data), html: { method: :put, id: 'image_form' }) do |f| %>
 
          <div class="avatar">
            <center>

              <% if (@artist_data.image.blank? || @artist_data.image.try(:event_small).blank?)%>
                <img src="/assets/profile-noimage.jpg" alt="User" class="img-thumbnail img-responsive" ng-src="{{stepsModel}}">
              <% else %>
                <%= image_tag(@artist_data.image.try(:event_small).try(:url), alt: "User Image", class: "img-thumbnail img-responsive", "ng-src"=>"{{stepsModel}}") %>
              <% end %>  
              <span class="user-pro-pic">
                <!-- <a href="javascript:void(0);" ng-click="clickUpload()">
                  <i class="fa fa-pad-right fa-remove"></i><span class="text ng-binding">Update Profile <span class="hidden-xs">Picture</span></span>
                </a> -->

                <!-- <input id="profilePicUpload1" ng-model="profilePicUpload1" type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(this)" style="display: none;" accept="image/*" /> -->

                <%#= f.file_field(:image, accept: "image/*", id: "profilePicUpload", "ng-model" => "profilePicUpload", onchange: "angular.element(this).scope().imageUpload(this)", style: "display: none;")%>

               <!--  <button type="submit" id="saveProfilePic" class="save-img" value="UpdateProfilePhoto" ng-show="false" name="commit"><i class="fa fa-pad-right fa-check"></i><span class="text ng-binding">Save <span class="hidden-xs">Picture</span></span></button> -->

                <!-- <a href="javascript:void(0);" id="saveProfilePic" class="save-img" ng-show="profilePicUpload"><i class="fa fa-pad-right fa-check"></i><span class="text ng-binding">Save <span class="hidden-xs">Picture</span></span></a> -->
              </span>

            </center>
          </div>
<% end %>          

          <div class="artist-info-texts pull-left">
            <h2 class="artist-name ng-binding"><%= @artist_data.firstname + ' ' + @artist_data.lastname %> <i class="fa fa-check-circle"></i></h2>
            <div class="artist-additional-info">
              <ul>
                <li class="ng-binding"> <i class="fa fa-briefcase"></i> <%= @artist_data.profile_type %> </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="artist-additional-info">
              <ul>
                <% if @artist_data.try(:city) || @artist_data.try(:country) %>
                  <li class="ng-binding"> <i class="fa fa-pad-right fa-map-marker"></i> <%= @artist_data.try(:city) %><%= (@artist_data.try(:city) != '' && @artist_data.try(:country).try(:name) != '') ? ', ' : '' %><%= @artist_data.try(:country).try(:name) %> </li>
                <% end %>
                <li class="ng-binding"> <i class="fa fa-pad-right fa-eye"></i> <%= @artist_data.view_count %> Views </li>
                <li class="ng-binding"> <i class="fa fa-pad-right fa-thumbs-up"></i> <%= res[:like] %> Likes </li>
                <!-- <li class="ng-binding"> <i class="fa fa fa-plus-circle fa-pad-right"></i> <%= res[:following] %> Following </li> -->
              </ul>
            </div>

          </div>
        </div>
        <div class="col-sm-3 col-md-4 col-xs-12 artist-social-info">
          <ul class="list-inline pull-right">
            
       <!--      <li ng-if="artistCanContact" class="ng-scope">
              <button href="" class="btn btn-success btn-sm"> <i class="fa fa-pad-right fa-envelope"></i>Message </button>
            </li>
            <li ng-if="artistCanContact" class="ng-scope">
              <button href="" class="btn btn-warning btn-sm"> <i class="fa fa-globe fa-pad-right"></i>My Website </button>
            </li>
 -->

 <% if user_signed_in? %>
            
            <li class="ng-scope">
              <div aria-label="..." role="group" class="btn-group">
                <button id='follow_button' type="button" title="Follow this user" class="btn btn-primary btn-sm ng-binding ng-scope"> <i class="fa fa fa-plus-circle fa-pad-right"></i>Follow </button>
                <button id='follow_button_count' class="btn btn-sm user-follow" type="button"><%= @artist_data.follow_count %></button>

                <button id='unfollow_button' type="button" title="Follow this user" class="btn btn-primary btn-sm ng-binding ng-scope hidden"> <i class="fa fa-check fa-pad-right"></i>Following </button>
                <button id='unfollow_button_count' class="btn btn-sm user-follow hidden" type="button"><%= @artist_data.follow_count %></button>  
              </div>
            </li>

            <li class="ng-scope">
              <a href="javascript:void(0);" id="message_button" class="btn btn-success btn-sm"><i class="fa fa-pad-right fa-envelope"></i>Message</a>

              <!-- <button href="" class="btn btn-success btn-sm"> <i class="fa fa-pad-right fa-envelope"></i>Message </button> -->
            </li>
            <li class="ng-scope">
              <button href="javascript:void(0);" class="btn btn-warning btn-sm"> <i class="fa fa-globe fa-pad-right"></i>My Website </button>
            </li>
  <%   else  %>
            <li class="ng-scope">
                <div aria-label="..." role="group" class="btn-group">
                  <button type="button" title="Follow this user (F)" class="btn btn-primary btn-sm ng-binding ng-scope"> <i class="fa fa fa-plus-circle fa-pad-right"></i>Follow </button>
                  <button class="btn btn-sm user-follow" type="button"><%= @artist_data.follow_count %></button>
                </div>
            </li>

  <% end %>          


          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
<div  class="clearfix container-fluid-full" id="myApp2"  ng-app="myApp" ng-controller="dashboardCtrl">

<!-- User Profile Menu -->
<section class="usernavivation clearfix">
<nav class="navbar-default clearfix">
<div class="container">
  <div class="navbar-artist-profile clearfix">
    <ul class="nav navbar-nav">
      <li> <a href="<%= artist_profile_path(@artist_data.username) %>">Portfolio</a></li>
      <li> <a href="<%= user_profile_info_path(@artist_data.username) %>">About</a> </li>
      <li  class="dropdown ng-scope active"> <a href="<%= user_stats_path(@artist_data.username) %>">Stats <i class="fa fa-chevron-down fa-pad-left blue-txt"></i></a> </li>
     <!--  <li> <a href="javascript:void(0);"> Following <span class="counter-number ng-binding">(<%= res[:following] %>)</span> </a> </li>
       <li> <a href="javascript:void(0);"> Followers<span class="counter-number ng-binding">(<%#= @artist_data.follow_count %>)</span> </a> </li> -->
     <!--  <li> <a href="javascript:void(0);"> Likes<span class="counter-number ng-binding">(<%#= res[:like] %>)</span> </a> </li> -->
    </ul>
  </div>
</div>
</nav>
<div id='loading_div' style="display: block; left: 45%; position: relative; top: -36px;"><img src="/assets/loading1.gif"></div>
<div class="clearfix hidden-xs">&nbsp;</div>
</section>


 <div><!-- User Statistics Start -->
<section class="clearfix userstatisticswrap">

    <div class="clearfix marginB15">
      <div class="userstat-indent clearfix">
        <div class="col-md-12 col-sm-12 col-xs-12 white-txt txt16 marginB15">All Time Statistics</div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="viewbdr clearfix">
            <div class="userview-title blue-txt"><%= @view_count  %></div>
            <div class="text-uppercase view-txt">Project views</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="viewbdr clearfix">
            <div class="userview-title blue-txt"><%= @user_view_count %></div>
            <div class="text-uppercase view-txt">Profile views</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="viewbdr clearfix">
            <div class="userview-title greencolor"><%= @like_count %></div>
            <div class="text-uppercase view-txt">Project Likes</div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <div class="userview-title darkcolor"><%= @comment_count %></div>
          <div class="text-uppercase view-txt">Project comments</div>
        </div>
      </div>
    </div>
    <div class="clearfix marginB15">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="userstat-indent1 clearfix">
            <div class="white-txt txt16 marginB15">Project Views</div>
            <div><%= 
               # line_chart Gallery.group_by_day(:created_at, format: "%B %d, %Y").count, discrete: true , colors: ["red", "#FF0000"] 
                line_chart Gallery.where('user_id=?',@artist_data.id).group_by_month(:created_at, format: "%B %d, %Y").sum('view_count'),  xtitle: "Day", ytitle: "Likes", discrete: true , colors: ["red", "#FF0000"] 
            %>
            <!-- <img src="images/user-project-view.jpg" class="img-responsive" alt="User Project View"> --></div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="userstat-indent1 clearfix">
            <div class="white-txt txt16 marginB15">Project Likes</div>
            <div>
              <%= 
                line_chart Gallery.where('user_id=?',@artist_data.id).group_by_month(:created_at, format: "%B %d, %Y").sum('like_count'),  xtitle: "Day", ytitle: "Likes", discrete: true , colors: ["red", "#FF0000"] 
              %>

            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="clearfix marginB15 userstat-indent1 hidden-xs">
      <div class="clearfix marginB15">
        <div class="row">
          <div class="col-md-8 col-sm-7 col-xs-8 white-txt txt16">Project Monthly Review</div>
          <div class="col-md-4 col-sm-5 col-xs-4 white-txt txt16 text-right lightcolor">(In last 30 days)</div>
        </div>
      </div>
      <div class="clearfix reviewuser">
        <div class="reviewfisrt lightcolor pull-left">Project</div>
        <div class="reviewsec pull-left txt16 lightcolor text-center"><i class="fa fa-eye" aria-hidden="true"></i></div>
        <div class="reviewsec pull-left txt16 lightcolor text-center"><i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
        <div class="reviewsec pull-left txt16 lightcolor text-center"><i class="fa fa-comments" aria-hidden="true"></i></div>
        <div class="reviewlast lightcolor pull-left">Liked BY:</div>
      </div>
      
      <div class="user-portfolio-wrap clearfix" ng-repeat = "x in stats_data | limitTo : 5 ">
          <div class="clearfix user-portfolio-first pull-left">
            <div class="user-stat-pic pull-left">
           <!--  <img src="images/database/user-stat.jpg" width="51" height="51" alt="User"> -->
            <img lazy-img="<%= root_url %>{{ x.company_logo.user_activity.url }}" class="img-responsive">
            </div>
            <div class="pull-left">
              <h3>{{ x.title}}</h3>
              <div class="appr-txt">Published: {{x.created_at}}</div>
            </div>
          </div>
          <div class="user-portfolio-sec pull-left text-center">{{ x.view_count}}</div>
          <div class="user-portfolio-sec pull-left text-center">{{ x.like_count}}</div>
          <div class="user-portfolio-sec pull-left text-center">{{ x.comment_count}}</div>
          <div class="clearfix user-portfolio-first pull-left"> 
      
              <a href="javascript:void(0);" class="marginR5" ng-repeat = "y in x.post_like | limitTo : 7 ">
                <img src="<%= root_url %>{{ y.user.image.user_activity.url }}" width="51" height="51" alt="img">
              </a> 
              

            <!--   <a href="#" class="marginR5"><img src="images/database/31.jpg" width="51" height="51" alt="img"></a> 
              <a href="#" class="marginR5"><img src="images/database/32.jpg" width="51" height="51" alt="img"></a> 
              <a href="#" class="marginR5"><img src="images/database/user-stat.jpg" width="51" height="51" alt="img"></a> 
              <a href="#" class="marginR5"><img src="images/database/user-stat1.jpg" width="51" height="51" alt="img"></a> 
              <a href="#" class="marginR5"><img src="images/database/30.jpg" width="51" height="51" alt="img"></a>
              <a href="#" class="marginR5"><img src="images/database/31.jpg" width="51" height="51" alt="img"></a>  -->
         </div>
      </div> 
       <div class="clearfix downbox text-center err-msg no-result marginT10" ng-hide="stats_data.length" >No Result Found!</div> 

    </div>

    <div class="clearfix marginB15 userstat-indent1">
      <div class="row">
        <div class="col-md-6 col-xs-12 col-sm-6">
          <div class="marginB10 white-txt txt16"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Likes</div>
            <%
              if  @allpostlikerecords.present?
            %>    
                <div class="userstatapp clearfix">
                    <ul class="row">
                    <% @allpostlikerecords.each_with_index do |value, index| 
                           # abort(value.user.image.user_activity.url.to_json)
                           if index > 6
                              break
                           end 
                    %>   

                      <li class="col-md-6 col-xs-12 col-sm-12 marginB10">
                        <div class="user-stat-pic pull-left"><a href='<%= artist_profile_path(value.user.username) %>'><img src="<%= value.user.image.user_activity.url %>" width="51" height="51" alt="User"></a></div>
                        <div class="pull-left">
                          <h3><a href='<%= artist_profile_path(value.user.username) %>'><%= value.user.firstname %> <%= value.user.lastname %></a></h3>
                          <div class="appr-txt"><%= value.user.like_count %>  Likes</div>
                        </div>
                      </li>


                  <% end %>  

                    </ul>
                </div>

          <%      
            end
          %> 
        </div>
        <div class="col-md-6 col-xs-12 col-sm-6 userappmobi">
          <div class="marginB10 white-txt txt16"><i class="fa fa-comments" aria-hidden="true"></i> Commenters</div>
          <%
                  if  @allpostcommentrecords.present?
                %>    
                    <div class="userstatapp clearfix">
                        <ul class="row">
                        <% @allpostcommentrecords.each_with_index do |value, index| 
                               # abort(value.user.image.user_activity.url.to_json)
                               if index > 6
                                  break
                               end 
                        %>   

                          <li class="col-md-6 col-xs-12 col-sm-12 marginB10">
                            <div class="user-stat-pic pull-left"><a href='<%= artist_profile_path(value.user.username) %>'><img src="<%= value.user.image.user_activity.url %>" width="51" height="51" alt="User"></a></div>
                            <div class="pull-left">
                              <h3><a href='<%= artist_profile_path(value.user.username) %>'><%= value.user.firstname %> <%= value.user.lastname %></a></h3>
                              <!-- <div class="appr-txt"><%#= value.user.like_count %>  comments</div> -->
                            </div>
                          </li>


                      <% end %>  

                        </ul>
                    </div>

              <%      
                end
              %> 




        </div>

      </div>
    </div>
</section>

 </div>

</div>
<div class="clear"></div>

<% if user_signed_in? %>
<script type="text/javascript">
  $(document).ready(function(){
   
    $.ajax({
        type: "post",
        url: "<%= save_view_count_user_path %>" ,
        data: {'user_id': '<%= @artist_data.id %>'},
        success: function(data){
        }
    });

       $.ajax({
            type: "post",
            url: "<%= check_follow_artist_path %>" ,
            data: {'artist_id': '<%= @artist_data.id %>'},
            success: function(data){
                //alert(data.res)
               if(data.res == 1) {
                        $('#follow_button').addClass('hidden');
                        $('#follow_button_count').addClass('hidden');
                     

                        $('#unfollow_button').removeClass('hidden');
                        $('#unfollow_button_count').removeClass('hidden');

                }else{
                        
                       $('#follow_button').removeClass('hidden');
                       $('#follow_button_count').removeClass('hidden');
                       
                       $('#unfollow_button').addClass('hidden');
                       $('#unfollow_button_count').addClass('hidden');
                }
            }
      });

    $('#follow_button, #unfollow_button').on('click',function(){
            $.ajax({
                type: "post",
                url: "<%= follow_artist_path %>" ,
                data: {'artist_id': '<%= @artist_data.id %>'},
                success: function(data){
                  //alert(data.res)
                 if(data.res == 1) {
                      
                      $('#follow_button').addClass('hidden');
                      $('#follow_button_count').addClass('hidden');
                   
                      $('#unfollow_button').removeClass('hidden');
                      $('#unfollow_button_count').removeClass('hidden');
                  
                  }else{
                       
                       $('#follow_button').removeClass('hidden');
                       $('#follow_button_count').removeClass('hidden');
                       
                       $('#unfollow_button').addClass('hidden');
                       $('#unfollow_button_count').addClass('hidden');
                  }

                }
            });
    });

  })
</script>
<% end %>

<script type="text/javascript">

  // main page angular app start
  var app = angular.module('myApp', ["angularUtils.directives.dirPagination", "angularLazyImg"]);
  app.controller('dashboardCtrl', function($sce, $scope, $http) {
      
    $scope.filter = function() {

        artist_id  = "<%= @artist_data.id %>"
        list_url = '/user/get_stats?artist_id='+ artist_id;     
        $http.get(list_url).then(function (response) {

          $scope.stats_data = response.data;
        });


    };
    $scope.filter();

    $scope.searchByCountry = function(value, id) {
            
      $scope.country_id = value;
      $scope.filter();

    };
  });
angular.bootstrap(document.getElementById("myApp2"), ['myApp']);
  // main page angular app end

</script>

<% if user_signed_in? %>

<script type="text/javascript">
  var Config = {
    
      'LOGGINED_USER_LOGIN': "<%=  current_user.email %>",
      'LOGGINED_USER_ID': "<%=  current_user.qb_id %>",
      'LOGGINED_USER_PASS': "<%=  current_user.qb_password %>",
      'LOGGINED_FULL_NAME': "<%=  current_user.username %>",

    };          
</script>
<%= javascript_include_tag "quickblox/quickblox.min","quickblox/jquery.nicescroll.min","quickblox/config", "quickblox/main" %>
<script type="text/javascript">  
 
 function create_current_user_quickblox(current_user_qb_id, current_user_qb_password){
       
      if(current_user_qb_id == '' || current_user_qb_password == ''){

           random_password = "<%=  rand(11111111..99999999).to_s %>";
              var params = { login: "<%=  current_user.email %>", password:  random_password , email: "<%=  current_user.email %>", full_name: "<%=  current_user.username %>" };
              QB.createSession(function (err, result) {
                 QB.users.create(params, function (err, result1) {
                      
                      if(result1){
                           $.ajax({
                                url: "/save_qb_data",
                                data: {qb_id:result1.id, qb_password: random_password  ,user_id: "<%=  current_user.id %>"},
                                type:'post', 
                                success: function(r){
                                 }
                            });
                      }
                   });
              });   

          }   
    }

  function create_other_user_quickblox(other_user_qb_id, other_user_qb_password){
       
      if(other_user_qb_id == '' || other_user_qb_password == ''){  

         random_password1 = "<%=  rand(11111111..99999999).to_s %>";
         var params = { login: "<%=  @artist_data.email %>", password:  random_password1 , email: "<%=  @artist_data.email %>", full_name: "<%=  @artist_data.username %>" };

                  QB.createSession(function (err, result) {
                    QB.users.create(params, function (err, result1) {
                          
                          if(result1){
                             $.ajax({
                                    url: "/save_qb_data",
                                    data: {qb_id:result1.id, qb_password: random_password1  ,user_id: "<%=  @artist_data.id %>"},
                                    type:'post', 
                                    success: function(r){
                                      return true;
                                    }
                                });
                              }
                         });
                }); 

           }          
     }

  $(document).ready(function(){
      $('#loading_div').hide();
      $('#message_button').on('click',function(){
            $('#loading_div').show();
             current_user_qb_id        = "<%=  current_user.qb_id  %>";
             current_user_qb_password  = "<%=  current_user.qb_password  %>";
             
             other_user_qb_id          = "<%=  @artist_data.qb_id  %>";
             other_user_qb_password    = "<%=  @artist_data.qb_password  %>";
                        
            create_current_user_quickblox(current_user_qb_id, current_user_qb_password);
            setTimeout(function(){  }, 1000); 
            create_other_user_quickblox(other_user_qb_id, other_user_qb_password);
            
            setTimeout(function(){  redirectToMessage(); }, 10000); 
           
      });

  });   

  function redirectToMessage(){
      $('#loading_div').hide();
      window.location.href = "<%= message_path(@artist_data.username) %>";
  }



</script>

<% end %>
