<%= render "elements/profile_header" %>

<div id="myApp2" ng-app="myApp" ng-controller="myCtrl">
    <!-- User Profile Menu -->
    <section class="usernavivation clearfix">
        <nav class="navbar-default clearfix">
            <div class="container">
                <div class="navbar-artist-profile clearfix">
                    <ul class="nav navbar-nav">
                        <li class="dropdown ng-scope"> <a href="user-profile.html">Portfolio <i class="fa fa-chevron-down fa-pad-left blue-txt"></i></a></li>
                        <li class="active"> <a href="<%= user_user_profile_info_path %>">About</a> </li>
                        <li> <a href="user-following.html"> Following <span class="counter-number ng-binding">(13)</span> </a> </li>
                        <li> <a href="user-followers.html"> Followers<span class="counter-number ng-binding">(20)</span> </a> </li>
                        <li> <a href="user-like.html"> Like<span class="counter-number ng-binding">(20)</span> </a> </li>
                        <li class=""> <a aria-expanded="false" href="#" data-toggle="dropdown" class="dropdown-toggle"> More <i class="fa fa-chevron-down fa-pad-left  blue-txt"></i> </a>
                            <ul class="dropdown-menu ng-scope">
                                <li class="ng-scope"> <a href="#" class="ng-binding"> <i class="fa fa-fw fa-pad-right fa-folder"></i> Forum Post (12) </a> </li>
                                <li class="ng-scope"> <a href="#" class="ng-binding"> <i class="fa fa-fw fa-pad-right fa-folder"></i> Followers (13) </a> </li>
                                <li class="ng-scope"> <a href="#" class="ng-binding"> <i class="fa fa-fw fa-pad-right fa-folder"></i> Jobs (7) </a> </li>
                                <li class="ng-scope"> <a href="#" class="ng-binding"> <i class="fa fa-bar-chart"></i> Stats </a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

  <!-- User Profile start -->
    <section class="userprofileinfo celarfix">
        <div class="container">
            <div class="row">
                <div class="clearfix col-md-12 col-xs-12 col-sm-12 edit-pro text-right">
                    <a href="<%= user_edit_profile_path %>" class="lightbtn"><i class="fa fa-pencil-square-o blue-txt marginR5" aria-hidden="true"></i>  Edit Profile</a>
                </div>

                <div class="col-md-8 col-sm-7 col-xs-12">

                    <div class="clearfix marginB40">
                        <h2>Summary</h2>
                        <div class="about-txt"><%= current_user.professional_headline %></div>
                    </div>

                    <div class="clearfix marginB40">
                        <h2>Demo Reel</h2>
                        <div class="about-txt">
                            <% if(current_user.demo_reel.include?('youtube')) 
                                if current_user.demo_reel[/youtu\.be\/([^\?]*)/]
                                    youtube_id = $1
                                else
                                    current_user.demo_reel[/^.*((v\/)|(embed\/)|(watch\?))\??v?=?([^\&\?]*).*/]
                                    youtube_id = $5
                                end %>
                                    
                                <iframe width="765" height="370" src="https://www.youtube.com/embed/<%= youtube_id %>" frameborder="0" allowfullscreen></iframe>
                      
                            <% elsif(current_user.demo_reel.include?('vimeo')) 
                                match = current_user.demo_reel.match(/https?:\/\/(?:[\w]+\.)*vimeo\.com(?:[\/\w]*\/?)?\/(?<id>[0-9]+)[^\s]*/)

                                if match.present?
                                    vimeoid = match[:id] %>
                                    <iframe width="765" height="370" src="https://player.vimeo.com/video/<%= vimeoid %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                <% end %>
                                
                            <% elsif(current_user.demo_reel.include?('dailymotion'))  
                                match =  current_user.demo_reel.gsub('http://www.dailymotion.com/video/', "")
                                match1  = match.index('_')
                                match = match[0...match1]
                                if match.present?
                                    dailymotionid = match %>
                                    <iframe width="765" height="370" frameborder="0"  src="//www.dailymotion.com/embed/video/<%= dailymotionid %>" allowfullscreen></iframe>
                                <% end 
                            end %>


                        </div>
                    </div>

                    <div class="clearfix marginB40">
                        <h2>Professional Experience</h2>

                        <!-- <div class="clearfix marginB15 row experience-wrap">
                            <div class="col-md-3 col-sm-3 col-xs-4"><%= image_tag("gameloft.jpg", :alt => "crytek",:class=>"img-responsive") %></div>
                            <div class="col-md-5 col-sm-9 col-xs-8">
                                <h3>Animator at illumination Studio</h3>
                                <div class="experience-txt">Paris, France</div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 text-right">
                                <a href="#" class="lightbtn">February 2013- January 2016</a>
                            </div>
                        </div>

                        <div class="clearfix marginB15 row experience-wrap">
                            <div class="col-md-3 col-sm-3 col-xs-4"><%= image_tag("gameloft.jpg", :alt => "gameloft",:class=>"img-responsive") %></div>
                            <div class="col-md-5 col-sm-9 col-xs-8">
                                <h3>Animator at R&H</h3>
                                <div class="experience-txt">Los Angeles, United States of America<br>
                                <br>
                                As Animator for the film</div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 text-right">
                                <a href="#" class="lightbtn">March 2004- February 2005</a>
                            </div>
                        </div> -->

                        <% @professional_experiences.each do |professional_experience| %>

                            <div class="clearfix marginB15 row experience-wrap">
                                <!-- <div class="col-md-3 col-sm-3 col-xs-4"><%= image_tag("gameloft.jpg", :alt => "crytek",:class=>"img-responsive") %></div> -->
                                <div class="col-md-5 col-sm-9 col-xs-8">
                                    <h3><%= professional_experience.title %> at 
                                        <% if professional_experience.try(:company).try(:name).present? %>
                                            <%= professional_experience.try(:company).try(:name) %>
                                        <% else %>
                                            <%= professional_experience.company_name %>
                                        <% end %>        

                                    </h3>
                                    <div class="experience-txt"><%= professional_experience.location %></div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12 text-right">
                                    <% if professional_experience.from_year != '' || professional_experience.to_year != '' %>
                                        <a href="javascript:void(0);" class="lightbtn">
                                            <%= (professional_experience.from_month != '') ? User::GET_MONTH_VALUE[professional_experience.from_month.to_i] : '' %> <%= professional_experience.from_year %>
                                            <% if professional_experience.from_year != '' && professional_experience.to_year != '' %>
                                                 - 
                                            <% end %>    

                                            <%= (professional_experience.to_month != '') ? User::GET_MONTH_VALUE[professional_experience.to_month.to_i] : '' %> <%= professional_experience.to_year %>
                                            
                                        </a>
                                    <% end %>
                                </div>
                            </div>

                        <% end %>


                    </div>

                    <div class="clearfix marginB40">
                        <h2>Production Experience</h2>

                        <!-- <div class="clearfix marginB15 row production-wrap">
                            <div class="col-md-3 col-sm-3 col-xs-3"><%= image_tag("johb-carter.jpg", :alt => "johb-carter",:class=>"img-responsive") %></div>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <ul>
                                    <li><span>Movie</span>   The Chronicles of Narnia : The Lion,  the Witch and the Aardrobe</li>
                                    <li><span>Year</span>   2005</li>
                                    <li><span>Role </span>   Animator</li>
                                    <li><span>Company</span>   R&H</li>
                                </ul>
                            </div>
       
                        </div> -->

                        <% @production_experiences.each do |production_experience| %>

                            <div class="clearfix marginB15 row production-wrap">
                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <ul>
                                        <li><span>Movie</span><%= production_experience.production_title %></li>
                                        <li><span>Year</span>   <%= production_experience.release_year %></li>
                                        <li><span>Role </span>   <%= production_experience.your_role %></li>
                                        <li><span>Company</span>   <%= production_experience.company %></li>
                                    </ul>
                                </div>
           
                            </div>

                        <% end %>

                    </div>

                    <div class="clearfix marginB40">
                        <h2>Education Experience</h2>

                        <div class="clearfix row">
                            <!-- <div class="col-md-8 col-sm-12 col-xs-12">
                                <div class="edu-title">M.D.U.S. India</div>
                                <div class="edu-degree marginB10">Bachelor's degree of Arts</div>
                                <div class="edu-degree marginB10">2007  –  2010</div>
                                <div class="edu-activitie">Activities and Societies: </div>
                                <div class="edu-degree marginB10">Finding activities that you're passionate about is just as important in college ... <br>Go outside of your comfort zone when looking</div>
                            </div>

                            <div class="col-md-4 col-sm-12 col-xs-12 add-btn">
                                <a href="#" class="lightbtn"><i class="fa fa-plus" aria-hidden="true"></i> Add education</a>
                                <a href="#" class="lightbtn arrow-full"><i class="fa fa-arrows-v" aria-hidden="true"></i></a>
                            </div> -->
                            <% @education_experiences.each do |education_experience| %>

                                <div class="col-md-8 col-sm-12 col-xs-12 marginB15">
                                    <div class="edu-title"><%= education_experience.school_name %></div>
                                    <div class="edu-degree marginB10"><%= education_experience.field_of_study %></div>
                                    <div class="edu-degree marginB10">
                                        <%= (education_experience.month_val != '') ? User::GET_MONTH_VALUE[education_experience.month_val.to_i] : '' %> <%= education_experience.year_val %>
                                    </div>
                                    <div class="edu-activitie">Description: </div>
                                    <div class="edu-degree marginB10"><%= education_experience.description %></div>
                                </div>

                            <% end %>


                        </div>
                    </div>

                    <div class="clearfix marginB40 skills-userprofile">
                        <h2>Skills</h2>

                        <% if current_user.skill_expertise.present? 
                            current_user.skill_expertise.reject!{|a| a==""}
                            %>
                            <% current_user.skill_expertise.each do |skill_id| 
                                skill_data = JobSkill.find_by(id: skill_id)
                                %>
                                <a href="javascript:void(0);"><%= skill_data.name %></a>
                            <% end %>
                        <% end %>

                    </div>

                    <div class="clearfix marginB40 soft-userprofile">
                        <h2>Software</h2>

                        <% if current_user.software_expertise.present? 
                            current_user.software_expertise.reject!{|a| a==""}
                            %>
                            <% current_user.software_expertise.each do |software_expertise_id| 
                                software_expertise_data = SoftwareExpertise.find_by(id: software_expertise_id)
                                %>
                                <a href="javascript:void(0);"><%= image_tag(software_expertise_data.image.try(:thumb).try(:url), :alt => software_expertise_data.name) %><%= software_expertise_data.name %></a>
                            <% end %>
                        <% end %>

                    </div>

                </div>

                <div class="col-md-4 col-sm-5 col-xs-12 user-prowrap">

                    <div class="panel panel-default marginB15">
                        <div class="panel-heading">Hiring Information</div>
                        <div class="panel-body user-right-wrap">
                            <a href="#">Interested in:</a>

                            <% if current_user.full_time_employment %>
                                <a href="javascript:void(0);">Full Time Employment</a>
                            <% end %>

                            <% if current_user.contract %>
                                <a href="javascript:void(0);">Contract</a>
                            <% end %>

                            <% if current_user.freelance %>
                                <a href="javascript:void(0);">Freelance</a>
                            <% end %>

                            <button class="btn btn-success col-md-12 border-radius" type="button"><i class="fa fa-envelope marginR5" aria-hidden="true"></i> Send Message</button>
                        </div>
                    </div>

                    <div class="panel panel-default marginB15">
                        <div class="panel-heading">Connect</div>
                        <div class="panel-body connect-wrap">
                            <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a> 
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <div class="panel panel-default marginB15">
                        <div class="panel-heading">Artist Stast</div>
                        <div class="panel-body artist-wrap-stast">
                            <div class="marginB15"><i class="fa fa-eye marginR5" aria-hidden="true"></i> 0 Atwork Views</div>
                            <div class="marginB15"><i class="fa fa-thumbs-up marginR5" aria-hidden="true"></i> 0 Atwork Likes</div>
                            <div class="marginB5"><i class="fa fa-thumbs-up marginR5" aria-hidden="true"></i> 0 Followers</div>   
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>


<script>

  // main page angular app start
  var app = angular.module('myApp', ["angularLazyImg"]);
  app.controller('myCtrl', function($scope, $http) {
      
  
  });

  angular.bootstrap(document.getElementById("myApp2"), ['myApp']);
  // main page angular app end

</script>