<!-- All Dashboard Start -->
<section class="clearfix container-fluid-full">
  <div class="row-fluid">
    <div class="sidebar-left">
      <%= render 'layouts/navigation' %>
    </div>
    <div class="content clearfix">
      <div class="clearfix job-post-bread">
        <ul class="breadcrumb">
          <li><a class="active">Setting / </a></li>
          <!-- <li class="active">General</li> -->
        </ul>
      </div>
      
      <!-- User Followers Start -->
      <section class="clearfix usersettings">
        <div class="clearfix notification-heading"> <span class="noti-title" style="border:none;">User Setting</span> </div>
        <div class="panel panel-default">
          <div class="panel-heading">General</div>
          <div class="panel-body">
            <%= form_for(@user, url: update_userprofile_path, html: { method: :post , :id => "edit_profile_form"}) do |f| %>
              <div class="form-group clearfix">
                <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <label>Email</label>
                    <%= f.email_field :email, class: 'form-control from-input', id: 'fname', placeholder: 'demo@testdemo.com' %>
                  </div>
                </div>
              </div>
     <!--          <div class="form-group clearfix timezone">
                <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <label>Timezone</label>
                    <select class="custom-select">
                      <option>Please Select Time</option>
                    </select>
                  </div>
                </div>
              </div> -->
              <!-- <div class="form-group clearfix timezone socialnewbox">
                <div class="row">
                  <label class="col-md-12 col-sm-12 col-xs-12 marginB15">Social Media Integration</label>
                  <div class="col-md-3 col-sm-4 col-xs-12 lightcolor marginB10">Facebook
                    <button type="button" class="btn btn-danger marginL5">Disconnect Facebook</button>
                  </div>
                  <div class="col-md-3 col-sm-4 col-xs-12 lightcolor marginB10">Twitter
                    <button type="button" class="btn btn-info marginL5"><i class="fa fa-twitter marginR5" aria-hidden="true"></i> Hook up with Twitter</button>
                  </div>
                  <div class="col-md-3 col-sm-4 col-xs-12 lightcolor marginB10">Linkedin
                    <button type="button" class="btn btn-primary marginL5"><i class="fa fa-linkedin marginR5" aria-hidden="true"></i> Hook up with Linkedin</button>
                  </div>
                </div>
              </div>
              <div class="form-group clearfix timezone socialnewbox">
                <div class="row">
                  <label class="col-md-12 col-sm-12 col-xs-12 marginB15">Twitch Integration</label>
                  <div class="col-md-12 col-sm-12 col-xs-12 lightcolor">Live stream from Twitch to CGMeetup Challenges!
                    <button type="button" class="btn btn-info marginL5"><i class="fa fa-comment-o marginR5" aria-hidden="true"></i> Hook up with Twitch</button>
                  </div>
                </div>
              </div>
              <div class="form-group clearfix socialnewbox">
                <label class="marginB15">Browsing Experience</label>
                <div class="checkbox-btn">
                  <input type="checkbox" value="value-1" id="rc7" name="rc7"/>
                  <label for="rc7" onclick>Show mature content</label>
                </div>
              </div> -->

              <div class="form-group clearfix">
                <!-- <div class="marginB15"><a href="#" class="white-txt">Danger Zone</a></div> -->

                <div class="marginB15"><%= link_to "Cancel Account", cancel_account_path, method: :put, data: {confirm: "Are you sure?"}, class: "blue-txt" %></div>
              </div>
              <button class="green-btn border-radius" type="submit"><i class="fa fa-floppy-o marginR5" aria-hidden="true"></i> Save</button>
            <% end %>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Password</div>
          <div class="panel-body">
           <%= form_for(@user, url: update_profile_path, html: { method: :post , :id => "edit_password_form"}) do |f| %>
              
              <div class="form-group clearfix">
                <label onClick="">Password</label>
                <%= f.password_field :password, autocomplete: "off", class: 'form-control from-input', id: 'password', placeholder: 'Enter New Password ' %>
                <span class="error"><%= @user.errors[:password].first if @user.errors.any? %></span>
                
              </div>
              <div class="form-group clearfix">
                <label onClick="">Password confirmation</label>
                <%= f.password_field :confirm_password, autocomplete: "off", class: 'form-control from-input', id: 'oldpassword', placeholder: 'Confirm your new password ' %>
                
              </div>

              <button class="green-btn border-radius" name="commit" type="submit"><i class="fa fa-floppy-o marginR5" aria-hidden="true"></i> Save</button>
            <% end %>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Username</div>
          <div class="panel-body">
            <%= form_for(@user, url: update_username_path, html: { method: :post , :id => "edit_profile_form"}) do |f|%>
             <!--  <div class="form-group clearfix warningbox marginB15">
                <div class="txt16 marginB15 blue-txt">Warning - Danger ahead</div>
                <div class="marginB10 lightcolor">Changing your username will change the URL of your ArtStation profiles. You will need to update any links that you have to these URL's:</div>
                <div class="blue-txt marginB15">https://www.cgmeetup.com/artist/sher_1234567898</div>
                <div class="blue-txt marginB15">https://sher_1234567898.cgmeetup.com</div>
                <div class="lightcolor">Usernames must have between 3 and 63 letters and cannot start or end with a '-' or '_'</div>
              </div> -->
              <div class="form-group clearfix">
                <label onClick="">Change Username</label>
              
                <%= f.text_field :username, placeholder: "omega_123456789", class: "form-control from-input", id: 'username'  %>
                
              </div>
              <button class="green-btn border-radius" type="submit"><i class="fa fa-floppy-o marginR5" aria-hidden="true"></i> Save</button>
            <% end %>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Block Users</div>
          <div class="panel-body">
            <div class="lightcolor marginB15">Blocking a user prevents that user from commenting on your projects and discussion posts. Note that it does not remove his artwork from the main walls of art (Trending/Picks/etc.). The purpose of this feature is to prevent users from harassing you on CGMeetup.</div>
            <%= form_for(@user, url: blocked_users_path, html: { method: :post , :id => "edit_password_form"}) do |f| %>
              <div class="form-group">
              <%= f.select(:username, options_for_select(User.order('username ASC').pluck(:username, :id), params[:user].present? ? params[:user][:username] : @user[:username]), {:include_blank => false}, {'class' => 'form-control form-input multi-select js-chosen-select-multi', 'id' => 'blocked_user', multiple: true})  %>
             
              </div>
              <button type="submit" class="green-btn block-btn"><i class="fa fa-plus" aria-hidden="true"></i> Block</button>
            <% end %>
          </div>
        </div>
      <!--  <div class="panel panel-default">
          <div class="panel-heading">Notifications</div>
          <div class="panel-body">
            <div class="marginB40 lightcolor">A daily or weekly email that keeps you up-to-date on what's happening with your CGMeetup account.  Digests are sent in addition to individual email notifications on events.</div>
            <%= form_for(@user_setting, url: notification_setting_path, html: { method: :post , :id => "edit_password_form"}) do |f| %>
              <div class="form-group clearfix timezone socialnewbox">
                <label>Email digest option</label>
                <%= f.select :email_digest_interval, digest_options, {include_blank: true}, {class: "custom-select"} %>
              </div>
              <div class="clearfix emailwrap">
                <h3 class="marginB15">Email Notifications</h3>
                <div class="marginB15 lightbulb-txt"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> These settings control individual emails that will be sent to you when an event occurs.</div>
                <div class="clearfix row">
                  <div class="col-xs-12 col-sm-6 col-md-6 marginB15">
                    <div class="panel-top"><i class="fa fa-envelope blue-txt" aria-hidden="true"></i> Email notifications on my activity</div>
                    <div class="panel-indent clearfix">
                      <div class="lightcolor marginB15">These notifications are to inform you when there is activity on your artwork, portfolio and comments. For the best experience, you probably want to leave these on.</div>
                      <div class="white-txt marginB15">Email me:</div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :emailnotify_like_myartwork, id:"emailnotify_like_myartwork", name:"emailnotify_like_myartwork" %>
                        <label for="emailnotify_like_myartwork" onclick>When someone likes my artwork</label>
                      </div>
                      <div class="checkbox-btn marginB10">

                        <%= f.check_box :emailnotify_comment_myartwork, id:"emailnotify_comment_myartwork", name:"emailnotify_comment_myartwork" %>
                        <label for="emailnotify_comment_myartwork" onclick>When someone comments on my artwork</label>
                      </div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :emailnotify_followme, id:"emailnotify_followme", name:"emailnotify_followme" %>
                        <label for="emailnotify_followme" onclick>When someone follows me</label>
                      </div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :emailnotify_like_mycomment, id:"emailnotify_like_mycomment", name:"emailnotify_like_mycomment" %>
                        <label for="emailnotify_like_mycomment" onclick>When someone likes my comment</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 marginB15">
                    <div class="panel-top"><i class="fa fa-envelope blue-txt" aria-hidden="true"></i> Email notifications on other people's artwork</div>
                    <div class="panel-indent clearfix">
                      <div class="lightcolor marginB15">These notifications are to inform you when there is activity on other people's artwork, but that you follow or have participated in.</div>
                      <div class="white-txt marginB15">Email me:</div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :emailnotify_following_user_newartwork, id:"emailnotify_following_user_newartwork", name:"emailnotify_following_user_newartwork" %>
                        <label for="emailnotify_following_user_newartwork" onclick>When a user I'm following posts new artwork</label>
                      </div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :emailnotify_comment_on_mycommentedpost, id:"emailnotify_comment_on_mycommentedpost", name:"emailnotify_comment_on_mycommentedpost" %>
                        <label for="emailnotify_comment_on_mycommentedpost" onclick>When someone comments on artwork I've commented on</label>
                      </div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :emailnotify_reply_on_mycomment, id:"emailnotify_reply_on_mycomment", name:"emailnotify_reply_on_mycomment" %>
                        <label for="emailnotify_reply_on_mycomment" onclick>When someone replies to my comment on an artwork</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 marginB15">
                    <div class="panel-top"><i class="fa fa-envelope blue-txt" aria-hidden="true"></i> Email notifications on challenges</div>
                    <div class="panel-indent clearfix">
                      <div class="lightcolor marginB15">These notifications are to inform you when there is activity on Artstation challenges.</div>
                      <div class="white-txt marginB15">Email me:</div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :emailnotify_subcribed_challengesubmission, id:"emailnotify_subcribed_challengesubmission", name:"emailnotify_subcribed_challengesubmission" %>
                        <label for="emailnotify_subcribed_challengesubmission" onclick>When there are updates on challenge submissions that I subscribe to</label>
                      </div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :emailnotify_like_mysubmission, id:"emailnotify_like_mysubmission", name:"emailnotify_like_mysubmission" %>
                        <label for="emailnotify_like_mysubmission" onclick>When someone likes my submission</label>
                      </div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :emailnotify_like_mysubmissionupdate, id:"emailnotify_like_mysubmissionupdate", name:"emailnotify_like_mysubmissionupdate" %>
                        <label for="emailnotify_like_mysubmissionupdate" onclick>When someone likes one of my submission update</label>
                      </div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :emailnotify_challenge_announcements, id:"emailnotify_challenge_announcements", name:"emailnotify_challenge_announcements" %>
                        <label for="emailnotify_challenge_announcements" onclick>When there are challenge announcements</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 marginB15">
                    <div class="panel-top"><i class="fa fa-envelope blue-txt" aria-hidden="true"></i> Email notifications on other people's artwork</div>
                    <div class="panel-indent clearfix">
                      <div class="lightcolor marginB15">These notifications are to inform you when there are new replies to discussions you are involved in.</div>
                      <div class="white-txt marginB15">Email me:</div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :emailnotify_newreply_on_challengeannouncement, id:"emailnotify_newreply_on_challengeannouncement", name:"emailnotify_newreply_on_challengeannouncement" %>
                        <label for="emailnotify_newreply_on_challengeannouncement" onclick>When there are new replies on challenge announcements</label>
                      </div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :emailnotify_newreply_on_challengesubmissionupdate, id:"emailnotify_newreply_on_challengesubmissionupdate", name:"emailnotify_newreply_on_challengesubmissionupdate" %>
                        <label for="emailnotify_newreply_on_challengesubmissionupdate" onclick>When there are new replies on challenge submission updates</label>
                      </div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :emailnotify_like_repliestodiscussion, id:"emailnotify_like_repliestodiscussion", name:"emailnotify_like_repliestodiscussion" %>
                        <label for="emailnotify_like_repliestodiscussion" onclick>When someone likes one of my replies to a discussion</label>
                      </div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :emailnotify_like_postedchallengeannouncement, id:"emailnotify_like_postedchallengeannouncement", name:"emailnotify_like_postedchallengeannouncement" %>
                        <label for="emailnotify_like_postedchallengeannouncement" onclick>When someone likes a challenge announcement that I posted</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix emailwrap">
                <h3 class="marginB15">On-Site Notifications</h3>
                <div class="marginB15 lightbulb-txt"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> These settings control what events will notify you on CGMeetup.net</div>
                <div class="clearfix row">
                  <div class="col-xs-12 col-sm-6 col-md-6 marginB15">
                    <div class="panel-top"><i class="fa fa-bell blue-txt" aria-hidden="true"></i> On-site notifications on my activity</div>
                    <div class="panel-indent clearfix">
                      <div class="lightcolor marginB15">These notifications are to inform you when there is activity on your artwork, portfolio or comments. For the best experience, you probably want to leave these on.</div>
                      <div class="white-txt marginB15">Notify me:</div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :notifyme_like_myartwork, id:"notifyme_like_myartwork", name:"notifyme_like_myartwork" %>
                        <label for="notifyme_like_myartwork" onclick>When someone likes my artwork</label>
                      </div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :notifyme_comment_myartwork, id:"notifyme_comment_myartwork", name:"notifyme_comment_myartwork" %>
                        <label for="notifyme_comment_myartwork" onclick>When someone comments on my artwork</label>
                      </div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :notifyme_followme, id:"notifyme_followme", name:"notifyme_followme" %>
                        <label for="notifyme_followme" onclick>When someone follows me</label>
                      </div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :notifyme_like_mycomment, id:"notifyme_like_mycomment", name:"notifyme_like_mycomment" %>
                        <label for="notifyme_like_mycomment" onclick>When someone likes my comment</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 marginB15">
                    <div class="panel-top"><i class="fa fa-bell blue-txt" aria-hidden="true"></i> On-site notifications on other people's artwork</div>
                    <div class="panel-indent clearfix">
                      <div class="lightcolor marginB15">These notifications are to inform you when there is activity on other people's artwork, but that you follow or have participated in.</div>
                      <div class="white-txt marginB15">Notify me:</div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :notifyme_following_user_newartwork, id:"notifyme_following_user_newartwork", name:"notifyme_following_user_newartwork" %>
                        <label for="notifyme_following_user_newartwork" onclick>When a user I'm following posts new artwork</label>
                      </div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :notifyme_comment_on_mycommentedpost, id:"notifyme_comment_on_mycommentedpost", name:"notifyme_comment_on_mycommentedpost" %>
                        <label for="notifyme_comment_on_mycommentedpost" onclick>When someone comments on artwork I've commented on</label>
                      </div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :notifyme_reply_on_mycomment, id:"notifyme_reply_on_mycomment", name:"notifyme_reply_on_mycomment" %>
                        <label for="notifyme_reply_on_mycomment" onclick>When someone replies to my comment on an artwork</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 marginB15">
                    <div class="panel-top"><i class="fa fa-bell blue-txt" aria-hidden="true"></i> On-site notifications on challenges</div>
                    <div class="panel-indent clearfix">
                      <div class="lightcolor marginB15">These notifications are to inform you when there is activity on Artstation challenges.</div>
                      <div class="white-txt marginB15">Notify me:</div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :notifyme_subcribed_challengesubmission, id:"notifyme_subcribed_challengesubmission", name:"notifyme_subcribed_challengesubmission" %>
                        <label for="notifyme_subcribed_challengesubmission" onclick>When there are updates on challenge submissions that I subscribe to</label>
                      </div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :notifyme_like_mysubmission, id:"notifyme_like_mysubmission", name:"notifyme_like_mysubmission" %>
                        <label for="notifyme_like_mysubmission" onclick>When someone likes my submission</label>
                      </div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :notifyme_like_mysubmissionupdate, id:"notifyme_like_mysubmissionupdate", name:"notifyme_like_mysubmissionupdate" %>
                        <label for="notifyme_like_mysubmissionupdate" onclick>When someone likes one of my submission update</label>
                      </div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :notifyme_challenge_announcements, id:"notifyme_challenge_announcements", name:"notifyme_challenge_announcements" %>
                        <label for="notifyme_challenge_announcements" onclick>When there are challenge announcements</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 marginB15">
                    <div class="panel-top"><i class="fa fa-bell blue-txt" aria-hidden="true"></i> On-site notifications on discussions</div>
                    <div class="panel-indent clearfix">
                      <div class="lightcolor marginB15">These notifications are to inform you when there are new replies to discussions you are involved in.</div>
                      <div class="white-txt marginB15">Notify me:</div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :notifyme_newreply_on_challengeannouncement, id:"notifyme_newreply_on_challengeannouncement", name:"notifyme_newreply_on_challengeannouncement" %>
                        <label for="notifyme_newreply_on_challengeannouncement" onclick>When there are new replies on challenge announcements</label>
                      </div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :notifyme_newreply_on_challengesubmissionupdate, id:"notifyme_newreply_on_challengesubmissionupdate", name:"notifyme_newreply_on_challengesubmissionupdate" %>
                        <label for="notifyme_newreply_on_challengesubmissionupdate" onclick>When there are new replies on challenge submission updates</label>
                      </div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :notifyme_like_repliestodiscussion, id:"notifyme_like_repliestodiscussion", name:"notifyme_like_repliestodiscussion" %>
                        <label for="notifyme_like_repliestodiscussion" onclick>When someone likes one of my replies to a discussion</label>
                      </div>
                      <div class="checkbox-btn marginB10">
                        <%= f.check_box :notifyme_like_postedchallengeannouncement, id:"notifyme_like_postedchallengeannouncement", name:"notifyme_like_postedchallengeannouncement" %>
                        <label for="notifyme_like_postedchallengeannouncement" onclick>When someone likes a challenge announcement that I posted</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix socialnewbox marginB15">
                <div class="white-txt marginB10">Email Subscriptions</div>
                <div class="lightcolor marginB15">An email is sent to you whenever there are major new announcements about CGMeetup. Sent about once every 3 months.</div>
                <div class="checkbox-btn">
                  <%= f.check_box :emailnotify_announcement_subscription, id:"emailnotify_announcement_subscription", name:"emailnotify_announcement_subscription" %>
                  <label for="emailnotify_announcement_subscription" onclick>Subscribe to announcements</label>
                </div>
              </div>
              <div class="clearfix marginB15 socialnewbox">
                <div class="white-txt marginB10">Jobs</div>
                <div class="lightcolor marginB15">A daily jobs digest is sent to you of new jobs that are posted on CGMeetup.</div>
                <div class="checkbox-btn">
                  <%= f.check_box :emailnotify_newjob_jobdigest_subscription, id:"emailnotify_newjob_jobdigest_subscription", name:"emailnotify_newjob_jobdigest_subscription" %>
                  <label for="emailnotify_newjob_jobdigest_subscription" onclick>Subscribe to jobs digest</label>
                </div>
              </div>
              <div class="clearfix marginB15 socialnewbox">
                <div class="white-txt marginB10">Tutorials</div>
                <div class="lightcolor marginB15">A daily tutorials digest is sent to you of new tutorials are posted on CGMeetup.</div>
                <div class="checkbox-btn">
                  <%= f.check_box :emailnotify_newtutorials_jobdigest_subscription, id:"emailnotify_newtutorials_jobdigest_subscription", name:"emailnotify_newtutorials_jobdigest_subscription" %>
                  <label for="emailnotify_newtutorials_jobdigest_subscription" onclick>Subscribe to jobs digest</label>
                </div>
              </div>
              <div class="clearfix marginB15">
                <div class="white-txt marginB10">Downloads</div>
                <div class="lightcolor marginB15">A daily downloads digest is sent to you of new downloads are posted on CGMeetup.</div>
                <div class="checkbox-btn">
                  <%= f.check_box :emailnotify_newdownloads_jobdigest_subscription, id:"emailnotify_newdownloads_jobdigest_subscription", name:"emailnotify_newdownloads_jobdigest_subscription" %>
                  <label for="emailnotify_newdownloads_jobdigest_subscription" onclick>Subscribe to jobs digest</label>
                </div>
              </div>
              <button type="submit" class="green-btn border-radius" type="button"><i class="fa fa-floppy-o marginR5" aria-hidden="true"></i> Save</button>
            <% end %>
          </div>
        </div> -->
      </section>
    </div>
  </div>
</section>


<footer class="footer clearfix padding">
  <%= render 'layouts/lastfooter' %>
</footer>

<script type="text/javascript">
  $(document).ready(function(){
       
    var validator = $("#edit_password_form").validate({
      ignore: ':hidden:not(select)',
      rules: {
        "user[confirm_password]": "required",
        "user[password]": {
          required: true
        },
      },
      messages: {
        "user[password]": {
          required: "New password can't be blank"
        },
        "user[confirm_password]": {
          required: "Confirm Password can't be blank",
        },
      },
      errorPlacement: function(error, element) {
        error.insertAfter(element);
      }
    });
  });
</script>