<!-- All Dashboard Start -->
<section class="clearfix container-fluid-full">
<div class="row-fluid">
<div class="sidebar-left">
<%= render 'layouts/navigation' %>
</div>
<div class="content clearfix">
<div class="clearfix job-post-bread">
<ul class="breadcrumb">
<li><%= link_to 'Gallery', controller: 'gallery',action:'all_gallery_post' %></li>
<li class="active">All Gallery Post</li>
</ul>
</div>

<!-- User Followers Start -->
<section class="clearfix usersettings">
<div class="clearfix notification-heading"> <span class="noti-title">All Gallery Post</span>
<button class="addbtn" type="button">Add New</button>
</div>
<div class="clearfix marginB15 allgallerypost-link hidden-xs hidden-sm">
<div class="row">
  <div class="col-md-8 paddinT10">
    <ul>
      <li><a href="#" class="white-txt">All <span class="badge">(4,083)</span></a></li>
      <li><a href="#">Featured <span class="badge">(350)</span></a></li>
      <li><a href="#">Published <span class="badge">(4,072)</span></a></li>
      <li><a href="#">Drafts <span class="badge">(11)</span></a></li>
      <li><a href="#">Trash <span class="badge">(11)</span></a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <div class="search clearfix pull-right">
      <input type="text" class="form-control from-input" maxlength="64" placeholder="Search" />
      <button type="submit" class="blue-btn">Search Post</button>
    </div>
  </div>
</div>
</div>
<div class="clearfix marginB15 allpostwrap hidden-xs hidden-sm">
<div class="bulkaction clearfix">
  <select class="custom-select">
    <option>Bulk Actions</option>
  </select>
  <button type="button" class="blue-btn">Apply</button>
</div>
<div class="alldated clearfix">
  <select class="custom-select">
    <option>All dates</option>
  </select>
</div>
<div class="gallerytype clearfix">
  <select class="custom-select">
    <option>All Gallery Post Type</option>
  </select>
</div>
<div class="gallerysub clearfix">
  <select class="custom-select">
    <option>All Categories/Subject Mat</option>
  </select>
  <button type="button" class="blue-btn">Filter</button>
</div>
<div class="allitem">4,083 items</div>
<div class="pagintionpage clearfix">
  <ul class="pagination">
    <li><a href="#" class="white-txt">1</a></li>
    <li><a href="#">of</a></li>
    <li><a href="#">205</a></li>
    <li><a href="#"><i class="fa fa-angle-right blue-txt txt16" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-angle-double-right blue-txt txt16" aria-hidden="true"></i></a></li>
  </ul>
</div>
</div>
<div class="panel panel-default allgallerypostwrap">
<div class="panel-heading clearfix padding">
  <div class="postcheck clearfix">
    <div class="checkbox-btn">
      <input type="checkbox" value="value-1" id="rc15" name="rc15">
      <label for="rc15" onclick=""></label>
    </div>
  </div>
  <div class="GalleryThumbnail hidden-xs">Thumbnail</div>
  <div class="GalleryTitle hidden-xs">Title</div>
  <div class="GalleryAuthor hidden-xs">Categories</div>
  <div class="GalleryDate hidden-xs">Date</div>
  <div class="GalleryLike hidden-xs">Likes</div>
  <div class="GalleryLike hidden-xs">Status</div>
  <div class="GalleryLike hidden-xs">Actions</div>
</div>
<div class="panel-body padding">
  <div class="clearfix Allpostgallery">
    <ul>
      <li class="clearfix">
        <div class="AllGalleryCheck clearfix">
          <div class="checkbox-btn">
            <input type="checkbox" value="value-1" id="rc1" name="rc1">
            <label for="rc1" onclick=""></label>
          </div>
        </div>
        <div class="AllGalleryThumbnail"><%= image_tag("database/10.jpg", :alt => "img", :class=>"img-responsive") %></div>
        <div class="AllGalleryTitle"><span class="pull-left marginB5 marginR5"><i class="fa fa-file-video-o" aria-hidden="true"></i></span> Making of Car Crash Scene </div>
        <div class="AllGalleryAuthor">Videos, Behind the Scenes</div>
        <div class="AllGalleryDate">4 Jul 2016 18:58</div>
        <div class="AllGalleryLike clearfix">
          <div class="marginB15 clearfix"><i class="fa fa-thumbs-o-up marginR5" aria-hidden="true"></i> 200</div>
          <div class="marginB15 clearfix"><i class="fa fa-globe marginR5" aria-hidden="true"></i> 503</div>
          <div class="marginB15 clearfix"><i class="fa fa-comment-o marginR5" aria-hidden="true"></i> 53</div>
        </div>
        <div class="AllGalleryLike">
          <button class="draftbtn border-radius" type="button">Draft</button>
        </div>
        <div class="AllGalleryLike clearfix">
          <div class="clearfix marginB15">
            <button class="lightbtn" type="button"><i class="fa fa-eye marginR5" aria-hidden="true"></i> View</button>
          </div>
          <div class="clearfix marginB15">
            <button class="lightbtn" type="button"><i class="fa fa-pencil-square-o marginR5" aria-hidden="true"></i> Edit</button>
          </div>
          <div class="clearfix">
            <button class="lightbtn" type="button"><i class="fa fa-trash marginR5" aria-hidden="true"></i> Delete</button>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="AllGalleryCheck clearfix">
          <div class="checkbox-btn">
            <input type="checkbox" value="value-1" id="rc1" name="rc1">
            <label for="rc1" onclick=""></label>
          </div>
        </div>
        <div class="AllGalleryThumbnail"><%= image_tag("database/11.jpg", :alt => "img", :class=>"img-responsive") %></div>
        <div class="AllGalleryTitle"><span class="pull-left marginB5 marginR5"><i class="fa fa-file-video-o" aria-hidden="true"></i></span> Making of Car Crash Scene </div>
        <div class="AllGalleryAuthor">Videos, Behind the Scenes</div>
        <div class="AllGalleryDate">4 Jul 2016 18:58</div>
        <div class="AllGalleryLike clearfix">
          <div class="marginB15 clearfix"><i class="fa fa-thumbs-o-up marginR5" aria-hidden="true"></i> 200</div>
          <div class="marginB15 clearfix"><i class="fa fa-globe marginR5" aria-hidden="true"></i> 503</div>
          <div class="marginB15 clearfix"><i class="fa fa-comment-o marginR5" aria-hidden="true"></i> 53</div>
        </div>
        <div class="AllGalleryLike">
          <button class="draftbtn border-radius" type="button">Draft</button>
        </div>
        <div class="AllGalleryLike clearfix">
          <div class="clearfix marginB15">
            <button class="lightbtn" type="button"><i class="fa fa-eye marginR5" aria-hidden="true"></i> View</button>
          </div>
          <div class="clearfix marginB15">
            <button class="lightbtn" type="button"><i class="fa fa-pencil-square-o marginR5" aria-hidden="true"></i> Edit</button>
          </div>
          <div class="clearfix">
            <button class="lightbtn" type="button"><i class="fa fa-trash marginR5" aria-hidden="true"></i> Delete</button>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="AllGalleryCheck clearfix">
          <div class="checkbox-btn">
            <input type="checkbox" value="value-1" id="rc1" name="rc1">
            <label for="rc1" onclick=""></label>
          </div>
        </div>
        <div class="AllGalleryThumbnail"><%= image_tag("database/12.jpg", :alt => "img", :class=>"img-responsive") %></div>
        <div class="AllGalleryTitle"><span class="pull-left marginB5 marginR5"><i class="fa fa-file-video-o" aria-hidden="true"></i></span> Making of Car Crash Scene </div>
        <div class="AllGalleryAuthor">Videos, Behind the Scenes</div>
        <div class="AllGalleryDate">4 Jul 2016 18:58</div>
        <div class="AllGalleryLike clearfix">
          <div class="marginB15 clearfix"><i class="fa fa-thumbs-o-up marginR5" aria-hidden="true"></i> 200</div>
          <div class="marginB15 clearfix"><i class="fa fa-globe marginR5" aria-hidden="true"></i> 503</div>
          <div class="marginB15 clearfix"><i class="fa fa-comment-o marginR5" aria-hidden="true"></i> 53</div>
        </div>
        <div class="AllGalleryLike">
          <button class="draftbtn border-radius" type="button">Draft</button>
        </div>
        <div class="AllGalleryLike clearfix">
          <div class="clearfix marginB15">
            <button class="lightbtn" type="button"><i class="fa fa-eye marginR5" aria-hidden="true"></i> View</button>
          </div>
          <div class="clearfix marginB15">
            <button class="lightbtn" type="button"><i class="fa fa-pencil-square-o marginR5" aria-hidden="true"></i> Edit</button>
          </div>
          <div class="clearfix">
            <button class="lightbtn" type="button"><i class="fa fa-trash marginR5" aria-hidden="true"></i> Delete</button>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="AllGalleryCheck clearfix">
          <div class="checkbox-btn">
            <input type="checkbox" value="value-1" id="rc1" name="rc1">
            <label for="rc1" onclick=""></label>
          </div>
        </div>
        <div class="AllGalleryThumbnail"><%= image_tag("database/13.jpg", :alt => "img", :class=>"img-responsive") %></div>
        <div class="AllGalleryTitle"><span class="pull-left marginB5 marginR5"><i class="fa fa-file-video-o" aria-hidden="true"></i></span> Making of Car Crash Scene </div>
        <div class="AllGalleryAuthor">Videos, Behind the Scenes</div>
        <div class="AllGalleryDate">4 Jul 2016 18:58</div>
        <div class="AllGalleryLike clearfix">
          <div class="marginB15 clearfix"><i class="fa fa-thumbs-o-up marginR5" aria-hidden="true"></i> 200</div>
          <div class="marginB15 clearfix"><i class="fa fa-globe marginR5" aria-hidden="true"></i> 503</div>
          <div class="marginB15 clearfix"><i class="fa fa-comment-o marginR5" aria-hidden="true"></i> 53</div>
        </div>
        <div class="AllGalleryLike">
          <button class="draftbtn border-radius" type="button">Draft</button>
        </div>
        <div class="AllGalleryLike clearfix">
          <div class="clearfix marginB15">
            <button class="lightbtn" type="button"><i class="fa fa-eye marginR5" aria-hidden="true"></i> View</button>
          </div>
          <div class="clearfix marginB15">
            <button class="lightbtn" type="button"><i class="fa fa-pencil-square-o marginR5" aria-hidden="true"></i> Edit</button>
          </div>
          <div class="clearfix">
            <button class="lightbtn" type="button"><i class="fa fa-trash marginR5" aria-hidden="true"></i> Delete</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>
</section>
</div>
</div>
</section>

<!-- Footer Start -->
<footer class="footer clearfix padding">
<%= render "layouts/lastfooter" %>
</footer>
<%= javascript_include_tag "jquery.min","bootstrap.min","custom" %>
