<!-- Submenu Navigation -->
<section class="wip-navigation-wrap">
<div class="navbar-default">
<div class="container-fluid">
<div class="navbar-header"><a class="navbar-brand hidden-md hidden-lg" href="#">All Artwork</a> <a class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> </div>
<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#" class="dropdown-toggle" data-toggle="dropdown">All Artwork</a>
      <ul class="dropdown-menu">
        <li><a href="#">Popular Files</a></li>
        <li><a href="#">Featured Files</a></li>
        <li><a href="#">Top New Files</a></li>
        <li><a href="#">Follow Feed</a></li>
        <li><a href="#">Top Authors</a></li>
        <li><a href="#">Top New Authors</a></li>
        <li><a href="#">View All Categories</a></li>
      </ul>
    </li>
    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">All Videos</a>
      <ul class="dropdown-menu">
        <li> <a href="#">Popular Items</a> </li>
        <li> <a href="#">All Items</a> </li>
        <li> <a href="#">Anatomy</a> </li>
        <li> <a href="#">Animals</a> </li>
        <li> <a href="#">Base Meshes</a> </li>
        <li> <a href="#">Buildings and Architecture</a> </li>
        <li> <a href="#">Clothes &amp; Accessories</a> </li>
        <li> <a href="#">Deco Objects</a> </li>
        <li> <a href="#">Design Elements</a> </li>
        <li> <a href="#">Electronics</a> </li>
        <li> <a href="#">Engines and Parts</a> </li>
        <li> <a href="#">Fantasy and Fiction</a> </li>
        <li> <a href="#">Food and Drinks</a> </li>
        <li> <a href="#">Furnishings</a> </li>
        <li> <a href="#">Humans</a> </li>
        <li> <a href="#">Music</a> </li>
        <li> <a href="#">Nature</a> </li>
        <li> <a href="#">Products</a> </li>
        <li> <a href="#">Science</a> </li>
        <li> <a href="#">Sports</a> </li>
        <li> <a href="#">Theme Packages</a> </li>
        <li> <a href="#">Tools</a> </li>
        <li> <a href="#">Toys and Games</a> </li>
        <li> <a href="#">Vehicles</a> </li>
        <li> <a href="#">Weapons and Armor</a> </li>
        <li> <a href="#">Miscellaneous</a> </li>
      </ul>
    </li>
    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Editor Picks</a>
      <ul class="dropdown-menu">
        <li><a href="#">Popular Files</a></li>
        <li><a href="#">Featured Files</a></li>
        <li><a href="#">Top New Files</a></li>
        <li><a href="#">Follow Feed</a></li>
        <li><a href="#">Top Authors</a></li>
        <li><a href="#">Top New Authors</a></li>
        <li><a href="#">View All Categories</a></li>
      </ul>
    </li>
    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Concept Art</a>
      <ul class="dropdown-menu">
        <li><a href="#">All Items</a></li>
        <li><a href="#">Exterior</a></li>
        <li><a href="#">Interior</a></li>
        <li><a href="#">Sky</a></li>
      </ul>
    </li>
    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Animation</a>
      <ul class="dropdown-menu">
        <li><a href="#">All Items</a></li>
        <li><a href="#">Exterior</a></li>
        <li><a href="#">Interior</a></li>
        <li><a href="#">Sky</a></li>
      </ul>
    </li>
    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Making of</a>
      <ul class="dropdown-menu">
        <li> <a href="/popular_item/by_category?category=cg-textures">Popular Items</a> </li>
        <li> <a href="/category/cg-textures">All Items</a> </li>
        <li> <a href="/category/cg-textures/bones">Bones</a> </li>
        <li> <a href="/category/cg-textures/buildings">Buildings</a> </li>
        <li> <a href="/category/cg-textures/concrete">Concrete</a> </li>
        <li> <a href="/category/cg-textures/doors">Doors</a> </li>
        <li> <a href="/category/cg-textures/fabric">Fabric</a> </li>
        <li> <a href="/category/cg-textures/fauna">Fauna</a> </li>
        <li> <a href="/category/cg-textures/flora">Flora</a> </li>
        <li> <a href="/category/cg-textures/ground">Ground</a> </li>
        <li> <a href="/category/cg-textures/hdri-images">HDRI Images</a> </li>
        <li> <a href="/category/cg-textures/humans">Humans</a> </li>
        <li> <a href="/category/cg-textures/ice">Ice</a> </li>
        <li> <a href="/category/cg-textures/metal">Metal</a> </li>
        <li> <a href="/category/cg-textures/ornaments">Ornaments</a> </li>
        <li> <a href="/category/cg-textures/paper">Paper</a> </li>
        <li> <a href="/category/cg-textures/plaster">Plaster</a> </li>
        <li> <a href="/category/cg-textures/plastic">Plastic</a> </li>
        <li> <a href="/category/cg-textures/roads">Roads</a> </li>
        <li> <a href="/category/cg-textures/roofing">Roofing</a> </li>
        <li> <a href="/category/cg-textures/skies">Skies</a> </li>
        <li> <a href="/category/cg-textures/splatter">Splatter</a> </li>
        <li> <a href="/category/cg-textures/stone">Stone</a> </li>
        <li> <a href="/category/cg-textures/tiles">Tiles</a> </li>
        <li> <a href="/category/cg-textures/walls">Walls</a> </li>
        <li> <a href="/category/cg-textures/water">Water</a> </li>
        <li> <a href="/category/cg-textures/windows">Windows</a> </li>
        <li> <a href="/category/cg-textures/wood">Wood</a> </li>
        <li> <a href="/category/cg-textures/miscellaneous">Miscellaneous</a> </li>
      </ul>
    </li>
    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Vfx Breakdown</a>
      <ul class="dropdown-menu">
        <li> <a href="#">Popular Items</a> </li>
        <li> <a href="#">All Items</a> </li>
        <li> <a href="#">Anatomy</a> </li>
        <li> <a href="#">Animals</a> </li>
        <li> <a href="#">Base Meshes</a> </li>
        <li> <a href="#">Buildings and Architecture</a> </li>
        <li> <a href="#">Clothes &amp; Accessories</a> </li>
        <li> <a href="#">Deco Objects</a> </li>
        <li> <a href="#">Design Elements</a> </li>
        <li> <a href="#">Electronics</a> </li>
        <li> <a href="#">Engines and Parts</a> </li>
        <li> <a href="#">Fantasy and Fiction</a> </li>
        <li> <a href="#">Food and Drinks</a> </li>
        <li> <a href="#">Furnishings</a> </li>
        <li> <a href="#">Humans</a> </li>
        <li> <a href="#">Music</a> </li>
        <li> <a href="#">Nature</a> </li>
        <li> <a href="#">Products</a> </li>
        <li> <a href="#">Science</a> </li>
        <li> <a href="#">Sports</a> </li>
        <li> <a href="#">Theme Packages</a> </li>
        <li> <a href="#">Tools</a> </li>
        <li> <a href="#">Toys and Games</a> </li>
        <li> <a href="#">Vehicles</a> </li>
        <li> <a href="#">Weapons and Armor</a> </li>
        <li> <a href="#">Miscellaneous</a> </li>
      </ul>
    </li>
    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Illustration</a>
      <ul class="dropdown-menu">
        <li><a href="#">Popular Files</a></li>
        <li><a href="#">Featured Files</a></li>
        <li><a href="#">Top New Files</a></li>
        <li><a href="#">Follow Feed</a></li>
        <li><a href="#">Top Authors</a></li>
        <li><a href="#">Top New Authors</a></li>
        <li><a href="#">View All Categories</a></li>
      </ul>
    </li>
    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Demoreel</a>
      <ul class="dropdown-menu">
        <li><a href="#">All Items</a></li>
        <li><a href="#">Exterior</a></li>
        <li><a href="#">Interior</a></li>
        <li><a href="#">Sky</a></li>
      </ul>
    </li>
    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Matte Painting</a>
      <ul class="dropdown-menu">
        <li><a href="#">All Items</a></li>
        <li><a href="#">Exterior</a></li>
        <li><a href="#">Interior</a></li>
        <li><a href="#">Sky</a></li>
      </ul>
    </li>
    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Motion Graphics</a>
      <ul class="dropdown-menu">
        <li> <a href="/popular_item/by_category?category=cg-textures">Popular Items</a> </li>
        <li> <a href="/category/cg-textures">All Items</a> </li>
        <li> <a href="/category/cg-textures/bones">Bones</a> </li>
        <li> <a href="/category/cg-textures/buildings">Buildings</a> </li>
        <li> <a href="/category/cg-textures/concrete">Concrete</a> </li>
        <li> <a href="/category/cg-textures/doors">Doors</a> </li>
        <li> <a href="/category/cg-textures/fabric">Fabric</a> </li>
        <li> <a href="/category/cg-textures/fauna">Fauna</a> </li>
        <li> <a href="/category/cg-textures/flora">Flora</a> </li>
        <li> <a href="/category/cg-textures/ground">Ground</a> </li>
        <li> <a href="/category/cg-textures/hdri-images">HDRI Images</a> </li>
        <li> <a href="/category/cg-textures/humans">Humans</a> </li>
        <li> <a href="/category/cg-textures/ice">Ice</a> </li>
        <li> <a href="/category/cg-textures/metal">Metal</a> </li>
        <li> <a href="/category/cg-textures/ornaments">Ornaments</a> </li>
        <li> <a href="/category/cg-textures/paper">Paper</a> </li>
        <li> <a href="/category/cg-textures/plaster">Plaster</a> </li>
        <li> <a href="/category/cg-textures/plastic">Plastic</a> </li>
        <li> <a href="/category/cg-textures/roads">Roads</a> </li>
        <li> <a href="/category/cg-textures/roofing">Roofing</a> </li>
        <li> <a href="/category/cg-textures/skies">Skies</a> </li>
        <li> <a href="/category/cg-textures/splatter">Splatter</a> </li>
        <li> <a href="/category/cg-textures/stone">Stone</a> </li>
        <li> <a href="/category/cg-textures/tiles">Tiles</a> </li>
        <li> <a href="/category/cg-textures/walls">Walls</a> </li>
        <li> <a href="/category/cg-textures/water">Water</a> </li>
        <li> <a href="/category/cg-textures/windows">Windows</a> </li>
        <li> <a href="/category/cg-textures/wood">Wood</a> </li>
        <li> <a href="/category/cg-textures/miscellaneous">Miscellaneous</a> </li>
      </ul>
    </li>
    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">More</a>
      <ul class="dropdown-menu">
        <li> <a href="#">Popular Items</a> </li>
        <li> <a href="#">All Items</a> </li>
        <li> <a href="#">Anatomy</a> </li>
        <li> <a href="#">Animals</a> </li>
        <li> <a href="#">Base Meshes</a> </li>
        <li> <a href="#">Buildings and Architecture</a> </li>
        <li> <a href="#">Clothes &amp; Accessories</a> </li>
        <li> <a href="#">Deco Objects</a> </li>
        <li> <a href="#">Design Elements</a> </li>
        <li> <a href="#">Electronics</a> </li>
        <li> <a href="#">Engines and Parts</a> </li>
        <li> <a href="#">Fantasy and Fiction</a> </li>
        <li> <a href="#">Food and Drinks</a> </li>
        <li> <a href="#">Furnishings</a> </li>
        <li> <a href="#">Humans</a> </li>
        <li> <a href="#">Music</a> </li>
        <li> <a href="#">Nature</a> </li>
        <li> <a href="#">Products</a> </li>
        <li> <a href="#">Science</a> </li>
        <li> <a href="#">Sports</a> </li>
        <li> <a href="#">Theme Packages</a> </li>
        <li> <a href="#">Tools</a> </li>
        <li> <a href="#">Toys and Games</a> </li>
        <li> <a href="#">Vehicles</a> </li>
        <li> <a href="#">Weapons and Armor</a> </li>
        <li> <a href="#">Miscellaneous</a> </li>
      </ul>
    </li>
  </ul>
</div>
</div>
</div>
</section>

<!-- Showcase & Discover Creative Work -->
<section class="clearfix showcase-wrap text-center">
<div class="container">
<div class="showcase-title text-center">Showcase &amp; Discover Creative Work</div>
<div class="showcase-txt text-center">for <a href="#">Demo Reel <i></i></a>, <a href="#">Digital Art<i></i></a>, <a href="#">Making of &amp; Vfx Breakdown<i></i></a>, <a href="#">Concept Art<i></i></a> and more</div>
<div class="clearfix wip-gallery-wrap">
<div class="col-md-4 col-sm-4 col-xs-12 marginB10">
  <div class="input-group stylish-input-group">
    <input type="text" class="form-control"  placeholder="Enter a keyword..." >
    <span class="input-group-addon">
    <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
    </span> </div>
</div>
<div class="col-md-3 col-sm-4 col-xs-12 marginB10 text-left">
  <select class="custom-select">
    <option>Companies</option>
  </select>
</div>
<div class="col-md-5 col-sm-4 col-xs-12 marginB10 text-left">
  <select class="custom-select">
    <option>Category</option>
  </select>
</div>
</div>
<div class="showcase-btn-wrap clearfix text-center">
<button type="button" class="btn btn-success border-radius marginB10">Upload</button>
<button type="button" class="btn btn-default border-radius marginB10">Browse Popular Companies</button>
<button type="button" class="btn btn-default border-radius marginB10">Browse Top Companies</button>
</div>
</div>
</section>

<div class="clearfix wipwrap">
<div class="wiptabs clearfix">
<ul class="nav nav-pills">
<li class="dropdown active"> <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-th txt15 marginR5" aria-hidden="true"></i> Challenges <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div></a>
  <ul class="dropdown-menu">
    <li><a href="#">Inbox</a></li>
    <li><a href="#">Drafts</a></li>
    <li><a href="#">Sent Items</a></li>
    <li class="divider"></li>
    <li><a href="#">Trash</a></li>
  </ul>
</li>
<li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Category <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div></a>
  <ul class="dropdown-menu">
    <li><a href="#">Inbox</a></li>
    <li><a href="#">Drafts</a></li>
    <li><a href="#">Sent Items</a></li>
    <li class="divider"></li>
    <li><a href="#">Trash</a></li>
  </ul>
</li>
<li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Featured <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div></a>
  <ul class="dropdown-menu">
    <li><a href="#">Inbox</a></li>
    <li><a href="#">Drafts</a></li>
    <li><a href="#">Sent Items</a></li>
    <li class="divider"></li>
    <li><a href="#">Trash</a></li>
  </ul>
</li>
<li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Worldwide <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div></a>
  <ul class="dropdown-menu">
    <li><a href="#">Inbox</a></li>
    <li><a href="#">Drafts</a></li>
    <li><a href="#">Sent Items</a></li>
    <li class="divider"></li>
    <li><a href="#">Trash</a></li>
  </ul>
</li>
</ul>
</div>

</div>


<!-- Challenge Home Page Content -->
<section class="challenge-home-wrap clearfix">
<div class="container">
<div class="challenge-home clearfix">
<div class="row">
  <ul>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challeng-indent clearfix"> <a href="#" class="viewchallengebtn">View Challenge</a>
        <div class="challenge-profile"><%= image_tag("database/challenge.jpg", :alt => "Challenge",:class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="challenge-title">ILM Art Department Challenge - The Moment</div>
          <div class="challenge-txt"><i class="fa fa-calendar marginR5" aria-hidden="true"></i> 18 May 2016 - 31 May 2016</div>
          <div class="challenge-txt"><i class="fa fa-users marginR5" aria-hidden="true"></i> 2779 challengers</div>
          <button class="lightbtn marginR5"><i class="fa fa-arrow-right blue-txt marginR5" aria-hidden="true"></i> View</button>  
          <button class="lightbtn marginL5"><i class="fa fa-arrow-right marginR5 blue-txt" aria-hidden="true"></i> My Submission</button>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challeng-indent clearfix"> <a href="#" class="viewchallengebtn">View Challenge</a>
        <div class="challenge-profile"><%= image_tag("database/challenge1.jpg", :alt => "Challenge",:class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="challenge-title">THU 2016 - Golden Ticket Challenge Challenge</div>
          <div class="challenge-txt"><i class="fa fa-calendar marginR5" aria-hidden="true"></i> 18 May 2016 - 31 May 2016</div>
          <div class="challenge-txt"><i class="fa fa-users marginR5" aria-hidden="true"></i> 548 challengers</div>
          <button class="lightbtn marginR5"><i class="fa fa-arrow-right blue-txt marginR5" aria-hidden="true"></i> View Winners</button>  
          <button class="lightbtn marginL5"><i class="fa fa-arrow-right marginR5 blue-txt" aria-hidden="true"></i> My Submission</button>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challeng-indent clearfix"> <a href="#" class="viewchallengebtn">View Challenge</a>
        <div class="challenge-profile"><%= image_tag("database/challenge2.jpg", :alt => "Challenge",:class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="challenge-title">The Journey - 2D Character Art Challenge</div>
          <div class="challenge-txt"><i class="fa fa-calendar marginR5" aria-hidden="true"></i> 18 May 2016 - 31 May 2016</div>
          <div class="challenge-txt"><i class="fa fa-users marginR5" aria-hidden="true"></i> 1243 challengers</div>
          <button class="lightbtn marginR5"><i class="fa fa-arrow-right blue-txt marginR5" aria-hidden="true"></i> View</button>  
          <button class="lightbtn marginL5"><i class="fa fa-arrow-right marginR5 blue-txt" aria-hidden="true"></i> My Submission</button>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challeng-indent clearfix"> <a href="#" class="viewchallengebtn">View Challenge</a>
        <div class="challenge-profile"><%= image_tag("database/challenge3.jpg", :alt => "Challenge",:class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="challenge-title">The Journey - 2D Environment Art Challenge</div>
          <div class="challenge-txt"><i class="fa fa-calendar marginR5" aria-hidden="true"></i> 18 May 2016 - 31 May 2016</div>
          <div class="challenge-txt"><i class="fa fa-users marginR5" aria-hidden="true"></i> 658 challengers</div>
          <button class="lightbtn marginR5"><i class="fa fa-arrow-right blue-txt marginR5" aria-hidden="true"></i> View</button>  
          <button class="lightbtn marginL5"><i class="fa fa-arrow-right marginR5 blue-txt" aria-hidden="true"></i> My Submission</button>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challeng-indent clearfix"> <a href="#" class="viewchallengebtn">View Challenge</a>
        <div class="challenge-profile"><%= image_tag("database/challenge4.jpg", :alt => "Challenge",:class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="challenge-title">ILM Art Department Challenge - The Moment</div>
          <div class="challenge-txt"><i class="fa fa-calendar marginR5" aria-hidden="true"></i> 18 May 2016 - 31 May 2016</div>
          <div class="challenge-txt"><i class="fa fa-users marginR5" aria-hidden="true"></i> 2779 challengers</div>
          <button class="lightbtn marginR5"><i class="fa fa-arrow-right blue-txt marginR5" aria-hidden="true"></i> View</button>  
          <button class="lightbtn marginL5"><i class="fa fa-arrow-right marginR5 blue-txt" aria-hidden="true"></i> My Submission</button>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challeng-indent clearfix"> <a href="#" class="viewchallengebtn">View Challenge</a>
        <div class="challenge-profile"><%= image_tag("database/challenge5.jpg", :alt => "Challenge",:class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="challenge-title">THU 2016 - Golden Ticket Challenge - The Moment</div>
          <div class="challenge-txt"><i class="fa fa-calendar marginR5" aria-hidden="true"></i> 18 May 2016 - 31 May 2016</div>
          <div class="challenge-txt"><i class="fa fa-users marginR5" aria-hidden="true"></i> 548 challengers</div>
          <button class="lightbtn marginR5"><i class="fa fa-arrow-right blue-txt marginR5" aria-hidden="true"></i> View</button>  
          <button class="lightbtn marginL5"><i class="fa fa-arrow-right marginR5 blue-txt" aria-hidden="true"></i> My Submission</button>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challeng-indent clearfix"> <a href="#" class="viewchallengebtn">View Challenge</a>
        <div class="challenge-profile"><%= image_tag("database/challenge6.jpg", :alt => "Challenge",:class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="challenge-title">The Journey - 2D Character Art Challenge</div>
          <div class="challenge-txt"><i class="fa fa-calendar marginR5" aria-hidden="true"></i> 18 May 2016 - 31 May 2016</div>
          <div class="challenge-txt"><i class="fa fa-users marginR5" aria-hidden="true"></i> 1243 challengers</div>
           <button class="lightbtn marginR5"><i class="fa fa-arrow-right blue-txt marginR5" aria-hidden="true"></i> View</button>  
          <button class="lightbtn marginL5"><i class="fa fa-arrow-right marginR5 blue-txt" aria-hidden="true"></i> My Submission</button>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challeng-indent clearfix"> <a href="#" class="viewchallengebtn">View Challenge</a>
        <div class="challenge-profile"><%= image_tag("database/challenge7.jpg", :alt => "Challenge",:class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="challenge-title">The Journey - 2D Environment Art Challenge</div>
          <div class="challenge-txt"><i class="fa fa-calendar marginR5" aria-hidden="true"></i> 18 May 2016 - 31 May 2016</div>
          <div class="challenge-txt"><i class="fa fa-users marginR5" aria-hidden="true"></i> 658 challengers</div>
           <button class="lightbtn marginR5"><i class="fa fa-arrow-right blue-txt marginR5" aria-hidden="true"></i> View</button>  
          <button class="lightbtn marginL5"><i class="fa fa-arrow-right marginR5 blue-txt" aria-hidden="true"></i> My Submission</button>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challeng-indent clearfix"> <a href="#" class="viewchallengebtn">View Challenge</a>
        <div class="challenge-profile"><%= image_tag("database/challenge.jpg", :alt => "Challenge",:class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="challenge-title">ILM Art Department Challenge - The Moment</div>
          <div class="challenge-txt"><i class="fa fa-calendar marginR5" aria-hidden="true"></i> 18 May 2016 - 31 May 2016</div>
          <div class="challenge-txt"><i class="fa fa-users marginR5" aria-hidden="true"></i> 2779 challengers</div>
           <button class="lightbtn marginR5"><i class="fa fa-arrow-right blue-txt marginR5" aria-hidden="true"></i> View</button>  
          <button class="lightbtn marginL5"><i class="fa fa-arrow-right marginR5 blue-txt" aria-hidden="true"></i> My Submission</button>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challeng-indent clearfix"> <a href="#" class="viewchallengebtn">View Challenge</a>
        <div class="challenge-profile"><%= image_tag("database/challenge1.jpg", :alt => "Challenge",:class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="challenge-title">THU 2016 - Golden Ticket Challenge - The Moment</div>
          <div class="challenge-txt"><i class="fa fa-calendar marginR5" aria-hidden="true"></i> 18 May 2016 - 31 May 2016</div>
          <div class="challenge-txt"><i class="fa fa-users marginR5" aria-hidden="true"></i> 548 challengers</div>
          <button class="lightbtn marginR5"><i class="fa fa-arrow-right blue-txt marginR5" aria-hidden="true"></i> View</button>  
          <button class="lightbtn marginL5"><i class="fa fa-arrow-right marginR5 blue-txt" aria-hidden="true"></i> My Submission</button>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challeng-indent clearfix"> <a href="#" class="viewchallengebtn">View Challenge</a>
        <div class="challenge-profile"><%= image_tag("database/challenge2.jpg", :alt => "Challenge",:class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="challenge-title">The Journey - 2D Character Art Challenge</div>
          <div class="challenge-txt"><i class="fa fa-calendar marginR5" aria-hidden="true"></i> 18 May 2016 - 31 May 2016</div>
          <div class="challenge-txt"><i class="fa fa-users marginR5" aria-hidden="true"></i> 1243 challengers</div>
          <button class="lightbtn marginR5"><i class="fa fa-arrow-right blue-txt marginR5" aria-hidden="true"></i> View</button>  
          <button class="lightbtn marginL5"><i class="fa fa-arrow-right marginR5 blue-txt" aria-hidden="true"></i> My Submission</button>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challeng-indent clearfix"> <a href="#" class="viewchallengebtn">View Challenge</a>
        <div class="challenge-profile"><%= image_tag("database/challenge3.jpg", :alt => "Challenge",:class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="challenge-title">The Journey - 2D Environment Art Challenge</div>
          <div class="challenge-txt"><i class="fa fa-calendar marginR5" aria-hidden="true"></i> 18 May 2016 - 31 May 2016</div>
          <div class="challenge-txt"><i class="fa fa-users marginR5" aria-hidden="true"></i> 658 challengers</div>
          <button class="lightbtn marginR5"><i class="fa fa-arrow-right blue-txt marginR5" aria-hidden="true"></i> View</button>  
          <button class="lightbtn marginL5"><i class="fa fa-arrow-right marginR5 blue-txt" aria-hidden="true"></i> My Submission</button>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challeng-indent clearfix"> <a href="#" class="viewchallengebtn">View Challenge</a>
        <div class="challenge-profile"><%= image_tag("database/challenge4.jpg", :alt => "Challenge",:class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="challenge-title">ILM Art Department Challenge - The Moment</div>
          <div class="challenge-txt"><i class="fa fa-calendar marginR5" aria-hidden="true"></i> 18 May 2016 - 31 May 2016</div>
          <div class="challenge-txt"><i class="fa fa-users marginR5" aria-hidden="true"></i> 2779 challengers</div>
          <button class="lightbtn marginR5"><i class="fa fa-arrow-right blue-txt marginR5" aria-hidden="true"></i> View</button>  
          <button class="lightbtn marginL5"><i class="fa fa-arrow-right marginR5 blue-txt" aria-hidden="true"></i> My Submission</button>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challeng-indent clearfix"> <a href="#" class="viewchallengebtn">View Challenge</a>
        <div class="challenge-profile"><%= image_tag("database/challenge5.jpg", :alt => "Challenge",:class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="challenge-title">THU 2016 - Golden Ticket Challenge Art Challenge</div>
          <div class="challenge-txt"><i class="fa fa-calendar marginR5" aria-hidden="true"></i> 18 May 2016 - 31 May 2016</div>
          <div class="challenge-txt"><i class="fa fa-users marginR5" aria-hidden="true"></i> 548 challengers</div>
          <button class="lightbtn marginR5"><i class="fa fa-arrow-right blue-txt marginR5" aria-hidden="true"></i> View</button>  
          <button class="lightbtn marginL5"><i class="fa fa-arrow-right marginR5 blue-txt" aria-hidden="true"></i> My Submission</button>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challeng-indent clearfix"> <a href="#" class="viewchallengebtn">View Challenge</a>
        <div class="challenge-profile"><%= image_tag("database/challenge6.jpg", :alt => "Challenge",:class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="challenge-title">The Journey - 2D Character Art Challenge</div>
          <div class="challenge-txt"><i class="fa fa-calendar marginR5" aria-hidden="true"></i> 18 May 2016 - 31 May 2016</div>
          <div class="challenge-txt"><i class="fa fa-users marginR5" aria-hidden="true"></i> 1243 challengers</div>
          <button class="lightbtn marginR5"><i class="fa fa-arrow-right blue-txt marginR5" aria-hidden="true"></i> View</button>  
          <button class="lightbtn marginL5"><i class="fa fa-arrow-right marginR5 blue-txt" aria-hidden="true"></i> My Submission</button>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challeng-indent clearfix"> <a href="#" class="viewchallengebtn">View Challenge</a>
        <div class="challenge-profile"><%= image_tag("database/challenge7.jpg", :alt => "Challenge",:class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="challenge-title">The Journey - 2D Environment Art Challenge</div>
          <div class="challenge-txt"><i class="fa fa-calendar marginR5" aria-hidden="true"></i> 18 May 2016 - 31 May 2016</div>
          <div class="challenge-txt"><i class="fa fa-users marginR5" aria-hidden="true"></i> 658 challengers</div>
          <button class="lightbtn marginR5"><i class="fa fa-arrow-right blue-txt marginR5" aria-hidden="true"></i> View</button>  
          <button class="lightbtn marginL5"><i class="fa fa-arrow-right marginR5 blue-txt" aria-hidden="true"></i> My Submission</button>
        </div>
      </div>
    </li>
  </ul>
</div>
<%= render 'layouts/paging' %>
</div>
<div class="clearfix challenge-home-submission">
<h2>Submissions</h2>
<div class="challenge-home-link clearfix"> <span>Latest Updates</span> | <a href="#">Popular</a> | <a href="#">Following</a> </div>
<div class="row">
  <ul>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges7.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
          <div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges5.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
          <div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges5.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
          <div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges4.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
          <div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges3.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
          <div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges2.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
          <div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges1.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
          <div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
          <div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges7.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
			<div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges5.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
          <div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges5.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
          <div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges4.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
          <div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges3.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
          <div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges2.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
          <div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges1.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
          <div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
          <div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges7.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
          <div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges5.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
          <div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges5.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
          <div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges4.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
          <div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges3.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
          <div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges2.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
          <div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges1.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
          <div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-3 col-sm-4 col-xs-12">
      <div class="challenge-home-indent clearfix">
        <div class="clearfix"><%= image_tag("database/chalenges.jpg", :alt => "img",:class=>"img-responsive") %></div>
        <div class="padding10">
          <div class="wip-title clearfix"><a href="#">Garvel Hever</a>
                      <button class="votebtn pull-right margin" type="button">Vote</button>
                    </div>
          <div class="clearfix">
            <div class="wip-by-txt pull-left">by <a href="#">Matte Agr</a></div>
            <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 30</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> 13</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 25</span> </div>
          </div>
          <div class="wip-small clearfix">
            <ul class="margin">
              <li class="lists"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></li>
              <li class="lists"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></li>
            </ul>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<%= render 'layouts/paging' %>
</div>
</div>
</section>
<!-- Footer Start -->
<footer class="footer clearfix padding">
<%= render 'layouts/lastfooter' %>
</footer>
<%= javascript_include_tag "jquery.min","angular","bootstrap.min","wow.min","jquery.bootstrap-responsive-tabs.min","custom" %>
<script>
$('.responsive-tabs').responsiveTabs({
accordionOn: ['xs', 'sm']
});
</script>
