<!-- All Dashboard Start -->
<section class="clearfix container-fluid-full">
  <div class="row-fluid">
    <div class="sidebar-left">
      <%= render 'layouts/navigation' %>
    </div>
    <div class="content clearfix">
      <div class="clearfix job-post-bread">
        <ul class="breadcrumb">
          <li><a href="jobs.html">Portfolio Manager</a></li>
          <li class="active">Create Project</li>
        </ul>
      </div>
      
      <!-- User Followers Start -->
      <section class="clearfix jobswrap">
        <div class="clearfix notification-heading"> <span class="noti-title" style="border:none;">Untitled Project</span> </div>
        <div class="jobpostindent clearfix col-sm-12 col-xs-12 padding">
          <div class="clearfix marginB15 jobpostbox border-radius">
            <ul>
              <li><a href="#"><i class="fa fa-upload marginR5 blue-txt" aria-hidden="true"></i> Add Images</a></li>
              <li><a href="#"><i class="fa fa-film marginR5 blue-txt" aria-hidden="true"></i> Add Video</a></li>
              <li class="dropdown-toggle"><a href="#" data-toggle="dropdown"><i class="fa fa-codepen marginR5 blue-txt" aria-hidden="true"></i> Add 3D Model <i class="fa fa-caret-down blue-txt pull-right marginL5" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Add Sketchfab Model</a></li>
                  <li><a href="#">Add Marmoset Viewer</a></li>
                </ul>
              </li>
              <li><a href="#"><i class="fa fa-file-video-o marginR5 blue-txt" aria-hidden="true"></i> Upload Video</a></li>
            </ul>
          </div>
          <div class="marginB15 dragdrop text-center hidden-sm hidden-xs">
            <div class="marginB15"><i class="fa fa-files-o fa-2x" aria-hidden="true"></i></div>
            <div class="marginB15">Drag and drop your images here</div>
            <button class="lightbtn padding10 lightcolor">Select Files</button>
          </div>
          <div class="clearfix marginB15 selectgallery">
            <ul>
              <li class="clearfix col-md-3 col-sm-3 col-xs-6">
                <div class="galleryselect clearfix">
                  <div class="gallery-select-top clearfix"> <span class="pull-left"><i class="fa fa-film" aria-hidden="true"></i></span> <span class="pull-right"><a href="#" class="fa fa-times" aria-hidden="true"></a></span> </div>
                  <center>
                    <%= image_tag("database/notification-profile2.jpg", :alt => "img",:class=>"img-responsive") %>
                  </center>
                  <div class="clearfix padding10">
                    <textarea class="form-control reel-txt" name="" cols="" rows="" placeholder="Puppetworks concept art and illustration reel"></textarea>
                  </div>
                </div>
              </li>
              <li class="clearfix col-md-3 col-sm-3 col-xs-6">
                <div class="galleryselect clearfix">
                  <div class="gallery-select-top clearfix"> <span class="pull-left"><i class="fa fa-film" aria-hidden="true"></i></span> <span class="pull-right"><a href="#" class="fa fa-times" aria-hidden="true"></a></span> </div>
                  <center>
                    <%= image_tag("database/notification-profile3.jpg", :alt => "img",:class=>"img-responsive") %>
                  </center>
                  <div class="clearfix padding10">
                    <textarea class="form-control reel-txt" name="" cols="" rows="" placeholder="Caption"></textarea>
                  </div>
                </div>
              </li>
              <li class="clearfix col-md-3 col-sm-3 col-xs-6">
                <div class="galleryselect clearfix">
                  <div class="gallery-select-top clearfix"> <span class="pull-left"><i class="fa fa-film" aria-hidden="true"></i></span> <span class="pull-right"><a href="#" class="fa fa-times" aria-hidden="true"></a></span> </div>
                  <center>
                    <%= image_tag("database/notification-profile4.jpg", :alt => "img",:class=>"img-responsive") %>
                  </center>
                  <div class="clearfix padding10">
                    <textarea class="form-control reel-txt" name="" cols="" rows="" placeholder="Puppetworks concept art and illustration reel"></textarea>
                  </div>
                </div>
              </li>
              <li class="clearfix col-md-3 col-sm-3 col-xs-6">
                <div class="galleryselect clearfix">
                  <div class="gallery-select-top clearfix"> <span class="pull-left"><i class="fa fa-film" aria-hidden="true"></i></span> <span class="pull-right"><a href="#" class="fa fa-times" aria-hidden="true"></a></span> </div>
                  <center>
                    <%= image_tag("database/notification-profile5.jpg", :alt => "img",:class=>"img-responsive") %>
                  </center>
                  <div class="clearfix padding10">
                    <textarea class="form-control reel-txt" name="" cols="" rows="" placeholder="Caption"></textarea>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Project Details</div>
            <div class="panel-body">
              <form role="form">
                <div class="form-group clearfix">
                  <label>* Title</label>
                  <input type="text" class="form-control from-input skill-input" placeholder="Artwork Title">
                </div>
                <div class="form-group clearfix">
                  <label>Description</label>
                  <textarea name="" cols="" rows="" class="form-control from-input message-form1" placeholder="Artwork Description"></textarea>
                </div>
                <div class="form-group clearfix createpost">
                  <label>Post Type</label>
                  <select class="custom-select">
                    <option>Please select</option>
                  </select>
                </div>
                <div class="form-group clearfix createpost">
                  <label>Medium</label>
                  <select class="custom-select">
                    <option>Medium</option>
                  </select>
                </div>
                <div class="form-group clearfix">
                  <label>Subject Matter</label>
                  <input type="text" class="form-control from-input" placeholder="Subject Matter">
                </div>
                <div class="form-group clearfix">
                  <div class="checkbox-btn paddinT10">
                    <input type="checkbox" value="value-1" id="rc5" name="rc5"/>
                    <label for="rc5" onclick>Has Adult Content (<span class="blue-txt">what is this?</span>)</label>
                  </div>
                </div>
                <div class="form-group clearfix">
                  <label>Add the software used on this project</label>
                  <input type="text" class="form-control from-input">
                </div>
                <div class="form-group clearfix">
                  <label>Tags (use tags to add more detailed subject matter)</label>
                  <input type="text" class="form-control from-input">
                </div>
                <div class="form-group clearfix">
                  <div class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc1" name="rc1"/>
                    <label for="rc1" onclick>Use tags from previous upload </label>
                  </div>
                </div>
                <div class="form-group clearfix margin">
                  <div class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc2" name="rc2"/>
                    <label for="rc2" onclick>Feature this Post</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="aside col-sm-12 col-xs-12 padding">
          <div class="panel panel-default">
            <div class="panel-heading">Publish</div>
            <div class="panel-body">
              <div class="clearfix marginB15 row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <button class="lightbtn" type="button">Save Draft</button>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                  <button class="lightbtn" type="button">Preview</button>
                </div>
              </div>
              <div class="clearfix marginB15 status-link"> <i class="fa fa-key marginR5 lightcolor" aria-hidden="true"></i> Status : <strong>Draft</strong> <a href="#">Edit</a> </div>
              <div class="clearfix marginB15 status-link"> <i class="fa fa-eye marginR5 lightcolor" aria-hidden="true"></i> Visibility  : <strong>Public</strong> <a href="#">Edit</a> </div>
              <div class="clearfix marginB15 status-link"> <i class="fa fa-calendar marginR5 lightcolor" aria-hidden="true"></i> Publich : <strong>immediately</strong> <a href="#">Edit</a> </div>
              <div class="clearfix row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <button class="btn-link" type="button">Delete</button>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                  <button class="green-btn" type="button">Publish</button>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Company Logo</div>
            <div class="panel-body padding">
              <div class="marginB15">
                <center>
                  <%= image_tag("database/jobs-logo.png", :alt => "img",:class=>"img-responsive") %>
                </center>
              </div>
              <div class="clearfix marginB15 text-center project-btn">
                <div class="lightbtn"><i class="fa fa-crop marginR5 blue-txt" aria-hidden="true"></i> Crop</div>
                <div class="lightbtn"><i class="fa fa-upload marginR5 blue-txt" aria-hidden="true"></i> Upload</div>
                <div class="lightbtn"><i class="fa fa-times marginR5 blue-txt" aria-hidden="true"></i> Remove custom thumbnail</div>
              </div>
              <div class="lightcolor txt12 marginB15 text-center">Drag and drop an image above to replace</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Visibility</div>
            <div class="panel-body">
              <div class="white-txt marginB15"> Where do you want this Project to show?</div>
              <div class="checkbox-btn marginB15">
                <input type="checkbox" value="value-1" id="rc7" name="rc7"/>
                <label for="rc7" onclick>CGMeetup.net</label>
              </div>
              <div class="checkbox-btn">
                <input type="checkbox" value="value-1" id="rc8" name="rc8"/>
                <label for="rc8" onclick>My Website</label>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Albums</div>
            <div class="panel-body"> </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

<!-- Footer Start -->
<footer class="footer clearfix padding">
 <%= render 'layouts/lastfooter' %>
</footer>