<!-- Submenu Navigation -->
<section class="wip-navigation-wrap">
  <div class="navbar-default">
    <div class="container-fluid">
      <div class="navbar-header"><a class="navbar-brand hidden-md hidden-lg" href="#">All Item</a> <a class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> </div>
      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">All Item</a></li>
          <li><a href="#">3D Models</a></li>
          <li><a href="#">Cars</a></li>
          <li><a href="#">HDRI Images</a></li>
          <li><a href="#">CG Textures</a></li>
          <li><a href="#">Materials &amp; Shaders</a></li>
          <li><a href="#">Base Meshes</a></li>
          <li><a href="#">Scripts &amp; Plugins</a></li>
          <li><a href="#">Tutorial</a></li>
          <li><a href="#">more</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div id="myApp2" ng-app="myApp" ng-controller="myCtrl">
  <!-- Showcase & Discover Creative Work -->
  <section class="clearfix downloadwrap text-center">
    <div class="container">
      <div class="download-title text-center">Buy &amp; Sell Marketplace &amp; Free Downloads</div>
      <div class="download-txt text-center">for <a href="#">3D Models <i></i></a>, <a href="#">3D Rigs<i></i></a>, <a href="#">Materials &amp; Shaders<i></i></a>, <a href="#">Textures<i></i></a> and more</div>
      <div class="clearfix download-gallery-wrap">
        <div class="col-md-3 col-sm-3 col-xs-12 marginB10 ColPad">
          <div class="input-group stylish-input-group">
            <input type="text" class="form-control"  placeholder="Enter a keyword..." >
            <span class="input-group-addon">
            <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
            </span> </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-12 marginB10 text-left ColPad">
          <select class="custom-select">
            <option>Download</option>
          </select>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12 marginB10 text-left ColPad">
          <select class="custom-select">
            <option>Category</option>
          </select>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 marginB10 text-left ColPad">
          <select class="custom-select">
            <option>Sub Category</option>
          </select>
        </div>
        <strong>
        <div class="col-md-2 col-sm-4 col-xs-12 marginB10 text-left ColPad">
          <select class="custom-select">
            <option>Filter</option>
          </select>
        </div>
        </strong> </div>
      <div class="showcase-btn-wrap clearfix text-center">
        <button type="button" class="btn btn-default border-radius marginB10">Top Downloaded</button>
        <button type="button" class="btn btn-default border-radius marginB10">Top Sold</button>
        <button type="button" class="btn btn-default border-radius marginB10">Browse Latest Items</button>
      </div>
    </div>
  </section>

  <!-- Download Content Start -->
  <section class="clearfix browseallcompanies">
    <div class="clearfix wipwrap">
      <div class="wiptabs clearfix">
        <ul class="nav nav-pills">
          <li class="dropdown active"> <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-th txt15 marginR5" aria-hidden="true"></i> Download
            <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">3D Models</a></li>
              <li><a href="#">3D Painting Models</a></li>
              <li><a href="#">3D Rigs / Character Rigs</a></li>
              <li><a href="#">Brushes</a></li>
              <li><a href="#">Materials and Shaders</a></li>
              <li><a href="#">HDRI Images</a></li>
              <li><a href="#">Render Setups and Scene</a></li>
              <li><a href="#">2D Concepts / Blueprints</a></li>
              <li><a href="#">Animation Data</a></li>
              <li><a href="#">Scripts and Plugins</a></li>
              <li><a href="#">Tutorials</a></li>
              <li><a href="#">Templates</a></li>
              <li><a href="#">Other</a></li>
            </ul>
          </li>
          <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Category
            <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">All</a></li>
              <li><a href="#">Animals</a></li>
              <li><a href="#">Architecture</a></li>
              <li><a href="#">Characters</a></li>
              <li><a href="#">Environment</a></li>
              <li><a href="#">Food</a></li>
              <li><a href="#">Furniture</a></li>
              <li><a href="#">Objects</a></li>
              <li><a href="#">Textures &amp; Materials</a></li>
              <li><a href="#">Vechicles</a></li>
            </ul>
          </li>
          <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sub Category
            <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Inbox</a></li>
              <li><a href="#">Drafts</a></li>
              <li><a href="#">Sent Items</a></li>
              <li class="divider"></li>
              <li><a href="#">Trash</a></li>
            </ul>
          </li>
          <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Featured
            <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Inbox</a></li>
              <li><a href="#">Drafts</a></li>
              <li><a href="#">Sent Items</a></li>
              <li class="divider"></li>
              <li><a href="#">Trash</a></li>
            </ul>
          </li>
          <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Filter
            <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Inbox</a></li>
              <li><a href="#">Drafts</a></li>
              <li><a href="#">Sent Items</a></li>
              <li class="divider"></li>
              <li><a href="#">Trash</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    
    <!-- User Followers Start -->
    <div class="container-fluid download-indent clearfix">
      <div class="container">
      <div class="clearfix downbox">
        <div class="clearfix downtop">
          <h2>3D Models</h2>
          <a href="#" class="text-uppercase pull-right">view all</a> </div>
        <div class="clearfix">
          <ul>
            <li class="clearfix">
              <div class="downwrap"> <%= image_tag("database/wip-gallery3.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc1" name="rc1">
                    <label for="rc1" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="downwrap"> <%= image_tag("database/wip-gallery4.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc2" name="rc2">
                    <label for="rc2" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="downwrap"> <%= image_tag("database/wip-gallery5.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc3" name="rc3">
                    <label for="rc3" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="downwrap"> <%= image_tag("database/wip-gallery7.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc5" name="rc5">
                    <label for="rc5" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="clearfix downbox">
        <div class="clearfix downtop">
          <h2>Cars</h2>
          <a href="#" class="text-uppercase pull-right">view all</a> </div>
        <div class="clearfix">
          <ul>
            
            <li class="clearfix">
              <div class="downwrap"> <%= image_tag("database/wip-gallery9.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc7" name="rc7">
                    <label for="rc7" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="downwrap"> <%= image_tag("database/wip-gallery10.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc8" name="rc8">
                    <label for="rc8" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="downwrap"> <%= image_tag("database/wip-gallery11.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc9" name="rc9">
                    <label for="rc9" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="downwrap"> <%= image_tag("database/wip-gallery12.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc10" name="rc10">
                    <label for="rc10" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="clearfix downbox">
        <div class="clearfix downtop">
          <h2>HDRI Images</h2>
          <a href="#" class="text-uppercase pull-right">view all</a> </div>
        <div class="clearfix">
          <ul>
            
            <li class="clearfix">
              <div class="downwrap"> <%= image_tag("database/wip-gallery14.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc12" name="rc12">
                    <label for="rc12" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="downwrap"> <%= image_tag("database/wip-gallery15.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc13" name="rc13">
                    <label for="rc13" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="downwrap"> <%= image_tag("database/wip-gallery16.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc14" name="rc14">
                    <label for="rc14" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="downwrap"><%= image_tag("database/wip-gallery1.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc15" name="rc15">
                    <label for="rc15" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="clearfix downbox">
        <div class="clearfix downtop">
          <h2>CG Textures</h2>
          <a href="#" class="text-uppercase pull-right">view all</a> </div>
        <div class="clearfix">
          <ul>
            
            <li class="clearfix">
              <div class="downwrap"><%= image_tag("database/down2.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc17" name="rc17">
                    <label for="rc17" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="downwrap"><%= image_tag("database/down3.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc18" name="rc18">
                    <label for="rc18" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="downwrap"><%= image_tag("database/down4.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc19" name="rc19">
                    <label for="rc19" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="downwrap"><%= image_tag("database/down5.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc20" name="rc20">
                    <label for="rc20" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="clearfix downbox">
        <div class="clearfix downtop">
          <h2>Base Meshes</h2>
          <a href="#" class="text-uppercase pull-right">view all</a> </div>
        <div class="clearfix">
          <ul>
             
            <li class="clearfix">
              <div class="downwrap"><%= image_tag("database/down7.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc22" name="rc22">
                    <label for="rc22" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="downwrap"><%= image_tag("database/down8.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc23" name="rc23">
                    <label for="rc23" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="downwrap"><%= image_tag("database/down9.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc24" name="rc24">
                    <label for="rc24" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="downwrap"><%= image_tag("database/down10.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc25" name="rc25">
                    <label for="rc25" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="clearfix downbox">
        <div class="clearfix downtop">
          <h2>Scripts &amp; Plugins</h2>
          <a href="#" class="text-uppercase pull-right">view all</a> </div>
        <div class="clearfix">
          <ul>
            <li class="clearfix">
              <div class="downwrap"><%= image_tag("database/down11.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc26" name="rc26">
                    <label for="rc26" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="downwrap"><%= image_tag("database/down12.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc27" name="rc27">
                    <label for="rc27" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="downwrap"><%= image_tag("database/down13.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc28" name="rc28">
                    <label for="rc28" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="downwrap"><%= image_tag("database/down14.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc29" name="rc29">
                    <label for="rc29" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
             
          </ul>
        </div>
      </div>
      
      <div class="clearfix downbox">
        <div class="clearfix downtop">
          <h2>Tutorial</h2>
          <a href="#" class="text-uppercase pull-right">view all</a> </div>
        <div class="clearfix">
          <ul>
            <li class="clearfix">
              <div class="downwrap"><%= image_tag("database/down16.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc31" name="rc31">
                    <label for="rc31" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="downwrap"><%= image_tag("database/down17.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc32" name="rc32">
                    <label for="rc32" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="downwrap"><%= image_tag("database/down18.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc33" name="rc33">
                    <label for="rc33" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
            <li class="clearfix">
              <div class="downwrap"><%= image_tag("database/down19.jpg",:class=>"img-responsive") %> </div>
              <div class="padding10 clearfix">
                <div class="down-txt"><span>Garvel Hever</span> <span class="pull-right price-txt">$19.99</span></div>
                <div class="clearfix down-name">
                  <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
                  <div class="pull-right"> <span class="checkbox-btn">
                    <input type="checkbox" value="value-1" id="rc34" name="rc34">
                    <label for="rc34" onclick=""></label>
                    </span> <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a></div>
                </div>
              </div>
            </li>
             
          </ul>
        </div>
      </div>
      
      </div>
    </div>
  </section>
</div>

<!-- Footer Start -->
<footer class="footer clearfix padding">
 <%= render 'layouts/lastfooter' %>
</footer>


<script type="text/javascript">

  // main page angular app start
  var app = angular.module('myApp', ["angularLazyImg"]);
  app.controller('myCtrl', function($scope, $http) {
      
    $scope.filter = function() {
        
        list_url = '/gallery/get_download_list';

        $http.get(list_url).then(function (response) {
          $scope.job_data = response.data;
        });
    };
    $scope.filter();
      
  });

  // main page angular app end

</script>