<!-- Gallery Content Start -->
<div class="gallery-container clearfix">
  <div class="gallery-left clearfix">
  
  <div class="gallery-slide-wrap clearfix">
  <div class="slick-prev"><a href="#" class="fa fa-angle-left" aria-hidden="true"></a></div>
  <div class="slick-next"><a href="#" class="fa fa-angle-right" aria-hidden="true"></a></div>
    
    <div class="galleryslide">
          <div class="gallery-new"> <a href="#" class="fa fa-download" aria-hidden="true"></a> <a href="#" class="fa fa-expand" aria-hidden="true"></a> </div>
          <center>
			  <%= image_tag("database/gallery.jpg", :alt => "Gallery",:class=>"img-responsive") %>
          </center>
          
    </div>
    
    <div class="text-center lightcolor wip-txt">The Strong</div>
    
    <div class="galleryslide">
          <div class="gallery-new"> <a href="#" class="fa fa-download" aria-hidden="true"></a> <a href="#" class="fa fa-expand" aria-hidden="true"></a> </div>
          <center>
			 <%= image_tag("database/gallery-new.jpg", :alt => "Gallery",:class=>"img-responsive") %>
          </center>
          
    </div>
    
    <div class="text-center lightcolor wip-txt">The Fat</div>
        
    <div class="galleryslide">
          <div class="gallery-new"> <a href="#" class="fa fa-download" aria-hidden="true"></a> <a href="#" class="fa fa-expand" aria-hidden="true"></a> </div>
          <center>
			  <%= image_tag("database/gallery1.jpg", :alt => "Gallery",:class=>"img-responsive") %>
          </center>
          
    </div>
    
    <div class="text-center lightcolor wip-txt">The Strong</div>
    
    <div class="galleryslide">
          <div class="gallery-new"> <a href="#" class="fa fa-download" aria-hidden="true"></a> <a href="#" class="fa fa-expand" aria-hidden="true"></a> </div>
          <center>
			  <%= image_tag("database/gallery.jpg", :alt => "Gallery",:class=>"img-responsive") %>
          </center>
          
    </div>
    
    <div class="text-center lightcolor wip-txt">The Strong</div>
    
    <div class="galleryslide">
          <div class="gallery-new"> <a href="#" class="fa fa-download" aria-hidden="true"></a> <a href="#" class="fa fa-expand" aria-hidden="true"></a> </div>
          <center>
            <%= image_tag("database/gallery-new.jpg", :alt => "Gallery",:class=>"img-responsive") %>
          </center>
          
    </div>
    
    <div class="text-center lightcolor wip-txt">The Fat</div>
        
    <div class="galleryslide">
          <div class="gallery-new"> <a href="#" class="fa fa-download" aria-hidden="true"></a> <a href="#" class="fa fa-expand" aria-hidden="true"></a> </div>
          <center>
            <%= image_tag("database/gallery1.jpg", :alt => "Gallery",:class=>"img-responsive") %>
          </center>
          
    </div>
    
    </div>
    
    
    
    <div class="comment-wrap clearfix">
      <div class="gallerycomment">
        <div class="gallery-title">CGI Animated Short Film HD: "Goutte d’Or Short Film" by Happy Flyfish </div>
        <div class="clearfix row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="combox"><%= image_tag("comment.jpg", :alt => "Comment") %></div>
            <div class="comleft">The Gnomon Workshop
              <div class="clearfix">
                <button type="button" class="followbtnn"> Follow</button><span class="followcomment">36,686</span></div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 text-right"><a href="#" class="view-txt"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Likes</a> <a href="" class="view-txt"><i class="fa fa-eye" aria-hidden="true"></i>2942</a> <a href="#" class="view-txt"><i class="fa fa-comment-o" aria-hidden="true"></i>115</a> </div>
        </div>
        <div class="bdr"></div>
        <div class="clearfix row">
          <div class="col-md-6 col-sm-6 col-xs-12 share-txt"> <a href="#"><i class="fa fa-share" aria-hidden="true"></i> Share</a> <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Bookmark </a> <a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i> More</a> </div>
          <div class="col-md-6 col-sm-6 col-xs-12 text-right comright">
            <div class="clearfix">
              <button type="button" class="likebtn"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like</button><span class="likecomment">258</span></div>
          </div>
        </div>
      </div>
      <div class="sharewrap clearfix">
        <ul class="nav nav-tabs" id="maincontent" role="tablist">
          <li class="active"><a href="#Share" role="tab" data-toggle="tab">Share <i></i></a></li>
          <li><a href="#Embed" role="tab" data-toggle="tab">Embed <i></i></a></li>
          <li><a href="#Email" role="tab" data-toggle="tab">Email <i></i></a></li>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="Share">
            <div class="clearfix marginB10 socialbox"> <a href="#"><%= image_tag("social.jpg", :alt => "Social") %></a> <a href="#"><%= image_tag("social-1.jpg", :alt => "Social") %></a> <a href="#"><%= image_tag("social-2.jpg", :alt => "Social") %></a> <a href="#"><%= image_tag("social-3.jpg", :alt => "Social") %></a> <a href="#"><%= image_tag("social-4.jpg", :alt => "Social") %></a> <a href="#"><%= image_tag("social-5.jpg", :alt => "Social") %></a> <a href="#"><%= image_tag("social-6.jpg", :alt => "Social") %></a> <a href="#"><%= image_tag("social-7.jpg", :alt => "Social") %></a> <a href="#"><%= image_tag("social-8.jpg", :alt => "Social") %></a> <a href="#"><%= image_tag("social-9.jpg", :alt => "Social") %></a> <a href="#"><%= image_tag("social-10.jpg", :alt => "Social") %></a> </div>
            <div class="shareb marginB10 clearfix">
              <input type="text" class="form-control" placeholder="https://www.youtube.com/watch?v">
            </div>
          </div>
          <div class="tab-pane fade embedb" id="Embed">
            <input type="text" class="form-control" placeholder="https://www.youtube.com/watch?v">
          </div>
          <div class="tab-pane fade emailb" id="Email"> <a href="#">Sign in</a> now! </div>
        </div>
      </div>
      <div class="publishwrap clearfix">
        <h3>Published on Aug 21, 2014</h3>
        <div class="marginB10 publish-txt">The Amazing Spider-Man 2 - Behind The Scenes Visual Effects</div>
        <div class="marginB10 publish-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget faucibus elit. Aenean ut justo nisi. Duis tempor, nibh vel egestas feugiat, dolor elit tempus arcu, ac porta diam tellus a erat.</div>
        <div class="marginB15 publish-txt">Ut fringilla sapien diam, sed blandit ex viverra eu. Praesent justo ligula, luctus ut placerat eget, congue ac lacus. Vivamus faucibus leo est, mattis dictum elit dapibus quis. Vivamus porttitor viverra nulla sed posuere. Pellentesque tincidunt nisi dui, eget suscipit est pellentesque non. Integer volutpat quam arcu, et rhoncus nulla auctor at. Nunc ac nisl at mauris sollicitudin euismod. </div>
        <div class="marginB10 publish-txt"><span class="txt-white"><strong>Category:</strong></span> <a href="#">Flim & Animation</a></div>
        <div class="marginB10 publish-txt"> <span class="txt-white"><strong>Tags:</strong> </span> 3d, model, female, maya, rigged, free download, download, 3d model, obj </div>
        <div class="marginB10 publish-txt"><span class="txt-white"><strong>Software Used: </strong></span> <span class="softb"><%= image_tag("soft.jpg", :alt => "Software",:class=>"img-rounded") %></span> 3ds Max <span class="softb"><%= image_tag("ps.jpg", :alt => "Software",:class=>"img-rounded") %></span> Photoshop <span class="softb"><%= image_tag("Keyshot.jpg", :alt => "Software",:class=>"img-rounded") %></span> Keyshot</div>
      </div>
    </div>
    <div class="allcommentwrap clearfix">
      <h3>All comments ( 8 )</h3>
      <div class="clearfix comwrap marginB15">
        <div class="compleft"><%= image_tag("user.jpg", :alt => "user",:width=>"48",:height=>"48") %></div>
        <div class="compright">
          <textarea name="" cols="" rows="" class="form-control" placeholder="Share your thoughts"></textarea>
        </div>
      </div>
      <div class="customer-wrap clearfix">
        <div class="customerleft"><%= image_tag("user1.jpg", :alt => "user",:width=>"48",:height=>"48") %></div>
        <div class="customerright">
          <div class="day-txt"><span>so0per</span> 2 days ago</div>
          <div class="date-txt"><span>1:00 </span> TASM1 suit?</div>
          <div class="day-txt txt12">Reply  - <span>2</span></div>
        </div>
      </div>
      <div class="customer-wrap clearfix leftspace">
        <div class="customerleft"><%= image_tag("user.jpg", :alt => "user",:width=>"48",:height=>"48") %></div>
        <div class="customerright">
          <div class="day-txt"><span>Stick Pivoat Torres</span> 2 days ago</div>
          <div class="date-txt">look like, but i don’t think so. it’s a model 3D</div>
          <div class="day-txt txt12">Reply  - <span>2</span></div>
        </div>
      </div>
      <div class="customer-wrap clearfix">
        <div class="customerleft"><%= image_tag("user1.jpg", :alt => "user",:width=>"48",:height=>"48") %></div>
        <div class="customerright">
          <div class="day-txt"><span>Stick Pivoat Torres</span> 2 days ago</div>
          <div class="date-txt">look like, but i don’t think so. it’s a model 3D</div>
          <div class="day-txt txt12">Reply  - <span>2</span></div>
        </div>
      </div>
      <div class="customer-wrap clearfix">
        <div class="customerleft"><%= image_tag("user.jpg", :alt => "user",:width=>"48",:height=>"48") %></div>
        <div class="customerright">
          <div class="day-txt"><span>Stick Pivoat Torres</span> 2 days ago</div>
          <div class="date-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget faucibus elit. Aenean ut justo nisi. Duis tempor, </div>
          <div class="day-txt txt12">Reply  - <span>2</span></div>
        </div>
      </div>
      <div class="customer-wrap clearfix">
        <div class="customerleft"><%= image_tag("user1.jpg", :alt => "user",:width=>"48",:height=>"48") %></div>
        <div class="customerright">
          <div class="day-txt"><span>Stick Pivoat Torres</span> 2 days ago</div>
          <div class="date-txt">look like, but i don’t think so. it’s a model 3D</div>
          <div class="day-txt txt12">Reply  - <span>2</span></div>
        </div>
      </div>
      <div class="customer-wrap clearfix">
        <div class="customerleft"><%= image_tag("user.jpg", :alt => "user",:width=>"48",:height=>"48") %></div>
        <div class="customerright">
          <div class="day-txt"><span>Stick Pivoat Torres</span> 2 days ago</div>
          <div class="date-txt">look like, but i don’t think so. it’s a model 3D</div>
          <div class="day-txt txt12">Reply  - <span>2</span></div>
        </div>
      </div>
      <div class="customer-wrap clearfix">
        <div class="customerleft"><%= image_tag("user1.jpg", :alt => "user",:width=>"48",:height=>"48") %></div>
        <div class="customerright">
          <div class="day-txt"><span>Stick Pivoat Torres</span> 2 days ago</div>
          <div class="date-txt">look like, but i don’t think so. it’s a model 3D</div>
          <div class="day-txt txt12">Reply  - <span>2</span></div>
        </div>
      </div>
    </div>
    <div class="latest-gallery clearfix">
      <div class="productbox clearfix margin">
        <h2>Latest Posts <a href="#" class="pull-right viewbtn">view all</a></h2>
        <div class="photos">
          <ul>
            <li class="clearfix marginB10">
              <div class="borders2 marginB5"><%= image_tag("database/artists.jpg", :alt => "img",:class=>"img-responsive") %>
                <div class="overlay"><span class="expand"><i class="fa fa-play" aria-hidden="true"></i></span></div>
              </div>
              <div class="pro-title"><a href="#">Arene</a></div>
              <div class="pro-text">36, 568 views - 3 hours ago</div>
            </li>
            <li class="clearfix marginB10">
              <div class="borders2 marginB5"><%= image_tag("database/artists1.jpg", :alt => "img",:class=>"img-responsive") %>
                <div class="overlay"><span class="expand"><i class="fa fa-play" aria-hidden="true"></i></span></div>
              </div>
              <div class="pro-title"><a href="#">Homefront: The Revolution </a></div>
              <div class="pro-text">36, 568 views - 3 hours ago</div>
            </li>
            <li class="clearfix marginB10">
              <div class="borders2 marginB5"><%= image_tag("database/artists2.jpg", :alt => "img",:class=>"img-responsive") %>
                <div class="overlay"><span class="expand"><i class="fa fa-play" aria-hidden="true"></i></span></div>
              </div>
              <div class="pro-title"><a href="#">The Technomancer Gameplay</a></div>
              <div class="pro-text">36, 568 views - 3 hours ago</div>
            </li>
            <li class="clearfix marginB10">
              <div class="borders2 marginB5"><%= image_tag("database/artists3.jpg", :alt => "img",:class=>"img-responsive") %>
                <div class="overlay"><span class="expand"><i class="fa fa-play" aria-hidden="true"></i></span></div>
              </div>
              <div class="pro-title"><a href="#">Mafia III – One Way Road Story </a></div>
              <div class="pro-text">36, 568 views - 3 hours ago</div>
            </li>
            <li class="clearfix">
              <div class="borders2 marginB5"><%= image_tag("database/artists4.jpg", :alt => "img",:class=>"img-responsive") %>
                <div class="overlay"><span class="expand"><i class="fa fa-play" aria-hidden="true"></i></span></div>
              </div>
              <div class="pro-title"><a href="#">Arene</a></div>
              <div class="pro-text">36, 568 views - 3 hours ago</div>
            </li>
            <li class="clearfix">
              <div class="borders2 marginB5"><%= image_tag("database/artists5.jpg", :alt => "img",:class=>"img-responsive") %>
                <div class="overlay"><span class="expand"><i class="fa fa-play" aria-hidden="true"></i></span></div>
              </div>
              <div class="pro-title"><a href="#">The Technomancer Gameplay </a></div>
              <div class="pro-text">36, 568 views - 3 hours ago</div>
            </li>
            <li class="clearfix">
              <div class="borders2 marginB5"><%= image_tag("database/artists6.jpg", :alt => "img",:class=>"img-responsive") %>
                <div class="overlay"><span class="expand"><i class="fa fa-play" aria-hidden="true"></i></span></div>
              </div>
              <div class="pro-title"><a href="#">Mafia III – One Way Road Story </a></div>
              <div class="pro-text">36, 568 views - 3 hours ago</div>
            </li>
            <li class="clearfix">
              <div class="borders2 marginB5"><%= image_tag("database/artists7.jpg", :alt => "img",:class=>"img-responsive") %>
                <div class="overlay"><span class="expand"><i class="fa fa-play" aria-hidden="true"></i></span></div>
              </div>
              <div class="pro-title"><a href="#">Homefront: The Revolution </a></div>
              <div class="pro-text">36, 568 views - 3 hours ago</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="google-ad">
      <center>
        <%= image_tag("database/Google-ad.jpg", :alt => "Google Ad",:class=>"img-responsive") %>
      </center>
    </div>
    <div class="botmargingallery"></div>
  </div>
  <div class="gallery-right">
    <div class="marginB15 clearfix"> <a class="pull-right closebtn"><i class="fa fa-times" aria-hidden="true"></i></a> <a class="pull-right closebtn"><i data-toggle="dropdown" aria-hidden="true" class="fa fa-chevron-down"></i></a> </div>
     
    <div class="aside clearfix">
      <div class="wiphome marginB15 clearfix">
        <h2>More by <span>Glauco Longhi</span>
          <button type="button" class="followbtn"><i class="fa fa-plus-circle" aria-hidden="true"></i> Follow</button>
        </h2>
        <ul class="margin">
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-exiles-end.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-ignatius-tan-terra-final.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-fiora-for-print.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-facecloseuprender.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-one-smoking-hot-fairy-tail-resized.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-mononoke-final-merged.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-phantom-assassin-merged.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-yuna-final-edited.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-lunar-diana-final.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
        </ul>
      </div>
      <div class="wiphome clearfix critiqueright">
        <h2>Wip/Wants Critique</h2>
        <ul class="margin">
          <li class="lists"><a href="#"><%= image_tag("database/mioree-riven-2016.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-3f71e1d9e907c6965bd7e7485e27e145-d7nmi4l.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-sailor-moon-2016-recovered.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-satsuki-the-queen-by-pieder-d7i0no4.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-child-of-light-becoming-by-pieder-d7isd6a.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-meg-2016-for-amethylia.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
        </ul>
      </div>
      <div class="wiphome clearfix proswrap">
        <h2>New From Pros <span>Go Pro!</span></h2>
        <ul class="margin">
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-exiles-end.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-ignatius-tan-terra-final.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-fiora-for-print.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-facecloseuprender.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-one-smoking-hot-fairy-tail-resized.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-mononoke-final-merged.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-phantom-assassin-merged.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-yuna-final-edited.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-lunar-diana-final.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
        </ul>
      </div>
      <div class="wiphome clearfix proswrap">
        <h2>Popular Today</h2>
        <ul class="margin">
          <li class="lists"><a href="#"><%= image_tag("database/mioree-riven-2016.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-3f71e1d9e907c6965bd7e7485e27e145-d7nmi4l.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-sailor-moon-2016-recovered.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-satsuki-the-queen-by-pieder-d7i0no4.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-child-of-light-becoming-by-pieder-d7isd6a.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-meg-2016-for-amethylia.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-snape.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-ana.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-silas-sall.jpg", :alt => "img",:class=>"img-responsive") %></a></li>
        </ul>
      </div>
      <div class="neverpost clearfix">
        <div class="tophead">Never miss a post <i class="fa fa-times pull-right" aria-hidden="true"></i></div>
        <div class="nevercontent clearfix"> <%= image_tag("anmit.jpg", :alt => "WIP",:class=>"pull-left") %>
        <%= image_tag("anmit.jpg", :alt => "anim",:class=>"pull-left") %> <span class="anmitext pull-left">animationtidbits<i>Animation Tidbits</i></span>
          <button class="followbtn pull-right"><i class="fa fa-plus-circle" aria-hidden="true"></i> Follow</button>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "jquery.min","bootstrap.min","wow.min","slick","custom" %>
<script>
$('.single-item').slick();

	$('.lazy').slick({
		lazyLoad: 'ondemand',
		slidesToShow: 3,
		slidesToScroll: 1
	});

</script>
