<div id="myApp2" ng-app="myApp" ng-controller="myCtrl">
    <section class="clearfix jobpostpage">
        <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="row">
                <div class="clearfix marginB15">
                    <ul class="breadcrumb">
                        <li><a href="<%= jobs_path %>">Jobs</a></li>
                        <li class="active"><%= @result.title %></li>
                    </ul>
                </div>
                <div class="clearfix marginB40">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="jobprofilepic">
                            <img lazy-img="<%= root_url + @result.company_logo.thumb.url %>" class="img-responsive">
                        </div>
                        <div class="jobprofile clearfix">
                            <h3><%= @result.title %></h3>
                            <div class="jobs-txts">
                                <span class="blue marginR5">
                                <% if @result.try(:company).try(:name).present? %>

                                    <%= @result.try(:company).try(:name) %>
                                <% else %>
                                    <%=@result.company_name%>
                                <% end %>
                                
                                    
                                </span> 
                                <i aria-hidden="true" class="fa fa-map-marker marginR5 marginL5"></i> <%=@result.city%><%= @result.city != '' && @result.try(:country).try(:name) != '' ? ', ' : ''%> <%=@result.try(:country).try(:name)%> <i aria-hidden="true" class="fa fa-bookmark marginR5 marginL5"></i> Job Type: <%= @result.job_type %> <i class="fa fa-calendar marginL5 marginR5" aria-hidden="true"></i> Posted: <%= @result.created_at.strftime("%d %B %Y") %>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12"> 
                        <span class="price-txt">
                            <%= @result.from_amount != '' ? '$' + @result.from_amount : ''%> <%= @result.from_amount != '' && @result.to_amount != '' ? '-' : ''%> <%= @result.to_amount != '' ? '$' + @result.to_amount : ''%>
                        </span>
                        <button class="green-btn" type="button">Apply for Job <i class="fa fa-caret-right marginL5" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="clearfix marginB15">
                    <div class="col-md-4 col-sm-4 col-xs-12 jobs-heading"><i class="fa fa-file-text-o marginR5" aria-hidden="true"></i> Job Description</div>
                    <div class="col-md-8 col-sm-8 col-xs-12 text-right"><%= image_tag("sociall-follow.jpg", :alt=>"Sociall") %></div>
                </div>
                <div class="clearfix marginB15 jobs-indent">
                    <div class="col-md-12">

                        <%= @result.description.html_safe %>
                        
                        <% if @software_expertise.present? %>

                            <h3><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Software Expertise</h3>
                            <ul>
                                <% @software_expertise.each do |se| %>
                                    <li class="text-uppercase"><%= se.name%></li>
                                <% end %>
                            </ul>
                        <% end %>

                         <% if @job_skills.present? %>

                            <h3><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Job Skills</h3>
                            <ul>
                                <% @job_skills.each do |js| %>
                                    <li class="text-uppercase"><%= js.name%></li>
                                <% end %>
                            </ul>
                        <% end %>

                        <h3><i class="fa fa-ellipsis-v" aria-hidden="true"></i> How to Apply</h3>
                        <p>Please send your resume to <a href="mailto:hr@cgmeetup.net">hr@cgmeetup.net</a> with "Lead Character Artist-LA in the subject line if you are interst"</p>
                    </div>
                    <div class="clearfix marginB40">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <button class="green-btn" type="button">Apply for Job <i class="fa fa-caret-right marginL5" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12 text-right"><%= image_tag("sociall-follow.jpg", :alt=>"Sociall") %></div>
                    </div>
                    <div class="clearfix youmaylikewrap">
                        <h2>You May Also Like</h2>
                        <div class="youmaylikeindent clearfix">
        
                            <div class="col-md-6 col-sm-6 col-xs-12 marginB25">
                                <div class="maylikeleft pull-left"><%= image_tag("database/IrrationalGames_Logo.jpg", :alt=>"Jobs", :class=>"img-responsive") %></div>
                                <div class="maylikeright pull-right clearfix">
                                    <h3><a href="#">3D Character Artist (Mobile RPG)</a></h3>
                                    <p><i aria-hidden="true" class="fa fa-briefcase marginR5"></i> Art Director / Concept Artist </p>
                                    <p class="marginB5"><i aria-hidden="true" class="fa fa-map-marker marginR5"></i> aint John, NB, Canada</p>
                                </div>
                            </div>
          
                            <div class="col-md-6 col-sm-6 col-xs-12 marginB25">
                                <div class="maylikeleft pull-left"><%= image_tag("database/H13_BLACK_1.jpg", :alt=>"Jobs", :class=>"img-responsive") %></div>
                                <div class="maylikeright pull-right clearfix">
                                    <h3><a href="#">Concept Artist, Character - Temporary</a></h3>
                                    <p><i aria-hidden="true" class="fa fa-briefcase marginR5"></i> Hangar 13 </p>
                                    <p class="marginB5"><i aria-hidden="true" class="fa fa-map-marker marginR5"></i> Novato, CA, USA</p>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 marginB25">
                                <div class="maylikeleft pull-left"><%= image_tag("database/black_stompy.jpg", :alt=>"Jobs", :class=>"img-responsive") %></div>
                                <div class="maylikeright pull-right clearfix">
                                    <h3><a href="#">3D Character Artist (Mobile RPG)</a></h3>
                                    <p><i aria-hidden="true" class="fa fa-briefcase marginR5"></i> Art Director / Concept Artist </p>
                                    <p class="marginB5"><i aria-hidden="true" class="fa fa-map-marker marginR5"></i> aint John, NB, Canada</p>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 marginB25">
                                <div class="maylikeleft pull-left"><%= image_tag("database/logo_kulka.jpg", :alt=>"Jobs", :class=>"img-responsive") %></div>
                                <div class="maylikeright pull-right clearfix">
                                    <h3><a href="#">Level Artist</a></h3>
                                    <p><i aria-hidden="true" class="fa fa-briefcase marginR5"></i> Techland Sp. z o.o. </p>
                                    <p class="marginB5"><i aria-hidden="true" class="fa fa-map-marker marginR5"></i> Wrocław, Warszawa, Poland</p>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 marginB25">
                                <div class="maylikeleft pull-left"><%= image_tag("database/logoGL_Chrome.jpg", :alt=>"Jobs", :class=>"img-responsive") %></div>
                                <div class="maylikeright pull-right clearfix">
                                    <h3><a href="#">FX Artist</a></h3>
                                    <p><i aria-hidden="true" class="fa fa-briefcase marginR5"></i> Gameloft Montreal </p>
                                    <p class="marginB5"><i aria-hidden="true" class="fa fa-map-marker marginR5"></i> aint John, NB, Canada</p>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 marginB25">
                                <div class="maylikeleft pull-left"><%= image_tag("database/Flame_Logo.jpg", :alt=>"Jobs", :class=>"img-responsive") %></div>
                                <div class="maylikeright pull-right clearfix">
                                    <h3><a href="#">Senior Environment Artist Map Lead</a></h3>
                                    <p><i aria-hidden="true" class="fa fa-briefcase marginR5"></i> Hangar 13 </p>
                                    <p class="marginB5"><i aria-hidden="true" class="fa fa-map-marker marginR5"></i> Novato, CA, USA</p>
                                </div>
                            </div>
           
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="studiowrap clearfix">
                <div class="studio-profile"><%= image_tag("compnay-profile-img.jpg", :alt=>"img", :class=>"img-responsive") %></div>
                <div class="studio-content clearfix">
                      <h3>Streamline Studios</h3>
                      <p>VFX Studio, Malaysia <a href="#" class=""><i class="fa fa-plus-circle marginR5" aria-hidden="true"></i> Follow</a></p>
                </div>
            </div>
            <div class="FeaturedStudios clearfix marginB15">
                <h3 class="studio-title">Similar Jobs</h3>
                <ul>

                    <% if @similar_jobs.present? %> 

                        <% @similar_jobs.each do |similar_job| %>

                            <li class="clearfix" >
                                <div class="FeaturedLeft pull-left">
                                <img lazy-img="<%= root_url + similar_job.company_logo.thumb.url %>" class="img-responsive">
                                </div>
                                <div class="FeaturedRight pull-right clearfix">
                                    <h2><a href="<%= apply_job_path(similar_job.id) %>"><%= similar_job.title %></a></h2>
                                    <p><i class="fa fa-briefcase marginR5" aria-hidden="true"></i> <%=similar_job.job_type%> </p>
                                    <p><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> <%=similar_job.city%><%= similar_job.city != '' && similar_job.try(:country).try(:name) != '' ? ', ' : ''%> <%=similar_job.try(:country).try(:name)%></p>
                                </div>
                            </li>
                        <% end %>    
                    <% else %>  
                        <li class="clearfix text-center err-msg no-result" >No Similar Job Found!</li>
                    <% end %> 
                </ul>
            </div>
            <div class="marginB15"><%= image_tag("database/googlead-new.jpg", :alt=>"Google Ad", :class=>"img-responsive") %></div>
            <div class="wiphome marginB15 clearfix">
                <h2>Wants Critique / Wip</h2>
                <ul class="margin">
                    <li class="lists"><a href="#"><%= image_tag("database/1.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
                    <li class="lists"><a href="#"><%= image_tag("database/2.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
                    <li class="lists"><a href="#"><%= image_tag("database/3.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
                    <li class="lists"><a href="#"><%= image_tag("database/4.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
                    <li class="lists"><a href="#"><%= image_tag("database/5.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
                    <li class="lists"><a href="#"><%= image_tag("database/6.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
                    <li class="lists"><a href="#"><%= image_tag("database/7.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
                    <li class="lists"><a href="#"><%= image_tag("database/8.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
                    <li class="lists"><a href="#"><%= image_tag("database/9.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
                </ul>
            </div>

            <div class="FeaturedStudios clearfix marginB15">
                <h3 class="studio-title">Similar Jobs </h3>
                <ul>
                    <% if @similar_jobs.present? %> 

                        <% @similar_jobs.each do |similar_job| %>

                            <li class="clearfix" >
                                <div class="FeaturedLeft pull-left">
                                <img lazy-img="<%= root_url + similar_job.company_logo.thumb.url %>" class="img-responsive">
                                </div>
                                <div class="FeaturedRight pull-right clearfix">
                                    <h2><a href="<%= apply_job_path(similar_job.id) %>"><%= similar_job.title %></a></h2>
                                    <p><i class="fa fa-briefcase marginR5" aria-hidden="true"></i> <%=similar_job.job_type%> </p>
                                    <p><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> <%=similar_job.city%><%= similar_job.city != '' && similar_job.try(:country).try(:name) != '' ? ', ' : ''%> <%=similar_job.try(:country).try(:name)%></p>
                                </div>
                            </li>
                        <% end %>    
                    <% else %>  
                        <li class="clearfix text-center err-msg no-result" >No Similar Job Found!</li>
                    <% end %> 
                </ul>
            </div>
        </div>
    </section>
</div>    
<!-- Footer Start -->
<footer class="footer clearfix padding">
 <%= render 'layouts/lastfooter' %>
</footer>

<script>

    // main page angular app start
    var app = angular.module('myApp', ["angularLazyImg"]);
    app.controller('myCtrl', function($scope, $http) {

    });

</script>