<section class="clearfix jobpostpage">
<div class="col-md-9 col-sm-12 col-xs-12">
<div class="row">
<div class="clearfix marginB15">
  <ul class="breadcrumb">
    <li><a href="#">Jobs</a></li>
    <li><a href="#">Modeler</a></li>
    <li class="active">Level Designer</li>
  </ul>
</div>
<div class="clearfix marginB40">
  <div class="col-md-8 col-sm-8 col-xs-12">
    <div class="jobprofilepic"><%= image_tag("compnay-profile-img.jpg", :class=>"img-responsive",:alt=>"job") %></div>
    <div class="jobprofile clearfix">
      <h3>Level Designer</h3>
      <div class="jobs-txts"><span class="blue marginR5">Streamline Studios</span> <i aria-hidden="true" class="fa fa-map-marker marginR5 marginL5"></i> Kuala Lumpur, Malaysia <i aria-hidden="true" class="fa fa-bookmark marginR5 marginL5"></i> Job Type: Permanent <i class="fa fa-calendar marginL5 marginR5" aria-hidden="true"></i> Posted: 30 July 2016</div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12"> <span class="price-txt">$ 500 - $ 3000</span>
    <button class="green-btn" type="button">Apply for Job <i class="fa fa-caret-right marginL5" aria-hidden="true"></i></button>
  </div>
</div>
<div class="clearfix marginB15">
  <div class="col-md-4 col-sm-4 col-xs-12 jobs-heading"><i class="fa fa-file-text-o marginR5" aria-hidden="true"></i> Job Description</div>
  <div class="col-md-8 col-sm-8 col-xs-12 text-right"><%= image_tag("sociall-follow.jpg", :alt=>"Sociall") %></div>
</div>
<div class="clearfix marginB15 jobs-indent">
  <div class="col-md-12">
    <p>Under direct supervision of the Game Design Team or Lead Level Designer, the Level Designer works within the Design team to create world geometry for monthly content pushes and milestones. Ability to maintain and manage high levels of quality and style definitions while working in rapid,  rigorous, and timely manner, Intermedlate to advanced leavel editor experience including particle creation, sound placement and scripting is required in addition to knowledge of the Level Design processes and game production pipeline.</p>
    <h3>Duties and Responsibilities</h3>
    <ul>
      <li>Ability to create high-quality level design concepts that effectively demonstrate game mechanics that solidify and establish the overall concept and playbility/ "fun factor" of the production.</li>
      <li>Ability to visualize and conceive level design objects triggers and elements that contribute to the overall playability and design quality of the production.</li>
      <li>Continually refines personal design abilities and increases knowledge of new level design methodologies, techniques, and tools.</li>
      <li>Meets deadlines and contributes effectively in a team-oriented environment.</li>
      <li>Participates in reviewing, monitoring, and evaluating work flow purpose to improve or automate the level design production process.</li>
      <li>Works effectively within technical constraints of a production while generating high-quality level design concepts that match (or) exceed unit standards.</li>
      <li>Communicates regularly with the Lead Level Designer regarding the status of current project milestones and initiatives; obtains guidance and approval from Lead Level Deisgner as required to advance intiatives and milestones.</li>
      <li>Assists in establishing and maintaining the core level design re quirements of the production with an understanding of the game development pipeline.</li>
      <li>Facilitates multiple day-to-day level deisgn production processes to ensure playability of the design.</li>
      <li>Implements conceptual design, integration of game mechanic, system design, interface design, testing and Quality Assurance.</li>
      <li>Performs miscellanceous job-related duties ad assigned.</li>
    </ul>
    <h3><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Duties and Responsibilities</h3>
    <ul>
      <li class="text-uppercase">Unreal Engine Experience A must</li>
    </ul>
    <h3><i class="fa fa-ellipsis-v" aria-hidden="true"></i> Additional Information</h3>
    <p>Relocation assistance is offered</p>
    <h3><i class="fa fa-ellipsis-v" aria-hidden="true"></i> How to Apply</h3>
    <p>Please send your resume to <a href="mailto:hr@cgmeetup.net">hr@cgmeetup.net</a> with "Lead Character Artist-LA in the subject line if you are interst"</p>
  </div>
  <div class="clearfix marginB40">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <button class="green-btn" type="button">Apply for Job <i class="fa fa-caret-right marginL5" aria-hidden="true"></i></button>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12 text-right"><%= image_tag("sociall-follow.jpg", :alt=>"Sociall") %></div>
  </div>
  <div class="clearfix youmaylikewrap">
    <h2>You May Also Like</h2>
    <div class="youmaylikeindent clearfix">
    
      <div class="col-md-6 col-sm-6 col-xs-12 marginB25">
        <div class="maylikeleft pull-left"><%= image_tag("database/IrrationalGames_Logo.jpg", :alt=>"Jobs", :class=>"img-responsive") %></div>
        <div class="maylikeright pull-right clearfix">
          <h3><a href="#">3D Character Artist (Mobile RPG)</a></h3>
          <p><i aria-hidden="true" class="fa fa-briefcase marginR5"></i> Art Director / Concept Artist </p>
          <p class="marginB5"><i aria-hidden="true" class="fa fa-map-marker marginR5"></i> aint John, NB, Canada</p>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-6 col-xs-12 marginB25">
        <div class="maylikeleft pull-left"><%= image_tag("database/H13_BLACK_1.jpg", :alt=>"Jobs", :class=>"img-responsive") %></div>
        <div class="maylikeright pull-right clearfix">
          <h3><a href="#">Concept Artist, Character - Temporary</a></h3>
          <p><i aria-hidden="true" class="fa fa-briefcase marginR5"></i> Hangar 13 </p>
          <p class="marginB5"><i aria-hidden="true" class="fa fa-map-marker marginR5"></i> Novato, CA, USA</p>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-6 col-xs-12 marginB25">
        <div class="maylikeleft pull-left"><%= image_tag("database/black_stompy.jpg", :alt=>"Jobs", :class=>"img-responsive") %></div>
        <div class="maylikeright pull-right clearfix">
          <h3><a href="#">3D Character Artist (Mobile RPG)</a></h3>
          <p><i aria-hidden="true" class="fa fa-briefcase marginR5"></i> Art Director / Concept Artist </p>
          <p class="marginB5"><i aria-hidden="true" class="fa fa-map-marker marginR5"></i> aint John, NB, Canada</p>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-6 col-xs-12 marginB25">
        <div class="maylikeleft pull-left"><%= image_tag("database/logo_kulka.jpg", :alt=>"Jobs", :class=>"img-responsive") %></div>
        <div class="maylikeright pull-right clearfix">
          <h3><a href="#">Level Artist</a></h3>
          <p><i aria-hidden="true" class="fa fa-briefcase marginR5"></i> Techland Sp. z o.o. </p>
          <p class="marginB5"><i aria-hidden="true" class="fa fa-map-marker marginR5"></i> Wrocław, Warszawa, Poland</p>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-6 col-xs-12 marginB25">
        <div class="maylikeleft pull-left"><%= image_tag("database/logoGL_Chrome.jpg", :alt=>"Jobs", :class=>"img-responsive") %></div>
        <div class="maylikeright pull-right clearfix">
          <h3><a href="#">FX Artist</a></h3>
          <p><i aria-hidden="true" class="fa fa-briefcase marginR5"></i> Gameloft Montreal </p>
          <p class="marginB5"><i aria-hidden="true" class="fa fa-map-marker marginR5"></i> aint John, NB, Canada</p>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-6 col-xs-12 marginB25">
        <div class="maylikeleft pull-left"><%= image_tag("database/Flame_Logo.jpg", :alt=>"Jobs", :class=>"img-responsive") %></div>
        <div class="maylikeright pull-right clearfix">
          <h3><a href="#">Senior Environment Artist Map Lead</a></h3>
          <p><i aria-hidden="true" class="fa fa-briefcase marginR5"></i> Hangar 13 </p>
          <p class="marginB5"><i aria-hidden="true" class="fa fa-map-marker marginR5"></i> Novato, CA, USA</p>
        </div>
      </div>
       
    </div>
  </div>
</div>
</div>
</div>
<div class="col-md-3 col-sm-12 col-xs-12">
<div class="studiowrap clearfix">
<div class="studio-profile"><%= image_tag("compnay-profile-img.jpg", :alt=>"img", :class=>"img-responsive") %></div>
<div class="studio-content clearfix">
  <h3>Streamline Studios</h3>
  <p>VFX Studio, Malaysia <a href="#" class=""><i class="fa fa-plus-circle marginR5" aria-hidden="true"></i> Follow</a></p>
</div>
</div>
<div class="FeaturedStudios clearfix marginB15">
<h3 class="studio-title">Similar Jobs</h3>
<ul>
  <li class="clearfix">
    <div class="FeaturedLeft pull-left"><%= image_tag("database/jobs-img2.jpg", :alt=>"Jobs", :class=>"img-responsive") %></div>
    <div class="FeaturedRight pull-right clearfix">
      <h2><a href="#">Maciek Blaźniak</a></h2>
      <p><i class="fa fa-briefcase marginR5" aria-hidden="true"></i> Art Director / Concept Artist </p>
      <p><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Montreal, Canada</p>
    </div>
  </li>
  <li class="clearfix">
    <div class="FeaturedLeft pull-left"><%= image_tag("database/jobs-img3.jpg", :alt=>"Jobs", :class=>"img-responsive") %></div>
    <div class="FeaturedRight pull-right clearfix">
      <h2><a href="#">Vera van Wolferen</a></h2>
      <p><i class="fa fa-briefcase marginR5" aria-hidden="true"></i> Senior Character Artist </p>
      <p><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> London, United Kingdom</p>
    </div>
  </li>
  <li class="clearfix">
    <div class="FeaturedLeft pull-left"><%= image_tag("database/jobs-img2.jpg", :alt=>"Jobs", :class=>"img-responsive") %></div>
    <div class="FeaturedRight pull-right clearfix">
      <h2><a href="#">Maciek Blaźniak</a></h2>
      <p><i class="fa fa-briefcase marginR5" aria-hidden="true"></i> Art Director / Concept Artist </p>
      <p><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Montreal, Canada</p>
    </div>
  </li>
  <li class="clearfix">
    <div class="FeaturedLeft pull-left"><%= image_tag("database/jobs-img3.jpg", :alt=>"Jobs", :class=>"img-responsive") %></div>
    <div class="FeaturedRight pull-right clearfix">
      <h2><a href="#">Vera van Wolferen</a></h2>
      <p><i class="fa fa-briefcase marginR5" aria-hidden="true"></i> Senior Character Artist </p>
      <p><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> London, United Kingdom</p>
    </div>
  </li>
</ul>
</div>
<div class="marginB15"><%= image_tag("database/googlead-new.jpg", :alt=>"Google Ad", :class=>"img-responsive") %></div>
<div class="wiphome marginB15 clearfix">
<h2>Wants Critique / Wip</h2>
<ul class="margin">
  <li class="lists"><a href="#"><%= image_tag("database/1.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/2.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/3.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/4.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/5.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/6.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/7.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/8.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
  <li class="lists"><a href="#"><%= image_tag("database/9.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
</ul>
</div>
<div class="FeaturedStudios clearfix marginB15">
<h3 class="studio-title">Similar Jobs </h3>
<ul>
  <li class="clearfix">
    <div class="FeaturedLeft pull-left"><%= image_tag("database/jobs-img2.jpg", :alt=>"Jobs", :class=>"img-responsive") %></div>
    <div class="FeaturedRight pull-right clearfix">
      <h2><a href="#">Maciek Blaźniak</a></h2>
      <p><i class="fa fa-briefcase marginR5" aria-hidden="true"></i> Art Director / Concept Artist </p>
      <p class="marginB10"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Montreal, Canada</p>
    </div>
  </li>
  <li class="clearfix">
    <div class="FeaturedLeft pull-left"><%= image_tag("database/jobs-img3.jpg", :alt=>"Jobs", :class=>"img-responsive") %></div>
    <div class="FeaturedRight pull-right clearfix">
      <h2><a href="#">Maciek Blaźniak</a></h2>
      <p><i class="fa fa-briefcase marginR5" aria-hidden="true"></i> Art Director / Concept Artist </p>
      <p class="marginB10"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Montreal, Canada</p>
    </div>
  </li>
  <li class="clearfix">
    <div class="FeaturedLeft pull-left"><%= image_tag("database/jobs-img.jpg", :alt=>"Jobs", :class=>"img-responsive") %></div>
    <div class="FeaturedRight pull-right clearfix">
      <h2><a href="#">Maciek Blaźniak</a></h2>
      <p><i class="fa fa-briefcase marginR5" aria-hidden="true"></i> Art Director / Concept Artist </p>
      <p class="marginB10"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Montreal, Canada</p>
    </div>
  </li>
  <li class="clearfix">
    <div class="FeaturedLeft pull-left"><%= image_tag("database/jobs-img1.jpg", :alt=>"Jobs", :class=>"img-responsive") %></div>
    <div class="FeaturedRight pull-right clearfix">
      <h2><a href="#">Maciek Blaźniak</a></h2>
      <p><i class="fa fa-briefcase marginR5" aria-hidden="true"></i> Art Director / Concept Artist </p>
      <p class="marginB10"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Montreal, Canada</p>      
    </div>
  </li>
</ul>
</div>
</div>
</section>
<!-- Footer Start -->
<footer class="footer clearfix padding">
 <%= render 'layouts/lastfooter' %>
</footer>