<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5895a76640dc4c96"></script>

<div id="myApp2" ng-app="myApp" ng-controller="myCtrl">
    <section class="clearfix jobpostpage">
        <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="row">
                <div class="clearfix marginB15">
                    <ul class="breadcrumb">
                        <li><a href="<%= jobs_path %>">Jobs</a></li>
                        <li class="active"><%= @result.title %></li>
                    </ul>
                </div>
                <div class="clearfix marginB40">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="jobprofilepic">
                        <% if @result.company_logo.present? %>
                            <img lazy-img="<%= root_url + @result.company_logo.thumb.url %>" class="img-responsive">
                        <% end %>    
                        </div>
                        <div class="jobprofile clearfix">
                            <h3><%= @result.title %></h3>
                            <div class="jobs-txts">
                                <span class="blue marginR5">
                                <% if @result.try(:company).try(:name).present? %>

                                    <%= @result.try(:company).try(:name) %>
                                <% else %>
                                    <%=@result.company_name%>
                                <% end %>
                                
                                    
                                </span> 
                                <i aria-hidden="true" class="fa fa-map-marker marginR5 marginL5"></i> <%=@result.city%><%= @result.city != '' && @result.try(:country).try(:name) != '' ? ', ' : ''%> <%=@result.try(:country).try(:name)%> <i aria-hidden="true" class="fa fa-bookmark marginR5 marginL5"></i> Job Type: <%= @result.job_type %> <i class="fa fa-calendar marginL5 marginR5" aria-hidden="true"></i> Posted: <%= @result.created_at.strftime("%d %B %Y") %>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12"> 
                        <span class="price-txt">
                            <%= @result.from_amount != '' ? '$' + @result.from_amount : ''%> <%= @result.from_amount != '' && @result.to_amount != '' ? '-' : ''%> <%= @result.to_amount != '' ? '$' + @result.to_amount : ''%>
                        </span>
                        <button onclick='return applyJob("<%= @result.paramlink %>")' class="green-btn" type="button">Apply for Job <i class="fa fa-caret-right marginL5" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="clearfix marginB15">
                    <div class="col-md-4 col-sm-4 col-xs-12 jobs-heading"><i class="fa fa-file-text-o marginR5" aria-hidden="true"></i> Job Description</div>
                    <div class="col-md-8 col-sm-8 col-xs-12 text-right1">
                    <%#= image_tag("sociall-follow.jpg", :alt=>"Sociall") %>
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                         <div class="addthis_inline_share_toolbox_xe0e"></div>
                        
                    </div>
                </div>
                <div class="clearfix marginB15 jobs-indent">
                    <div class="col-md-12">

                        <%= @result.description.html_safe %>
                        
                        <% if @software_expertise.present? %>

                            <h3><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Software Expertise</h3>
                            <ul>
                                <% @software_expertise.each do |se| %>
                                    <li class="text-uppercase"><%= se.name%></li>
                                <% end %>
                            </ul>
                        <% end %>

                         <% if @job_skills.present? %>

                            <h3><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Job Skills</h3>
                            <ul>
                                <% @job_skills.each do |js| %>
                                    <li class="text-uppercase"><%= js.name%></li>
                                <% end %>
                            </ul>
                        <% end %>

                        <h3><i class="fa fa-ellipsis-v" aria-hidden="true"></i> How to Apply</h3>
                        <p>Please send your resume to <a href="mailto:hr@cgmeetup.net">hr@cgmeetup.net</a>. if you are intersted"</p>
                    </div>
                    <div class="clearfix marginB40">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <button onclick='return applyJob("<%= @result.paramlink %>")' class="green-btn" type="button">Apply for Job <i class="fa fa-caret-right marginL5" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12 text-right1">
                        <%#= image_tag("sociall-follow.jpg", :alt=>"Sociall") %>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                       <div class="addthis_inline_share_toolbox_xe0e"></div> 
                            
                        </div>
                    </div>
                    <div class="clearfix youmaylikewrap">
                        <h2>You May Also Like</h2>
                        <div class="youmaylikeindent clearfix">
                         <% if @similar_jobs.present? %> 
                             <% @similar_jobs.each do |similar_job| %>
                            
                            <div class="col-md-6 col-sm-6 col-xs-12 marginB25">
                                <div class="maylikeleft pull-left"> <img lazy-img="<%= root_url + similar_job.company_logo.thumb.url %>" class="img-responsive"></div>
                                <div class="maylikeright pull-right clearfix">
                                    <h3><a href="<%= apply_job_path(similar_job.paramlink) %>"><%= similar_job.title %></a></h3>
                                    <p><i aria-hidden="true" class="fa fa-briefcase marginR5"></i> <%=similar_job.job_type%> </p>
                                    <p class="marginB5"><i aria-hidden="true" class="fa fa-map-marker marginR5"></i><%=similar_job.city%><%= similar_job.city != '' && similar_job.try(:country).try(:name) != '' ? ', ' : ''%> <%=similar_job.try(:country).try(:name)%></p>
                                </div>
                            </div>
                            <% end %>   
                        <% end %>   
          
                            
           
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="studiowrap clearfix">
                <div class="studio-profile">
                    <img lazy-img="<%= @result.company_logo.thumb.url %>" class="img-responsive">
                <%#= image_tag("compnay-profile-img.jpg", :alt=>"img", :class=>"img-responsive") %></div>
                <div class="studio-content clearfix">

                <%#= abort(@result.company.name.to_json) %>
                      <h3><%= @result.company.present?  ? @result.company.name : '' %></h3>
                      <p><%= @result.city.present?  ? @result.city : '' %>,  <%= @result.country.present?  ? @result.country.name : '' %></p></br>
                      
                      <button id='follow_button' class="followbtn" type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i> Follow</button>
                      <button id='unfollow_button' class="followbtn hidden" type="button"><i class="fa fa-check" aria-hidden="true"></i> Following</button>
                      
                </div>
            </div>
            <div class="FeaturedStudios clearfix marginB15">
                <h3 class="studio-title">Similar Jobs</h3>
                <ul>

                    <% if @similar_jobs.present? %> 

                        <% @similar_jobs.each do |similar_job| %>

                            <li class="clearfix" >
                                <div class="FeaturedLeft pull-left">
                                <img lazy-img="<%= root_url + similar_job.company_logo.thumb.url %>" class="img-responsive">
                                </div>
                                <div class="FeaturedRight pull-right clearfix">
                                    <h2><a href="<%= apply_job_path(similar_job.paramlink) %>"><%= similar_job.title %></a></h2>
                                    <p><i class="fa fa-briefcase marginR5" aria-hidden="true"></i> <%=similar_job.job_type%> </p>
                                    <p><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> <%=similar_job.city%><%= similar_job.city != '' && similar_job.try(:country).try(:name) != '' ? ', ' : ''%> <%=similar_job.try(:country).try(:name)%></p>
                                </div>
                            </li>
                        <% end %>    
                    <% else %>  
                        <li class="clearfix text-center err-msg no-result" >No Similar Job Found!</li>
                    <% end %> 
                </ul>
            </div>
            <div class="marginB15"><%= image_tag("database/googlead-new.jpg", :alt=>"Google Ad", :class=>"img-responsive") %></div>
            <div class="wiphome marginB15 clearfix">
                <h2 class="studio-title" >Wants Critique / Wip</h2>
                <ul class="margin">
                    <li class="lists"><a href="#"><%= image_tag("database/1.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
                    <li class="lists"><a href="#"><%= image_tag("database/2.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
                    <li class="lists"><a href="#"><%= image_tag("database/3.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
                    <li class="lists"><a href="#"><%= image_tag("database/4.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
                    <li class="lists"><a href="#"><%= image_tag("database/5.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
                    <li class="lists"><a href="#"><%= image_tag("database/6.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
                    <li class="lists"><a href="#"><%= image_tag("database/7.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
                    <li class="lists"><a href="#"><%= image_tag("database/8.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
                    <li class="lists"><a href="#"><%= image_tag("database/9.jpg", :alt=>"img", :class=>"img-responsive") %></a></li>
                </ul>
            </div>

            <div class="FeaturedStudios clearfix marginB15">
                <h3 class="studio-title">Similar Jobs </h3>
                <ul>
                    <% if @similar_jobs.present? %> 

                        <% @similar_jobs.each do |similar_job| %>

                            <li class="clearfix" >
                                <div class="FeaturedLeft pull-left">
                                <img lazy-img="<%= root_url + similar_job.company_logo.thumb.url %>" class="img-responsive">
                                </div>
                                <div class="FeaturedRight pull-right clearfix">
                                    <h2><a href="<%= apply_job_path(similar_job.paramlink) %>"><%= similar_job.title %></a></h2>
                                    <p><i class="fa fa-briefcase marginR5" aria-hidden="true"></i> <%=similar_job.job_type%> </p>
                                    <p><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> <%=similar_job.city%><%= similar_job.city != '' && similar_job.try(:country).try(:name) != '' ? ', ' : ''%> <%=similar_job.try(:country).try(:name)%></p>
                                </div>
                            </li>
                        <% end %>    
                    <% else %>  
                        <li class="clearfix text-center err-msg no-result" >No Similar Job Found!</li>
                    <% end %> 
                </ul>
            </div>
        </div>
    </section>
</div>    
<!-- Footer Start -->
<footer class="footer clearfix padding">
 <%= render 'layouts/lastfooter' %>
</footer>
<script>
    function applyJob(job_paramlink){
           // alert(job_paramlink);
           window.location.href = "<%= root_url %>" + "job/applied-job/"+job_paramlink;  

    }
</script>

<script>

    // main page angular app start
    var app = angular.module('myApp', ["angularLazyImg"]);
    app.controller('myCtrl', function($scope, $http) {

    });

$(document).ready(function() {

    $.ajax({
        type: "post",
        url: "<%= save_job_view_count_path %>" ,
        data: {'paramlink': '<%= @job_id %>'},
        success: function(data){
        }
    });
    
    $.ajax({
            type: "post",
            url: "<%= check_follow_job_path %>" ,
            data: {'job_id': '<%= @result.id %>','company_id': '<%= @result.company_id %>'},
            success: function(data){
                //alert(data.res)
               if(data.res == 1) {
                        $('#follow_button').addClass('hidden');
                        $('#unfollow_button').removeClass('hidden');
                }else{
                        $('#follow_button').removeClass('hidden');
                        $('#unfollow_button').addClass('hidden');
                }
            }
      });

    $('#follow_button, #unfollow_button').on('click',function(){
            $.ajax({
                type: "post",
                url: "<%= follow_job_path %>" ,
                data: {'job_id': '<%= @result.id %>','company_id': '<%= @result.company_id %>'},
                success: function(data){
                  //alert(data.res)
                 if(data.res == 1) {
                      $('#follow_button').addClass('hidden');
                      $('#unfollow_button').removeClass('hidden');
                  }else{
                       $('#follow_button').removeClass('hidden');
                       $('#unfollow_button').addClass('hidden');
                  }

                }
            });
    });
});

</script>