<% previous_tags = get_previous_uploaded_job_tags %>
<!-- All Dashboard Start -->
<div id="New_Job" ng-app="New_Job" >
<div ng-controller="NewJobCtrl as ctrl">
<section class="clearfix container-fluid-full">
  <div class="row-fluid">
    <div class="sidebar-left">
         <%= render 'layouts/navigation' %>
    </div>
    <div class="content clearfix" >
      <div class="clearfix job-post-bread">
         <ul class="breadcrumb">
          <li><%= link_to 'Jobs', index_job_path %></li>
            <li class="active">
               <% actiontype = '' %>
                <% if 'edit' == params[:action] || 'update' == params[:action] 
                        actiontype = update_job_path
                %>
                    Edit Job
                <% else
                        actiontype = save_job_path
                 %>
                    Create Job
                <% end %>

            </li>
        </ul>
      </div>
      
      <!-- User Followers Start -->
      <section class="clearfix jobswrap">
      <%= form_for( @job, url: actiontype, html: { id: 'job_post_form',  role: "form" }) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id, id: 'gallery_user_id' %>   
        <%= f.hidden_field :is_admin, value: 'N', id: 'gallery_is_admin' %>      
        <%= f.hidden_field :removedids, value: '', id: 'gallery_removedids' %>      
        <%= f.hidden_field :removedimages, value: '', id: 'gallery_removedimages' %>      
        <%= f.hidden_field :removedvideourl, value: '', id: 'gallery_removedvideourl' %>      
        <%= f.hidden_field :removedsketchfab, value: '', id: 'gallery_removedsketchfab' %>      
        <%= f.hidden_field :removedUploadVideo, value: '', id: 'gallery_removedUploadVideo' %>      
        <%= f.hidden_field :removedMarmoset, value: '', id: 'gallery_removedMarmoset' %>   
        <%= f.hidden_field :removedZip, value: '', id: 'gallery_removedzip' %>   
         <div id="hiddendata"></div>
        <div class="clearfix notification-heading">  
            <span class="noti-title" style="border:none;"> 
                <% if 'edit' == params[:action] || 'update' == params[:action] %>
                    <%= @job.title %>
                <% else %>
                    Untitled Job
                <% end %>
            </span> </div>
        <div class="jobpostindent clearfix col-sm-12 col-xs-12 padding">
          
          <div class="clearfix marginB15 jobpostbox border-radius">
                        <ul>
                            <li><a href="javascript:void(0);" ng-click="addNewImages()"><i class="fa fa-upload marginR5 blue-txt" aria-hidden="true"></i> Add Images</a></li>
                            <li><a data-toggle="modal" href="#add-video-popup" ><i class="fa fa-film marginR5 blue-txt" aria-hidden="true"></i> Add Video</a></li>
                            <li class="dropdown-toggle">
                                <a href="javascript:void(0);" data-toggle="dropdown"><i class="fa fa-codepen marginR5 blue-txt" aria-hidden="true"></i> Add 3D Model <i class="fa fa-caret-down blue-txt pull-right marginL5" aria-hidden="true"></i></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a data-toggle="modal" href="#add-sketchfab-popup">Add Sketchfab Model</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" ng-click="addNewMarmoSets()">Add Marmoset Viewer</a>

                                        <!-- <a href="javascript:void(0);">Add Marmoset Viewer</a> -->
                                    </li>
                                </ul>
                            </li>


                            <li>
                                <!-- <a href="javascript:void(0);"><i class="fa fa-file-video-o marginR5 blue-txt" aria-hidden="true"></i> Upload Video</a> -->
                                <a href="javascript:void(0);" ng-click="addNewUploadVideos()"><i class="fa fa-file-video-o marginR5 blue-txt" aria-hidden="true"></i> Upload Video</a>
                            </li>
                            <li><a href="javascript:void(0);" ng-click="addNewZip()"><i class="fa fa-upload marginR5 blue-txt" aria-hidden="true"></i> Add Zip/Rar Files</a></li>    
                        </ul>
                    </div>

                    <div class="marginB15 dragdrop text-center hidden-sm hidden-xs" >
                        <input accept="image/*" id='gallery_image_image_999' name='job[avatar][][image]' type='file' multiple="multiple" class='dragdrop-gallery'>
                        <div class="marginB15"><i class="fa fa-files-o fa-2x" aria-hidden="true"></i></div>
                         <div class="marginB15">Drag and drop your images here</div> 
                        <button class="lightbtn padding10 lightcolor" type="button" ng-click="addNewImages()">Select Files</button>
                    </div>

                     <div class="clearfix marginB15 selectgallery">
                        <ul>

                        <!-- Edit Mode Update Images list -->
                            <li ng-repeat="x in add_images_default" class="clearfix col-md-3 col-sm-3 col-xs-6 marginB15" id="lidefault{{$index}}">

                                <div class="galleryselect clearfix">
                                    <div class="gallery-select-top clearfix"> <span class="pull-left"><i class="fa fa-upload" aria-hidden="true"></i></span> <span class="pull-right"><a href="javascript:void(0);" ng-click="removeImageDefault($index, x.id)" class="fa fa-times" aria-hidden="true"></a></span> </div>
                                    <center>
                                        <img src="{{x.image.large_image.url}}" alt="image" class="img-responsive img-preview" id="gallery_image_view_default_{{$index}}" >
                                    </center>
                                    
                                    <div class="clearfix padding10">
                                        <textarea class="form-control reel-txt" name="job[images_attributes_default][{{x.id}}][caption_image]" id="gallery_image_caption_image_default_{{$index}}" placeholder="Enter caption">{{x.caption_image}}</textarea>
                                    </div>
                                </div>

                            </li>

                            <!-- Add Images list -->
                            <li ng-repeat="x in add_images" class="clearfix col-md-3 col-sm-3 col-xs-6 marginB15 hidden" id="li{{$index}}">

                                <div class="galleryselect clearfix">
                                    <div class="gallery-select-top clearfix"> <span class="pull-left"><i class="fa fa-upload" aria-hidden="true"></i></span> <span class="pull-right"><a href="javascript:void(0);" ng-click="removeImage($index)" class="fa fa-times" aria-hidden="true"></a></span> </div>
                                    <center>
                                        <img src="" alt="image" class="img-responsive img-preview" id="gallery_image_view_{{$index}}" >
                                    </center>
                                    <input type="file" name="job[images_attributes][{{$index}}][image]" id="gallery_image_image_{{$index}}" ng-show="false" accept="image/*" onchange="angular.element(this).scope().newImageUpload(this)" >


                                    <div class="clearfix padding10">
                                        <textarea class="form-control reel-txt" name="job[images_attributes][{{$index}}][caption_image]" id="gallery_image_caption_image_{{$index}}" placeholder="Enter caption"></textarea>
                                    </div>
                                </div>

                            </li>

                            <!-- Edit Mode Update Video URL list -->
                            <li ng-repeat="x in add_video_url_default" class="clearfix col-md-3 col-sm-3 col-xs-6 marginB15" id="livideourldefault{{$index}}">

                                <div class="galleryselect clearfix">
                                    <div class="gallery-select-top clearfix"> <span class="pull-left"><i class="fa fa-film" aria-hidden="true"></i></span> <span class="pull-right"><a href="javascript:void(0);" ng-click="removeVideoURLDefault($index, x.id)" class="fa fa-times" aria-hidden="true"></a></span> </div>
                                    <center>
                                        <img src="" alt="Video Url" class="img-responsive img-preview" id="gallery_video_url_image_view_default_{{$index}}" >
                                    </center>

                                    <div class="clearfix padding10">
                                        <textarea class="form-control reel-txt" name="job[videos_attributes_default][{{x.id}}][caption_video]" id="gallery_videos_caption_video_default_{{$index}}" placeholder="Enter caption">{{x.caption_video}}</textarea>
                                    </div>
                                </div>

                            </li>

                            <!-- Add Video URL list -->
                            <li ng-repeat="x in add_video_url" class="clearfix col-md-3 col-sm-3 col-xs-6 marginB15" id="livideourl{{$index}}">

                                <div class="galleryselect clearfix">
                                    <div class="gallery-select-top clearfix"> <span class="pull-left"><i class="fa fa-film" aria-hidden="true"></i></span> <span class="pull-right"><a href="javascript:void(0);" ng-click="removeVideoURL($index)" class="fa fa-times" aria-hidden="true"></a></span> </div>
                                    <center>
                                        <img src="" alt="Video Url" class="img-responsive img-preview" id="gallery_video_url_image_view_{{$index}}" >
                                    </center>

                                    <input type="hidden" name="job[videos_attributes][{{$index}}][video]" id="gallery_videos_video_{{$index}}" />

                                    <div class="clearfix padding10">
                                        <textarea class="form-control reel-txt" name="job[videos_attributes][{{$index}}][caption_video]" id="gallery_videos_caption_video_{{$index}}" placeholder="Enter caption"></textarea>
                                    </div>
                                </div>

                            </li>

                            <!-- Edit Mode Update Sketchfab URL list -->
                            <li ng-repeat="x in add_sketchfab_url_default" class="clearfix col-md-3 col-sm-3 col-xs-6 marginB15" id="lisketchfaburldefault{{$index}}">

                                <div class="galleryselect clearfix">
                                    <div class="gallery-select-top clearfix"> <span class="pull-left"><i class="fa fa-codepen" aria-hidden="true"></i></span> <span class="pull-right"><a href="javascript:void(0);" ng-click="removeSketchfabURLDefault($index, x.id)" class="fa fa-times" aria-hidden="true"></a></span> </div>
                                    <center>
                                        <img src="" alt="Sketchfab" class="img-responsive img-preview" id="gallery_sketchfab_url_image_view_default_{{$index}}" >
                                    </center>

                                    <div class="clearfix padding10">
                                        <textarea class="form-control reel-txt" name="job[sketchfebs_attributes_default][{{x.id}}][caption_sketchfeb]" id="gallery_sketchfebs_caption_sketchfeb_default_{{$index}}" placeholder="Enter caption">{{x.caption_sketchfeb}}</textarea>
                                    </div>

                                </div>

                            </li>


                            <!-- Add Sketchfab URL list -->
                            <li ng-repeat="x in add_sketchfab_url" class="clearfix col-md-3 col-sm-3 col-xs-6 marginB15" id="lisketchfaburl{{$index}}">

                                <div class="galleryselect clearfix">
                                    <div class="gallery-select-top clearfix"> <span class="pull-left"><i class="fa fa-codepen" aria-hidden="true"></i></span> <span class="pull-right"><a href="javascript:void(0);" ng-click="removeSketchfabURL($index)" class="fa fa-times" aria-hidden="true"></a></span> </div>
                                    <center>
                                        <img src="" alt="Sketchfab" class="img-responsive img-preview" id="gallery_sketchfab_url_image_view_{{$index}}" >
                                    </center>

                                    <input type="hidden" name="job[sketchfebs_attributes][{{$index}}][sketchfeb]" id="gallery_sketchfebs_sketchfeb_{{$index}}" /> 

                                    <div class="clearfix padding10">
                                        <textarea class="form-control reel-txt" name="job[sketchfebs_attributes][{{$index}}][caption_sketchfeb]" id="gallery_sketchfebs_caption_sketchfeb_{{$index}}" placeholder="Enter caption"></textarea>
                                    </div>

                                </div>

                            </li>

                            <!-- Edit Mode Update Upload Videos list -->
                            <li ng-repeat="x in add_upload_videos_default" class="clearfix col-md-3 col-sm-3 col-xs-6 marginB15" id="liuploadvideodefault{{$index}}">

                                <div class="galleryselect clearfix">
                                    <div class="gallery-select-top clearfix"> <span class="pull-left"><i class="fa fa-file-video-o" aria-hidden="true"></i></span> <span class="pull-right"><a href="javascript:void(0);" ng-click="removeUploadVideoDefault($index, x.id)" class="fa fa-times" aria-hidden="true"></a></span> </div>
                                    <center>
                                        <img src="" alt="Upload video" class="img-responsive img-preview" id="gallery_upload_video_view_default_{{$index}}" >
                                    </center>

                                    <div class="clearfix padding10">
                                        <textarea class="form-control reel-txt" name="job[upload_videos_attributes_default][{{x.id}}][caption_upload_video]" id="gallery_upload_videos_caption_upload_video_default_{{$index}}" placeholder="Enter caption">{{x.caption_upload_video}}</textarea>
                                    </div>
                                </div>

                            </li>

                            <!-- Add Upload Videos list -->
                            <li ng-repeat="x in add_upload_videos" class="clearfix col-md-3 col-sm-3 col-xs-6 marginB15 hidden" id="liuploadvideo{{$index}}">

                                <div class="galleryselect clearfix">
                                    <div class="gallery-select-top clearfix"> <span class="pull-left"><i class="fa fa-file-video-o" aria-hidden="true"></i></span> <span class="pull-right"><a href="javascript:void(0);" ng-click="removeUploadVideo($index)" class="fa fa-times" aria-hidden="true"></a></span> </div>
                                    <center>
                                        <img src="" alt="Upload video" class="img-responsive img-preview" id="gallery_upload_video_view_{{$index}}" >
                                    </center>
                                    <input type="file" name="job[upload_videos_attributes][{{$index}}][uploadvideo]" id="gallery_upload_videos_uploadvideo_{{$index}}" ng-show="false" accept="video/*" onchange="angular.element(this).scope().newVideoUpload(this)" >

                                    <div class="clearfix padding10">
                                        <textarea class="form-control reel-txt" name="job[upload_videos_attributes][{{$index}}][caption_upload_video]" id="gallery_upload_videos_caption_upload_video_{{$index}}" placeholder="Enter caption"></textarea>
                                    </div>
                                </div>

                            </li>

                            <!-- Edit Mode Update Marmosets list -->
                            <li ng-repeat="x in add_marmo_sets_default" class="clearfix col-md-3 col-sm-3 col-xs-6 marginB15" id="limarmosetdefault{{$index}}">

                                <div class="galleryselect clearfix">
                                    <div class="gallery-select-top clearfix"> <span class="pull-left"><i class="fa fa-upload" aria-hidden="true"></i></span> <span class="pull-right"><a href="javascript:void(0);" ng-click="removeMarmoSetDefault($index, x.id)" class="fa fa-times" aria-hidden="true"></a></span> </div>
                                    <center>
                                        <img src="" alt="Marmoset" class="img-responsive img-preview" id="gallery_marmo_set_view_default_{{$index}}" >
                                    </center>
                                    
                                    <div class="clearfix padding10">
                                        <textarea class="form-control reel-txt" name="job[marmo_sets_attributes_default][{{x.id}}][caption_marmoset]" id="gallery_marmo_sets_caption_marmoset_default_{{$index}}" placeholder="Enter caption">{{x.caption_marmoset}}</textarea>
                                    </div>
                                </div>

                            </li>

                            <!-- Add Marmosets -->
                            <li ng-repeat="x in add_marmo_sets" class="clearfix col-md-3 col-sm-3 col-xs-6 marginB15 hidden" id="limarmoset{{$index}}">

                                <div class="galleryselect clearfix">
                                    <div class="gallery-select-top clearfix"> <span class="pull-left"><i class="fa fa-upload" aria-hidden="true"></i></span> <span class="pull-right"><a href="javascript:void(0);" ng-click="removeMarmoSet($index)" class="fa fa-times" aria-hidden="true"></a></span> </div>
                                    <center>
                                        <img src="" alt="Marmoset" class="img-responsive img-preview" id="gallery_marmo_set_view_{{$index}}" >
                                    </center>
                                    <input type="file" name="job[marmo_sets_attributes][{{$index}}][marmoset]" id="gallery_marmo_sets_marmoset_{{$index}}" ng-show="false" accept=".mview" onchange="angular.element(this).scope().newMarmoSet(this)" >
                                    
                                    <div class="clearfix padding10">
                                        <textarea class="form-control reel-txt" name="job[marmo_sets_attributes][{{$index}}][caption_marmoset]" id="gallery_marmo_sets_caption_marmoset_{{$index}}" placeholder="Enter caption"></textarea>
                                    </div>
                                </div>

                            </li>

                            <!-- Edit Mode Update zip list -->
                            <li ng-repeat="x in add_zip_default" class="clearfix col-md-3 col-sm-3 col-xs-6 marginB15" id="lizipdefault{{$index}}">

                                <div class="galleryselect clearfix">
                                    <div class="gallery-select-top clearfix"> <span class="pull-left"><i class="fa fa-upload" aria-hidden="true"></i></span> <span class="pull-right"><a href="javascript:void(0);" ng-click="removeZipDefault($index, x.id)" class="fa fa-times" aria-hidden="true"></a></span> </div>
                                    <center>
                                        <img src="{{x.image.large_image.url}}" alt="image" class="img-responsive img-preview" id="gallery_zip_view_default_{{$index}}" >
                                    </center>
                                    
                                    <div class="clearfix padding10">
                                        <textarea class="form-control reel-txt" name="job[zip_files_attributes_default][{{x.id}}][zip_caption]" id="gallery_zip_caption_image_default_{{$index}}" placeholder="Enter caption">{{x.zip_caption}}</textarea>
                                    </div>
                                </div>

                            </li>

                            <!-- Add Zip list -->
                            <li ng-repeat="x in add_zip" class="clearfix col-md-3 col-sm-3 col-xs-6 marginB15 hidden" id="lizip{{$index}}">

                                <div class="galleryselect clearfix">
                                    <div class="gallery-select-top clearfix"> <span class="pull-left"><i class="fa fa-upload" aria-hidden="true"></i></span> <span class="pull-right"><a href="javascript:void(0);" ng-click="removeZip($index)" class="fa fa-times" aria-hidden="true"></a></span> </div>
                                    <center>
                                        <img src="" alt="image" class="img-responsive img-preview" id="gallery_zip_view_{{$index}}" >
                                    </center>
                                    <input type="file" name="job[zip_files_attributes][{{$index}}][zipfile]" id="gallery_zip_image_{{$index}}" ng-show="false"  accept="zip/*,rar/*" onchange="angular.element(this).scope().newZipUpload(this)" >


                                    <div class="clearfix padding10">
                                        <textarea class="form-control reel-txt" name="job[zip_files_attributes][{{$index}}][zip_caption]" id="gallery_zip_caption_image_{{$index}}" placeholder="Enter caption"></textarea>
                                    </div>
                                </div>

                            </li>  








                            <div id='output'></div>

                        </ul>
                    </div>







                  <div class="marginB15">
                      <label class="marginB15">* Title</label>
                    <%= f.text_field :title, class: 'form-control from-input skill-input', id: 'title', placeholder: 'Job Title', value: params[:job].present? ? params[:job][:title] : @job[:title] %>
                    <span class="err-msg"><%= form_error_msg_for(@job,:title, "Title") %></span>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading padding"><!--  <img src="images/database/txt-job-post.jpg" class="img-responsive" alt="img">  --></div>
                    <div class="panel-body">
                      <%= f.text_area :description, class: 'form-control from-input message-form1 tinymce', id: 'description', placeholder: 'Job Description', :value => params[:job].present? ? params[:job][:description] : @job[:description] %>
                      <span class="err-msg"><%= form_error_msg_for(@job,:description, "Description") %></span>
                    </div>
                  </div>

          <div class="panel panel-default">
            <div class="panel-heading">Job Details</div>
            <div class="panel-body">

                <div class="row">
                    <div class="form-group clearfix">
                        <label class="col-md-12 col-sm-12 col-xs-12">Job Type</label>
                        <div class="col-md-12 col-sm-12 col-xs-10">
                           <select class="custom-select" name="job[job_type]">
                                <% if @jobcategory.present? 
                                  @jobcategory.each_with_index do |value, index|  
                                %>
                                    <option value="<%= value.name %>"><%= value.name %></option>
                                <% end
                                end %> 
                            </select>
                         </div>
                    </div>

                     <div class="form-group clearfix">
                        <label class="col-md-12 col-sm-12 col-xs-12">Job Category</label>
                        <div class="col-md-12 col-sm-12 col-xs-10">
                           <%= f.select(:job_category, options_for_select(CategoryType.order('created_at DESC').pluck(:name, :id), params[:job].present? ? params[:job][:job_category] : @job[:job_category]), {:include_blank => false}, {'class' => 'form-control multi-select js-chosen-select-multi', 'id' => 'job_category_id', multiple: true})  %>
                         </div>
                    </div>
                    <div class="form-group clearfix">
                    <label class="col-md-12 col-sm-12 col-xs-12">Location of Company</label>
                    <div class="col-md-4 col-sm-4 col-xs-6 marginB10">
                     
                        <%= f.select(:country_id, options_for_select(Country.active.pluck(:name, :id), params[:job].present? ? params[:job][:country_id] : @job[:country_id]), {:include_blank => "-- Please select --"}, {'class' => 'custom-select', 'id' => 'country_id'})  %>
                         <span class="err-msg"><%= form_error_msg_for(@job,:country_id, "Country") %></span>
                       
                      
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6 marginB10">
                     
                        <%= f.text_field :state, class: 'form-control from-input', id: 'state', placeholder: 'State', value: params[:job].present? ? params[:job][:state] : @job[:state] %>
                       <span class="err-msg"><%= form_error_msg_for(@job,:state, "State") %></span>
                       
                      
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-6 marginB10">
                      <%= f.text_field :city, class: 'form-control from-input', id: 'city', placeholder: 'city', value: params[:job].present? ? params[:job][:city] : @job[:city] %>
                       <span class="err-msg"><%= form_error_msg_for(@job,:city, "City") %></span>
                    </div>

                    

                  </div>

                 <div class="form-group clearfix">
                    <label class="col-md-12 col-sm-12 col-xs-12">Company Name</label>
                    <div class="col-md-12 col-sm-12 col-xs-10">
                    <%= f.text_field :company_name, class: 'form-control from-input', id: 'company_id', placeholder: 'Company name' %>
                      <!-- <input type="text" class="form-control from-input" placeholder="Add new if company name not listed"> -->
                    </div>

                   <!--  <div class="col-md-1 col-sm-1 col-xs-2 text-center white-txt paddinT10">or</div>
                    <div class="col-md-5 col-sm-5 col-xs-12 txt13">

                     
                       <%#= f.select(:company_id, options_for_select(Company.pluck(:name, :id), params[:job].present? ? params[:job][:company_id] : @job[:company_id]), {:include_blank => "-- Please select --"}, {'class' => 'custom-select', 'id' => 'company_id'})  %>

                       <!--    <input type="text" class="form-control from-input add-input" placeholder=""> 
                    
                    <div class="add-txt pull-right"></div>
                    </div> -->
                  </div>

                  <div class="form-group clearfix">
                    <label class="col-md-12 col-sm-12 col-xs-12">Company URL</label>
                    <div class="col-md-12 col-sm-12 col-xs-10">
                        <%= f.text_field :company_url, class: 'form-control from-input', id: 'company_url', placeholder: 'Company URL', value: params[:job].present? ? params[:job][:company_url] : @job[:company_url] %>
                     </div>
                </div>


                  <div>
                        <div class="col-md-3 col-sm-6 col-xs-6 marginB10">
                          <div class="checkbox-btn paddinT10">
                            <%= f.check_box :work_remotely, id: 'rc3', name: "job[work_remotely]" %>
                            <!-- <input type="checkbox" value="value-1" id="rc3" name="rc3"/> -->
                            <label for="rc3" onclick>Work Remotely</label>
                          </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-6 marginB10 padding">
                          <div class="checkbox-btn paddinT10">
                           <%= f.check_box :relocation_asistance, id: 'rc4', name: "job[relocation_asistance]" %>
                           <!--  <input type="checkbox" value="value-1" id="rc4" name="rc4"/> -->
                            <label for="rc4" onclick>Relocation Assistance</label>
                          </div>
                        </div>
                  </div>
                   <div class="form-group clearfix margin">
                    <label class="col-md-12 col-sm-12 col-xs-12">Closing Date</label>
                    <div class="col-md-12 col-sm-12 col-xs-6 marginB10">
                       <%= f.text_field :closing_date, class: 'form-control from-input', id: 'closing_date', placeholder: 'closing date', value: params[:job].present? ? params[:job][:closing_date] : @job[:closing_date] %>
                    </div>
                  </div>

                  <div class="form-group clearfix margin">
                      <label class="col-md-12 col-sm-12 col-xs-12">Amount</label>
                      <div class="col-md-6 col-sm-6 col-xs-5 col-md-offset-0">
                         <%= f.text_field :from_amount, class: 'form-control from-input', id: 'from_amount', placeholder: 'From Amount', value: params[:job].present? ? params[:job][:from_amount] : @job[:from_amount] %>
                        </div>

                        
                        <div class="col-md-6 col-sm-6 col-xs-5">
                            <%= f.text_field :to_amount, class: 'form-control from-input skill-input', id: 'to_amount', placeholder: 'To Amount', value: params[:job].present? ? params[:job][:to_amount] : @job[:to_amount] %>
                        </div> 
                  </div>
                  <div>&nbsp;</div>
                 <div class="form-group clearfix">
                    <label class="col-md-6 col-sm-6 col-xs-6">How to Apply</label>
                    <label class="col-md-5 col-md-offset-1 col-sm-6 col-xs-6"></label>
                    <div class="col-md-12 col-sm-6 col-xs-12 marginB10">

                    <%= f.select(:apply_type, options_for_select({ "Email" => "email", "URL" => "url", "Instruction" => "instruction" }, params[:job].present? ? params[:job][:apply_type] : @job[:apply_type]), {:include_blank => "-- Please select --"}, {'class' => 'custom-select', 'id' => 'apply_type'})  %>

                   
                             <!--  <select class="custom-select" name="job[apply_type]" id="apply_type">
                                <option value="email">Email</option>
                                <option value="url">URL</option>
                                <option value="instruction">Instruction</option>
                             </select>  -->
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-5 col-md-offset-1"> </div>
                </div>

                <div class="form-group clearfix" id="apply_email_div">
                    <label class="col-md-12 col-sm-12 col-xs-12">Application Email</label>
                    <div class="col-md-12 col-sm-12 col-xs-10">
                        <%= f.text_field :apply_email, class: 'form-control from-input', id: 'apply_email', placeholder: 'Apply by email', value: params[:job].present? ? params[:job][:apply_email] : @job[:apply_email] %>
                     </div>
                </div>
                <div class="form-group clearfix" id="apply_url_div">
                    <label class="col-md-12 col-sm-12 col-xs-12">Application URL</label>
                    <div class="col-md-12 col-sm-12 col-xs-10">
                        <%= f.text_field :apply_url, class: 'form-control from-input', id: 'apply_url', placeholder: 'Apply by url', value: params[:job].present? ? params[:job][:apply_url] : @job[:apply_url] %>
                     </div>
                </div>
                <div class="form-group clearfix" id="apply_instruction_div">
                    <label class="col-md-12 col-sm-12 col-xs-12">Application Instructions</label>
                    <div class="col-md-12 col-sm-12 col-xs-10">
                        <%= f.text_area :apply_instruction, class: 'form-control from-input message-form1 tinymce', id: 'apply_instruction', placeholder: 'Apply by url', value: params[:job].present? ? params[:job][:apply_instruction] : @job[:apply_instruction] %>

                        
                     </div>
                </div>

                  <div class="form-group clearfix">
                    <label class="col-md-12 col-sm-12 col-xs-12">Skills and expertise needed for job:</label>
                    <div class="col-md-12 col-sm-6 col-xs-6">
                    
                    <%= f.select(:skill, options_for_select(JobSkill.order('created_at DESC').pluck(:name, :id), params[:job].present? ? params[:job][:skill] : @job[:skill]), {:include_blank => false}, {'class' => 'form-control multi-select js-chosen-select-multi', 'id' => 'jobskill', multiple: true})  %>
                    
                     <!--  <input type="text" class="form-control from-input skill-input" placeholder=""> -->
                   
                    </div>
                  </div>
                  <div class="form-group clearfix">
                    <label class="col-md-12 col-sm-12 col-xs-12">software expertise needed for job:</label>
                    <div class="col-md-12 col-sm-12 col-xs-12">

                    <%= f.select(:software_expertise, options_for_select(SoftwareExpertise.order('created_at DESC').pluck(:name, :id), params[:job].present? ? params[:job][:software_expertise] : @job[:software_expertise]), {:include_blank => false}, {'class' => 'form-control multi-select js-chosen-select-multi', 'id' => 'jobsoftware_expertise', multiple: true})  %>
    
                    </div>
                  </div>

        <div class="panel panel-default">
            <div class="panel-body">
            <%= f.fields_for :tag do |tag_form| %>
            <% tag_options = [] 
            if params[:job].present?
                tag_options  = params[:job][:tag][:tag]
                tag_options.reject!{|a| a==""}

            elsif @job.try(:tags).present?
                @job.try(:tags).each_with_index do |tag, i|
                    tag_options[i] = tag['tag']
                end
            end
            %>

                <div class="clearfix marginB15">
                <label>Tags</label>
                   <!--  <input type="text" class="form-control from-input add-input1"> -->
                    <%= tag_form.select(:tag, options_for_select(tag_options, params[:job].present? ? params[:job][:tag][:tag] : tag_options), {:include_blank => false}, {'class' => 'form-control multi-select js-chosen-select-tags', 'id' => 'tag', multiple: true})  %>
                     <!-- <button type="button" class="green-btn addbtn">Add</button> -->
                </div>
         <% end %> 

            <div class="white-txt marginB15"><em>Separate tags with commas</em></div>
              <div class="blue-txt marginB15">Choose from the most used tags</div>
             

            <% if previous_tags.present? && 'edit' != params[:action] && 'update' != params[:action] %>
                <div class="form-group clearfix">
                    <div class="checkbox-btn">
                        <%= f.check_box :use_tag_from_previous_upload %>
                        <label for="job_use_tag_from_previous_upload" onclick>Use tags from previous upload </label>
                    </div>
                </div>

            <% end %>

            <%
                if @package.present?
                    @package.each_with_index do | value, index|
                       is_checked  = ""
                    if @job[:package_id].present? && !@job[:package_id].nil?   
                           is_exist_in_array  =  @job[:package_id].include? value.id.to_s
                           
                            if is_exist_in_array == true
                                    is_checked = "checked = checked"   
                            end    
                    end        
            %>

                    <label class="postJobUpgrade">
                        <div><input name="job[package_id][]" id="upsell_ids_" value="<%= value.id %>" data-js="postJobUpgrade" type="checkbox" <%= is_checked %>></div>
                        <div class="postJobUpgrade-intro">
                          <h5 class="u-mt--xsmall"><%= value.title %></h5>
                          <%= value.description %>
                        </div>
                        <div class="postJobUpgrade-price">$<%= value.amount %></div>
                    </label>
            <%      end 
                end
            %>
            </div>
          </div>






                
                </div>
                <!--<button class="green-btn border-radius" type="button"><i class="fa fa-floppy-o marginR5" aria-hidden="true"></i> Save</button>-->
           
            </div>
          </div>
          
          
        </div>



        <div class="aside col-sm-12 col-xs-12 padding">
                    <div class="panel panel-default">
                        <div class="panel-heading">Publish</div>
                        <div class="panel-body">
                            <div class="clearfix marginB15 row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <button type="submit" class="lightbtn" value="SaveDraft" name="commit">Save Draft</button>
                                </div>
                                <% if 'edit' == params[:action] || 'update' == params[:action] %>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <button onclick = "return preview('<%= @job.paramlink %>')" class="lightbtn" type="button">Preview</button>
                                </div>
                                <% end %>
                            </div>

                            <% if 'edit' == params[:action] || 'update' == params[:action] %>
                                <div class="clearfix marginB15 status-link"> <i class="fa fa-key marginR5 lightcolor" aria-hidden="true"></i> Status : <strong>
                                    <%  if @job.is_trash == 1 %>
                                        Trashed
                                    <%  elsif @job.is_save_to_draft == 1 %>
                                        Draft
                                    <% elsif @job.publish %>
                                        Published
                                    <% else %>
                                        Not Published 
                                    <% end %>    
                                        
                                    </strong>
                                </div>
                            <% end %>
                            
                            <div class="clearfix marginB15 status-link"> <i class="fa fa-eye marginR5 lightcolor" aria-hidden="true"></i> Visibility  : <strong>{{data.selectedOption.name}}</strong> <a href="javascript:void(0);" ng-click="view_visibility_option()" ng-show="show_visibility_edit_option">Edit</a> 
                                <div class="form-group clearfix createpost marginT10" ng-show="show_visibility_option">        
                                    <select id="visibility" name="job[visibility]" class="custom-select" ng-options="option.name for option in data.availableOptions track by option.id" ng-model="data.selectedOption" ng-change="view_visibility_edit_option()"></select>
                                </div>
                            </div>

                            <div class="clearfix marginB15 status-link"> 
                                <i class="fa fa-calendar marginR5 lightcolor" aria-hidden="true"></i> Publish : <strong>{{dataPublish.selectedOption.name}}</strong> <a href="javascript:void(0);" ng-click="view_publish_option()" ng-show="show_publish_edit_option">Edit</a> 


                                <div class='form-group clearfix marginT10' ng-show="show_publish_option">
                                    <div class='clearfix' >
                                        <select id="publish" name="job[publish]" class="custom-select" ng-options="option.name for option in dataPublish.availableOptions track by option.id" ng-model="dataPublish.selectedOption" ng-change="update_publish_type()"></select>
                                    </div>
                                     <div class='clearfix input-group date marginT10 right-panel-datetime-picker' id='datetimepicker1' ng-show="show_schedule_time" >
                                        <%= f.text_field :schedule_time, class: 'form-control from-input', id: 'schedule_time', placeholder: '', "ng-model" => "ctrl.schedule_time.date", "is-open" => "ctrl.schedule_time.open", "datetime-picker" => "yyyy-MM-dd HH:mm", 'readonly' => 'readonly' %>
                                        <span class="input-group-addon" ng-click="ctrl.openCalendar($event, 'schedule_time')"> <span class="glyphicon glyphicon-calendar"></span> </span>
                                    </div>    
                                                         
                                </div>


                            </div>
                            <div class="clearfix row">

                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <% if 'edit' == params[:action] %>
                                        <%= link_to 'Delete'.html_safe, trash_job_path(@job.paramlink), data: { confirm: 'Are you sure?' }, title: "Delete", class: "btn-link" %>
                                    <% end %>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                 <button type="submit" class="green-btn" value="Publish" name="commit">Publish</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Company Logo / Job Thumbnail</div>
                        <div class="panel-body padding">
                            <div class="marginB15 pos-rel img-company-logo">

                                <%= f.file_field(:company_logo, accept: "image/*", id: "companyLogoUpload", "ng-model" => "companyLogoUpload", onchange: "angular.element(this).scope().imageUpload(this)", class: "drag-photo") %>

                                <center>
                                    <img id='companylogoimage' src="/assets/database/jobs-logo.png" alt="img" class="img-responsive" ng-src="{{companyLogoImage}}">
                                </center>

                            </div>
                             <!--  <div id='crop_container'></div>   -->
                           <% for attribute in [:zoom_w, :zoom_h, :zoom_x, :zoom_y, :drag_x, :drag_y, :rotation_angle, :crop_x, :crop_y, :crop_w, :crop_h] %>
                                <%= f.hidden_field attribute, :id => attribute %>
                            <% end %>  
                            <div class="clearfix marginB15 text-center project-btn">
                               <!--  <div class="lightbtn"><i class="fa fa-crop marginR5 blue-txt" aria-hidden="true"></i> Crop</div> -->
                               <button id="cropbutton" type="button" class="lightbtn hidden" data-target="#modal_crop" data-toggle="modal"> <i class="fa fa-crop marginR5 blue-txt" aria-hidden="true"></i> Crop</button>

                                <div class="lightbtn" ng-click="clickCompanyLogoUpload()"><i class="fa fa-upload marginR5 blue-txt" aria-hidden="true"></i> Upload</div>
                                <%#= f.file_field(:company_logo, accept: "image/*", id: "companyLogoUpload", "ng-model" => "companyLogoUpload", onchange: "angular.element(this).scope().imageUpload(this)", style: "display: none;")%>


                                <div id="remove-custom-thumb" class="lightbtn hidden" ng-click="removeCompanyLogo()"><i class="fa fa-times marginR5 blue-txt" aria-hidden="true"></i> Remove custom thumbnail</div>
                            </div>
                            <div class="lightcolor txt12 marginB15 text-center">Drag and drop an image above to replace</div>

                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Visibility</div>
                        <div class="panel-body">
                            <div class="white-txt marginB15"> Where do you want this Project to show?</div>
                            <div class="checkbox-btn marginB15">
                                <%= f.check_box :show_on_cgmeetup , name: 'job[show_on_cgmeetup]', id: 'gallery_show_on_cgmeetup' %>
                                <label for="gallery_show_on_cgmeetup" onclick>CGMeetup.net</label>
                            </div>
                            <div class="checkbox-btn">
                                <%= f.check_box :show_on_website , name: 'job[show_on_website]', id: 'gallery_show_on_website' %>
                                <label for="gallery_show_on_website" onclick>My Website</label>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="panel panel-default">
                        <div class="panel-heading">Albums</div>
                        <div class="panel-body"> </div>
                    </div> -->
                </div>




        <% end %> 
      </section>
            <div class="modal fade default-popup" id="add-video-popup" role="dialog">
                <div class="modal-dialog"> 

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" id="close-btn-add-video-popup"></button>
                            <h4 class="modal-title text-uppercase">Add Video</h4>
                        </div>

                        <div class="modal-body"> 
                            <form id='test' action="javascript:void(0);" ng-submit="getVideoDetailFromURL()">   
                                <div class="col-md-12 add-video-alert err-msg padding text-center">{{addVideoErr}}</div>  
                                <div class="form-group clearfix">
                                    <label>Paste a Vimeo or YouTube video URL here</label>
                                    <input type="url" placeholder="Video URL" value="" ng-model="videoURL" id="videoURL" class="form-control from-input" />
                                    <button type="submit" ng-show="false">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div  class="modal fade default-popup" id="modal_crop" aria-labelledby="modalLabel" role="dialog" tabindex="-1">
              <div class="modal-dialog" role="document">
                <div class="modal-content">

                  <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal"></button>
                    <h5 class="modal-title" id="modalLabel">Crop the image</h5>
                  
                  </div>
                  <div class="modal-body">
                    <div>
                        <img id="cropimage" src="" alt="Picture">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default lightbtn" data-dismiss="modal">Crop</button>
                  </div>
                </div>
              </div>
            </div>

             <div class="modal fade default-popup" id="add-sketchfab-popup" role="dialog">
                <div class="modal-dialog"> 

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" id="close-btn-add-sketchfab-popup"></button>
                            <h4 class="modal-title text-uppercase">Add Sketchfab ED Model</h4>
                        </div>

                        <div class="modal-body"> 
                            <form id='test' action="javascript:void(0);" ng-submit="getSketchfabDetailFromURL()">   
                                <input ng-model="sketchfabThumbnail" id="sketchfabThumbnail" value="" type="hidden" />
                                <div class="col-md-12 add-sketchfab-alert err-msg padding text-center">{{addSketchfabErr}}</div>  
                                <div class="form-group clearfix">
                                    <label>Paste a <a href="http://www.sketchfab.com" target="_blank">Sketchfab</a> URL here</label>
                                    <input type="url" placeholder="Sketchfab URL" value="" ng-model="sketchfabURL" id="sketchfabURL" class="form-control from-input" />

                                    <button type="submit" ng-show="false">Submit</button>
                                </div>
                                <div class="clearfix" id="sketchfabView">
                                </div>
                                <input type="text" placeholder="Enter Caption" ng-model="caption_sketchfeb" value=""  id="caption_sketchfeb" class="hidden form-control from-input" /> 
                            </form>
                        </div>

                        <div class="modal-footer hidden" id="footerSketchfabPopup">
                            <button type="button" class="btn btn-default lightbtn" ng-click="addSketchfabURL()">Add Model</button>
                        </div>

                    </div>
                </div>
            </div>


    </div>
  </div>

</section>
</div>
</div>

<script type="text/javascript">
    $(document).ready(function(){

         selected_apply_type    =  "<%= @job[:apply_type] %>"
        // alert(selected_apply_type);
         if(selected_apply_type != ''){

                if(selected_apply_type == 'email'){
                     $('#apply_email_div').show();
                     $('#apply_url_div').hide();
                     $('#apply_instruction_div').hide();


                }else if(selected_apply_type == 'url'){

                     $('#apply_email_div').hide();
                     $('#apply_url_div').show();
                     $('#apply_instruction_div').hide();   
                    
                }else if(selected_apply_type == 'instruction'){

                     $('#apply_email_div').hide();
                     $('#apply_url_div').hide();
                     $('#apply_instruction_div').show();
                    
                }else{
                     $('#apply_email_div').hide();
                     $('#apply_url_div').hide();
                     $('#apply_instruction_div').hide();


                }

         }else{  //alert('hello');
                $('#apply_email_div').hide();
                $('#apply_url_div').hide();
                $('#apply_instruction_div').hide();

         }


        $('#apply_type').on('change',function(){
                apply_type = $('#apply_type').val();
                if(apply_type == 'email'){
                        $('#apply_email_div').show();
                        $('#apply_url_div').hide();
                        $('#apply_instruction_div').hide();

                }else if(apply_type == 'url'){
                        $('#apply_email_div').hide();
                        $('#apply_url_div').show();
                        $('#apply_instruction_div').hide();

                }else if(apply_type == 'instruction'){
                        $('#apply_email_div').hide();
                        $('#apply_url_div').hide();
                        $('#apply_instruction_div').show();

                }else{

                        $('#apply_email_div').hide();
                        $('#apply_url_div').hide();
                        $('#apply_instruction_div').hide();
                }
        });

    });


    function preview(paramlink){
      window.location.href = '<%= root_url %>'+'job/apply-job/'+paramlink;
    }

</script>
<script>


    // main page angular app start
    var app = angular.module('New_Job', ["angularLazyImg", 'ui.bootstrap', 'ui.bootstrap.datetimepicker',"MainModule"]);

    app.controller('NewJobCtrl', function($scope, $http) {

        var that = this;

        //profile pic upload
        $scope.clickCompanyLogoUpload = function(){
          angular.element('#companyLogoUpload').trigger('click');
        };

        $scope.companyLogoImage = '';
        <% if @job.try(:company_logo).try(:large_image).try(:url).present? %>
            $scope.companyLogoImage = "<%= @job.company_logo.large_image.url %>";
        <% end %>    

        $scope.imageUpload = function(element){

            var reader = new FileReader();
            reader.onload = $scope.imageIsLoaded;

            reader.readAsDataURL(element.files[0]);
        }

        $scope.imageIsLoaded = function(e){
            $scope.$apply(function() {

                $scope.companyLogoImage= e.target.result;
                angular.element('#crop_w').val('');
                angular.element('#crop_h').val('');
                angular.element('#crop_x').val('');
                angular.element('#crop_y').val('');
                angular.element('#zoom_w').val('');
                angular.element('#zoom_h').val('');
                angular.element('#zoom_x').val('');
                angular.element('#zoom_y').val('');
                angular.element( document.querySelector( '#cropbutton' ) ).removeClass('hidden');
                angular.element( document.querySelector( '#remove-custom-thumb' ) ).removeClass('hidden');

            });
        }

        $scope.removeCompanyLogo = function(e){
            $scope.companyLogoImage= "/assets/database/jobs-logo.png";
            angular.element('#companyLogoUpload').val(null);
            angular.element('#crop_w').val('');
            angular.element('#crop_h').val('');
            angular.element('#crop_x').val('');
            angular.element('#crop_y').val('');
            angular.element('#zoom_w').val('');
            angular.element('#zoom_h').val('');
            angular.element('#zoom_x').val('');
            angular.element('#zoom_y').val('');
            angular.element( document.querySelector( '#cropbutton' ) ).addClass('hidden');
            angular.element( document.querySelector( '#remove-custom-thumb' ) ).addClass('hidden');
        }

        visibility_sel_id = '0';
        visibility_sel_name = 'Public';

        publish_sel_id = '1';
        publish_sel_name = 'Immediately';

        $scope.show_visibility_option = false;
        $scope.show_visibility_edit_option = true;
        $scope.show_schedule_time = false;
        $scope.show_publish_option = false;
        $scope.show_publish_edit_option = true;

        this.schedule_time = {
            date: new Date()
        };
        

        <% if params['job'].present? %>

            <% if params['job']['visibility'] == '1' %>
                visibility_sel_id = '1';
                visibility_sel_name = 'Private';
            <% end %>

            <% if params['job']['publish'] == '0' %>
                publish_sel_id = '0';
                publish_sel_name = 'Schedule';

                $scope.show_publish_option = true;
                $scope.show_publish_edit_option = false;
                $scope.show_schedule_time = true;

                <% if params['job']['schedule_time'] != '' %>
                    var schedule_time_val = '<%= params['job']['schedule_time'] %>';
                    this.schedule_time = {
                        date: new Date(schedule_time_val)
                    };
                <% else %>
                    this.schedule_time = {
                    };   
                <% end %>
            <% end %>

        <% elsif 'edit' == params[:action] || 'update' == params[:action] %>
                <% if @job.visibility == 1 %>
                    visibility_sel_id = '1';
                    visibility_sel_name = 'Private'; 
                <% end %>

                <% if @job.publish == 0 %>
                    publish_sel_id = '0';
                    publish_sel_name = 'Schedule';

                    $scope.show_publish_option = true;
                    $scope.show_publish_edit_option = false;
                    $scope.show_schedule_time = true;

                    <% if @job.schedule_time != '' %>
                        var schedule_time_val = '<%= @job.schedule_time %>';
                        this.schedule_time = {
                            date: new Date(schedule_time_val)
                        };
                    <% else %>
                        this.schedule_time = {
                        };   
                    <% end %>
                <% end %>


        <% end %>

        $scope.data = {
            availableOptions: [
                {id: '0', name: 'Public'},
                {id: '1', name: 'Private'}
            ],
            selectedOption: {id: visibility_sel_id, name: visibility_sel_name} //This sets the default value of the select in the ui
        };

        $scope.view_visibility_option = function(){
            $scope.show_visibility_option = true;
            $scope.show_visibility_edit_option = false;
        } 
       
        $scope.view_visibility_edit_option = function(){
            $scope.show_visibility_option = false;
            $scope.show_visibility_edit_option = true;
        }


        $scope.dataPublish = {
            availableOptions: [
                {id: '1', name: 'Immediately'},
                {id: '0', name: 'Schedule'}
            ],
            selectedOption: {id: publish_sel_id, name: publish_sel_name} //This sets the default value of the select in the ui
        };

        $scope.view_publish_option = function(){
            $scope.show_publish_option = true;
            $scope.show_publish_edit_option = false;
        } 
       
        $scope.update_publish_type = function(){
            
            if ($scope.dataPublish.selectedOption.id == 0){
                $scope.show_schedule_time = true;
            }else{
                $scope.show_schedule_time = false;    
            }

        }
        
        this.openCalendar = function(e, picker) {
            that[picker].open = true;
        };

/***** for edit page section start*******/

         //To get saved zip and update them
        $scope.add_zip_default = <%= @job.zip_files.to_json.html_safe %>;
        $scope.removeZipDefault = function (x, id) {   
            var removedid = angular.element('#gallery_removedzip').attr('value');

            if(removedid == ''){
                removedid = id;
            }else{
                removedid = removedid + ',' +id;
            }

            angular.element('#gallery_removedzip').attr('value', removedid);

            angular.element( document.querySelector( '#lizipdefault' + x ) ).addClass('hidden');
            angular.element( document.querySelector( '#lizipdefault' + x ) ).html('');
        }




        //To get saved images and update them
        $scope.add_images_default = <%= @job.images.to_json.html_safe %>;
        $scope.removeImageDefault = function (x, id) {   
            var removedid = angular.element('#gallery_removedimages').attr('value');

            if(removedid == ''){
                removedid = id;
            }else{
                removedid = removedid + ',' +id;
            }

            angular.element('#gallery_removedimages').attr('value', removedid);

            angular.element( document.querySelector( '#lidefault' + x ) ).addClass('hidden');
            angular.element( document.querySelector( '#lidefault' + x ) ).html('');
        }


        //To get saved video_url and update them
        $scope.add_video_url_default = <%= @job.videos.to_json.html_safe %>;
        $scope.removeVideoURLDefault = function (x, id) {   
            var removedid = angular.element('#gallery_removedvideourl').attr('value');

            if(removedid == ''){
                removedid = id;
            }else{
                removedid = removedid + ',' +id;
            }

            angular.element('#gallery_removedvideourl').attr('value', removedid);

            angular.element( document.querySelector( '#livideourldefault' + x ) ).addClass('hidden');
            angular.element( document.querySelector( '#livideourldefault' + x ) ).html('');
        }

        angular.forEach($scope.add_video_url_default, function(value, key) {
            
            url = '/get_video_detail_from_url?url=' + value['video'];

            $http.get(url)
            .then(function(response) {
                angular.element( document.querySelector( '#gallery_video_url_image_view_default_' + key ) ).attr('src', response.data.thumbnail);
            })
            .catch(function(response) {
            })
            .finally(function() {
                
            });
        });

        //To get saved sketchfab and update them
        $scope.add_sketchfab_url_default = <%= @job.sketchfebs.to_json.html_safe %>;
        $scope.removeSketchfabURLDefault = function (x, id) {   
            var removedid = angular.element('#gallery_removedsketchfab').attr('value');

            if(removedid == ''){
                removedid = id;
            }else{
                removedid = removedid + ',' +id;
            }

            angular.element('#gallery_removedsketchfab').attr('value', removedid);

            angular.element( document.querySelector( '#lisketchfaburldefault' + x ) ).addClass('hidden');
            angular.element( document.querySelector( '#lisketchfaburldefault' + x ) ).html('');
        }

        angular.forEach($scope.add_sketchfab_url_default, function(value, key) {
            
            url = 'https://sketchfab.com/oembed?url=' + value['sketchfeb'] + '&maxwidth=568&dataType=jsonp';

            $http.get(url)
            .then(function(response) {       
                angular.element( document.querySelector( '#gallery_sketchfab_url_image_view_default_' + key ) ).attr('src', response.data.thumbnail_url);               
            })
            .catch(function(response) {
            })
            .finally(function() {
                
            });
        });

        //To get saved upload video and update them
        $scope.add_upload_videos_default = <%= @job.upload_videos.to_json.html_safe %>;
        $scope.removeUploadVideoDefault = function (x, id) {   
            var removedid = angular.element('#gallery_removedUploadVideo').attr('value');

            if(removedid == ''){
                removedid = id;
            }else{
                removedid = removedid + ',' +id;
            }

            angular.element('#gallery_removedUploadVideo').attr('value', removedid);

            angular.element( document.querySelector( '#liuploadvideodefault' + x ) ).addClass('hidden');
            angular.element( document.querySelector( '#liuploadvideodefault' + x ) ).html('');
        }

        angular.forEach($scope.add_upload_videos_default, function(value, key) {

            url = '/get_upload_video_thumbnail?url=' + value['uploadvideo']['url'];

            $http.get(url)
            .then(function(response) {       
                angular.element( document.querySelector( '#gallery_upload_video_view_default_' + key ) ).attr('src', response.data.thumbnail);               
            })
            .catch(function(response) {
            })
            .finally(function() {
                
            });
        });

        //To get saved marmoset and update them
        $scope.add_marmo_sets_default = <%= @job.marmo_sets.to_json.html_safe %>;
        $scope.removeMarmoSetDefault = function (x, id) {   
            var removedid = angular.element('#gallery_removedMarmoset').attr('value');

            if(removedid == ''){
                removedid = id;
            }else{
                removedid = removedid + ',' +id;
            }

            angular.element('#gallery_removedMarmoset').attr('value', removedid);

            angular.element( document.querySelector( '#limarmosetdefault' + x ) ).addClass('hidden');
            angular.element( document.querySelector( '#limarmosetdefault' + x ) ).html('');
        }



/*********for edit page section end***************/

    
    /********* add new zip ***************/
        var add_zip_count = 0;
        $scope.add_zip = [];
        
        console.log($scope.add_zip);

        $scope.addNewZip = function () {
            $scope.add_zip.push(add_zip_count);

            add_zip_count++;

            setTimeout(function() {

               add_zip_count_test = add_zip_count - 1; 
               angular.element('#gallery_zip_image_' + add_zip_count_test).trigger('click');
               
            }, 200);

        }

        $scope.removeZip = function (x) {   
            //angular.element( document.querySelectorAll( '#gallery_image_caption_image_' + x ) ).remove();
            //angular.element( document.querySelectorAll( '#gallery_image_image_' + x ) ).remove();
            angular.element( document.querySelector( '#lizip' + x ) ).addClass('hidden');
            angular.element( document.querySelector( '#lizip' + x ) ).html('');
            //$scope.add_images.splice(x, 1);
        }

        $scope.newZipUpload = function(element){
            var reader = new FileReader();
            reader.onload = $scope.newZipIsLoaded;
            reader.readAsDataURL(element.files[0]);
        }

        $scope.newZipIsLoaded = function(e){
            $scope.$apply(function() {
                add_zip_count_test = add_zip_count - 1;
                angular.element( document.querySelector( '#gallery_zip_view_' + add_zip_count_test ) ).attr('src', e.target.result);
                angular.element( document.querySelector( '#lizip' + add_zip_count_test ) ).removeClass('hidden');
            });
        }


/********* add new images ***************/
        var add_images_count = 0;
        $scope.add_images = [];
        
        console.log($scope.add_images);

        $scope.addNewImages = function () {
            $scope.add_images.push(add_images_count);

            add_images_count++;

            setTimeout(function() {

               add_images_count_test = add_images_count - 1; 
               angular.element('#gallery_image_image_' + add_images_count_test).trigger('click');
               
            }, 200);

        }

        $scope.removeImage = function (x) {   
            //angular.element( document.querySelectorAll( '#gallery_image_caption_image_' + x ) ).remove();
            //angular.element( document.querySelectorAll( '#gallery_image_image_' + x ) ).remove();
            angular.element( document.querySelector( '#li' + x ) ).addClass('hidden');
            angular.element( document.querySelector( '#li' + x ) ).html('');
            //$scope.add_images.splice(x, 1);
        }

        $scope.newImageUpload = function(element){
            var reader = new FileReader();
            reader.onload = $scope.newImageIsLoaded;
            reader.readAsDataURL(element.files[0]);
        }

        $scope.newImageIsLoaded = function(e){
            $scope.$apply(function() {
                add_images_count_test = add_images_count - 1;
                angular.element( document.querySelector( '#gallery_image_view_' + add_images_count_test ) ).attr('src', e.target.result);
                angular.element( document.querySelector( '#li' + add_images_count_test ) ).removeClass('hidden');
            });
        }

        /***************Add Video from url ****************/


        var add_video_url_count = 0;
        $scope.add_video_url = [];

        $scope.addVideoURL = function (response) {
            $scope.add_video_url.push(add_video_url_count);
            add_video_url_count++;

            setTimeout(function() {

               add_video_url_count_test = add_video_url_count - 1; 
               angular.element( document.querySelector( '#gallery_video_url_image_view_' + add_video_url_count_test ) ).attr('src', response.data.thumbnail);
               angular.element('#gallery_videos_video_' + add_video_url_count_test).attr('value', $scope.videoURL);
               angular.element('#gallery_videos_caption_video_' + add_video_url_count_test).html(response.data.title);

               angular.element('#close-btn-add-video-popup').trigger('click');
               
            }, 200);
        }

        $scope.removeVideoURL = function (x) {
            angular.element( document.querySelector( '#livideourl' + x ) ).addClass('hidden');
            angular.element( document.querySelector( '#livideourl' + x ) ).html('');
            //$scope.add_video_url.splice(x, 1);
        }


        $scope.getVideoDetailFromURL = function() {

            url = '/get_video_detail_from_url?url=' + $scope.videoURL;

            $scope.addVideoErr = '';
            $http.get(url)
            .then(function(response) {
                /*alert(response.data.title);
                alert(response.data.thumbnail);
                console.log(response);*/
                $scope.addVideoURL(response);
                //$scope.job_data = response.data;
            })
            .catch(function(response) {
                $scope.addVideoErr = 'Invalid Url';
            })
            .finally(function() {
                
            });
        };

/***************Add sketchfab from url ****************/


        var add_sketchfab_url_count = 0;
        $scope.add_sketchfab_url = [];

        $scope.addSketchfabURL = function () {
            //console.log(response.data.title);
            $scope.add_sketchfab_url.push(add_sketchfab_url_count);
            add_sketchfab_url_count++;


            setTimeout(function() {
               add_sketchfab_url_count_test = add_sketchfab_url_count - 1; 

               sketchfabThumbnailuRL = angular.element('#sketchfabThumbnail').val();
               sketchfabCaption = angular.element('#caption_sketchfeb').val();

               angular.element( document.querySelector( '#gallery_sketchfab_url_image_view_' + add_sketchfab_url_count_test ) ).attr('src', sketchfabThumbnailuRL);
               angular.element('#gallery_sketchfebs_sketchfeb_' + add_sketchfab_url_count_test).attr('value', $scope.sketchfabURL);
               
               angular.element('#gallery_sketchfebs_caption_sketchfeb_' + add_sketchfab_url_count_test).val(sketchfabCaption);

               angular.element('#close-btn-add-sketchfab-popup').trigger('click');
               
            }, 200);
        }

        $scope.removeSketchfabURL = function (x) {
            angular.element( document.querySelector( '#lisketchfaburl' + x ) ).addClass('hidden');
            angular.element( document.querySelector( '#lisketchfaburl' + x ) ).html('');
            //$scope.add_video_url.splice(x, 1);
        }


        $scope.getSketchfabDetailFromURL = function() {

            url = 'https://sketchfab.com/oembed?url=' + $scope.sketchfabURL + '&maxwidth=568&dataType=jsonp';

            $scope.addSketchfabErr = '';
            $http.get(url)
            .then(function(response) {
                //alert(response.data.title);
               // alert(response.data.thumbnail);
               // console.log(response);

//console.log(response.data.thumbnail_url);

                angular.element( document.querySelector( '#sketchfabView') ).html(response.data.html);
               
                angular.element('#sketchfabThumbnail').val(response.data.thumbnail_url);

                
                angular.element( document.querySelector( '#footerSketchfabPopup') ).removeClass('hidden');
                angular.element( document.querySelector( '#caption_sketchfeb') ).removeClass('hidden');

                angular.element( document.querySelector( '#caption_sketchfeb') ).val(response.data.title);

                // angular.element('#caption_sketchfab').val(response.data.title);

             //   angular.element( document.querySelector( '#caption_sketchfeb') ).removeClass('hidden');

                //$scope.addSketchfabURL(response);

                //$scope.job_data = response.data;
            })
            .catch(function(response) {
                $scope.addSketchfabErr = 'Invalid Url';
            })
            .finally(function() {
                
            });
        };

  /********* add Marmoset ***************/

        var add_marmo_set_count = 0;
        $scope.add_marmo_sets = [];

        $scope.addNewMarmoSets = function (response) {
            $scope.add_marmo_sets.push(add_marmo_set_count);

            add_marmo_set_count++;

            setTimeout(function() {

               add_marmo_set_count_test = add_marmo_set_count - 1; 
               angular.element('#gallery_marmo_sets_marmoset_' + add_marmo_set_count_test).trigger('click');
               angular.element('#gallery_marmo_sets_caption_marmoset_' + add_marmo_set_count_test).html(response.data.title);
               
            }, 200);

        }

        $scope.removeMarmoSet = function (x) {  
            angular.element( document.querySelector( '#limarmoset' + x ) ).addClass('hidden');
            angular.element( document.querySelector( '#limarmoset' + x ) ).html('');
            //$scope.add_marmo_sets.splice(x, 1);
        }

        $scope.newMarmoSet = function(element){
        
            var reader = new FileReader();
            reader.onload = $scope.newMarmoSetIsLoaded;
            reader.readAsDataURL(element.files[0]);
        }

        $scope.newMarmoSetIsLoaded = function(e){
            $scope.$apply(function() {
                add_marmo_set_count_test = add_marmo_set_count - 1;
                angular.element( document.querySelector( '#gallery_marmo_set_view_' + add_marmo_set_count_test ) ).attr('src', e.target.result);
                angular.element( document.querySelector( '#limarmoset' + add_marmo_set_count_test ) ).removeClass('hidden');
            });
        }

/********* add upload video ***************/

        var add_upload_video_count = 0;
        $scope.add_upload_videos = [];

        $scope.addNewUploadVideos = function () {
            $scope.add_upload_videos.push(add_upload_video_count);

            add_upload_video_count++;

            setTimeout(function() {

               add_upload_video_count_test = add_upload_video_count - 1; 
               angular.element('#gallery_upload_videos_uploadvideo_' + add_upload_video_count_test).trigger('click');
               
            }, 200);

        }

        $scope.removeUploadVideo = function (x) {  
            angular.element( document.querySelector( '#liuploadvideo' + x ) ).addClass('hidden');
            angular.element( document.querySelector( '#liuploadvideo' + x ) ).html('');
            //$scope.add_upload_videos.splice(x, 1);
        }

        $scope.newVideoUpload = function(element){
            var reader = new FileReader();
            reader.onload = $scope.newUploadVideoIsLoaded;
            reader.readAsDataURL(element.files[0]);
        }

        $scope.newUploadVideoIsLoaded = function(e){
            $scope.$apply(function() {
                add_upload_video_count_test = add_upload_video_count - 1;
                angular.element( document.querySelector( '#gallery_upload_video_view_' + add_upload_video_count_test ) ).attr('src', e.target.result);
                angular.element( document.querySelector( '#liuploadvideo' + add_upload_video_count_test ) ).removeClass('hidden');
            });
        }
        

    });

    $(document).ready(function(){

        $('#job_use_tag_from_previous_upload').click(function(){
            var previous_tags = <%= previous_tags.to_json.html_safe %>;
            
            if($(this). prop("checked") === true){
                $( previous_tags ).each(function( index ) {
                    $("#tag").append($('<option>', {value: this, text: this}));
                });
                $('#tag option').prop('selected', true);
            }else{
                $( previous_tags ).each(function( index ) {
                    $("#tag option[value='" + this + "']").remove();
                });
            }

        });

        $('#add-video-popup').on('hidden.bs.modal', function () {
            $('#videoURL').val('');
        })

        $('#add-sketchfab-popup').on('hidden.bs.modal', function () {
            $('#sketchfabURL').val('');
            $('#sketchfabThumbnail').val('');
            $('#sketchfabView').html('');
            $('#footerSketchfabPopup').addClass('hidden');
        })

/*****************Crop image code**********************/
     var flag = 0;
        $('#companylogoimage').on('load',function(){ 
             $('#cropimage').attr('src',$('#companylogoimage').attr('src'));
             var $image = $('#cropimage').attr('src');

              var cropBoxData;
              var canvasData;

              $('#modal_crop').on('shown.bs.modal', function () {
                    $('#cropimage').cropper({
                          autoCropArea: 0.5,
                          ready: function () {
                                $('#cropimage').cropper('setCanvasData', canvasData);
                                $('#cropimage').cropper('setCropBoxData', cropBoxData);
                            }
                    });
              }).on('hidden.bs.modal', function () {
                    
                    cropBoxData = $('#cropimage').cropper('getCropBoxData');
                    canvasData  = $('#cropimage').cropper('getCanvasData');

                    var crop_w = '';   
                    var crop_h = '';   
                    var crop_x = '';   
                    var crop_y = '';   
                    var zoom_w = '';   
                    var zoom_h = '';   
                    var zoom_x = '';   
                    var zoom_y = '';   

                    if(flag == 0){
                        
                        zoom_w = canvasData.width;   
                        zoom_h = canvasData.height;   
                        zoom_x = canvasData.left;   
                        zoom_y = canvasData.top;  
                        crop_w = cropBoxData.width;   
                        crop_h = cropBoxData.height;   
                        crop_x = cropBoxData.left;   
                        crop_y = cropBoxData.top;  

                        $('#crop_w').val(crop_w);
                        $('#crop_h').val(crop_h);
                        $('#crop_x').val(crop_x);
                        $('#crop_y').val(crop_y);
                        $('#zoom_w').val(zoom_w);
                        $('#zoom_h').val(zoom_h);
                        $('#zoom_x').val(zoom_x);
                        $('#zoom_y').val(zoom_y);    

                    }   

                    flag = 1;
                    $('#cropimage').cropper('destroy');
                });
        });


      $('#post_type_category_id').on('change',function(){
            post_type_id = $(this).val();
            $.ajax({
                type: "GET",
                url: "/getsubjectmatter" ,
                data:{post_type_id:post_type_id},
                success: function(data){
                    var options = '';
                      for (var i = 0; i < data.length; i++) {
                        options += '<option value="' + data[i][1]+ '">' + data[i][0] + '</option>';
                      }
                    
                 $("select#subject_matter_id").html(options);
                }
            });

      }); 

    $("#gallery_image_image_999").on('change',function(){
       $('#gallery_removedids').val('')
       var outputhtml  =   '';  
       var j = 999;    
       var k = 0;    

        for(i=0; i< this.files.length; i++){
             
            reader = new FileReader();  
            reader.readAsDataURL(this.files[i]);
            var ext = this.files[i].name.split('.').pop().toLowerCase();
            if($.inArray(ext, ['gif','png','jpg','jpeg','tif','tiff','bmp']) == -1) {
                alert('Please choose valid image only.');
                return false;
            }
           reader.onload = function(event){
                outputhtml  +=   '<li class="clearfix col-md-3 col-sm-3 col-xs-6 marginB15" id="li'+j+'"><div class="galleryselect clearfix"><div class="gallery-select-top clearfix"> <span class="pull-left"><i class="fa fa-upload" aria-hidden="true"></i></span> <span class="pull-right"><a  href="javascript:void(0);" onclick="removethumb('+j+','+k+')" id="remove_'+j+'" class="fa fa-times" aria-hidden="true"></a></span> </div><center><img src="'+event.target.result+'" alt="img" class="img-responsive img-preview" id="gallery_image_view_'+j+'" ></center><div class="clearfix padding10"><textarea class="form-control reel-txt" name="job[avatar_caption][][caption_image]" id="gallery_image_caption_image_'+j+'" placeholder="Enter caption"></textarea></div></div></li>';
                
                j = j +1;
                k = k +1;
            };
         }   
       
        setTimeout(function() {
            $('#output').html(outputhtml);
        }, 500); 
             
    });
     

 });

 function removethumb(rt,k){
    $('li#li'+rt).hide();

    var removedid = $('#gallery_removedids').val();
    if(removedid == ''){
        removedid = k;
    }else{
        removedid = removedid + ',' +k;
    }

    $('#gallery_removedids').val(removedid);
 }
</script>
<script type="text/javascript">
    $(function () {
        $('#closing_date').datetimepicker({

    startDate: '-0d',
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0,
    dateFormat: 'mm-dd-yy', 
    changeMonth: true,
    changeYear: true,
    yearRange: '-70:+10',
        });
    });

    angular.bootstrap(document.getElementById("New_Job"), ['New_Job']);
</script>