<section class="wip-navigation-wrap">
      <%= render 'layouts/browse_sub_header' %>
</section>
<div id="myApp2" ng-app="myApp" ng-controller="myCtrl as ctrl">
    <!-- Submenu Navigation -->


    <!-- Showcase & Discover Creative Work -->
    <section class="clearfix showcase-wrap text-center">
        <div class="container">
            <div class="showcase-title text-center">Showcase &amp; Discover Creative Work</div>
            <div class="showcase-txt text-center">for <a href="#">Demo Reel <i></i></a>, <a href="#">Digital Art<i></i></a>, <a href="#">Making of &amp; Vfx Breakdown<i></i></a>, <a href="#">Concept Art<i></i></a> and more</div>
            <div class="clearfix wip-gallery-wrap">
                <div class="col-md-6 col-sm-4 col-xs-12 marginB10">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" maxlength="64" placeholder="Enter a keyword..." ng-model="search" />
                        <span class="input-group-addon">
                        <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
                        </span> 
                    </div>
                </div>
                 <div class="col-md-6 col-sm-4 col-xs-12 marginB10 text-left">

                    <select class="custom-select challenge-type-link"  ng-change="searchByChallengeType(selected)" ng-model='selected'>
                      <option value="" class="challenge-type-link"  id="challenge-type-link-all" selected="selected">All</option>
                      <% 
                            challengetype  = Challenge::CHALLENGE_TYPE
                            if challengetype.present?
                                challengetype.each_with_index do |value,index| #abort(value[1].to_json) %>
                                <option value = "<%= value[1] %>" class="challenge-type-link"  id="challenge-type-link-<%= value[1] %>"> <%= value[0] %></option>
                      <% 
                            end 
                        end
                      %>
                    </select>
                </div>
              <!--  <div class="col-md-5 col-sm-4 col-xs-12 marginB10 text-left">
                    <select class="custom-select">
                        <option>Category</option>
                    </select>
                </div> -->
            </div>
            <div class="showcase-btn-wrap clearfix text-center">
                <% if user_signed_in? %>
                  <button onclick="redirect_to_create_gallery();" type="button" class="btn btn-success border-radius marginB10">Upload</button>
                  <% end %>
                  <button type="button" class="btn btn-default border-radius marginB10 browse-by" id="browse-by-link-popular" ng-click="browseBy('popular')">Browse Popular Challenges</button>
                  <button type="button" class="btn btn-default border-radius marginB10 browse-by" id="browse-by-link-top" ng-click="browseBy('top')">Browse Top Challenges </button>
            </div>
        </div>
    </section>

    <div class="clearfix wipwrap">
        <div class="wiptabs clearfix">
            <ul class="nav nav-pills">
                <li class="dropdown active"> <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-th txt15 marginR5" aria-hidden="true"></i> Challenges <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);" ng-click="searchByChallengeType('all')" class="active challenge-type-link"  id="challenge-type-link-all">All</a>
                        </li>

                        <li class="clearfix" ng-repeat="x in <%= Challenge::CHALLENGE_TYPE %>">
                            <a href="javascript:void(0);" ng-click="searchByChallengeType(x[1])" class="challenge-type-link"  id="challenge-type-link-{{x[1]}}">{{x[0]}}</a>

                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>


    <!-- Challenge Home Page Content -->
    <section class="challenge-home-wrap clearfix">
        <div class="container">
            <div class="challenge-home clearfix">
                <div class="row">
                    <ul>

                        <li class="col-md-3 col-sm-4 col-xs-12" dir-paginate="x in challenge_data | filter:search | itemsPerPage:10" pagination_id = "challenge" >
                            <div class="challeng-indent clearfix"> <a href="/contest/{{x.result.id}}/show" class="viewchallengebtn">View Challenge</a>
                                <div class="challenge-profile"><img lazy-img="<%= root_url %>{{ x.result.company_logo.tutorial_list.url }}" class="img-responsive tutorial-img-height" style="width: 100%;" ></div>
                                <div class="padding10 clearfix">
                                    <div class="challenge-title">{{x.result.title}}</div>
                                    <div class="challenge-txt"><i class="fa fa-calendar marginR5" aria-hidden="true"></i>


                                    <span ng-if="x.result.opening_date != NULL && x.result.opening_date != ''">        
                                        {{dateFormat(x.result.opening_date) | date:'dd MMMM yyyy' }} 
                                    </span>

                                    <span ng-if="x.result.opening_date != NULL && x.result.opening_date != '' && x.result.closing_date != NULL && x.result.closing_date != ''">        
                                        -
                                    </span>

                                    <span ng-if="x.result.closing_date != NULL && x.result.closing_date != ''">   
                                        {{dateFormat(x.result.closing_date) | date:'dd MMMM yyyy'}}
                                    </span>

                                    </div>
                                 
                                    <div class="challenge-txt"><i class="fa fa-users marginR5" aria-hidden="true"></i> {{x.challenger_count}} challengers</div>
                                    <button ng-click="redirect_to_show(x.result.id)" class="lightbtn marginR5"><i class="fa fa-arrow-right blue-txt marginR5" aria-hidden="true"></i> View</button>  
                                   <!--  <button ng-click="redirect_to_join_challenge(x.id)" class="lightbtn marginL5"><i class="fa fa-arrow-right marginR5 blue-txt" aria-hidden="true"></i> My Submission</button> -->
                                </div>
                            </div>
                        </li>

                    </ul>

                    <div class="clearfix downbox text-center err-msg no-result" ng-hide="challenge_data.length" >No Result Found!</div>   
                </div>
    <%#= render 'layouts/paging' %>
       <dir-pagination-controls
           max-size="1"
           direction-links="true"
           pagination_id = "challenge"
           boundary-links="false" >
      </dir-pagination-controls>
    </div>
    <div class="clearfix challenge-home-submission">
    <h2>Submissions</h2>
   
    <div class="challenge-home-link clearfix"> <span>Latest Updates</span> | 
             <a href="javascript:void(0);" id="popular_link" ng-click="browse_submission_By('popular')">Popular</a> | 
             <a href="javascript:void(0);" id="following_link" ng-click="browse_submission_By('following')">Following</a>  |
             <a href="javascript:void(0);" id="ms_link" ng-click="browse_submission_By('mysubmission')">My Submission</a>
     </div>
    <div class="row">
        <ul>
            <li class="col-md-3 col-sm-4 col-xs-12" dir-paginate="x in contest_data | filter:search | itemsPerPage:8" pagination_id = "submission" >

                <div class="challenge-home-indent clearfix">
                  <div class="clearfix"><a href='/contests/{{x.paramlink}}/show'><img lazy-img="<%= root_url %>{{ x.company_logo.tutorial_list.url }}" class="img-responsive tutorial-img-height" style="width: 100%;" ></a></div>
                  <div class="padding10">
                    <div class="wip-title clearfix"><a href="#">{{x.title}}</a>
                                <!-- <button class="votebtn pull-right margin" type="button">Vote</button> -->
                    </div>
                    <div class="clearfix">
                      <div class="wip-by-txt pull-left">by <a href="#">{{x.user.firstname}}</a></div>
                      <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{x.like_count}}</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> {{x.view_count}}</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> {{x.comment_count}}</span> </div>
                    </div>
                    <div class="wip-small clearfix">
                      <ul class="margin">
                            <li class="lists" ng-repeat = "y in x.images  | limitTo : 3 ">
                                <img lazy-img="<%= root_url %>{{ y.image.user_activity.url }}" class="img-responsive">
                            </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
                <li class="clearfix downbox text-center err-msg no-result" ng-hide="contest_data.length" >No Result Found!</li>  


        </ul>
    </div>

       <dir-pagination-controls
           max-size="1"
           direction-links="true"
           pagination_id = "submission" 
           boundary-links="false" >
      </dir-pagination-controls>
    <%#= render 'layouts/paging' %>
    </div>
    </div>
    </section>

</div>

<!-- Footer Start -->
<footer class="footer clearfix padding">
<%= render 'layouts/lastfooter' %>
</footer>
<script>
$('.responsive-tabs').responsiveTabs({
    accordionOn: ['xs', 'sm']
});
</script>
<script type='text/javascript'>
  function redirect_to_create_gallery(){
      window.location.href = "<%= create_gallery_path %>";
  }
</script>

<script>
    // main page angular app start
    var app = angular.module('myApp', ["angularUtils.directives.dirPagination", "angularLazyImg"]);
    app.controller('myCtrl', function($scope, $http) {
        $scope.filter = function() {
         
            list_url = '/contest/get_challenge_list?';

            if(typeof $scope.viewChallengeType !== 'undefined' && $scope.viewChallengeType != '' && $scope.viewChallengeType != 'all'){
              list_url += '&challenge_type_id=' + $scope.viewChallengeType
            }

            if(typeof $scope.browse_by !== 'undefined' && $scope.browse_by != ''  && $scope.browse_by != 'all'){
              list_url += '&browse_by=' + $scope.browse_by
            }

            $http.get(list_url).then(function (response) {
                $scope.challenge_data = response.data;
            });



            list_url1 = '/get_all_submission?';

            if(typeof $scope.browse_submission !== 'undefined' && $scope.browse_submission != ''  && $scope.browse_submission != 'all'){
                  list_url1 += '&browse_submission_By=' + $scope.browse_submission
            }

            $http.get(list_url1).then(function (response) {
              $scope.contest_data = response.data;
            });


        };
        $scope.filter();

        $scope.browse_submission_By = function(value) {
             
              $scope.browse_submission = value;
              $scope.filter();
        };


        $scope.searchByChallengeType = function(value) {

            angular.element( document.querySelectorAll( '.challenge-type-link' ) ).removeClass('active');
            angular.element( document.querySelector( '#challenge-type-link-' + value ) ).addClass('active');

            $scope.viewChallengeType = value;
            $scope.filter();

        };

        $scope.redirect_to_show = function(value){
               window.location.href = "/contest/"+value+"/show" 

        };
        $scope.dateFormat = function(value) {
            return new Date(value);
        };

        $scope.browseBy = function(browse_by) {

              angular.element( document.querySelectorAll( '.browse-by' ) ).removeClass('active btn-success');
              angular.element( document.querySelectorAll( '.browse-by' ) ).addClass('btn-default');
              angular.element( document.querySelectorAll( '#browse-by-link-' + browse_by ) ).removeClass('btn-default');
              angular.element( document.querySelectorAll( '#browse-by-link-' + browse_by ) ).addClass('btn-success active');

              $scope.browse_by = browse_by;
              $scope.filter();
        };

  

        
    
     });
</script>