<!-- Join The Challange Page Start --> 
<section class="challengewrap clearfix" id="myApp2" ng-app="myApp" ng-controller="myCtrl as ctrl">
  <div class="container">
    <h2>ACCEPT THE CHALLENGE!</h2>
    <div class="chanllenge-newtxt">Brought to you by <span class="blue-txt"><%= @challenge_data.hosts.present? ? @challenge_data.hosts : '' %></span></div>
    <div class="chanl-indent clearfix">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
            <%= image_tag(@challenge_data.company_logo.challenge_view.url, :alt => "Challenges",:class=>"img-responsive") %>
          <div class="thu-txt"><%= @challenge_data.title.present? ? @challenge_data.title : '' %></div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="challenge-count"><%=  @countres %><span class="txt15">Challengers</span></div>
          <div class="challenge-count clearfix">
            <%
              total_days   = 0

              if @challenge_data.opening_date.present?

                  date               = @challenge_data.opening_date
                  end_time           = DateTime.parse(date).strftime("%Y-%m-%d %H:%M:%S")
                  start_time         = DateTime.parse(Time.now.to_s).strftime("%Y-%m-%d %H:%M:%S")
                  
                  require 'time_diff'
                  time_diff_components = Time.diff(start_time, end_time) 
                  #abort(time_diff_components.to_json)
                  
                  if time_diff_components[:week].present?
                      total_days   =  time_diff_components[:week] * 7 + time_diff_components[:day]
                  else 
                      total_days   =  time_diff_components[:day]
                  end  
              %>
               
            
              <div class="count-down pull-left"><%= total_days %> <span class="count-day">D</span></div>
              <div class="count-down pull-left"><%= time_diff_components[:hour].present? ? time_diff_components[:hour] : '' %> <span class="count-day">H</span></div>
              <div class="count-down pull-left"><%= time_diff_components[:minute].present? ? time_diff_components[:minute] : '' %> <span class="count-day">M</span></div>
              <div class="count-down pull-left"><%= time_diff_components[:second].present? ? time_diff_components[:second] : '' %> <span class="count-day">s</span></div>
              <div class="txt15 pull-left">Time left</div>
            <%
            end    
            %>

            
          </div>
          <div class="country-txt marginB15">Dates: 
          <%= 
             if @challenge_data.opening_date.present? 
                    date  = @challenge_data.opening_date
                    DateTime.parse(date).strftime("%d-%B-%Y")
              else
                  '--'    
             end 

           %> -  
           <%= 
            if @challenge_data.closing_date.present? 
                  date  = @challenge_data.closing_date
                  DateTime.parse(date).strftime("%d-%B-%Y")
              else
                  '--'    
            end 

            %><br>
            Registration ends 
           <%= 
             if @challenge_data.closing_date.present? 
                 date  =  @challenge_data.closing_date
                  DateTime.parse(date).strftime("%d-%B-%Y")
              else
                  '--'    
             end 

            %>
            </div>
          <div class="clearfix jointhechallenge">
            <button onclick="redirect_to_join_challenge(<%= @challenge_data.challenge_type_id %>, <%= @challenge_data.id %>);" class="greenbtn" type="button"><i class="fa fa-long-arrow-right marginR5" aria-hidden="true"></i> Join The Challenge</button>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix challangewrapper">
      <ul class="nav nav-tabs responsive-tabs">
        <li class="active"><a href="#Briefing">Briefing <i></i></a></li>
        <li><a href="#Announcements">Announcements <i></i></a></li>
        <li><a href="#Submissions">Submissions <i></i></a></li>
  <!--       <li><a href="#TwitchStreams">Twitch Streams <i></i></a></li> -->
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="Briefing">
          <div class="clearfix challenge-briefing">
             <%= @challenge_data.awards.present? ? @challenge_data.awards.html_safe : '' %>
             <%= @challenge_data.terms_condition.present? ? @challenge_data.terms_condition.html_safe : '' %>
             <%= @challenge_data.faq.present? ? @challenge_data.faq.html_safe : '' %>
          </div>
        </div>
        <div class="tab-pane" id="Announcements">
          <div class="clearfix challenge-announcement">
            <div class="challenges-announe clearfix">
              <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12">
                  <div class="announce-profile"> <%= image_tag("announce-profile.jpg", :alt => "Profile") %></div>
                  <div class="announce-title">André Lourenço</div>
                  <div class="announce-address">Founder, Trojan  Horse was a Unicorn</div>
                  <div class="announce-address"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Lisbon, Portugal</div>
                </div>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <div class="post-ago">Posted a month ago</div>
                  <div class="post-indent clearfix">
                    <div class="post-title">Welcome to the THU 2016 Golden Ticket Challenge!</div>
                    <div class="posts-txt">The THU <span class="blue-txt">#GoldenTicket</span> Challenge is BACK! And the prize? The LAST available ticket for <span class="blue-txt">#THU2016</span> this September! <span class="blue-txt">www.trojan-unicorn.com</span> The prize includes a round-trip to Troia, Portugal, and 5-star accommodation!</div>
                    <div class="posts-txt">This year, we are thrilled to have the contest hosted by our good friends,<span class="blue-txt">CGMeetup</span>. We are also eternally grateful to our partners, <span class="blue-txt">Lenovo</span> and <span class="blue-txt">Wacom</span> for helping us to make this year’s challenge even more rewarding – the prize list is incredible!</div>
                    <div class="edited-txt">Edited a month ago</div>
                    <div class="post-link clearfix"> <a href="#">Like</a> <a href="#">13 Likes</a> <a href="#">Reply</a> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="challenges-announe clearfix">
              <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12 col-md-offset-2">
                  <div class="announce-profile"><%= image_tag("announce-profile1.jpg", :alt => "Profile") %></div>
                  <div class="announce-title">André Lourenço</div>
                  <div class="announce-address">3D Artistt</div>
                  <div class="announce-address"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Lisbon, Portugal</div>
                </div>
                <div class="col-md-8 col-sm-9 col-xs-12">
                  <div class="post-ago">Posted a month ago <a class="fa fa-chevron-down pull-right" aria-hidden="true"></a></div>
                  <div class="post-indent clearfix">
                    <div class="posts-txt">Im very confused what this challenge is expecting from those who want to enter.</div>
                    <div class="post-link clearfix"> <a href="#">Like</a> <a href="#">13 Likes</a> <a href="#">Reply</a> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="challenges-announe clearfix">
              <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12">
                  <div class="announce-profile"><%= image_tag("announce-profile2.jpg", :alt => "Profile") %></div>
                  <div class="announce-title">André Lourenço</div>
                  <div class="announce-address">3D Artistt</div>
                  <div class="announce-address"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Lisbon, Portugal</div>
                </div>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <div class="post-ago">Posted a month ago <a class="fa fa-chevron-down pull-right" aria-hidden="true"></a></div>
                  <div class="post-indent clearfix">
                    <div class="posts-txt">Hi,<br>
                      Your comment is a bit generic, so it makes it hard for me to help. Can you please explain which part is not clear?<br>
                      <br>
                      The theme is THU Reborn.<br>
                      You can participate using any 2D and/or 3D technique to produce an image that conveys that idea/feeling.<br>
                      <br>
                      Best,<br>
                      Jose</div>
                    <div class="post-link clearfix"> <a href="#">Like</a> <a href="#">13 Likes</a> <a href="#">Reply</a> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="challenges-announe clearfix">
              <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12 col-md-offset-2">
                  <div class="announce-profile"><%= image_tag("announce-profile1.jpg", :alt => "Profile") %></div>
                  <div class="announce-title">André Lourenço</div>
                  <div class="announce-address">3D Artistt</div>
                  <div class="announce-address"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Lisbon, Portugal</div>
                </div>
                <div class="col-md-8 col-sm-9 col-xs-12">
                  <div class="post-ago">Posted a month ago <a class="fa fa-chevron-down pull-right" aria-hidden="true"></a></div>
                  <div class="post-indent clearfix">
                    <div class="posts-txt">Im very confused what this challenge is expecting from those who want to enter.</div>
                    <div class="post-link clearfix"> <a href="#">Like</a> <a href="#">13 Likes</a> <a href="#">Reply</a> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="challenges-announe clearfix">
              <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12">
                  <div class="announce-profile"><%= image_tag("announce-profile2.jpg", :alt => "Profile") %></div>
                  <div class="announce-title">André Lourenço</div>
                  <div class="announce-address">3D Artistt</div>
                  <div class="announce-address"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Lisbon, Portugal</div>
                </div>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <div class="post-ago">Posted a month ago <a class="fa fa-chevron-down pull-right" aria-hidden="true"></a></div>
                  <div class="post-indent clearfix">
                    <div class="posts-txt">Hi,<br>
                      Your comment is a bit generic, so it makes it hard for me to help. Can you please explain which part is not clear?<br>
                      <br>
                      The theme is THU Reborn.<br>
                      You can participate using any 2D and/or 3D technique to produce an image that conveys that idea/feeling.<br>
                      <br>
                      Best,<br>
                      Jose</div>
                    <div class="post-link clearfix"> <a href="#">Like</a> <a href="#">13 Likes</a> <a href="#">Reply</a> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="challenges-announe clearfix">
              <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12 col-md-offset-2">
                  <div class="announce-profile"><%= image_tag("announce-profile1.jpg", :alt => "Profile") %></div>
                  <div class="announce-title">André Lourenço</div>
                  <div class="announce-address">3D Artistt</div>
                  <div class="announce-address"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Lisbon, Portugal</div>
                </div>
                <div class="col-md-8 col-sm-9 col-xs-12">
                  <div class="post-ago">Posted a month ago <a class="fa fa-chevron-down pull-right" aria-hidden="true"></a></div>
                  <div class="post-indent clearfix">
                    <div class="posts-txt">Im very confused what this challenge is expecting from those who want to enter.</div>
                    <div class="post-link clearfix"> <a href="#">Like</a> <a href="#">13 Likes</a> <a href="#">Reply</a> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="challenges-announe clearfix">
              <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12 col-md-offset-2">
                  <div class="announce-profile"><%= image_tag("announce-profile2.jpg", :alt => "Profile") %></div>
                  <div class="announce-title">André Lourenço</div>
                  <div class="announce-address">3D Artistt</div>
                  <div class="announce-address"><i class="fa fa-map-marker marginR5" aria-hidden="true"></i> Lisbon, Portugal</div>
                </div>
                <div class="col-md-8 col-sm-9 col-xs-12">
                  <div class="post-ago">Posted a month ago <a class="fa fa-chevron-down pull-right" aria-hidden="true"></a></div>
                  <div class="post-indent clearfix">
                    <div class="posts-txt">Im very confused what this challenge is expecting from those who want to enter.</div>
                    <div class="post-link clearfix"> <a href="#">Like</a> <a href="#">13 Likes</a> <a href="#">Reply</a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="tab-pane" id="Submissions">
         
        
         <div class="clearfix marginB15">
         <div class="clearfix submission-wrap">
         <h3>Winners <i></i></h3>
         </div>  
             <div class="clearfix challenge-subission">
                <div class="row">
                  <ul>
                  
                    <li class="clearfix col-md-3 col-sm-6 col-xs-12"  dir-paginate="x in winner_data | filter:search | itemsPerPage:10">
                   
                      <div class="submisson-indent clearfix">
                     <div class="winner-box">
                      <i class="fa fa-trophy" aria-hidden="true"></i>
                           {{x.winner_type == 1 ? '1st' : (x.winner_type == 2 ? '2nd' : '3rd') }} 
                      </div>                  
                        <div class="challenge-profile"><a href='/contests/{{x.paramlink}}/show'><img lazy-img="<%= root_url %>{{ x.company_logo.tutorial_list.url }}" class="img-responsive tutorial-img-height" style="width: 100%;" ></a></div>
                        <div class="wip-title clearfix"><a href="#">{{x.title}}</a></div>
                        <div class="clearfix">
                          <div class="wip-by-txt pull-left">by <a href="#">{{x.user.firstname}}</a></div>
                          <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{x.like_count}}</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> {{x.view_count}}</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> {{x.comment_count}}</span> </div>
                        </div>
                        <div class="wip-small clearfix">
                          <ul class="margin">
                               
                            <li class="lists" ng-repeat = "y in x.images  | limitTo : 3 ">
                                <img lazy-img="<%= root_url %>{{ y.image.user_activity.url }}" class="img-responsive">
                            </li>
                           <!--  <li class="lists"><%#= image_tag("database/mioree-child-of-light-becoming-by-pieder-d7isd6a.jpg",:class=>"img-responsive", :alt => "img") %></li>
                            <li class="lists"><%#= image_tag("database/mioree-satsuki-the-queen-by-pieder-d7i0no4.jpg",:class=>"img-responsive", :alt => "img") %></li> -->


                          </ul>
                        </div>
                      </div>
                    </li>   
                     <li class="clearfix downbox text-center err-msg no-result" ng-hide="winner_data.length">No Record found</li> 
                  </ul>
                </div>
              </div>
         </div>



         
         <div class="clearfix marginB15">
         <div class="clearfix submission-wrap">
         <h3>Honourable Mentions <i></i></h3>
         </div>  
         <div class="clearfix challenge-subission">
            <div class="row">
              <ul>
                   <li class="clearfix col-md-3 col-sm-6 col-xs-12"  dir-paginate="x in honour_data | filter:search | itemsPerPage:10">
                      <div class="submisson-indent clearfix">
                      <div class="winner-box">
                      <i class="fa fa-trophy" aria-hidden="true"></i>HM

                      </div>                  
                        <div class="challenge-profile"><a href='/contests/{{x.paramlink}}/show'><img lazy-img="<%= root_url %>{{ x.company_logo.tutorial_list.url }}" class="img-responsive tutorial-img-height" style="width: 100%;" ></a></div>
                        <div class="wip-title clearfix"><a href="#">{{x.title}}</a></div>
                        <div class="clearfix">
                          <div class="wip-by-txt pull-left">by <a href="#">{{x.user.firstname}}</a></div>
                          <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{x.like_count}}</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> {{x.view_count}}</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> {{x.comment_count}}</span> </div>
                        </div>
                        <div class="wip-small clearfix">
                          <ul class="margin">
                            <li class="lists" ng-repeat = "y in x.images  | limitTo : 3 ">
                                <img lazy-img="<%= root_url %>{{ y.image.user_activity.url }}" class="img-responsive">
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>   
                     <li class="clearfix downbox text-center err-msg no-result" ng-hide="honour_data.length">No Record found</li> 
                
              </ul>
            </div>
          </div>
         </div>


         
         <div class="clearfix marginB15">
         <div class="clearfix submission-wrap">
         <h3>Submissions <i></i></h3>
          <div class="challenge-home-link clearfix"> <span>Latest Updates</span> | 
              <a href="javascript:void(0);" id="popular_link" ng-click="browse_submission_By('popular')">Popular</a> | 
              <a href="javascript:void(0);" id="following_link" ng-click="browse_submission_By('following')">Following</a>  |
              <a href="javascript:void(0);" id="ms_link" ng-click="browse_submission_By('mysubmission')">My Submission</a>
          </div>
         </div>  
         <div class="clearfix challenge-subission">
            <div class="row">
              <ul>
                    <li class="clearfix col-md-3 col-sm-6 col-xs-12" dir-paginate="x in contest_data | filter:search | itemsPerPage:8" pagination_id = "submission">
                      <div class="submisson-indent clearfix">
                        <div class="challenge-profile"><a href='/contests/{{x.paramlink}}/show'><img lazy-img="<%= root_url %>{{ x.company_logo.tutorial_list.url }}" class="img-responsive tutorial-img-height" style="width: 100%;" ></a></div>
                        <div class="wip-title clearfix"><a href="#">{{x.title}}</a>
                          <!-- <button class="votebtn pull-right" type="button">Vote</button> -->
                        </div>
                        <div class="clearfix">
                          <div class="wip-by-txt pull-left">by <a href="#">{{x.user.firstname}}</a></div>
                          <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{x.like_count}}</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> {{x.view_count}}</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> {{x.comment_count}}</span> </div>
                        </div>
                        <div class="wip-small clearfix">
                          <ul class="margin">
                              <li class="lists" ng-repeat = "y in x.images  | limitTo : 3 ">
                                <img lazy-img="<%= root_url %>{{ y.image.user_activity.url }}" class="img-responsive">
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li class="clearfix downbox text-center err-msg no-result" ng-hide="contest_data.length" >No Result Found!</li>  
              </ul>
            </div>
          </div>
         </div>
        <dir-pagination-controls
           max-size="1"
           direction-links="true"
           pagination_id = "submission" 
           boundary-links="false" >
      </dir-pagination-controls>
       <%#= render 'layouts/paging' %>
        </div>
        <div class="tab-pane" id="TwitchStreams">
          <p>4. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, commodi delectus accusamus optio quam odit illum laudantium dolorum nostrum recusandae corporis quo. Veniam, excepturi illo eveniet quas aperiam provident inventore.</p>
          <p>1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, commodi delectus accusamus optio quam odit illum laudantium dolorum nostrum recusandae corporis quo. Veniam, excepturi illo eveniet quas aperiam provident inventore.</p>
          <p>1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, commodi delectus accusamus optio quam odit illum laudantium dolorum nostrum recusandae corporis quo. Veniam, excepturi illo eveniet quas aperiam provident inventore.</p>
          <p>1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, commodi delectus accusamus optio quam odit illum laudantium dolorum nostrum recusandae corporis quo. Veniam, excepturi illo eveniet quas aperiam provident inventore.</p>
          <p>1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, commodi delectus accusamus optio quam odit illum laudantium dolorum nostrum recusandae corporis quo. Veniam, excepturi illo eveniet quas aperiam provident inventore.</p>
          <p>1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, commodi delectus accusamus optio quam odit illum laudantium dolorum nostrum recusandae corporis quo. Veniam, excepturi illo eveniet quas aperiam provident inventore.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer Start -->
<footer class="footer clearfix padding">
 <%= render 'layouts/lastfooter' %>
</footer>
<script>
  $(document).ready(function() {
    $('.pgwSlideshow').pgwSlideshow();
    $('[data-toggle="tooltip"]').tooltip();

    $.ajax({
        type: "post",
        url: "<%= save_challenge_view_count_path %>" ,
        data: {'challenge_id': '<%= @challenge_id %>'},
        success: function(data){
        }
    });
    
  });

  $('.responsive-tabs').responsiveTabs({
    accordionOn: ['xs', 'sm']
  });


  function redirect_to_join_challenge(value,challenge_id){
      if(value == 1){
        window.location.href = "<%= contests_path %>";  
      }else  if(value == 2){
        window.location.href = "<%= contests_path %>";  
      }else  if(value == 3){
        window.location.href = "<%= contests_path %>";  
      }
      
  }

</script>

<script>
    // main page angular app start
    var app = angular.module('myApp', ["angularUtils.directives.dirPagination", "angularLazyImg"]);
    app.controller('myCtrl', function($scope, $http) {
        $scope.filter = function() {
        
            list_url = '/get_winner_list?';
            $http.get(list_url).then(function (response) {
                $scope.winner_data = response.data;
            });

            list_url1 = '/get_honour_list?';
            $http.get(list_url1).then(function (response) {
                $scope.honour_data = response.data;
            });


           list_url2 = '/get_all_submission?';

          if(typeof $scope.browse_submission !== 'undefined' && $scope.browse_submission != ''  && $scope.browse_submission != 'all'){
                list_url2 += '&browse_submission_By=' + $scope.browse_submission
          }

          $http.get(list_url2).then(function (response) {
            $scope.contest_data = response.data;
          });


        };
        $scope.filter();


         $scope.browse_submission_By = function(value) {
             
              $scope.browse_submission = value;
              $scope.filter();
        };

     });
</script>
