<!-- Submenu Navigation -->
<section class="wip-navigation-wrap">
      <%= render 'layouts/browse_sub_header' %>
</section>



<div id="myApp2"  ng-app="myApp" ng-controller="browseAllArtworkCtrl" >
<!-- Showcase & Discover Creative Work -->
<section class="clearfix showcase-wrap text-center">
  <div class="container">
    <div class="showcase-title text-center">Showcase &amp; Discover Creative Work</div>
    <div class="showcase-txt text-center">for <a href="#">Demo Reel <i></i></a>, <a href="#">Digital Art<i></i></a>, <a href="#">Making of &amp; Vfx Breakdown<i></i></a>, <a href="#">Concept Art<i></i></a> and more</div>
    <div class="clearfix wip-gallery-wrap">
      <div class="col-md-4 col-sm-4 col-xs-12 marginB10">
        <div class="input-group stylish-input-group">
        <input type="text" class="form-control" maxlength="64" placeholder="Enter a keyword..." ng-model="search" />
  
          <span class="input-group-addon">
          <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
          </span> </div>
      </div>
      <div class="col-md-8 col-sm-4 col-xs-12 marginB10 text-left">

        <select class="custom-select" ng-change="searchByPostType(selected)" ng-model='selected'>
            <option value="" selected="selected" >Select</option>
            <option value="0" class="post-type-link"  id="post-type-link-0" selected="selected" >All</option>
            <option value="1" class="post-type-link"  id="post-type-link-1">Artwork</option>
            <option value="2" class="post-type-link"  id="post-type-link-2">Video</option>
            <option value="3" class="post-type-link"  id="post-type-link-3">WIP</option>
            <option value="4" class="post-type-link"  id="post-type-link-4">Challenge</option>
            <option value="5" class="post-type-link"  id="post-type-link-5">Awards</option>
            <option value="6" class="post-type-link"  id="post-type-link-6">Users</option>
        </select>
      </div>

    </div>
    <div class="showcase-btn-wrap clearfix text-center">
      <% if user_signed_in? %>
        <button onclick="redirect_to_create_gallery();" type="button" class="btn btn-success border-radius marginB10">Upload</button>
      <% end %>
      <button type="button" class="btn btn-default border-radius marginB10 browse-by" id="browse-by-link-popular" ng-click="browseBy('popular')">Browse Popular Wips</button>
      <button type="button" class="btn btn-default border-radius marginB10 browse-by" id="browse-by-link-top" ng-click="browseBy('top')">Browse Top Wips </button>
    </div>
  </div>
</section>

<!-- WIP Content Start -->
<section class="clearfix">
<div class="clearfix wipwrap">
    <div class="wiptabs clearfix">
      <ul class="nav nav-pills">
        <li class="dropdown active"> <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-th txt15 marginR5" aria-hidden="true"></i> Wips
          <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
          </a>
          <ul class="dropdown-menu">
              <li><a href="javascript:void(0);"  ng-click="searchByPostType(0)" class="post-type-link"  id="post-type-link-0" >All</a></li>
              <li><a href="javascript:void(0);"  ng-click="searchByPostType(1)" class="post-type-link"  id="post-type-link-1" >Artwork</a></li>
              <li><a href="javascript:void(0);"  ng-click="searchByPostType(2)" class="post-type-link"  id="post-type-link-2" >Video</a></li>
              <li class='active'><a href="javascript:void(0);"  ng-click="searchByPostType(3)" class="post-type-link"  id="post-type-link-3" >WIP</a></li>
              <li><a href="javascript:void(0);"  ng-click="searchByPostType(4)" class="post-type-link"  id="post-type-link-4" >Challenge</a></li>
              <li><a href="javascript:void(0);"  ng-click="searchByPostType(5)" class="post-type-link"  id="post-type-link-5" >Awards</a></li>
              <li><a href="javascript:void(0);"  ng-click="searchByPostType(6)" class="post-type-link"  id="post-type-link-6" >Users</a></li>
          
          </ul>
        </li>
        <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Featured
          <div class="wip-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
          </a>
           <ul class="dropdown-menu">
              <li><a href="javascript:void(0);" ng-click="searchByFeatured('', 'all')" class="active featured-type-link"  id="featured-type-link-all">All</a></li>
              <li><a href="javascript:void(0);" ng-click="searchByFeatured('TRUE', 'yes')" class="featured-type-link"  id="featured-type-link-yes">Show Only Featured</a></li>
              <li><a href="javascript:void(0);" ng-click="searchByFeatured('FALSE', 'no')" class="featured-type-link"  id="featured-type-link-no">Show Without Featured</a></li>

          </ul>
        </li>

      </ul>
    </div>
  </div>

<div class="wip-indent clearfix">
<ul class="margin">
          <li class="lists clearfix" dir-paginate="x in artwork_data| filter:search |itemsPerPage:10">
              <div class="wip-pic">
                <a href="/dashboard/projects/{{x.result.paramlink}}/show"><img lazy-img="<%= root_url %>{{ x.result.company_logo.browse_art_work.url }}" alt="WIP" class="img-responsive"></a>
              </div>
              <div class="wip-title"><a href="#">{{x.result.title}}</a></div>
              <div class="clearfix">
               <div class="wip-by-txt pull-left">by <a href="#">{{x.user.firstname}} {{x.user.lastname}}</a></div> <div class="like-wrap pull-right"> <span class="likeb"><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{x.like_res.gallerylike}}</span> <span class="likeb"><i class="fa fa-eye" aria-hidden="true"></i> {{x.result.view_count}}</span> <span class="likeb"><i class="fa fa-comments" aria-hidden="true"></i> 0</span> </div>
              </div>
              <div class="wip-small clearfix">
                <ul class="margin">
                    <li class="lists" ng-repeat="y in x.image | limitTo: 5">
                        <img src="{{y.image.thumb.url}}" class="img-responsive" alt="img">
                    </li> 
                </ul>
              </div>
            </li>
             <li style='width:100%; margin-top:2%; margin-bottom:2%;background: none;' ng-hide="artwork_data.length" class="text-center err-msg no-result downbox">No Result Found!</li> 
</ul>
</div>
   <div class="pagintionpage clearfix">
      <dir-pagination-controls
           max-size="1"
           direction-links="true"
           boundary-links="false" >
      </dir-pagination-controls>

   </div>
</section>

<!-- Footer Start -->
<footer class="footer clearfix padding">
<%= render 'layouts/lastfooter' %>
</footer>
<script type='text/javascript'>
  function redirect_to_create_gallery(){
      window.location.href = "<%= create_gallery_path %>";
  }
</script>

<script type="text/javascript">

  // main page angular app start
  var app = angular.module('myApp', ["angularUtils.directives.dirPagination", "angularLazyImg"]);
  app.controller('browseAllArtworkCtrl', function($sce, $scope, $http) {
      
    $scope.filter = function() {
        
        list_url = '/dashboard/projects/get_gallery_list?post_type_category_id=3'; 
        
        if(typeof $scope.viewFeaturedType !== 'undefined' && $scope.viewFeaturedType != ''){
          list_url += '&is_feature=' + $scope.viewFeaturedType
        }

        if(typeof $scope.browse_by !== 'undefined' && $scope.browse_by != ''  && $scope.browse_by != 'all'){
          list_url += '&browse_by=' + $scope.browse_by
        }
   
        $http.get(list_url).then(function (response) {
          
            resultdata            = [];
            angular.forEach(response.data, function(value, key){
                resultdata.push(value);
            });

            $scope.artwork_data              = resultdata;    
          });
    };
    $scope.filter();

    $scope.searchByFeatured = function(value, id) {

      angular.element( document.querySelectorAll( '.featured-type-link' ) ).removeClass('active');
      angular.element( document.querySelector( '#featured-type-link-' + id ) ).addClass('active');
      
      $scope.viewFeaturedType = value;
      $scope.filter();

    };

    $scope.searchByPostType = function(id) {
        
        if(id == 1){
          window.location.href='<%= browse_all_gallery_path %>';
        }else if(id == 2){
           window.location.href='<%= browse_all_video_path %>';
        }else if(id == 3){
         
        }else if(id == 4){
          /*window.location.href='<%= browse_all_challenge_path %>';*/
        }else if(id == 5){
         /* window.location.href='<%= browse_all_awards_path %>';*/
        }else if(id == 6){
          window.location.href='<%= browse_all_artist_path %>';
        }else{
          window.location.href='<%= browse_all_artwork_path %>';
        }

    };

    $scope.browseBy = function(browse_by) {

      angular.element( document.querySelectorAll( '.browse-by' ) ).removeClass('active btn-success');
      angular.element( document.querySelectorAll( '.browse-by' ) ).addClass('btn-default');
      angular.element( document.querySelectorAll( '#browse-by-link-' + browse_by ) ).removeClass('btn-default');
      angular.element( document.querySelectorAll( '#browse-by-link-' + browse_by ) ).addClass('btn-success active');

      $scope.browse_by = browse_by;
      $scope.filter();
    };

  });

  // main page angular app end

</script>
