<%= stylesheet_link_tag "angular-material.min","ninja-slider","thumbnail-slider", :media => "all" %>
<%= javascript_include_tag "ninja-slider","thumbnail-slider", :media => "all" %>
<!-- Google Ad start -->
<div class="googlehomead clearfix">
<div class="container">
<div class="google-home-ad">
	<%#= image_tag("google-home-ad.jpg", :alt => "Google Ad",:class =>"img-responsive") %>
	<% if @header_ads[:first].present? %>
		<%= @header_ads[:first].html_safe %>
	<% end %>
</div>
<div class="subscribebox pull-left clearfix hidden-xs hidden-sm">
<div class="subtext">Subscribe to our newsletter for weekly updates.</div>
<div class="subscribewrap">
  <input type="email" id="sub-email" placeholder="Email" class="subemail">
  <a id="subscribe-button" class="subbtn pull-right text-center" >Subscribe</a>

</div>
<span class="error" id="error_field_name"></span>
</div>
</div>
</div>

 <div id="galleryId" ng-controller="AppCtrl" ng-cloak>

  <!-- Slider Home Page  -->
<!--   <div ng-if="visibility.show_news" class="clearfix homeslider">
    <div class="container">

      <div class="HomeSlideLeft clearfix">
            <div class="HomeSlideTitle">{{sliderSelectedPic.title}}</div>
      	    <img ng-if="sliderSelectedPic.company_logo.large_image.url" style="height: 395px;" class="img-responsive" ng-src="{{sliderSelectedPic.company_logo.large_image.url}}" layout-fill/>
           <img ng-if="!sliderSelectedPic.company_logo.large_image.url" style="height: 395px;" class="img-responsive" ng-src="assets/imageNotFound.png" layout-fill/>
      </div>
      <div class="HomeSlideRight clearfix">
          <ul>
            <marquee behavior="scroll" direction="up" scrollamount="2" onmouseover="this.stop()" onmouseout="this.start()" height="354">
             <li class="clearfix" ng-repeat="slider in sliderNews" ng-mouseover="sliderMouseOverPic(slider)"  ng-click="sliderClickedPic(slider)">
               <div class="HomeRightPic">
            	   <img ng-if="slider.company_logo.jobs_home.url" style="width:125px; height:70px;" ng-src="{{slider.company_logo.jobs_home.url}}"/>
                 <img ng-if="!slider.company_logo.jobs_home.url" style="width:125px; height:70px;" ng-src="assets/imageNotFound.png"/>
            </div>
               <div class="HomeRightContent">
                 <div class="slide-title marginB10">{{slider.title}}</div>
                 <div class="lightcolor">2 hours ago</div>
               </div>
             </li>
            </marquee>
          </ul>
          <div class="ArrowHomeSlide">
            <ul>
              <li><a href="#"><i class="fa fa-angle-up" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
            </ul>
          </div>

      </div>
    </div>
  </div> -->






<!-- Slider Home Page  -->
<!-- <div ng-if="visibility.show_news" class="clearfix homeslider">
  <div class="container">
      <div class="HomeSlideLeft clearfix" id="ninja-slider">
        <div class="slider-inner">
          <ul>
              <li ng-repeat="slider in sliderNews">
              <a ng-if="slider.company_logo.jobs_home.url" class="ns-img" href="img/1.jpg">
              <img ng-src="{{slider.company_logo.jobs_home.url}}" layout-fill/></a>
              <a ng-if="!slider.company_logo.jobs_home.url" class="ns-img" href="img/1.jpg">
              <img ng-src="assets/imageNotFound.png" layout-fill/></a>
              </li>
          </ul>
          <div class="fs-icon" title="Expand/Close"></div>
        </div>
      </div>
    <div class="HomeSlideRight clearfix" id="thumbnail-slider">
        <div class="inner">
          <ul>
              <li ng-repeat="slider in sliderNews">
                  <a ng-if="slider.company_logo.jobs_home.url" class="thumb" href="img/1.jpg">
                  <img ng-src="{{slider.company_logo.jobs_home.url}}" layout-fill/></a>
                  <a ng-if="!slider.company_logo.jobs_home.url" class="thumb" href="img/1.jpg">
                  <img ng-src="assets/imageNotFound.png" layout-fill/></a>
              </li>
          </ul>
        </div>
    </div>
  </div>
</div> -->
<% if @slider_news_data.present? %>
  <div class="clearfix homeslider">
      <div class="container">
	        <div class="HomeSlideLeft clearfix" id="ninja-slider">

	            <div class="slider-inner">
	              <ul>
	                <% @slider_news_data.each do |slider_data| %>
	                  <li><a class="" href="news/<%= slider_data.paramlink %>/show"><image class="ns-img" src="<%= slider_data.company_logo.large_image.url %>"></image></a></li>
	                <% end %>

	              </ul>
	              <div class="fs-icon" title="Expand/Close"></div>
	            </div>
	        </div>
        <div class="HomeSlideRight clearfix" id="thumbnail-slider">
            <div class="inner">
              <ul>
              <% @slider_news_data.each do |slider_data| %>
                  <li>
                      <li><a class="" href="news/<%= slider_data.paramlink %>/show"><image class="thumb" src="<%= slider_data.company_logo.tutorial_list.url %>"></image></a></li>
                  </li>
              <% end %>
              </ul>
            </div>
        </div>
      </div>
  </div>
<% end %>

<div ng-if="visibility.show_community">
<section class="communitywrap clearfix">
<nav class="navbar navbar-default">
<div class="container-fluid">

<div id="menu">
<ul class="nav navbar-nav">
  <li ng-class="type === 'community' ? 'active': ''" ng-click="getImages('community')"><a href="">Community</a></li>
  <li ng-class="type === 'trending' ? 'active': ''" ng-click="getImages('trending')"><a href="">Trending</a></li>
  <li ng-class="type === 'latest' ? 'active': ''" ng-click="getImages('latest')"><a href="">Latest</a></li>
  <li ng-class="type === 'featured' ? 'active': ''" ng-click="getImages('featured')"><a href="">Featured</a></li>
 <!--  <li ng-class="type === 'wip' ? 'active': ''" ng-click="getImages('wip')"><a href="">Wip</a></li> -->
  <li ng-class="type === 'contest' ? 'active': ''" ng-click="getImages('contest')"><a href="">Contest</a></li>
  <% if current_user.present? %>
    <li ng-class="type === 'following' ? 'active': ''" ng-click="getImages('following')"><a href="">Following</a></li>
  <% end %>
  <li ng-show="type === 'community'"><a href="" ng-click="getImages('community')"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</a></li>
</ul>
</div>
<ul class="nav navbar-nav navbar-right">
  <li><a href="#" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" >All Media <i class="fa fa-angle-down" aria-hidden="true"></i></a>
    <ul class="dropdown-menu">
      <li class="dropdown-header">All Media</li>
      <li ng-repeat="media in mediaType">
      <a href="" ng-click="mediaTypeSelected(media.name, media.id)">{{media.name}}</a>
      </li>
      <li class="divider" role="separator"></li>
      <li class="dropdown-header">Post Type:</li>
      <li ng-repeat="post in postType">
      <a href="" ng-click="mediaTypeSelected(post.name, post.id)">{{post.name}}</a>
      </li>
    </ul>
  </li>
  <li><a href="#" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" >All Categories <i class="fa fa-angle-down" aria-hidden="true"></i></a>
    <ul class="dropdown-menu">
      <li class="dropdown-header">All Categories</li>
      <li ng-repeat="category in categories">
      <a href="" ng-click="categorySelected(category.name)">{{category.name}}</a>
      </li>
    </ul>
  </li>
</ul>
</div>
</nav>
</section>

	<span ng-if="type == 'community'">
	  <md-grid-list style="background: #171717;" md-cols="10" md-cols-sm="10" md-cols-md="10" md-cols-gt-md="10" md-row-height-gt-md="1:1" md-row-height="4:3"
	    md-gutter-gt-md="0px">

	    <md-grid-tile ng-repeat="image in images" md-rowspan="{{($index===11 || $index===33 || $index===46 || $index===67 || $index===79 || $index===92)?2:1}}" md-colspan="{{($index===11 || $index===33 || $index===46 || $index===67 || $index===79 || $index===92)?2:1}}" md-colspan-sm="1"
	      md-colspan-xs="1">
	      <a ng-if="type !== 'following' && type !== 'contest' && image.company_logo.url" style="height: inherit;width: 100%;" href="/dashboard/projects/{{image.paramlink}}/show">
					<!-- <div class="photowrap">
							 <a ng-show = 'x.image.length > 0' href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a>
							 <a ng-show = 'x.video.length > 0 || x.upload_video.length > 0' href="#"><%= image_tag("video-icon.png", :alt => "Video") %></a>
							 <a ng-show = 'x.sketchfeb.length > 0 || x.marmoset.length > 0' href="#"><%= image_tag("3d-icon.png", :alt => "Video") %></a>
					</div> -->
					<img ng-src="{{image.company_logo.url}}" layout-fill/>
				</a>

	      <a ng-if="type !== 'following' && type !== 'contest' && !image.company_logo.url" style="height: inherit;width: 100%;" href="/dashboard/projects/{{image.paramlink}}/show"><img ng-src="assets/imageNotFound.png" layout-fill/></a>

	      <a ng-if="type === 'contest' && image.company_logo.url" style="height: inherit;width: 100%;" href="/contest/{{image.id}}/show"><img ng-src="{{image.company_logo.url}}" layout-fill/></a>
	      <a ng-if="type === 'contest' && !image.company_logo.url" style="height: inherit;width: 100%;" href="/contest/{{image.id}}/show"><img ng-src="assets/imageNotFound.png" layout-fill/></a>

	      <a ng-if="type === 'following' && image.image.url" style="height: inherit;width: 100%;" href="/user-profile/{{image.username}}"><img ng-src="{{image.image.url}}" layout-fill/></a>
	      <a ng-if="type === 'following' && !image.image.url" style="height: inherit;width: 100%;" href="/user-profile/{{image.username}}"><img ng-src="assets/imageNotFound.png" layout-fill/></a>
	    </md-grid-tile>
	  </md-grid-list>
	</span>
	<span ng-if="type != 'community'">
		<md-grid-list  style="background: #171717;" md-cols="6" md-cols-sm="6" md-cols-md="6" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="4:3"
			md-gutter-gt-md="0px">

			<md-grid-tile ng-repeat="image in images" md-rowspan="{{($index===11 || $index===33 || $index===46 || $index===67 || $index===79 || $index===92)?2:1}}" md-colspan="{{($index===11 || $index===33 || $index===46 || $index===67 || $index===79 || $index===92)?2:1}}" md-colspan-sm="1"
				md-colspan-xs="1">
				<a ng-if="type !== 'following' && type !== 'contest' && image.company_logo.url" style="height: inherit;width: 100%;" href="/dashboard/projects/{{image.paramlink}}/show"><img ng-src="{{image.company_logo.url}}" layout-fill/></a>
				<a ng-if="type !== 'following' && type !== 'contest' && !image.company_logo.url" style="height: inherit;width: 100%;" href="/dashboard/projects/{{image.paramlink}}/show"><img ng-src="assets/imageNotFound.png" layout-fill/></a>

				<a ng-if="type === 'contest' && image.company_logo.url" style="height: inherit;width: 100%;" href="/contest/{{image.id}}/show"><img ng-src="{{image.company_logo.url}}" layout-fill/></a>
				<a ng-if="type === 'contest' && !image.company_logo.url" style="height: inherit;width: 100%;" href="/contest/{{image.id}}/show"><img ng-src="assets/imageNotFound.png" layout-fill/></a>

				<a ng-if="type === 'following' && image.image.url" style="height: inherit;width: 100%;" href="/user-profile/{{image.username}}"><img ng-src="{{image.image.url}}" layout-fill/></a>
				<a ng-if="type === 'following' && !image.image.url" style="height: inherit;width: 100%;" href="/user-profile/{{image.username}}"><img ng-src="assets/imageNotFound.png" layout-fill/></a>
			</md-grid-tile>
		</md-grid-list>
	</span>
</div>

<!-- Content Start -->
<section class="maincontent clearfix">
<div class="container">
<div class="row">
<div class="col-md-8 col-sm-8 col-xs-12">
<div ng-if="visibility.show_behind_the_scenes" class="productbox clearfix">
  <h2>Behind the scenes, making of <a href="/news/{{behindTheSceneSlug}}" class="pull-right viewbtn">view all</a></h2>
  <div class="photos">
    <ul>
      <li class="clearfix" ng-repeat="scene in behindTheScenes">
        <div ng-if="scene.company_logo.url" class="borders2 marginB5"><a href="/news/{{scene.paramlink}}/show"><img style="height: 103px;" ng-src="{{scene.company_logo.url}}" layoyt-fill/></a>
        </div>
        <div ng-if="!scene.company_logo.url" class="borders2 marginB5"><a href="/news/{{scene.paramlink}}/show"><img style="height: 103px;" ng-src="assets/imageNotFound.png" layoyt-fill/></a>
        </div>
        <div ng-if="scene.title" class="pro-title"><a href="/news/{{scene.paramlink}}/show">{{scene.title}}</a></div>
        <div class="pro-text">
         <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> {{scene.view_count}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
<div ng-if="visibility.show_tutorials" class="productbox clearfix">
  <h2>TUTORIALS - FREE SOURCE OF 2D &amp; 3D <a href="/news/{{tutorialsSlug}}" class="pull-right viewbtn">view all</a></h2>
  <div class="photos">
    <ul>
      <li class="clearfix" ng-repeat="tutorial in tutorials">
        <div ng-if="tutorial.company_logo.url" class="borders2 marginB5"><a href="/news/{{tutorial.paramlink}}/show"><img style="height: 103px;" ng-src="{{tutorial.company_logo.url}}" layout-fill/><a>
        </div>
        <div ng-if="!tutorial.company_logo.url" class="borders2 marginB5"><a href="/news/{{tutorial.paramlink}}/show"><img style="height: 103px;" ng-src="assets/imageNotFound.png" layout-fill/><a>
        </div>
        <div ng-if="tutorial.title" class="pro-title"><a href="/news/{{tutorial.paramlink}}/show">{{tutorial.title}}</a></div>
        <div class="pro-text">
         <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> {{tutorial.view_count}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
<div ng-if="visibility.show_news_press_release" class="newswrap clearfix">
  <h2>News &amp; Press Release <a href="/news/{{newsSlug}}" class="pull-right viewbtn">view all</a></h2>
  <ul>
    <li ng-repeat="nw in news" class="clearfix row marginB15">
      <div ng-if="nw.company_logo.url" class="col-md-3 col-sm-4 col-xs-5 borders2"><a href="/news/{{nw.paramlink}}/show"><img style="height: 95;" ng-src="{{nw.company_logo.url}}" layout-fill/></a>
      </div>
      <div ng-if="!nw.company_logo.url" class="col-md-3 col-sm-4 col-xs-5 borders2"><a href="/news/{{nw.paramlink}}/show"><img style="height: 95;" ng-src="assets/imageNotFound.png" layout-fill/></a>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-7">
        <div ng-if="nw.title" class="news-title"><a href="/news/{{nw.paramlink}}/show">{{nw.title}}</a></div>
        <div class="news-view"><span ng-if="nw.username">by {{nw.username}}  </span>{{nw.view_count}} views  <span ng-if="nw.schedule_time">{{timediff(nw.schedule_time, $index)}} {{timePeriod}} ago</span></div>
      </div>
    </li>
  </ul>
</div>
<div ng-if="visibility.show_movies_film_trailor" class="productbox clearfix">
  <h2>MOVIES AND FILM TRAILERS <a href="/news/{{moviesFilmTrailerSlug}}" class="pull-right viewbtn">view all</a></h2>
  <div class="photos">
    <ul>
      <li class="clearfix" ng-repeat="trailer in moviesFilmTrailer">
        <div ng-if="trailer.company_logo.url" class="borders2 marginB5"><a href="/news/{{trailer.paramlink}}/show"><img style="height: 103px;" ng-src="{{trailer.company_logo.url}}" layout-fill/></a>
        </div>
        <div ng-if="!trailer.company_logo.url" class="borders2 marginB5"><a href="/news/{{trailer.paramlink}}/show"><img style="height: 103px;" ng-src="assets/imageNotFound.png" layout-fill/></a>
        </div>
        <div ng-if="trailer.title" class="pro-title"><a href="/news/{{trailer.paramlink}}/show">{{trailer.title}}</a></div>
        <div class="pro-text">
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> {{trailer.view_count}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
<div ng-if="visibility.show_job_updates" class="newswrap clearfix">
  <h2>Jobs Updates <a href="/jobs" class="pull-right viewbtn">view all</a></h2>
  <div class="row">
    <ul>
      <li class="clearfix row marginB15 col-md-6 col-sm-12" ng-repeat="job in jobs">
        <div ng-if="job.company_logo.thumb.url" class="col-md-5 col-sm-4 col-xs-5"><a href="/jobs/{{job.paramlink}}"><img ng-src="{{job.company_logo.thumb.url}}" layout-fill/></a>
			</div>
        <div ng-if="!job.company_logo.thumb.url" class="col-md-5 col-sm-4 col-xs-5"><a href="/jobs/{{job.paramlink}}"><img ng-src="assets/imageNotFound.png" layout-fill/></a>
			</div>
        <div class="col-md-7 col-sm-8 col-xs-7">
          <div ng-if="job.title" class="news-title marginB10"><a href="/jobs/{{job.paramlink}}">{{job.title}}</a></div>
          <div class="jobs-txt"><span ng-if="job.company_name">{{job.company_name}} - </span><span ng-if="job.city">{{job.city}}, </span><span ng-if="job.country.name">{{job.country.name}}</span></div>
          <div ng-if="job.job_type" class="full-time marginB10"><i class="fa fa-bookmark" aria-hidden="true"></i>{{job.job_type}}</div>
          <div class="news-view">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> {{job.like_count}}</span>
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> {{job.view_count}}</span>
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> {{job.comment_count}}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div ng-if="visibility.show_downloads" class="newswrap clearfix">
  <h2>Downloads <a href="/downloads" class="pull-right viewbtn">view all</a></h2>
  <div class="row">
    <ul>
      <li class="clearfix row marginB15 col-md-6 col-sm-12" ng-repeat="download in downloads">
        <div ng-if="download.company_logo.thumb.url" class="col-md-5 col-sm-4 col-xs-5"><a href="/downloads/{{download.paramlink}}/show"><img ng-src="{{download.company_logo.thumb.url}}" layout-fill/></a>
			</div>
        <div ng-if="!download.company_logo.thumb.url" class="col-md-5 col-sm-4 col-xs-5"><a href="/downloads/{{download.paramlink}}/show"><img ng-src="assets/imageNotFound.png" layout-fill/></a>
			</div>
        <div class="col-md-7 col-sm-8 col-xs-7">
          <div ng-if="download.title" class="news-title marginB15"><a href="/downloads/{{download.paramlink}}/show">{{download.title}}</a></div>
          <div class="clearfix marginB15">
            <div class="downloadb pull-left"><i class="fa fa-download" aria-hidden="true"></i> {{download.number_of_download}}</div>
            <div ng-if="download.free" class="free-txt pull-left text-uppercase">free</div>
            <div ng-if="!download.free" class="free-txt pull-left text-uppercase">{{download.price}}</div>
          </div>
          <div class="news-view">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> {{download.like_count}}</span>
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> {{download.view_count}}</span>
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> {{download.comment_count}}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div ng-if="visibility.show_latest_post" class="productbox clearfix">
  <h2>Latest Posts <a href="/gallery" class="pull-right viewbtn">view all</a></h2>
  <div class="photos">
    <ul>
      <li class="clearfix marginB10" ng-repeat="post in posts">
        <div ng-if="post.company_logo.thumb.url" class="borders2 marginB5"><a href="/dashboard/projects/{{post.paramlink}}/show"><img style="height: 103px;" ng-src="{{post.company_logo.thumb.url}}" layout-fill/></a>
        </div>
        <div ng-if="!post.company_logo.thumb.url" class="borders2 marginB5"><a href="/dashboard/projects/{{post.paramlink}}/show"><img style="height: 103px;" ng-src="assets/imageNotFound.png" layout-fill/></a>
        </div>
        <div ng-if="post.title" class="pro-title"><a href="/dashboard/projects/{{post.paramlink}}/show">{{post.title}}</a></div>
        <div class="pro-text">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> {{post.like_count}}</span>
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> {{post.view_count}}</span>
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> {{post.comment_count}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
<div ng-if="visibility.show_top_artists" class="topartists clearfix">
  <h2>Top artists</h2>
  <ul class="margin">
    <li style="margin-left:3px;;" class="lists" ng-repeat="artist in artists">
    <a ng-if="artist.image.thumb.url" href="/user-profile/{{artist.username}}"><img ng-src="{{artist.image.thumb.url}}" layout-fill/></a>
    <a ng-if="!artist.image.thumb.url" href="/user-profile/{{artist.username}}"><img ng-src="assets/imageNotFound.png" layout-fill/></a></li>
  </ul>
</div>
<div class="google-ad">
  <center>
	  <%#= image_tag("database/Google-ad.jpg", :class=>"img-responsive",:alt =>"Google Ad") %>
		<% if @footer_ads[:first].present? %>
			<%= @footer_ads[:first].html_safe %>
		<% end %>
  </center>
</div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12 aside">
<div class="marginB15">
	<% if @body_ads[:first].present? %>
		<%= @body_ads[:first].html_safe %>
	<% end %>
	<%#= image_tag("database/Google-ad.jpg", :class=>"img-responsive",:alt =>"Google Ad") %>
</div>
<br></br>
<% if @wip_gallery.present? %>
  <div class="wiphome clearfix marginB15">
    <h2>Wip Gallery</h2>
    <ul class="margin">
    <% @wip_gallery.each do |wip_gallery| %>
        <li class="lists"><a href="dashboard/projects/<%= wip_gallery.paramlink %>/show"><%= image_tag(wip_gallery.company_logo.thumb.url, :alt => "img",:class=>"img-responsive") %></a></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @pro_gallery_data.present? %>
  <div class="wiphome marginB15 clearfix">
    <h2>New From Pros <span>Go Pro!</span></h2>
    <ul class="margin">
      <% @pro_gallery_data.each do |subscribed_data| %>

        <li class="lists"><a href="dashboard/projects/<%= subscribed_data.paramlink %>/show"><%= image_tag(subscribed_data.company_logo.thumb.url, :class=>"img-responsive",:alt =>'img') %></a></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if @popular_gallery.present? %>
  <div class="wiphome marginB15 clearfix">
    <h2>Popular Today</h2>
    <ul class="margin">
      <% @popular_gallery.each do |popular_gallery| %>
        <li class="lists"><a href="dashboard/projects/<%= popular_gallery.paramlink %>/show"><%= image_tag(popular_gallery.company_logo.thumb.url, :alt => "img",:class=>"img-responsive") %></a></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="categoriesbox">
  <h2>CATEGORIES</h2>
  <ul class="margin">
    <li class="lists"><a href="/artwork">Artwork</a></li>
    <li class="lists"><a href="/videos">Videos</a></li>
    <li class="lists"><a href="/wips">Wip </a></li>
    <li class="lists"><a href="/gallery?sort=trending">Trending</a></li>
    <li class="lists"><a href="/gallery">Featured</a></li>
    <li class="lists"><a href="/downloads/character">Character</a></li>
    <li class="lists"><a href="/downloads/concept-art">Concept art</a></li>
    <li class="lists"><a href="/downloads/creatures">Creatures</a></li>
    <li class="lists"><a href="/downloads/illustration">Illustration</a></li>
    <li class="lists"><a href="/downloads/enviroments">Enviroments</a></li>
    <li class="lists"><a href="/downloads/matte-painting">Matte Painting</a></li>
    <li class="lists"><a href="/downloads/showreelB33">ShowreelB33</a></li>
    <li class="lists"><a href="/news/shortfilm">Shortfilm</a></li>
    <li class="lists"><a href="/news/making-of">Making of</a></li>
    <li class="lists"><a href="/jobs">Jobs</a></li>
    <li class="lists"><a href="/companies/map">Companies</a></li>
    <li class="lists"><a href="#">Schools</a></li>
    <li class="lists"><a href="/search">Artists</a></li>
    <li class="lists"><a href="/downloads">Downloads</a></li>
    <li class="lists"><a href="/downloads/free">Free Downloads</a></li>
    <li class="lists"><a href="/downloads/3d-model">3D Models</a></li>
    <li class="lists"><a href="/downloads/3d-printing-models">3D Printing Models</a></li>
    <li class="lists"><a href="/downloads/character-rings">Character Rigs</a></li>
    <li class="lists"><a href="/downloads/low-poly-3d-models">Low-poly 3D Models</a></li>
    <li class="lists"><a href="/downloads/scripts-and-plugins">Scripts and Plugins</a></li>
    <li class="lists"><a href="/tutorials">Tutorials</a></li>
    <li class="lists"><a href="/tutorials/free">Free Tutorials</a></li>
    <li class="lists"><a href="/tutorials/maya">Maya Tutorials</a></li>
    <li class="lists"><a href="/tutorials/3ds-max">3ds Max Tutorials</a></li>
    <li class="lists"><a href="/tutorials/zbrush">ZBrush Tutorials</a></li>
    <li class="lists"><a href="/news">News</a></li>
    <li class="lists"><a href="/news/industry-news">Industry News</a></li>
    <li class="lists"><a href="/news/making-of">Making of</a></li>
    <li class="lists"><a href="/news/behind-the-scene">Behind the Scence</a></li>
    <li class="lists"><a href="/news/shortfilm">Shortfilm</a></li>
    <li class="lists"><a href="/news/showreels">Showreels</a></li>
    <li class="lists"><a href="/news/movies-trailor">Movies Trailers</a></li>
    <li class="lists"><a href="/news/game-trailor">Games Trailers</a></li>
    <li class="lists"><a href="/news/event">Events</a></li>
  </ul>
</div>
</div>
</div>
</div>
</section>

</div>

  <!-- Your application bootstrap  -->
  <script type="text/javascript">
    /**
     * You must include the dependency on 'ngMaterial'
     */

    angular.module('myApp', ['ngMaterial'])
.controller('AppCtrl', ['$scope', '$http', function($scope, $http) {

  $http.get("api/home_setting_visibility")
    .then(function(response) {
        $scope.visibility = response.data.visibality;

        if($scope.visibility.show_news) {
          $scope.getSliderNews();
        }
        if($scope.visibility.show_community) {
          $scope.type = "community";
          $scope.media = null;
          $scope.category = null;
          $scope.getImages($scope.type);
        }
        if($scope.visibility.show_job_updates) {
          $scope.getJobUpdates();
        }
        if($scope.visibility.show_downloads) {
          $scope.getDownloads();
        }
        if($scope.visibility.show_latest_post) {
          $scope.getLatestPosts();
        }
        if($scope.visibility.show_top_artists) {
          $scope.getTopArtists();
        }
        if($scope.visibility.show_behind_the_scenes) {
          $scope.getShowBehindTheScene();
        }
        if($scope.visibility.show_movies_film_trailor) {
          $scope.getMoviesFilmTrailer();
        }
        if($scope.visibility.show_tutorials) {
          $scope.getTutorials();
        }
        if($scope.visibility.show_news_press_release) {
          $scope.getNewsPressRelease();
        }


    },function(error) {
      $scope.visibility = null;
    });

    $scope.navClass = function(typ) {
      // alert("typ "+typ);
    };

    $scope.getSliderNews = function() {
      $http.get("api/get_slider_news")
    .then(function(response) {
        $scope.sliderNews = response.data;
        $scope.sliderMouseOverPic($scope.sliderNews[0]);
    },function(error) {
      $scope.sliderNews = [];
    });
  };

  $scope.sliderMouseOverPic = function(slider) {
      $scope.sliderSelectedPic = slider;
  };

  $scope.getImages = function(type) {
    $scope.type = type;
    $http.get("api/get_community/"+type+"/"+$scope.media+"/"+$scope.category)
    .then(function(response) {
      if($scope.type === 'following'){
        $scope.images = response.data.follow_user_data;
        $scope.layoutType = response.data.home_layout_type;
      } else {
        $scope.images = response.data.community_data;
        $scope.layoutType = response.data.home_layout_type;
      }
    },function(error) {
      $scope.images = [];
      $scope.layoutType = null;
    });
  };

  $scope.getShowBehindTheScene = function() {
    $http.get("api/get_news_behined_scenes")
    .then(function(response) {
        $scope.behindTheScenes = response.data.news_data;
        $scope.behindTheSceneSlug = response.data.news_category.slug;
    },function(error) {
      $scope.behindTheScenes = [];
      $scope.behindTheSceneSlug = null;
    });
  };

  $scope.getTutorials =  function() {
    $http.get("api/get_news_tutorials_free_source")
    .then(function(response) {
        $scope.tutorials = response.data.news_data;
        $scope.tutorialsSlug = response.data.news_category.slug;
    },function(error) {
      $scope.tutorials = [];
      $scope.tutorialsSlug = null;
    });
  };

  $scope.getNewsPressRelease = function() {
    $http.get("api/get_news_press_release")
    .then(function(response) {
        $scope.news = response.data.news_content_data;
        $scope.newsSlug = response.data.news_category.slug;
    },function(error) {
      $scope.news = [];
      $scope.newsSlug = null;
    });
  };

  $scope.getMoviesFilmTrailer = function() {
    $http.get("api/get_news_movies_film_trailors")
    .then(function(response) {
        $scope.moviesFilmTrailer = response.data.news_data;
        $scope.moviesFilmTrailerSlug = response.data.news_category.slug;
    },function(error) {
      $scope.moviesFilmTrailer = [];
      $scope.moviesFilmTrailerSlug = null;
    });
  };

  $scope.getJobUpdates = function() {
    $http.get("api/get_jobs")
    .then(function(response) {
        $scope.jobs = response.data;
    },function(error) {
      $scope.jobs = [];
    });
  };

  $scope.getDownloads = function() {
     $http.get("api/get_downloads")
    .then(function(response) {
        $scope.downloads = response.data;
    },function(error) {
      $scope.downloads = [];
    });
  };

  $scope.getLatestPosts = function() {
    $http.get("api/get_latest_post")
    .then(function(response) {
        $scope.posts = response.data;
    },function(error) {
      $scope.posts = [];
    });
  };

  $scope.getTopArtists = function() {
    $http.get("api/get_top_artist")
    .then(function(response) {
        $scope.artists = response.data;
    },function(error) {
      $scope.artists = [];
    });
  };

  $scope.timediff = function(schedule_time, index) {
    var startDate = new Date(schedule_time);
    var endDate = new Date();
    var diff = endDate - startDate;
    var hours = diff/1000/60/60;

    if(hours > 24) {
      var day = Math.floor(hours/24);
      if(day == 1) {
        $scope.timePeriod = 'day';
      } else {
        $scope.timePeriod = 'days';
      }
      return day;
    } else if (hours > 1) {
      $scope.timePeriod = 'hour';
      return Math.floor(hours);
    } else {
      $scope.timePeriod = 'min';
      return Math.floor(hours * 60);
    }
  };

    $http.get("api/get_post_type_category")
    .then(function(response) {
        $scope.mediaType = response.data.media_category;
        $scope.postType = response.data.post_type;
    },function(error) {
        $scope.mediaType = [];
        $scope.postType = [];
    });

    $scope.mediaTypeSelected = function(name, id) {
      $scope.media = name;
      $scope.category = null;
      if(name == 'Artwork' || name == 'Video' || name == 'Wip') {
        $http.get("api/get_subject_type/"+id)
        .then(function(response) {
          $scope.categories = response.data.subject_data;
        },function(error) {
          $scope.categories = [];
        });
      }
      $scope.getImages($scope.type);
    };

    $scope.categorySelected = function(name) {
      $scope.category = name;
      $scope.getImages($scope.type);
    };



   $scope.sliderClickedPic = function(slider) {

  };

}]);
angular.bootstrap(document.getElementById("galleryId"), ['myApp']);
  </script>
<footer class="footer clearfix">
	<%= render "layouts/midfooter" %>
	<%= render "layouts/lastfooter" %>
</footer>

<script type="text/javascript">
  function validateEmail(email) {
      var expr = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
      return expr.test(email);
  };

  $(document).ready(function(){
    $("#subscribe-button").click(function() {
      var email = $('#sub-email').val();

      $("#error_field_name").html("");

      if (validateEmail(email)) {
        // if email is valid then process further
        $.ajax({
          type: "post",
          dataType: 'json',
          url: "/newsletters/insert_email" ,
          data: {'newsletter_subscriber': {'email': email}},

          success: function(data){
           $('#sub-email').val("");
           $("#error_field_name").css("color", "green");
           $("#error_field_name").html("Successfully subscribed!");
          },
          error: function(data){
            $("#error_field_name").css("color", "red");
            $("#error_field_name").html("Email already exists");
          }
        });
      }
      else{
        $("#error_field_name").css("color", "red");
        var msg = '';
        if (email.length == 0)
          msg = "Email can't be blank";
        else
          msg = "Email is not valid"
        $("#error_field_name").html(msg);

      }
    });

});

</script>
