<!-- Google Ad start -->
<div class="googlehomead clearfix">
<div class="container">
<div class="google-home-ad">
	<%= image_tag("google-home-ad.jpg", :alt => "Google Ad",:class =>"img-responsive") %>
</div>
<div class="subscribebox pull-left clearfix hidden-xs hidden-sm">
<div class="subtext">Subscribe to our newsletter for weekly updates.</div>
<div class="subscribewrap">
<input type="email" placeholder="Email" class="subemail">
<a href="#" class="subbtn pull-right text-center">Subscribe</a> </div>
</div>
</div>
</div>


<!-- Slider Home Page  -->
<div class="clearfix homeslider">
<div class="container">

<div class="HomeSlideLeft clearfix">
<div class="HomeSlideTitle">Making of Army Rage</div>
	<%= image_tag("database/slider-1.jpg", :alt => "Home Sllide",:class =>"img-responsive") %>
</div>


<div class="HomeSlideRight clearfix">
<ul>
 <li class="clearfix">
   <div class="HomeRightPic">
	   <%= image_tag("database/homeslideright1.jpg", :alt => "Home",:class =>"img-responsive") %>
</div>
   <div class="HomeRightContent">
     <div class="slide-title marginB10">Making of Army Rage</div>
     <div class="lightcolor">2 hours ago</div>
   </div>   
 </li>
 <li class="clearfix">
   <div class="HomeRightPic"> <%= image_tag("database/homeslideright2.jpg", :alt => "Home",:class =>"img-responsive") %></div>
   <div class="HomeRightContent">
     <div class="slide-title marginB10">Making of Audi R8 The Eye</div>
     <div class="lightcolor">2 hours ago</div>
   </div>   
 </li>
 
 <li class="clearfix">
   <div class="HomeRightPic"> <%= image_tag("database/homeslideright3.jpg", :alt => "Home",:class =>"img-responsive") %></div>
   <div class="HomeRightContent">
     <div class="slide-title marginB10">Making of Army Rage</div>
     <div class="lightcolor">2 hours ago</div>
   </div>   
 </li>
 <li class="clearfix">
   <div class="HomeRightPic"> <%= image_tag("database/homeslideright4.jpg", :alt => "Home",:class =>"img-responsive") %></div>
   <div class="HomeRightContent">
     <div class="slide-title marginB10">Making of Audi R8 The Eye</div>
     <div class="lightcolor">2 hours ago</div>
   </div>   
 </li>

</ul>
<div class="ArrowHomeSlide">
<ul>
<li><a href="#"><i class="fa fa-angle-up" aria-hidden="true"></i></a></li>
<li><a href="#"><i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
</ul>
</div>

</div>
</div>
</div>


<!-- Sub Menu start -->
<section class="communitywrap clearfix">
<nav class="navbar navbar-default">
<div class="container-fluid">


<ul class="nav navbar-nav">
  <li class="active"><a href="#">Community</a> </li>
  <li><a href="#">Trending</a></li>
  <li><a href="#">Latest</a></li>
  <li><a href="#">Featured</a></li>
  <li><a href="#">Wip</a></li>
  <li><a href="#">Contest</a></li>
  <li><a href="#">Following</a></li>
  <li><a href="#"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><a href="#" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" >All Media <i class="fa fa-angle-down" aria-hidden="true"></i></a>
    <ul class="dropdown-menu">
      <li class="dropdown-header">All Media</li>
      <li><a href="#">Digital 2D</a></li>
      <li><a href="#">Digital 3D</a></li>
      <li><a href="#">Traditional 2D</a></li>
      <li><a href="#">Traditional 3D</a></li>
      <li class="divider" role="separator"></li>
      <li class="dropdown-header">Post Type:</li>
      <li><a href="#">Artwork</a></li>
      <li><a href="#">Video</a></li>
      <li><a href="#">WIP</a></li>
      <li><a href="#">Downloads</a></li>
      <li><a href="#">Tutorials</a></li>
      <li class="divider" role="separator"></li>
      <li class="dropdown-header">Only show projects with:</li>
      <li><div class="checkbox">
          <label>
            <input ng-change="setAssetFilter('marmoset', filterMarmoset)" ng-model="filterMarmoset" type="checkbox" class="ng-pristine ng-untouched ng-valid">
            Marmoset Viewer</label>
        </div></li>
      <li><div class="checkbox">
          <label>
            <input ng-change="setAssetFilter('sketchfab', filterSketchfab)" ng-model="filterSketchfab" type="checkbox" class="ng-pristine ng-untouched ng-valid">
            Sketchfab</label>
        </div></li>
    </ul>
  </li>
  <li><a href="#" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" >All Categories <i class="fa fa-angle-down" aria-hidden="true"></i></a>
    <ul class="dropdown-menu">
      <li class="dropdown-header">All Categories</li>
      <li><a href="#">Animation</a></li>
      <li><a href="#">Architectural Visualization</a></li>
      <li><a href="#">Architecture</a></li>
      <li><a href="#">Characters</a></li>
      <li><a href="#">Comic Art</a></li>
      <li><a href="#">Concept Art</a></li>
      <li><a href="#">Creatures</a></li>
      <li><a href="#">Environments</a></li>
      <li><a href="#">Fantasy</a></li>
      <li><a href="#">Game Art</a></li>
      <li><a href="#">Illustration</a></li>
      <li><a href="#">Industrial Design</a></li>
      <li><a href="#">Matte Painting</a></li>
      <li><a href="#">Mecha</a></li>
      <li><a href="#">Motion Graphics</a></li>
      <li><a href="#">Product Design</a></li>
      <li><a href="#">Props</a></li>
      <li><a href="#">Science Fiction</a></li>
      <li><a href="#">Still Life</a></li>
      <li><a href="#">Storyboards</a></li>
      <li><a href="#">Storytelling</a></li>
      <li><a href="#">Surreal</a></li>
      <li><a href="#">Textures &amp; Materials</a></li>
      <li><a href="#">Transport &amp; Vehicles</a></li>
      <li><a href="#">Tutorial</a></li>
      <li><a href="#">User Interface</a></li>
      <li><a href="#">Virtual Reality</a></li>
      <li><a href="#">Visual Effects</a></li>
      <li><a href="#">Weapons</a></li>
      <li><a href="#">Whimsical</a></li>
    </ul>
  </li>
</ul>
</div>
</nav>
</section>

<!-- Angular Start -->
<section class="angularjswrap clearfix">
<ul class="margin">
<li class="lists">
<div class="photowrap"> <a href="#">
	<%= image_tag("gallery-icon.png", :alt => "Gallery") %></a> <a href="#"><%= image_tag("video-icon.png", :alt => "Video") %></a></div>
<a href="#">
<center>
	<%= image_tag("database/roy-the-rat-girl.jpg", :alt => "Roy",:class=>"img-responsive") %>

</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"> <%= image_tag("gallery-icon.png", :alt => "Gallery",:class=>"img-responsive") %> </a></div>
<a href="#">
<center>
	 <%= image_tag("database/1.jpg", :alt => "Roy",:class=>"img-responsive") %>

</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#">
	 <%= image_tag("gallery-icon.png", :alt => "Gallery",:class=>"img-responsive") %>
</a></div>
<a href="#">
<center>
 <%= image_tag("database/2.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"> <%= image_tag("gallery-icon.png", :alt => "Gallery",:class=>"img-responsive") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/3.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/4.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/5.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/6.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/7.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="liststwopic">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/8.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/9.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists twopic">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a> <a href="#"><%= image_tag("video-icon.png", :alt => "Video") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/10.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/11.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/12.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/13.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/14.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/15.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/16.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists ">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/17.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/18.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
	<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
	<a href="#">
		<center>
			<%= image_tag("database/19.jpg", :alt => "Roy",:class=>"img-responsive") %>
		</center>
	</a> 
</li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a> <a href="#"><%= image_tag("video-icon.png", :alt => "Video") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/8.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/7.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/6.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/5.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/4.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/8.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/7.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/6.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/8.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/9.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a> <a href="#"><%= image_tag("video-icon.png", :alt => "Video") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/10.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/9.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/12.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/13.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/14.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/15.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/16.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/17.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/18.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/19.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a> <a href="#"><%= image_tag("video-icon.png", :alt => "Video") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/16.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/6.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/4.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/5.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/7.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/11.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/12.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists twopic">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/7.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/8.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/9.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a> <a href="#"><%= image_tag("video-icon.png", :alt => "Video") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/10.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/11.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/12.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/13.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/14.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/15.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/16.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/17.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/18.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/19.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a> <a href="#"><%= image_tag("video-icon.png", :alt => "Video") %></a></div>
<a href="#">
<center>
	 <%= image_tag("database/roy-the-rat-girl.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/1.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/2.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
<li class="lists">
<div class="photowrap"> <a href="#"><%= image_tag("gallery-icon.png", :alt => "Gallery") %></a></div>
<a href="#">
<center>
 <%= image_tag("database/3.jpg", :alt => "Roy",:class=>"img-responsive") %>
</center>
</a> </li>
</ul>
</section>

<!-- Content Start -->
<section class="maincontent clearfix">
<div class="container">
<div class="row">
<div class="col-md-8 col-sm-8 col-xs-12">
<div class="productbox clearfix">
  <h2>Behind the scenes, making of <a href="#" class="pull-right viewbtn">view all</a></h2>
  <div class="photos">
    <ul>
      <li class="clearfix">
        <div class="borders2 marginB5">  <%= image_tag("database/behind-img.jpg", :alt => "img",:class=>"img-responsive") %>
          <div class="overlay"></div>
        </div>
        <div class="pro-title"><a href="#">Technical Breakdown for The</a></div>
        <div class="pro-text">
         <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
         <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
         <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
        
        </div>
      </li>
      <li class="clearfix">
        <div class="borders2 marginB5">  <%= image_tag("database/behind-img1.jpg", :alt => "img",:class=>"img-responsive") %>
		
          <div class="overlay"></div>
        </div>
        <div class="pro-title"><a href="#">Technical Breakdown for The</a></div>
        <div class="pro-text">
        <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
         <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
         <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
        </div>
      </li>
      <li class="clearfix">
        <div class="borders2 marginB5"><%= image_tag("database/behind-img2.jpg", :alt => "img",:class=>"img-responsive") %>
		
          <div class="overlay"></div>
        </div>
        <div class="pro-title"><a href="#">Technical Breakdown for The</a></div>
        <div class="pro-text">
         <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
         <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
         <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
        </div>
      </li>
      <li class="clearfix">
        <div class="borders2 marginB5"><%= image_tag("database/behind-img3.jpg", :alt => "img",:class=>"img-responsive") %>
			
          <div class="overlay"></div>
        </div>
        <div class="pro-title"><a href="#">Technical Breakdown for The</a></div>
        <div class="pro-text">
         <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
         <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
         <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="productbox clearfix">
  <h2>TUTORIALS - FREE SOURCE OF 2D &amp; 3D <a href="#" class="pull-right viewbtn">view all</a></h2>
  <div class="photos">
    <ul>
      <li class="clearfix">
        <div class="borders2 marginB5"><%= image_tag("database/3d.jpg", :alt => "img",:class=>"img-responsive") %>
          <div class="overlay"></div>
        </div>
        <div class="pro-title"><a href="#">Maya for Motion Graphics</a></div>
        <div class="pro-text">
         <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
         <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
         <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
        </div>
      </li>
      <li class="clearfix">
        <div class="borders2 marginB5"><%= image_tag("database/3d-1.jpg", :alt => "img",:class=>"img-responsive") %>
          <div class="overlay"></div>
        </div>
        <div class="pro-title"><a href="#">V-Ray 3.3 for NUKE</a></div>
        <div class="pro-text">
         <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
         <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
         <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
        </div>
      </li>
      <li class="clearfix">
        <div class="borders2 marginB5"><%= image_tag("database/3d-2.jpg", :alt => "img",:class=>"img-responsive") %>
          <div class="overlay"></div>
        </div>
        <div class="pro-title"><a href="#">Modelling Cliff in Zbrush</a></div>
        <div class="pro-text">
         <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
         <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
         <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
        </div>
      </li>
      <li class="clearfix">
        <div class="borders2 marginB5"><%= image_tag("database/3d-3.jpg", :alt => "img",:class=>"img-responsive") %>
          <div class="overlay"></div>
        </div>
        <div class="pro-title"><a href="#">What’s New in Autodesk 3ds...</a></div>
        <div class="pro-text">
         <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
         <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
         <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="newswrap clearfix">
  <h2>News &amp; Press Release <a href="#" class="pull-right viewbtn">view all</a></h2>
  <ul>
    <li class="clearfix row marginB15">
      <div class="col-md-3 col-sm-4 col-xs-5 borders2"><%= image_tag("database/artists7.jpg", :class=>"img-responsive") %>
      <div class="overlay"></div>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-7">
        <div class="news-title"><a href="#">MARZA Revolutionizes CG Animation Rendering with Unity</a></div>
        <div class="news-view">by CGMeetup  961 views  2 days ago</div>
        <div class="news-text">MARZA Revolutionizes CG Animation Rendering<span class="hidden-xs"> with Unity Tokyo based MARZA ANIMATION PLANET INC. (MARZA) will debut the Unity rendered...</span></div>
      </div>
    </li>
    <li class="clearfix row marginB15">
      <div class="col-md-3 col-sm-4 col-xs-5 borders2"><%= image_tag("database/artists5.jpg", :class=>"img-responsive") %>
      <div class="overlay"></div>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-7">
        <div class="news-title"><a href="#">Lumberyard Visual Demo</a></div>
        <div class="news-view">by CGMeetup  961 views  2 days ago</div>
        <div class="news-text">Lumberyard Visual Demo Lumberyard's visual demo<span class="hidden-xs"> presented at GDC 2016, featuring our concept character Rin in a wooded environment....</span></div>
      </div>
    </li>
    <li class="clearfix row marginB15">
      <div class="col-md-3 col-sm-4 col-xs-5 borders2"><%= image_tag("database/artists2.jpg", :class=>"img-responsive") %>
       <div class="overlay"></div>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-7">
        <div class="news-title"><a href="#">A Material Point Method for Viscoelastic Fluids, Foams and Sponges</a></div>
        <div class="news-view">by CGMeetup  961 views  2 days ago</div>
        <div class="news-text">A Material Point Method for Viscoelastic Fluids,<span class="hidden-xs"> Foams and Sponges Daniel Ram, Theodore Gast, Chenfanfu Jiang, Craig Schroeder, Alexey Stomakhin, Joseph...</span></div>
      </div>
    </li>
  </ul>
</div>
<div class="productbox clearfix">
  <h2>MOVIES AND FILM TRAILERS <a href="#" class="pull-right viewbtn">view all</a></h2>
  <div class="photos">
    <ul>
      <li class="clearfix">
        <div class="borders2 marginB5"><%= image_tag("database/movie.jpg", :class=>"img-responsive",:alt =>'img') %>
		<div class="overlay"></div>
        </div>
        <div class="pro-title"><a href="#">Independence Day 2</a></div>
        <div class="pro-text">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
        </div>
      </li>
      <li class="clearfix">
        <div class="borders2 marginB5"><%= image_tag("database/movie-1.jpg", :class=>"img-responsive",:alt =>'img') %>

          <div class="overlay"></div>
        </div>
        <div class="pro-title"><a href="#">Warcraft Official Trailer 2</a></div>
        <div class="pro-text">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
        </div>
      </li>
      <li class="clearfix">
        <div class="borders2 marginB5"><%= image_tag("database/movie-2.jpg", :class=>"img-responsive",:alt =>'img') %>
          <div class="overlay"></div>
        </div>
        <div class="pro-title"><a href="#">Marvel’s Doctor Strange</a></div>
        <div class="pro-text">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
        </div>
      </li>
      <li class="clearfix">
        <div class="borders2 marginB5"><%= image_tag("database/movie-3.jpg", :class=>"img-responsive",:alt =>'img') %>
          <div class="overlay"></div>
        </div>
        <div class="pro-title"><a href="#">The Angry Birds Movie Offic</a></div>
        <div class="pro-text">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="newswrap clearfix">
  <h2>Jobs Updates <a href="#" class="pull-right viewbtn">view all</a></h2>
  <div class="row">
    <ul>
      <li class="clearfix row marginB15 col-md-6 col-sm-12">
        <div class="col-md-5 col-sm-4 col-xs-5"><%= image_tag("database/jobs.jpg", :class=>"img-responsive",:alt =>'jobs') %>
			</div>
        <div class="col-md-7 col-sm-8 col-xs-7">
          <div class="news-title marginB10"><a href="#">Encore VFX Recruiting Character Modelers/Riggers</a></div>          
          <div class="jobs-txt">CD Projekt Red - Seattle, WA, USA</div>
          <div class="full-time marginB10"><i class="fa fa-bookmark" aria-hidden="true"></i> Full Time</div>
          <div class="news-view">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
          </div>
        </div>
      </li>
      <li class="clearfix row marginB15 col-md-6 col-sm-12">
        <div class="col-md-5 col-sm-4 col-xs-5"><%= image_tag("database/jobs1.jpg", :class=>"img-responsive",:alt =>'jobs') %>
		</div>
        <div class="col-md-7 col-sm-8 col-xs-7">
          <div class="news-title marginB10"><a href="#">Weapons/Hard Surface Artist </a></div>
          <div class="jobs-txt">CD Projekt Red - Seattle, WA, USA</div>
          <div class="internship marginB10"><i class="fa fa-bookmark" aria-hidden="true"></i> Internship</div>
          <div class="news-view">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
          </div>
        </div>
      </li>
      <li class="clearfix row marginB15 col-md-6 col-sm-12">
        <div class="col-md-5 col-sm-4 col-xs-5"><%= image_tag("database/jobs2.jpg", :class=>"img-responsive",:alt =>'jobs') %>
			</div>
        <div class="col-md-7 col-sm-8 col-xs-7">
          <div class="news-title marginB10"><a href="#">Senior Cinematic/Artist Designer</a></div>
          <div class="jobs-txt">CD Projekt Red - Seattle, WA, USA</div>
          <div class="freelance marginB10"><i class="fa fa-bookmark" aria-hidden="true"></i> Freelance</div>
          <div class="news-view">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
          </div>
        </div>
      </li>
      <li class="clearfix row marginB15 col-md-6 col-sm-12">
        <div class="col-md-5 col-sm-4 col-xs-5"><%= image_tag("database/jobs3.jpg", :class=>"img-responsive",:alt =>'jobs') %></div>
        <div class="col-md-7 col-sm-8 col-xs-7">
          <div class="news-title marginB10"><a href="#">Weapons/Hard Surface Artist </a></div>
          <div class="jobs-txt">CD Projekt Red - Seattle, WA, USA</div>
          <div class="parttime marginB10"><i class="fa fa-bookmark" aria-hidden="true"></i> Part Time</div>
          <div class="news-view">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
          </div>
        </div>
      </li>
      <li class="clearfix row marginB15 col-md-6 col-sm-12">
        <div class="col-md-5 col-sm-4 col-xs-5"><%= image_tag("database/jobs4.jpg", :class=>"img-responsive",:alt =>'jobs') %></div>
        <div class="col-md-7 col-sm-8 col-xs-7">
          <div class="news-title marginB10"><a href="#">Concept Artist (Intermediate)</a></div>
          <div class="jobs-txt">CD Projekt Red - Seattle, WA, USA</div>
          <div class="contract marginB10"><i class="fa fa-bookmark" aria-hidden="true"></i> Contract</div>
          <div class="news-view">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
          </div>
        </div>
      </li>
      <li class="clearfix row col-md-6 col-sm-12">
        <div class="col-md-5 col-sm-4 col-xs-5"><%= image_tag("database/jobs5.jpg", :class=>"img-responsive",:alt =>'jobs') %></div>
        <div class="col-md-7 col-sm-8 col-xs-7">
          <div class="news-title marginB10"><a href="#">Technical Artist - Frankfurt</a></div>
          <div class="jobs-txt">CD Projekt Red - Seattle, WA, USA</div>
          <div class="temporary marginB10"><i class="fa fa-bookmark" aria-hidden="true"></i> Temporary</div>
          <div class="news-view">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="newswrap clearfix">
  <h2>Downloads <a href="#" class="pull-right viewbtn">view all</a></h2>
  <div class="row">
    <ul>
      <li class="clearfix row marginB15 col-md-6 col-sm-12">
        <div class="col-md-5 col-sm-4 col-xs-5"><%= image_tag("database/download.jpg", :class=>"img-responsive",:alt =>'Download') %>
			</div>
        <div class="col-md-7 col-sm-8 col-xs-7">
          <div class="news-title marginB15"><a href="#">Leopard Maya Rig v01</a></div>
          <div class="clearfix marginB15">
            <div class="downloadb pull-left"><i class="fa fa-download" aria-hidden="true"></i> 5,116</div>
            <div class="free-txt pull-left text-uppercase">free</div>
          </div>
          <div class="news-view">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
          </div>
        </div>
      </li>
      <li class="clearfix row marginB15 col-md-6 col-sm-12">
        <div class="col-md-5 col-sm-4 col-xs-5"><%= image_tag("database/download1.jpg", :class=>"img-responsive",:alt =>'Download') %>
			</div>
        <div class="col-md-7 col-sm-8 col-xs-7">
          <div class="news-title marginB15"><a href="#">3dsMax 2014 and Higher</a></div>
          <div class="clearfix marginB15">
            <div class="downloadb pull-left"><i class="fa fa-download" aria-hidden="true"></i> 5,116</div>
            <div class="paid-txt pull-left text-uppercase">$9.00</div>
          </div>
          <div class="news-view">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
          </div>
        </div>
      </li>
      <li class="clearfix row marginB15 col-md-6 col-sm-12">
        <div class="col-md-5 col-sm-4 col-xs-5"><%= image_tag("database/download2.jpg", :class=>"img-responsive",:alt =>'Download') %>
		</div>
        <div class="col-md-7 col-sm-8 col-xs-7">
          <div class="news-title marginB15"><a href="#">3dsMax 2014 and Higher</a></div>
          <div class="clearfix marginB15">
            <div class="downloadb pull-left"><i class="fa fa-download" aria-hidden="true"></i> 5,116</div>
            <div class="paid-txt pull-left text-uppercase">$9.00</div>
          </div>
          <div class="news-view">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
          </div>
        </div>
      </li>
      <li class="clearfix row marginB15 col-md-6 col-sm-12">
        <div class="col-md-5 col-sm-4 col-xs-5"><%= image_tag("database/download3.jpg", :class=>"img-responsive",:alt =>'Download') %>
			</div>
        <div class="col-md-7 col-sm-8 col-xs-7">
          <div class="news-title marginB15"><a href="#">Leopard Maya Rig v01</a></div>
          <div class="clearfix marginB15">
            <div class="downloadb pull-left"><i class="fa fa-download" aria-hidden="true"></i> 5,116</div>
            <div class="free-txt pull-left text-uppercase">free</div>
          </div>
          <div class="news-view">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
          </div>
        </div>
      </li>
      <li class="clearfix row marginB15 col-md-6 col-sm-12">
        <div class="col-md-5 col-sm-4 col-xs-5"><%= image_tag("database/download4.jpg", :class=>"img-responsive",:alt =>'Download') %>
		</div>
        <div class="col-md-7 col-sm-8 col-xs-7">
          <div class="news-title marginB15"><a href="#">Leopard Maya Rig v01</a></div>
          <div class="clearfix marginB15">
            <div class="downloadb pull-left"><i class="fa fa-download" aria-hidden="true"></i> 5,116</div>
            <div class="free-txt pull-left text-uppercase">free</div>
          </div>
         <div class="news-view">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
          </div>
        </div>
      </li>
      <li class="clearfix row marginB15 col-md-6 col-sm-12">
        <div class="col-md-5 col-sm-4 col-xs-5"><%= image_tag("database/download5.jpg", :class=>"img-responsive",:alt =>'Download') %>
			</div>
        <div class="col-md-7 col-sm-8 col-xs-7">
          <div class="news-title marginB15"><a href="#">3dsMax 2014 and Higher</a></div>
          <div class="clearfix marginB15">
            <div class="downloadb pull-left"><i class="fa fa-download" aria-hidden="true"></i> 5,116</div>
            <div class="paid-txt pull-left text-uppercase">$9.00</div>
          </div>
         <div class="news-view">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="productbox clearfix">
  <h2>Latest Posts <a href="#" class="pull-right viewbtn">view all</a></h2>
  <div class="photos">
    <ul>
      <li class="clearfix marginB10">
        <div class="borders2 marginB5"><%= image_tag("database/artists.jpg", :class=>"img-responsive",:alt =>'img') %>
		
          <div class="overlay"></div>
        </div>
        <div class="pro-title"><a href="#">Arene</a></div>
        <div class="pro-text">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
        </div>
      </li>
      <li class="clearfix marginB10">
        <div class="borders2 marginB5"><%= image_tag("database/artists1.jpg", :class=>"img-responsive",:alt =>'img') %>
          <div class="overlay"></div>
        </div>
        <div class="pro-title"><a href="#">Homefront: The Revolution </a></div>
        <div class="pro-text">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
        </div>
      </li>
      <li class="clearfix marginB10">
        <div class="borders2 marginB5"><%= image_tag("database/artists2.jpg", :class=>"img-responsive",:alt =>'img') %>
          <div class="overlay"></div>
        </div>
        <div class="pro-title"><a href="#">The Technomancer Gameplay</a></div>
        <div class="pro-text">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
        </div>
      </li>
      <li class="clearfix marginB10">
        <div class="borders2 marginB5"><%= image_tag("database/artists3.jpg", :class=>"img-responsive",:alt =>'img') %>
          <div class="overlay"></div>
        </div>
        <div class="pro-title"><a href="#">Mafia III – One Way Road Story </a></div>
        <div class="pro-text">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
        </div>
      </li>
      <li class="clearfix">
        <div class="borders2 marginB5"><%= image_tag("database/artists4.jpg", :class=>"img-responsive",:alt =>'img') %>
          <div class="overlay"></div>
        </div>
        <div class="pro-title"><a href="#">Arene</a></div>
        <div class="pro-text">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
        </div>
      </li>
      <li class="clearfix">
        <div class="borders2 marginB5"><%= image_tag("database/artists5.jpg", :class=>"img-responsive",:alt =>'img') %>
          <div class="overlay"></div>
        </div>
        <div class="pro-title"><a href="#">The Technomancer Gameplay </a></div>
        <div class="pro-text">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
        </div>
      </li>
      <li class="clearfix">
        <div class="borders2 marginB5"><%= image_tag("database/artists6.jpg", :class=>"img-responsive",:alt =>'img') %>
          <div class="overlay"></div>
        </div>
        <div class="pro-title"><a href="#">Mafia III – One Way Road Story </a></div>
        <div class="pro-text">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
        </div>
      </li>
      <li class="clearfix">
        <div class="borders2 marginB5"><%= image_tag("database/artists7.jpg", :class=>"img-responsive",:alt =>'img') %>
          <div class="overlay"></div>
        </div>
        <div class="pro-title"><a href="#">Homefront: The Revolution </a></div>
        <div class="pro-text">
           <span class="marginR5 marginL5"><i aria-hidden="true" class="fa fa-thumbs-up"></i> 30</span> 
           <span class="marginL5 marginR5"><i aria-hidden="true" class="fa fa-eye"></i> 13</span> 
           <span class="marginL5"><i aria-hidden="true" class="fa fa-comments"></i> 25</span> 
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="topartists clearfix">
  <h2>Top artists <a href="#" class="pull-right viewbtn">view all</a></h2>
  <ul class="margin">
    <li class="lists"><%= image_tag("database/1.jpg", :class=>"img-responsive",:alt =>'1') %></li>
    <li class="lists"><%= image_tag("database/2.jpg", :class=>"img-responsive",:alt =>'1') %></li>
    <li class="lists"><%= image_tag("database/3.jpg", :class=>"img-responsive",:alt =>'1') %></li>
    <li class="lists"><%= image_tag("database/4.jpg", :class=>"img-responsive",:alt =>'1') %></li>
    <li class="lists"><%= image_tag("database/5.jpg", :class=>"img-responsive",:alt =>'1') %></li>
    <li class="lists"><%= image_tag("database/6.jpg", :class=>"img-responsive",:alt =>'1') %></li>
    <li class="lists"><%= image_tag("database/7.jpg", :class=>"img-responsive",:alt =>'1') %></li>
    <li class="lists"><%= image_tag("database/8.jpg", :class=>"img-responsive",:alt =>'1') %></li>
    <li class="lists"><%= image_tag("database/9.jpg", :class=>"img-responsive",:alt =>'1') %></li>
    <li class="lists"><%= image_tag("database/10.jpg", :class=>"img-responsive",:alt =>'1') %></li>
    <li class="lists"><%= image_tag("database/11.jpg", :class=>"img-responsive",:alt =>'1') %></li>
    <li class="lists"><%= image_tag("database/12.jpg", :class=>"img-responsive",:alt =>'1') %></li>
    <li class="lists"><%= image_tag("database/13.jpg", :class=>"img-responsive",:alt =>'1') %></li>
    <li class="lists"><%= image_tag("database/14.jpg", :class=>"img-responsive",:alt =>'1') %></li>
    <li class="lists"><%= image_tag("database/15.jpg", :class=>"img-responsive",:alt =>'1') %></li>
    <li class="lists"><%= image_tag("database/16.jpg", :class=>"img-responsive",:alt =>'1') %></li>
    <li class="lists"><%= image_tag("database/17.jpg", :class=>"img-responsive",:alt =>'1') %></li>
    <li class="lists"><%= image_tag("database/18.jpg", :class=>"img-responsive",:alt =>'1') %></li>
    <li class="lists"><%= image_tag("database/19.jpg", :class=>"img-responsive",:alt =>'1') %></li>
    <li class="lists"><%= image_tag("database/roy-the-rat-girl.jpg", :class=>"img-responsive",:alt =>'1') %></li>
 
  </ul>
</div>
<div class="google-ad">
  <center>
	  <%= image_tag("database/Google-ad.jpg", :class=>"img-responsive",:alt =>"Google Ad") %>
  </center>
</div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12 aside">
<div class="marginB15">  <%= image_tag("database/Google-ad.jpg", :class=>"img-responsive",:alt =>"Google Ad") %></div>
<div class="wiphome marginB15 clearfix">
  <h2>Wip/Wants Critique</h2>
  <ul class="margin">
    <li class="lists"><a href="#"><%= image_tag("database/1.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/2.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/3.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/4.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/5.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/6.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/7.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/8.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/9.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
  </ul>
</div>
<div class="wiphome marginB15 clearfix">
  <h2>New From Pros <span>Go Pro!</span></h2>
  <ul class="margin">
    <li class="lists"><a href="#"><%= image_tag("database/10.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/11.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/12.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/13.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/14.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/15.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/16.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/17.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/18.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
  </ul>
</div>
<div class="wiphome marginB15 clearfix">
  <h2>Popular Today</h2>
  <ul class="margin">
   <li class="lists"><a href="#"><%= image_tag("database/1.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/2.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/3.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/4.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/5.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/6.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/7.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/8.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/9.jpg", :class=>"img-responsive",:alt =>'img') %></a></li>
  </ul>
</div>
<div class="categoriesbox">
  <h2>CATEGORIES</h2>
  <ul class="margin">
    <li class="lists"><a href="#">3D Studio Max</a></li>
    <li class="lists"><a href="#">3dsmax rigs</a></li>
    <li class="lists"><a href="#">After Effects </a></li>
    <li class="lists"><a href="#">Animation & Vfx</a></li>
    <li class="lists"><a href="#">Behind the Scenes</a></li>
    <li class="lists"><a href="#">Blender Tutorials</a></li>
    <li class="lists"><a href="#">Cinema 4D Tutorials</a></li>
    <li class="lists"><a href="#">Commercials & Ads</a></li>
    <li class="lists"><a href="#">Downloads</a></li>
    <li class="lists"><a href="#">Fusion Tutorials</a></li>
    <li class="lists"><a href="#">Games Trailers</a></li>
    <li class="lists"><a href="#">Houdini Tutorials</a></li>
    <li class="lists"><a href="#">Jobs</a></li>
    <li class="lists"><a href="#">Lightwave Tutorials</a></li>
    <li class="lists"><a href="#">MARI Tutorials</a></li>
    <li class="lists"><a href="#">Maya rigs</a></li>
    <li class="lists"><a href="#">Maya Tutorials</a></li>
    <li class="lists"><a href="#">Mocha Tutorials</a></li>
    <li class="lists"><a href="#">Modo Tutorials</a></li>
    <li class="lists"><a href="#">MotionBuilder Tutorials</a></li>
    <li class="lists"><a href="#">Movies Trailers</a></li>
    <li class="lists"><a href="#">Mudbox Tutorials</a></li>
    <li class="lists"><a href="#">News & Jobs</a></li>
    <li class="lists"><a href="#">Nuke Tutorials</a></li>
    <li class="lists"><a href="#">Other</a></li>
    <li class="lists"><a href="#">Photoshop Tutorials</a></li>
    <li class="lists"><a href="#">Pixar Renderman Tutorials</a></li>
    <li class="lists"><a href="#">RealFlow Tutorials</a></li>
    <li class="lists"><a href="#">Short Films</a></li>
    <li class="lists"><a href="#">Showreels</a></li>
    <li class="lists"><a href="#">Softimage Tutorials</a></li>
    <li class="lists"><a href="#">Tutorials</a></li>
    <li class="lists"><a href="#">Vray Tutorials</a></li>
    <li class="lists"><a href="#">Vue Tutorials</a></li>
    <li class="lists"><a href="#">Zbrush Tutorials</a></li>
  </ul>
</div>
</div>
</div>
</div>
</section>
<footer class="footer clearfix">
	<%= render "layouts/midfooter" %>
	<%= render "layouts/lastfooter" %>
</footer>
