<!-- WIP Details Section -->

<section class="wipdetails-container clearfix" ng-app="myApp" ng-controller="galleryCtrl">
<div class="wipdetails-left clearfix">
<div class="marginB15 clearfix">
<ul class="pgwSlideshow">
    <%
    i = 1
        if @gallery.images.present?
          @gallery.images.each_with_index do |j, index|

    %>
        <li class="lists"><a href="#">
         <img src="<%= j.image.large_image.url %>" class="img-responsive" alt="img"> 
         <div class="wip-count"><%= i  %></div></a></li>
    <%
      i = i + 1
          end  
      end    
    %>
 </ul>   

       <%
        if @gallery.videos.present?
          @gallery.videos.each_with_index do |j, index|
          
          if(j.video.include?('youtube')) 
              if j.video[/youtu\.be\/([^\?]*)/]
                  youtube_id = $1
              else
                  j.video[/^.*((v\/)|(embed\/)|(watch\?))\??v?=?([^\&\?]*).*/]
                  youtube_id = $5
              end 
          %>
            <div class="slidervideos">
             <a href="#"> <iframe width="700px" height="450px" src="https://www.youtube.com/embed/<%= youtube_id %>" frameborder="0" allowfullscreen></iframe></a>
            </div>  
          <div class="clearfix"></div>
                      
        <% elsif(j.video.include?('vimeo')) 
            match = j.video.match(/https?:\/\/(?:[\w]+\.)*vimeo\.com(?:[\/\w]*\/?)?\/(?<id>[0-9]+)[^\s]*/)

            if match.present?
                vimeoid = match[:id] %>
               <div class="slidervideos">     
                  <a href="#"><iframe width="700px" height="450px"  src="https://player.vimeo.com/video/<%= vimeoid %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></a>
               </div> 
               <div class="clearfix"></div>
        <% end 
         elsif(j.video.include?('dailymotion'))  
            match =  j.video.gsub('http://www.dailymotion.com/video/', "")
            match1  = match.index('_')
            match = match[0...match1]
            if match.present?
                dailymotionid = match %>
                <div class="slidervideos"> <a href="#">   
                  <iframe width="700px" height="450px"  frameborder="0"  src="//www.dailymotion.com/embed/video/<%= dailymotionid %>" allowfullscreen></iframe></a>
                </div> 
                <div class="clearfix"></div> 
        <% end 
        end %>
    <%    
      i = i + 1
      
      end  
      end  
  %>
  <div class="clearfix"></div>


  <%
        if @gallery.sketchfebs.present?
          @gallery.sketchfebs.each_with_index do |j, index|
          
          url = "https://sketchfab.com/oembed?url="+j.sketchfeb+"&maxwidth=700&maxheight=450&dataType=jsonp"
    %>

      <script type="text/javascript">
        $(document).ready(function(){
              $.getJSON("<%= url%>",{ajax: 'true'}, function(response){
                 // console.log(response);  
                  $('#sketch_span_'+"<%= index %>").html(response.html);
              }) 

        })
      </script>
       <div class="slidervideos"><a href="#">
        <span class="img-responsive"  id='sketch_span_<%= index %>'></span>
        </a></div> 
        <div class="clearfix"></div>
    <%
      i = i + 1
          end  
      end    
    %>
     <div class="clearfix"></div>
    <%
        if @gallery.marmo_sets.present?
          @gallery.marmo_sets.each_with_index do |j, index|
           url = j.marmoset.url
    %>

      <script type="text/javascript">
        $(document).ready(function(){
           // var params = { width: 700, height: 450, autoStart: false };
            //var myviewer = marmoset.embed( "<%= url %>", params ); 
          //   console.log(myviewer);
            //$('#marmoset_span_'+"<%#= index %>").html(myviewer);


        })
      </script>
       <div class="slidervideos">
        <div   id='marmoset_span_<%= index %>'></div>
      </div> 
        <div class="clearfix"></div>
    <%
      i = i + 1
          end  
      end    
    %>
     <div class="clearfix"></div>
    <%
        if @gallery.upload_videos.present?
          @gallery.upload_videos.each_with_index do |j, index|
           url = j.uploadvideo.url
    %>
       <div class="slidervideos"><a href="#">
         <iframe width="700px" height="450px"  frameborder="0"  src="<%= url %>" allowfullscreen></iframe>
       </a></div> 
        <div class="clearfix"></div>
    <%
      i = i + 1
          end  
      end    
    %>

</div>

<div class="wipdetailtag publishwrap">
<div class="marginB10 publish-txt"> <span class="txt-white"><strong>Category:</strong> </span> <a href="#"><%= @gallery.category.present? ? @gallery.category.name : '' %></a> </div>
<div class="marginB10 publish-txt"> <span class="txt-white"><strong>Tags:</strong> </span> 
  <% 
   alltag = ''
   if @gallery.tags.present? 
      @gallery.tags.each do |i|  
        alltag += i.tag+', '  
      end 
  end   
 %> 
 <%= alltag.chomp(', ') %>

 </div>
<div class="marginB10 publish-txt"><span class="txt-white"><strong>Software Used: </strong></span> 
 <% 
   software  = ''
   if @gallery.software_used.present?
     software_used = @gallery.software_used
     software_used.reject!{|a| a==""}
      software_used.each do |i|  
           software_name =  SoftwareExpertise.where("id = ?", i).first
           # abort(software_name.to_json)
  %>
           <span class="softb"><%= image_tag(software_name.image.software_used.url,:class=>"img-rounded" ,:alt => software_name.name) %></span><%= software_name.name %>
  <%    
      end  
  end  
 %> 
</div>
</div>
</div>
<div class="wipdetails-right clearfix">
<div class="clearfix marginB15 text-right">
<div class="reply-down close-wip">
  <div class="dropdown"> <i class="fa fa-chevron-down" aria-hidden="true" data-toggle="dropdown"></i>
    <ul class="dropdown-menu">
      <li><a href="#">Report abuse</a></li>
    </ul>
  </div>
</div>
<span class="close-wip"><i class="fa fa-times" aria-hidden="true"></i></span> </div>
<div class="wip-profile row">
<div class="col-md-3 col-sm-2 col-xs-3"><%= image_tag("user2.jpg",:alt => "user") %></div>
<div class="col-md-9 col-sm-10 col-xs-9 row">
  <div class="wipd-com"><%= @gallery.user.present? ? @gallery.user.firstname : '' %></div>
  <div><%= @gallery.user.professional_headline.present? ? @gallery.user.professional_headline : '' %></div>
</div>
</div>
<div class="clearfix marginB15">
<button class="greenbtn" type="button"><i class="fa fa-thumbs-up" aria-hidden="true"></i> &nbsp; Like</button>
<button class="followbtn" type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i> Follow</button>
<!-- <button type="button" class="bluebtn" id='bookmark_button'><i class="fa fa-book" aria-hidden="true"></i> &nbsp; BookMark</button>
  -->
<a id="bookmarkme" href="#" rel="sidebar" title="CGmeetup:- <%= @gallery.user.firstname + ':' + @gallery.title %>" class="bluebtn"><i class="fa fa-book" aria-hidden="true"></i> &nbsp; BookMark</a>



</div>
<div class="wipdetail-area">
<%= @gallery.user.summary.present? ? @gallery.user.summary : '' %>
<div class="post-txt">Posted a month ago</div>
</div>
<div class="clearfix row wip-social">
<!-- 
    <div class="col-md-4 col-sm-4 col-xs-4">
      <div><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 995 Like</a></div>
      <div class="fbshare text-center"><i class="fa fa-facebook" aria-hidden="true"></i> Share</div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
      <div><i class="fa fa-eye" aria-hidden="true"></i> 6,640 Views</div>
      <div class="pinit text-center"><i class="fa fa-pinterest-p" aria-hidden="true"></i> Pin it</div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
      <div><i class="fa fa-comments" aria-hidden="true"></i> 10 Comment</div>
      <div class="tweet text-center"><i class="fa fa-twitter" aria-hidden="true"></i> Tweet</div>
    </div> -->
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5895a76640dc4c96"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
 <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="addthis_inline_share_toolbox"></div>
 </div>   


</div>
<div class="clearfix marginB15 com-txt"><i class="fa fa-comments" aria-hidden="true"></i> &nbsp; 10 Comment</div>
<div class="wipdetails-reply clearfix">
<div class="reply-down">
  <div class="dropdown"> <i class="fa fa-chevron-down" aria-hidden="true" data-toggle="dropdown"></i>
    <ul class="dropdown-menu">
      <li><a href="#">Report abuse</a></li>
    </ul>
  </div>
</div>
<div class="wipreplyleft"><%= image_tag("user1.jpg",:alt => "img",:class=>"img-responsive") %></div>
<div class="wipreplyright clearfix">
  <div class="wipreply-title marginB5">Henrik Evensen</div>
  <div class="wiptxtcom">Freelance Illustrator & CG - Artist</div>
  <div class="wiptxt">Wonderful mood,GREAT work as usual,love the express series very much ,more PLZ <i class="fa fa-meh-o" aria-hidden="true"></i></div>
  <div class="wiplikewrap clearfix"> <a href="#">Like</a> <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Likes</a> <a href="#">Reply</a> <span class="pull-right wipdate">4 months ago</span> </div>
</div>
</div>
<div class="wipdetails-reply clearfix">
<div class="reply-down">
  <div class="dropdown"> <i class="fa fa-chevron-down" aria-hidden="true" data-toggle="dropdown"></i>
    <ul class="dropdown-menu">
      <li><a href="#">Report abuse</a></li>
    </ul>
  </div>
</div>
<div class="wipreplyleft"><%= image_tag("user.jpg",:alt => "img",:class=>"img-responsive") %></div>
<div class="wipreplyright clearfix">
  <div class="wipreply-title marginB5">Henrik Evensen</div>
  <div class="wiptxtcom">Freelance Illustrator & CG - Artist</div>
  <div class="wiptxt">Foof! Thats the stuff !</div>
  <div class="wiplikewrap clearfix"> <a href="#">Like</a> <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Likes</a> <a href="#">Reply</a> <span class="pull-right wipdate">4 months ago</span> </div>
  <div class="wip-comment-box marginB10">
    <textarea name="" cols="" rows="" class="form-control"></textarea>
  </div>
  <div class="clearfix">
    <button type="button" class="bluebtn"><i class="fa fa-comment" aria-hidden="true"></i> Post Comment</button>
    <button type="button" class="cancelbtn pull-right"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
  </div>
</div>
</div>
<div class="wipdetails-reply clearfix">
<div class="reply-down">
  <div class="dropdown"> <i class="fa fa-chevron-down" aria-hidden="true" data-toggle="dropdown"></i>
    <ul class="dropdown-menu">
      <li><a href="#">Report abuse</a></li>
    </ul>
  </div>
</div>
<div class="wipreplyleft"><%= image_tag("anmit.jpg",:alt => "img",:class=>"img-responsive") %></div>
<div class="wipreplyright clearfix">
  <div class="wipreply-title marginB5">Henrik Evensen</div>
  <div class="wiptxtcom">Freelance Illustrator & CG - Artist</div>
  <div class="wiptxt">FDude, this is absolutely beautiful. I am completely in awe man, great job!</div>
  <div class="wiplikewrap clearfix"> <a href="#">Like</a> <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Likes</a> <a href="#">Reply</a> <span class="pull-right wipdate">4 months ago</span> </div>
</div>
<div class="wip-comment-box1 marginB10 pull-left">
  <textarea name="" cols="" rows="" class="form-control"></textarea>
</div>
<div class="clearfix">
  <button type="button" class="bluebtn"><i class="fa fa-comment" aria-hidden="true"></i> Post Comment</button>
</div>
</div>
<div class="friendsbox">
 
<%= image_tag("database/google-ad1.jpg",:alt => "Google Ad",:class=>"img-responsive") %> </div>
<div class="aside marginB15">
<div class="wiphome clearfix proswrap">
  <h2>More by <span>Michal Lisowski</span></h2>
  <ul class="margin">
    <li class="lists"><a href="#"><%= image_tag("database/mioree-riven-2016.jpg",:alt => "img",:class=>"img-responsive") %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/mioree-3f71e1d9e907c6965bd7e7485e27e145-d7nmi4l.jpg",:alt => "img",:class=>"img-responsive") %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/mioree-sailor-moon-2016-recovered.jpg",:alt => "img",:class=>"img-responsive") %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/mioree-satsuki-the-queen-by-pieder-d7i0no4.jpg",:alt => "img",:class=>"img-responsive") %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/mioree-child-of-light-becoming-by-pieder-d7isd6a.jpg",:alt => "img",:class=>"img-responsive") %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/mioree-meg-2016-for-amethylia.jpg",:alt => "img",:class=>"img-responsive") %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/mioree-snape.jpg",:alt => "img",:class=>"img-responsive") %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/mioree-ana.jpg",:alt => "img",:class=>"img-responsive") %></a></li>
    <li class="lists"><a href="#"><%= image_tag("database/mioree-silas-sall.jpg",:alt => "img",:class=>"img-responsive") %></a></li>
  </ul>
</div>
</div>
</div>
</section>
<%= javascript_include_tag "pgwslideshow" %>
<script>
$(document).ready(function() {
    $('.pgwSlideshow').pgwSlideshow();
    $("#bookmarkme").click(function() {
        if (window.sidebar) { // Mozilla Firefox Bookmark
          window.sidebar.addPanel(location.href,document.title,"");
        } else if(window.external) { // IE Favorite
          window.external.AddFavorite(location.href,document.title); }
        else if(window.opera && window.print) { // Opera Hotlist
          this.title=document.title;
          return true;
        }
      });
});
var app = angular.module('myApp',[]);
    app.controller('galleryCtrl', function($scope, $http) {

});
</script>