<!-- WIP Details Section -->
<div id="myApp" ng-app="myApp">
<div ng-controller="galleryCtrl">
<section class="wipdetails-container clearfix" ng-app="myApp" ng-controller="galleryCtrl">
<div class="wipdetails-left clearfix">
<div class="marginB15 clearfix">
<ul class="pgwSlideshow">
    <%
    i = 1
        if @gallery.images.present?
          @gallery.images.each_with_index do |j, index|

    %>
        <li class="lists"><a href="#">
         <img src="<%= j.image.large_image.url %>" class="img-responsive" alt="img">
         <div class="wip-count"><%= i  %></div></a></li>
    <%
      i = i + 1
          end
      end
    %>
 </ul>
 <div class="clearfix">&nbsp;</div>

       <%
        if @gallery.videos.present?
          @gallery.videos.each_with_index do |j, index|

          if(j.video.include?('youtube'))
              if j.video[/youtu\.be\/([^\?]*)/]
                  youtube_id = $1
              else
                  j.video[/^.*((v\/)|(embed\/)|(watch\?))\??v?=?([^\&\?]*).*/]
                  youtube_id = $5
              end
          %>
            <div class="slidervideos">
             <a href="#"> <iframe width="700px" height="450px" src="https://www.youtube.com/embed/<%= youtube_id %>" frameborder="0" allowfullscreen></iframe></a>
            </div>
          <div class="clearfix"></div>

        <% elsif(j.video.include?('vimeo'))
            match = j.video.match(/https?:\/\/(?:[\w]+\.)*vimeo\.com(?:[\/\w]*\/?)?\/(?<id>[0-9]+)[^\s]*/)

            if match.present?
                vimeoid = match[:id] %>
               <div class="slidervideos">
                  <a href="#"><iframe width="700px" height="450px"  src="https://player.vimeo.com/video/<%= vimeoid %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></a>
               </div>
               <div class="clearfix"></div>
        <% end
         elsif(j.video.include?('dailymotion'))
            match =  j.video.gsub('http://www.dailymotion.com/video/', "")
            match1  = match.index('_')
            match = match[0...match1]
            if match.present?
                dailymotionid = match %>
                <div class="slidervideos"> <a href="#">
                  <iframe width="700px" height="450px"  frameborder="0"  src="//www.dailymotion.com/embed/video/<%= dailymotionid %>" allowfullscreen></iframe></a>
                </div>
                <div class="clearfix"></div>
        <% end
        end %>
    <%
      i = i + 1

      end
      end
  %>
  <div class="clearfix"></div>


    <%
        if @gallery.sketchfebs.present?
          @gallery.sketchfebs.each_with_index do |j, index|

          url = "https://sketchfab.com/oembed?url="+j.sketchfeb+"&maxwidth=700&maxheight=450&dataType=jsonp"
    %>

      <script type="text/javascript">
        $(document).ready(function(){
              $.getJSON("<%= url%>",{ajax: 'true'}, function(response){
                 // console.log(response);
                  $('#sketch_span_'+"<%= index %>").html(response.html);
              })

        })
      </script>
       <div class="slidervideos"><a href="#">
        <span class="img-responsive"  id='sketch_span_<%= index %>'></span>
        </a></div>
        <div class="clearfix"></div>
    <%
      i = i + 1
          end
      end
    %>
     <div class="clearfix"></div>
    <%
        if @gallery.marmo_sets.present?
          @gallery.marmo_sets.each_with_index do |j, index|
           url = j.marmoset.url
    %>

      <script type="text/javascript">
        $(document).ready(function(){
           setTimeout(function() {
             var myviewer = new marmoset.WebViewer( 700, 450, "<%= url %>" );
                $('#marmoset_span_'+"<%= index %>").html(myviewer.domRoot);
            }, 1000);

           // var myviewer = marmoset.embed( "<%= url %>", params );
          //   console.log(myviewer);
           // $('#marmoset_span_'+"<%#= index %>").html(myviewer);


        })
      </script>
       <div class="slidervideos">
        <div   id='marmoset_span_<%= index %>'></div>
      </div>
        <div class="clearfix"></div>
    <%
      i = i + 1
          end
      end
    %>
     <div class="clearfix"></div>
    <%
        if @gallery.upload_videos.present?
          @gallery.upload_videos.each_with_index do |j, index|
           url = j.uploadvideo.url
    %>
       <div class="slidervideos"><a href="#">
         <iframe width="700px" height="450px"  frameborder="0"  src="<%= url %>" allowfullscreen></iframe>
       </a></div>
        <div class="clearfix"></div>
    <%
      i = i + 1
          end
      end
    %>

</div>

<div class="wipdetailtag publishwrap">
<div class="marginB10 publish-txt"> <span class="txt-white"><strong>Category:</strong> </span> <a href="#"><%= @gallery.category.present? ? @gallery.category.name : '' %></a> </div>
<div class="marginB10 publish-txt"> <span class="txt-white"><strong>Tags:</strong> </span>
  <%
   alltag = ''
   if @gallery.tags.present?
      @gallery.tags.each do |i|
        alltag += i.tag+', '
      end
  end
 %>
 <%= alltag.chomp(', ') %>

 </div>
<div class="marginB10 publish-txt"><span class="txt-white"><strong>Software Used: </strong></span>
 <%
   software  = ''
   if @gallery.software_used.present?
     software_used = @gallery.software_used
     software_used.reject!{|a| a==""}
      software_used.each do |i|
           software_name =  SoftwareExpertise.where("id = ?", i).first
           # abort(software_name.to_json)
  %>
           <span class="softb"><%= image_tag(software_name.image.software_used.url,:class=>"img-rounded" ,:alt => software_name.name) %></span><%= software_name.name %>
  <%
      end
  end
 %>
</div>
</div>
</div>
<div class="wipdetails-right clearfix">
<div class="clearfix marginB15 text-right">
<!--     <div class="reply-down close-wip">
      <div class="dropdown"> <i class="fa fa-chevron-down" aria-hidden="true" data-toggle="dropdown"></i>
        <ul class="dropdown-menu">
          <li><a href="#" data-toggle="modal" data-target="#reportAbuseModal">Report abuse</a></li>
        </ul>
      </div>
    </div> -->
    <a href='<%= index_gallery_path %>'><span class="close-wip"><i class="fa fa-times" aria-hidden="true"></i></span></a>
</div>
<div class="wip-profile row">
<div class="col-md-3 col-sm-2 col-xs-3"><%= image_tag("user2.jpg",:alt => "user") %></div>
<div class="col-md-9 col-sm-10 col-xs-9 row">
  <div class="wipd-com"><%= @gallery.user.present? ? @gallery.user.firstname : '' %></div>
  <div><%= @gallery.user.professional_headline.present? ? @gallery.user.professional_headline : '' %></div>
</div>
</div>
<div class="clearfix marginB15">
<button id='post_like_button' class="greenbtn" type="button"><i class="fa fa-thumbs-up" aria-hidden="true"></i> &nbsp; Like</button>
<button id='post_dislike_button' class="greenbtn hidden" type="button"><i class="fa fa-check" aria-hidden="true"></i> &nbsp; Liked</button>

<button id='follow_button' class="followbtn" type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i> Follow</button>
<button id='unfollow_button' class="followbtn hidden" type="button"><i class="fa fa-check" aria-hidden="true"></i> Following</button>

<button id='bookmarkbutton' type="button" class="bluebtn" data-toggle="modal" data-target="#bookmarkModal">
  <i class="fa fa-book" aria-hidden="true"></i> BookMark
</button>
<!-- <button type="button" class="bluebtn"><i class="fa fa-book" aria-hidden="true"></i> &nbsp; BookMark</button> -->



</div>
<div class="wipdetail-area">
<%= @gallery.user.summary.present? ? @gallery.user.summary : '' %>

<div class="post-txt">In collections:  <span>
  <%
    @gallery.collection.each do |i|
  %>
  <a href='<%= collection_detail_path(i.id) %>'><%= i.title %></a>
  <%
    end
  %>


</span></div>

<div class="post-txt">Posted a month ago</div>
</div>
<div class="clearfix row wip-social">
<!--
    <div class="col-md-4 col-sm-4 col-xs-4">
      <div><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 995 Like</a></div>
      <div class="fbshare text-center"><i class="fa fa-facebook" aria-hidden="true"></i> Share</div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
      <div><i class="fa fa-eye" aria-hidden="true"></i> 6,640 Views</div>
      <div class="pinit text-center"><i class="fa fa-pinterest-p" aria-hidden="true"></i> Pin it</div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
      <div><i class="fa fa-comments" aria-hidden="true"></i> 10 Comment</div>
      <div class="tweet text-center"><i class="fa fa-twitter" aria-hidden="true"></i> Tweet</div>
    </div> -->
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5895a76640dc4c96"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
 <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="addthis_inline_share_toolbox"></div>
 </div>


</div>
<div class="clearfix marginB15 com-txt"><i class="fa fa-comments" aria-hidden="true"></i> &nbsp; <%= @gallery.comment_count  %> Comment</div>
<div class="wipdetails-reply clearfix">
 <!-- <a class="pull-right closebtn" href='<%= index_gallery_path %>'><i class="fa fa-times" aria-hidden="true"></i></a>  -->
   <!-- <a class="pull-right closebtn"><i data-toggle="dropdown" aria-hidden="true" class="fa fa-chevron-down"></i></a>  -->

</div>
<div class="wipdetails-reply clearfix">
<!-- <div class="reply-down">
  <div class="dropdown"> <i class="fa fa-chevron-down" aria-hidden="true" data-toggle="dropdown"></i>
    <ul class="dropdown-menu">
      <li><a href="#">Report abuse</a></li>
    </ul>
  </div>
</div> -->
<div class="wipreplyleft">
<% if user_signed_in? %>
    <%= image_tag(current_user.image.user_activity.url,:alt => "img",:class=>"img-responsive") %>
<% end %>
</div>
<div class="wipreplyright clearfix">
<!--   <div class="wipreply-title marginB5">Henrik Evensen</div>
  <div class="wiptxtcom">Freelance Illustrator & CG - Artist</div>
  <div class="wiptxt">Foof! Thats the stuff !</div>
  <div class="wiplikewrap clearfix"> <a href="#">Like</a> <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Likes</a> <a href="#">Reply</a> <span class="pull-right wipdate">4 months ago</span> </div> -->
  <% if !@blocked_users.present? %>
    <div class="wip-comment-box marginB10">
     <textarea class="form-control" id='post_comments_<%= @gallery.id %>'  style='margin-top:0px !important' ></textarea>

    </div>
    <div class="clearfix">
     <button id='post_comments_submit_<%= @gallery.id %>' type="button" class="bluebtn"><i class="fa fa-comments" aria-hidden="true"></i> Post Comment</button>

      <!-- <button type="button" class="bluebtn"><i class="fa fa-comment" aria-hidden="true"></i> Post Comment</button> -->
    <!--   <button type="button" class="cancelbtn pull-right"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button> -->
    </div>
  <% end %>
</div>
</div>
<div class="wipdetails-reply clearfix">
<!-- <div class="reply-down">
  <div class="dropdown"> <i class="fa fa-chevron-down" aria-hidden="true" data-toggle="dropdown"></i>
    <ul class="dropdown-menu">
      <li><a href="#">Report abuse</a></li>
    </ul>
  </div>
</div> -->
<div id ='commentslist_dev'></div>
<!-- <div class="wipreplyleft"><%#= image_tag(current_user.image.user_activity.url,:alt => "img",:class=>"img-responsive") %></div>
<div class="wipreplyright clearfix">
  <div class="wipreply-title marginB5">Henrik Evensen</div>
  <div class="wiptxtcom">Freelance Illustrator & CG - Artist</div>
  <div class="wiptxt">FDude, this is absolutely beautiful. I am completely in awe man, great job!</div>
  <div class="wiplikewrap clearfix"> <!-- <a href="#">Like</a> <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Likes</a> <a href="#">Reply</a>  <span class="pull-right wipdate">4 months ago</span> </div>
</div>
 --><!-- <div class="wip-comment-box1 marginB10 pull-left">
  <textarea name="" cols="" rows="" class="form-control"></textarea>
</div>
<div class="clearfix">
  <button type="button" class="bluebtn"><i class="fa fa-comment" aria-hidden="true"></i> Post Comment</button>
</div> -->
</div>
<div class="friendsbox">
  <% if @body_ads[:first].present? %>
    <%= @body_ads[:first].html_safe %>
  <% end %>
  <%#= image_tag("database/Google-ad.jpg",:alt => "Google Ad",:class=>"img-responsive") %>
</div>
<div class="aside marginB15">
<div class="wiphome clearfix proswrap">
  <h2>More by <span><%= @gallery.user.present? ? @gallery.user.firstname + ' ' + @gallery.user.lastname  : '' %></span></h2>
  <ul class="margin" id = "more_by_artist_dev">
          <!-- <li class="lists"><a href="#"><%#= image_tag("database/ignatius-tan-exiles-end.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%#= image_tag("database/ignatius-tan-ignatius-tan-terra-final.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%#= image_tag("database/ignatius-tan-fiora-for-print.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%#= image_tag("database/ignatius-tan-facecloseuprender.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%#= image_tag("database/ignatius-tan-one-smoking-hot-fairy-tail-resized.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%#= image_tag("database/ignatius-tan-mononoke-final-merged.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%#= image_tag("database/ignatius-tan-phantom-assassin-merged.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%#= image_tag("database/ignatius-tan-yuna-final-edited.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%#= image_tag("database/ignatius-tan-lunar-diana-final.jpg", :class=>"img-responsive", :alt=>"img") %></a></li> -->
        </ul>
</div>
</div>
</div>
    <div class="modal fade default-popup" id="bookmarkModal" tabindex="-1" role="dialog" aria-labelledby="bookmarkModalLabel">
      <div class="modal-dialog" role="document">
    <!--    <%#= form_for(@collection, :html => {:id => 'bookmark_form_popup'}, :url => create_collection_path) do |f|
         %> -->
         <%= form_for(@collection, :html => {:id => 'bookmark_form_popup'}, :url => 'javascript:void(0);') do |f|
         %>
         <%= f.hidden_field :gallery_id, value: @gallery.id %>
          <div class="modal-content">
            <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal"></button>
              <h4 class="modal-title" id="exampleModalLabel">Add project to collection</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                  <label for="recipient-name" class="control-label">Collection Name:</label>
                  <%= f.text_field :title, :autofocus => true, :placeholder => "Collection Name", class:"form-control", :type => 'text' %>
                  <span class="err-msg" id='bookmark_error_msg'><%= form_error_msg_for(@collection,:title, "Collection") %></span>
                </div>

                <div id='get_already_collection'></div>

            </div>
            <div class="modal-footer">
              <button type="button" class="lightbtn" data-dismiss="modal">Close</button>
              <button type="submit" class="lightbtn">Create</button>
            </div>

        <% end %>

                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabel">Saved collections</h4>
                </div>

                <div class="modal-body">
                  <div class="form-group">
                    <ul style="width: 570px; height: 250px; overflow: auto">
                      <% if @collections!=nil %>
                        <% i=1 %>
                        <%  @collections.each do |d| %>
                          <li>
                             <span class="col-sm-2"> <%= i %>.</span>
                             <span class="col-sm-4"><%= d.title %></span>
                             <% if find_gallery_id(d.id,@gallery.id) %>
                              <button class="collection btn btn-primary" id=<%= d.id %> type="button" disabled>Added</button>
                            <% else %>
                              <button class="collection btn btn-primary" id=<%= d.id %> type="button">Add to collection</button>
                            <% end %>
                          </li>
                          <br></br>
                          <% i=i+1 %>

                        <% end %>
                      <% end %>
                    </ul>
                  </div>
                </div>
               </div>

      </div>
    </div>



  <div class="modal fade default-popup" id="reportAbuseModal" tabindex="-1" role="dialog" aria-labelledby="reportAbuseModalLabel">
      <div class="modal-dialog" role="document">
    <!--    <%#= form_for(@collection, :html => {:id => 'bookmark_form_popup'}, :url => create_collection_path) do |f|
         %> -->
         <%= form_for(@report, :html => {:id => 'report_abuse_popup'}, :url => 'javascript:void(0);') do |f|
         %>
         <%= f.hidden_field :post_id, value: @gallery.id %>
          <%= f.hidden_field :post_type, value: 'Gallery' %>
          <div class="modal-content">
            <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal"></button>
              <h4 class="modal-title" id="exampleModalLabel">Report Abuse</h4>
            </div>
            <div class="modal-body">
                  <center> <span class="succ-msg" id='report_abuse_succ_msg'></center>
                   <div class="form-group">
                        <label for="recipient-name" class="control-label1">This is:</label></br>
                       <%= f.radio_button :report_issue   , 'Spam', :checked => true %> Spam</br>
                       <%= f.radio_button :report_issue   , 'Inappropriate' %> Inappropriate
                  </div>
                   <div class="form-group">
                    <label for="recipient-name" class="control-label">Reporting copyright infringement? <a href='#'>Read this first</a></label>
                   </div>
                  <div class="form-group">
                    <%= f.text_area :description,  style:'height:150px', class: 'form-control  message-form1', id: 'description' %>
                    <span class="err-msg" id='report_error_msg'><%= form_error_msg_for(@report,:title, "Report") %></span>
                  </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="lightbtn" data-dismiss="modal">Close</button>
              <button type="submit" class="lightbtn">Report abuse</button>
            </div>
          </div>
        <% end %>




    </div>



</section>
</div>
</div>
<%= javascript_include_tag "pgwslideshow" %>
<script>
var app = angular.module('myApp',[]);
    app.controller('galleryCtrl', function($scope, $http) {

});
angular.bootstrap(document.getElementById("myApp"), ['myApp']);
$(document).ready(function() {


    $('.pgwSlideshow').pgwSlideshow();
    $.ajax({
        type: "post",
        url: "<%= save_view_count_path %>" ,
        data: {'gallery_id': '<%= @gallery.id %>'},
        success: function(data){
        }
    });


      $.ajax({
          type: "get",
          url: "<%= get_artist_gallery_path %>" ,
          data: {'user_id': <%= @gallery.user_id %>},
          success: function(data){
                 $('#more_by_artist_dev').html(data.data);
             // $('#post_comments_'+gallery_id).val('');
          }
     });


    $('#bookmark_form_popup').on('submit',function(){
             $.ajax({
              type: "post",
              url: "<%= create_collection_path %>" ,
              data: $('#bookmark_form_popup').serialize(),
              success: function(data){
                  if(data.res == 0){
                      $('#bookmark_error_msg').html('');
                      $('#bookmark_error_msg').html(data.message);
                  }else{
                      window.location.reload(true);

                  }
              }
            });
        });


    $('#report_abuse_popup').on('submit',function(){
             $.ajax({
              type: "post",
              url: "<%= create_report_path %>" ,
              data: $('#report_abuse_popup').serialize(),
              success: function(data){
                    $('#report_abuse_succ_msg').html(data.message);
              }

            });
    });




});

</script>

<% if user_signed_in? %>

<script>
  $(document).ready(function(){



      $.ajax({
          type: "get",
          url: "<%= get_comment_path %>" ,
          data: {'gallery_id': "<%= @gallery.id %>",'user_id': "<%= current_user.id %>",'section_type': 'gallery_detail'},
          success: function(data){
            $('#commentslist_dev').html(data.data);
          }
      });


      $('[id^= post_comments_submit_]').on('click',function(){

          gallery_id = $(this).attr('id').replace('post_comments_submit_','');
          textareavalue   = $('#post_comments_'+gallery_id).val();
          if(textareavalue == ''){
              alert('Comment cannot be blank.');
              return false;
           }else{

                  $.ajax({
                      type: "post",
                      url: "<%= save_comment_path %>" ,
                      data: {'gallery_id': gallery_id,'description': textareavalue,'section_type': 'gallery_detail'},
                      success: function(data){
                          $('#post_comments_'+gallery_id).val('');

                          $.ajax({
                            type: "get",
                            url: "<%= get_comment_path %>" ,
                            data: {'gallery_id': "<%= @gallery.id %>",'user_id': "<%= current_user.id %>",'section_type': 'gallery_detail'},
                            success: function(data){
                              $('#commentslist_dev').html(data.data);
                              //return false;
                            }
                        });

                      }
                  });
              }

      });

      $(".collection").on('click',function() {
        var id = $(this).attr("id");
          $.ajax({
            type: "post",
            url: "<%= add_collection_detail_path %>",
            data: {'collection_id': id,'gallery_id': '<%= @gallery.id %>'},
            success: function(r){
               if(r.res == 1) {
                  $("#"+id).html("Added");
                  $("#"+id).attr("disabled", true);
                 }
              }
          });
      });

       $.ajax({
            type: "post",
            url: "<%= check_save_like_path %>" ,
            data: {'gallery_id': '<%= @gallery.id %>'},
           success: function(data){
              //alert(data.res)
             if(data.res == 1) {
                  $('#post_like_button').addClass('hidden');
                  $('#post_dislike_button').removeClass('hidden');
              }else{
                   $('#post_like_button').removeClass('hidden');
                   $('#post_dislike_button').addClass('hidden');
              }

            }
        });



    $('#post_like_button, #post_dislike_button').on('click',function(){
      //alert('gh');
            $.ajax({
                type: "post",
                url: "<%= save_like_path %>" ,
                data: {'gallery_id': '<%= @gallery.id %>','artist_id': '<%= @gallery.user_id %>'},
                success: function(data){
                  //alert(data.res)
                 if(data.res == 1) {
                      $('#post_like_button').addClass('hidden');
                      $('#post_dislike_button').removeClass('hidden');
                  }else{
                       $('#post_like_button').removeClass('hidden');
                       $('#post_dislike_button').addClass('hidden');
                  }

                }
            });
    });



    $.ajax({
            type: "post",
            url: "<%= check_follow_artist_path %>" ,
            data: {'gallery_id': '<%= @gallery.id %>','artist_id': '<%= @gallery.user_id %>'},
            success: function(data){
                //alert(data.res)
               if(data.res == 1) {
                        $('#follow_button').addClass('hidden');
                        $('#unfollow_button').removeClass('hidden');
                }else{
                        $('#follow_button').removeClass('hidden');
                        $('#unfollow_button').addClass('hidden');
                }
            }
      });

    $('#follow_button, #unfollow_button').on('click',function(){
            $.ajax({
                type: "post",
                url: "<%= follow_artist_path %>" ,
                data: {'gallery_id': '<%= @gallery.id %>','artist_id': '<%= @gallery.user_id %>'},
                success: function(data){
                  //alert(data.res)
                 if(data.res == 1) {
                      $('#follow_button').addClass('hidden');
                      $('#unfollow_button').removeClass('hidden');
                  }else{
                       $('#follow_button').removeClass('hidden');
                       $('#unfollow_button').addClass('hidden');
                  }

                }
            });
    });





  });

</script>


<% end %>
