<!-- Gallery Content Start -->
<div class="gallery-container clearfix">
  <div class="gallery-left clearfix">
  
  <div class="gallery-slide-wrap clearfix">
  <div class="slick-prev"><a href="#" class="fa fa-angle-left" aria-hidden="true"></a></div>
  <div class="slick-next"><a href="#" class="fa fa-angle-right" aria-hidden="true"></a></div>
  
    <%
        if @gallery.images.present?
          @gallery.images.each_with_index do |j, index|

            if index > 0
              break
            end  
    %>
    <div class="text-center lightcolor wip-txt"></div>
      <div class="galleryslide">
          <div class="gallery-new"> <a href="#" class="fa fa-download" aria-hidden="true"></a> <a href="#" class="fa fa-expand" aria-hidden="true"></a> </div>
          <center>
            <%= image_tag(j.image.large_image.url,:alt => "Gallery",:class=>"img-responsive") %>
          </center>
          
      </div>
    <%
          end  
      end    
    %>
   
   
    <%
        if @gallery.images.present?
          @gallery.images.each_with_index do |j, index|
           # abort( j.caption_image.to_json)

            if index == 0
              next
            end  
    %>
     <div class="text-center lightcolor wip-txt"><%= j.caption_image %></div>
      <div class="galleryslide">
          <div class="gallery-new"> <a href="#" class="fa fa-download" aria-hidden="true"></a> <a href="#" class="fa fa-expand" aria-hidden="true"></a> </div>
          <center>
            <%= image_tag(j.image.large_image.url,:alt => "Gallery",:class=>"img-responsive") %>
          </center>
          
      </div>
    <%
          end  
      end    
    %>

     <%
        if @gallery.videos.present?
          @gallery.videos.each_with_index do |j, index|
          
          if(j.video.include?('youtube')) 
              if j.video[/youtu\.be\/([^\?]*)/]
                  youtube_id = $1
              else
                  j.video[/^.*((v\/)|(embed\/)|(watch\?))\??v?=?([^\&\?]*).*/]
                  youtube_id = $5
              end 
          %>
           <div class="text-center lightcolor wip-txt"><%= j.caption_video %></div>
            <div class="galleryslide">
                <div class="gallery-new"> <a href="#" class="fa fa-download" aria-hidden="true"></a> <a href="#" class="fa fa-expand" aria-hidden="true"></a> </div>
                <center>
                 <iframe width="700px" height="450px" src="https://www.youtube.com/embed/<%= youtube_id %>" frameborder="0" allowfullscreen></iframe>
                </center>
              
            </div>

                      
        <% elsif(j.video.include?('vimeo')) 
            match = j.video.match(/https?:\/\/(?:[\w]+\.)*vimeo\.com(?:[\/\w]*\/?)?\/(?<id>[0-9]+)[^\s]*/)

            if match.present?
                vimeoid = match[:id] %>
                   <div class="text-center lightcolor wip-txt"><%= j.caption_video %></div>
                 <div class="galleryslide">
                    <div class="gallery-new"> <a href="#" class="fa fa-download" aria-hidden="true"></a> <a href="#" class="fa fa-expand" aria-hidden="true"></a> </div>
                    <center>
                     <iframe width="700px" height="450px"  src="https://player.vimeo.com/video/<%= vimeoid %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </center>
              
                 </div>

        <% end 
         elsif(j.video.include?('dailymotion'))  
            match =  j.video.gsub('http://www.dailymotion.com/video/', "")
            match1  = match.index('_')
            match = match[0...match1]
            if match.present?
                dailymotionid = match %>
                <div class="text-center lightcolor wip-txt"><%= j.caption_video %></div>
                 <div class="galleryslide">
                    <div class="gallery-new"> <a href="#" class="fa fa-download" aria-hidden="true"></a> <a href="#" class="fa fa-expand" aria-hidden="true"></a> </div>
                    <center>
                     <iframe width="700px" height="450px"  frameborder="0"  src="//www.dailymotion.com/embed/video/<%= dailymotionid %>" allowfullscreen></iframe>
                    </center>
              
                 </div>

        <% end 
        end %>
    <%    
      end  
      end  
  %>

  <%
        if @gallery.sketchfebs.present?
          @gallery.sketchfebs.each_with_index do |j, index|
          
          url = "https://sketchfab.com/oembed?url="+j.sketchfeb+"&maxwidth=700&maxheight=450&dataType=jsonp"
    %>

      <script type="text/javascript">
        $(document).ready(function(){
              $.getJSON("<%= url%>",{ajax: 'true'}, function(response){
                 // console.log(response);  
                  $('#sketch_span_'+"<%= index %>").html(response.html);
              }) 

        })
      </script>
      <div class="text-center lightcolor wip-txt"><%= j.caption_sketchfeb %></div>
       <div class="galleryslide">
                <div class="gallery-new"> <a href="#" class="fa fa-download" aria-hidden="true"></a> <a href="#" class="fa fa-expand" aria-hidden="true"></a> </div>
                <center>
                 <span class="img-responsive"  id='sketch_span_<%= index %>'></span>
                </center>
          
        </div>
    <%
          end  
      end    
    %>


   <%
        if @gallery.marmo_sets.present?
          @gallery.marmo_sets.each_with_index do |j, index|
           url = j.marmoset.url
    %>

      <script type="text/javascript">
        $(document).ready(function(){
           var params = { width: 700, height: 450, autoStart: false };
           //var myviewer = marmoset.embed( "<%= url %>", params ); 
          //   console.log(myviewer);
           // $('#marmoset_span_'+"<%#= index %>").html(myviewer);


        })
      </script>
       <div class="text-center lightcolor wip-txt"><%= j.caption_marmoset %></div>
        <div class="galleryslide">
            <div class="gallery-new"> <a href="#" class="fa fa-download" aria-hidden="true"></a> <a href="#" class="fa fa-expand" aria-hidden="true"></a> </div>
            <center>
               <div   id='marmoset_span_<%= index %>'></div>
            </center>
            
        </div>
    <%

          end  
      end    
    %>

     <%
        if @gallery.upload_videos.present?
          @gallery.upload_videos.each_with_index do |j, index|
           url = j.uploadvideo.url
    %>

       <div class="text-center lightcolor wip-txt"><%= j.caption_upload_video %></div>
        <div class="galleryslide">
            <div class="gallery-new"> <a href="#" class="fa fa-download" aria-hidden="true"></a> <a href="#" class="fa fa-expand" aria-hidden="true"></a> </div>
            <center>
                <iframe width="700px" height="450px"  frameborder="0"  src="<%= url %>" allowfullscreen></iframe>
            </center>
            
        </div>
      <%
          end  
      end    
    %>
  </div>
    
    
    
    <div class="comment-wrap clearfix">
      <div class="gallerycomment">
        <div class="gallery-title"><%= @gallery.title.present? ? @gallery.title : '' %></div>
        <div class="clearfix row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="combox"><%= image_tag("comment.jpg",:alt => "Comment") %>
            </div>
            <div class="comleft">The Gnomon Workshop
              <div class="clearfix">
                <button type="button" class="followbtnn"> Follow</button><span class="followcomment">36,686</span></div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 text-right"><a href="#" class="view-txt"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Likes</a> <a href="" class="view-txt"><i class="fa fa-eye" aria-hidden="true"></i>2942</a> <a href="#" class="view-txt"><i class="fa fa-comment-o" aria-hidden="true"></i>115</a> </div>
        </div>
        <div class="bdr"></div>
        <div class="clearfix row">
          <div class="col-md-6 col-sm-6 col-xs-12 share-txt"> <a href="#"><i class="fa fa-share" aria-hidden="true"></i> Share</a> <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Bookmark </a> <a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i> More</a> </div>
          <div class="col-md-6 col-sm-6 col-xs-12 text-right comright">
            <div class="clearfix">
              <button type="button" class="likebtn"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like</button><span class="likecomment">258</span></div>
          </div>
        </div>
      </div>
      <div class="sharewrap clearfix">
        <ul class="nav nav-tabs" id="maincontent" role="tablist">
          <li class="active"><a href="#Share" role="tab" data-toggle="tab">Share <i></i></a></li>
          <li><a href="#Embed" role="tab" data-toggle="tab">Embed <i></i></a></li>
          <li><a href="#Email" role="tab" data-toggle="tab">Email <i></i></a></li>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="Share">
            <div class="clearfix marginB10 socialbox">
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5895a76640dc4c96"></script>
            <div class="addthis_inline_share_toolbox_xe0e"></div>

             </div>
            <div class="shareb marginB10 clearfix">
              <input type="text" class="form-control" placeholder="https://www.youtube.com/watch?v">
            </div>
          </div>
          <div class="tab-pane fade embedb" id="Embed">
            <input type="text" class="form-control" placeholder="https://www.youtube.com/watch?v">
          </div>
          <div class="tab-pane fade emailb" id="Email"> <a href="#">Sign in</a> now! </div>
        </div>
      </div>
      <div class="publishwrap clearfix">
        <h3>Published on <%= @gallery.created_at.to_formatted_s(:long)  %></h3>
        <div class="marginB10 publish-txt"><%= @gallery.description.html_safe  %></div>
        <div class="marginB10 publish-txt"><span class="txt-white"><strong>Category:</strong></span> <a href="#"><%= @gallery.category.present? ? @gallery.category.name : '' %></a></div>



        <div class="marginB10 publish-txt"> <span class="txt-white"><strong>Tags:</strong> </span><% 
         alltag = ''
         if @gallery.tags.present? 
            @gallery.tags.each do |i|  
              alltag += i.tag+', '  
            end 
        end   
       %> 
        <%= alltag.chomp(', ') %> </div>
        <div class="marginB10 publish-txt"><span class="txt-white"><strong>Software Used: </strong></span> 
            <% 
               software  = ''
               if @gallery.software_used.present?
                 software_used = @gallery.software_used
                 software_used.reject!{|a| a==""}
                  software_used.each do |i|  
                       software_name =  SoftwareExpertise.where("id = ?", i).first
                       # abort(software_name.to_json)
              %>
                       <span class="softb"><%= image_tag(software_name.image.software_used.url,:class=>"img-rounded" ,:alt => software_name.name) %></span><%= software_name.name %>
              <%    
                  end  
              end  
             %> 

        </div>
      </div>
    </div>
    <div class="allcommentwrap clearfix">
      <h3>All comments ( 8 )</h3>
      <div class="clearfix comwrap marginB15">
        <div class="compleft"><%= image_tag("user.jpg", :width=>"48", :height=>"48", :alt=>"user") %></div>
        <div class="compright">
          <textarea name="" cols="" rows="" class="form-control" placeholder="Share your thoughts"></textarea>
        </div>
      </div>
      <div class="customer-wrap clearfix">
        <div class="customerleft"><%= image_tag("user1.jpg", :width=>"48", :height=>"48", :alt=>"user") %></div>
        <div class="customerright">
          <div class="day-txt"><span>so0per</span> 2 days ago</div>
          <div class="date-txt"><span>1:00 </span> TASM1 suit?</div>
          <div class="day-txt txt12">Reply  - <span>2</span></div>
        </div>
      </div>
      <div class="customer-wrap clearfix leftspace">
        <div class="customerleft"><%= image_tag("user.jpg", :width=>"48", :height=>"48", :alt=>"user") %></div>
        <div class="customerright">
          <div class="day-txt"><span>Stick Pivoat Torres</span> 2 days ago</div>
          <div class="date-txt">look like, but i don’t think so. it’s a model 3D</div>
          <div class="day-txt txt12">Reply  - <span>2</span></div>
        </div>
      </div>
      <div class="customer-wrap clearfix">
        <div class="customerleft"><%= image_tag("user1.jpg", :width=>"48", :height=>"48", :alt=>"user") %></div>
        <div class="customerright">
          <div class="day-txt"><span>Stick Pivoat Torres</span> 2 days ago</div>
          <div class="date-txt">look like, but i don’t think so. it’s a model 3D</div>
          <div class="day-txt txt12">Reply  - <span>2</span></div>
        </div>
      </div>
      <div class="customer-wrap clearfix">
        <div class="customerleft"><%= image_tag("user.jpg", :width=>"48", :height=>"48", :alt=>"user") %></div>
        <div class="customerright">
          <div class="day-txt"><span>Stick Pivoat Torres</span> 2 days ago</div>
          <div class="date-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget faucibus elit. Aenean ut justo nisi. Duis tempor, </div>
          <div class="day-txt txt12">Reply  - <span>2</span></div>
        </div>
      </div>
      <div class="customer-wrap clearfix">
        <div class="customerleft"><%= image_tag("user1.jpg", :width=>"48", :height=>"48", :alt=>"user") %></div>
        <div class="customerright">
          <div class="day-txt"><span>Stick Pivoat Torres</span> 2 days ago</div>
          <div class="date-txt">look like, but i don’t think so. it’s a model 3D</div>
          <div class="day-txt txt12">Reply  - <span>2</span></div>
        </div>
      </div>
      <div class="customer-wrap clearfix">
        <div class="customerleft"><%= image_tag("user.jpg", :width=>"48", :height=>"48", :alt=>"user") %></div>
        <div class="customerright">
          <div class="day-txt"><span>Stick Pivoat Torres</span> 2 days ago</div>
          <div class="date-txt">look like, but i don’t think so. it’s a model 3D</div>
          <div class="day-txt txt12">Reply  - <span>2</span></div>
        </div>
      </div>
      <div class="customer-wrap clearfix">
        <div class="customerleft"><%= image_tag("user1.jpg", :width=>"48", :height=>"48", :alt=>"user") %></div>
        <div class="customerright">
          <div class="day-txt"><span>Stick Pivoat Torres</span> 2 days ago</div>
          <div class="date-txt">look like, but i don’t think so. it’s a model 3D</div>
          <div class="day-txt txt12">Reply  - <span>2</span></div>
        </div>
      </div>
    </div>
    <div class="latest-gallery clearfix">
      <div class="productbox clearfix margin">
        <h2>Latest Posts <a href="#" class="pull-right viewbtn">view all</a></h2>
        <div class="photos">
          <ul>
            <li class="clearfix marginB10">
              <div class="borders2 marginB5"><%= image_tag("database/artists.jpg", :width=>"48", :height=>"48", :alt=>"user") %>
                <div class="overlay"><span class="expand"><i class="fa fa-play" aria-hidden="true"></i></span></div>
              </div>
              <div class="pro-title"><a href="#">Arene</a></div>
              <div class="pro-text">36, 568 views - 3 hours ago</div>
            </li>
            <li class="clearfix marginB10">
              <div class="borders2 marginB5"><%= image_tag("database/artists1.jpg", :class=>"img-responsive", :alt=>"img") %>
                <div class="overlay"><span class="expand"><i class="fa fa-play" aria-hidden="true"></i></span></div>
              </div>
              <div class="pro-title"><a href="#">Homefront: The Revolution </a></div>
              <div class="pro-text">36, 568 views - 3 hours ago</div>
            </li>
            <li class="clearfix marginB10">
              <div class="borders2 marginB5"><%= image_tag("database/artists2.jpg", :class=>"img-responsive", :alt=>"img") %>
                <div class="overlay"><span class="expand"><i class="fa fa-play" aria-hidden="true"></i></span></div>
              </div>
              <div class="pro-title"><a href="#">The Technomancer Gameplay</a></div>
              <div class="pro-text">36, 568 views - 3 hours ago</div>
            </li>
            <li class="clearfix marginB10">
              <div class="borders2 marginB5"><%= image_tag("database/artists3.jpg", :class=>"img-responsive", :alt=>"img") %>
                <div class="overlay"><span class="expand"><i class="fa fa-play" aria-hidden="true"></i></span></div>
              </div>
              <div class="pro-title"><a href="#">Mafia III – One Way Road Story </a></div>
              <div class="pro-text">36, 568 views - 3 hours ago</div>
            </li>
            <li class="clearfix">
              <div class="borders2 marginB5"><%= image_tag("database/artists4.jpg", :class=>"img-responsive", :alt=>"img") %>
                <div class="overlay"><span class="expand"><i class="fa fa-play" aria-hidden="true"></i></span></div>
              </div>
              <div class="pro-title"><a href="#">Arene</a></div>
              <div class="pro-text">36, 568 views - 3 hours ago</div>
            </li>
            <li class="clearfix">
              <div class="borders2 marginB5"><%= image_tag("database/artists5.jpg", :class=>"img-responsive", :alt=>"img") %>
                <div class="overlay"><span class="expand"><i class="fa fa-play" aria-hidden="true"></i></span></div>
              </div>
              <div class="pro-title"><a href="#">The Technomancer Gameplay </a></div>
              <div class="pro-text">36, 568 views - 3 hours ago</div>
            </li>
            <li class="clearfix">
              <div class="borders2 marginB5"><%= image_tag("database/artists6.jpg", :class=>"img-responsive", :alt=>"img") %>
                <div class="overlay"><span class="expand"><i class="fa fa-play" aria-hidden="true"></i></span></div>
              </div>
              <div class="pro-title"><a href="#">Mafia III – One Way Road Story </a></div>
              <div class="pro-text">36, 568 views - 3 hours ago</div>
            </li>
            <li class="clearfix">
              <div class="borders2 marginB5"><%= image_tag("database/artists7.jpg", :class=>"img-responsive", :alt=>"img") %>
                <div class="overlay"><span class="expand"><i class="fa fa-play" aria-hidden="true"></i></span></div>
              </div>
              <div class="pro-title"><a href="#">Homefront: The Revolution </a></div>
              <div class="pro-text">36, 568 views - 3 hours ago</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="google-ad">
      <center>
        <%= image_tag("database/Google-ad.jpg", :class=>"img-responsive", :alT=>"gooGle Ad") %>
      </center>
    </div>
    <div class="botmargingallery"></div>
  </div>
  <div class="gallery-right">
   <div class="marginB15 clearfix"> 
        <a class="pull-right closebtn" href='<%= index_gallery_path %>'><i class="fa fa-times" aria-hidden="true"></i></a> 
        <a class="pull-right closebtn"><i data-toggle="dropdown" aria-hidden="true" class="fa fa-chevron-down"></i></a> 
    </div>
     
    <div class="aside clearfix">
      <div class="wiphome marginB15 clearfix">
        <h2>More by <span>Glauco Longhi</span>
          <button type="button" class="followbtn"><i class="fa fa-plus-circle" aria-hidden="true"></i> Follow</button>
        </h2>
        <ul class="margin">
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-exiles-end.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-ignatius-tan-terra-final.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-fiora-for-print.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-facecloseuprender.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-one-smoking-hot-fairy-tail-resized.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-mononoke-final-merged.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-phantom-assassin-merged.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-yuna-final-edited.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-lunar-diana-final.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
        </ul>
      </div>
      <div class="wiphome clearfix critiqueright">
        <h2>Wip/Wants Critique</h2>
        <ul class="margin">
          <li class="lists"><a href="#"><%= image_tag("database/mioree-riven-2016.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-3f71e1d9e907c6965bd7e7485e27e145-d7nmi4l.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-sailor-moon-2016-recovered.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-satsuki-the-queen-by-pieder-d7i0no4.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-child-of-light-becoming-by-pieder-d7isd6a.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-meg-2016-for-amethylia.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-snape.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-ana.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-silas-sall.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
        </ul>
      </div>
      <div class="wiphome clearfix proswrap">
        <h2>New From Pros <span>Go Pro!</span></h2>
        <ul class="margin">
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-exiles-end.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-ignatius-tan-terra-final.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-fiora-for-print.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-facecloseuprender.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-one-smoking-hot-fairy-tail-resized.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-mononoke-final-merged.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-phantom-assassin-merged.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-yuna-final-edited.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/ignatius-tan-lunar-diana-final.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
        </ul>
      </div>
      <div class="wiphome clearfix proswrap">
        <h2>Popular Today</h2>
        <ul class="margin">
          <li class="lists"><a href="#"><%= image_tag("database/mioree-riven-2016.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-3f71e1d9e907c6965bd7e7485e27e145-d7nmi4l.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-sailor-moon-2016-recovered.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-satsuki-the-queen-by-pieder-d7i0no4.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-child-of-light-becoming-by-pieder-d7isd6a.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-meg-2016-for-amethylia.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-snape.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-ana.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
          <li class="lists"><a href="#"><%= image_tag("database/mioree-silas-sall.jpg", :class=>"img-responsive", :alt=>"img") %></a></li>
        </ul>
      </div>
      <div class="neverpost clearfix">
        <div class="tophead">Never miss a post <i class="fa fa-times pull-right" aria-hidden="true"></i></div>
        <div class="nevercontent clearfix"> <%= image_tag("anmit.jpg", :class=>"pull-left", :alt=>"anim") %> <span class="anmitext pull-left">animationtidbits<i>Animation Tidbits</i></span>
          <button class="followbtn pull-right"><i class="fa fa-plus-circle" aria-hidden="true"></i> Follow</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$('.single-item').slick();

$('.lazy').slick({
lazyLoad: 'ondemand',
slidesToShow: 3,
slidesToScroll: 1
});

</script>