<!-- Submenu Navigation -->
<div id="myApp2" ng-app="myApp" ng-controller="myCtrl">
  <section class="wip-navigation-wrap">
    <div class="navbar-default">
      <div class="container-fluid">
        <div class="row">
        
        <div class="col-md-3 col-sm-4 col-xs-9 header-search">
        <div class="input-group stylish-input-group">
            <input type="text" class="form-control"  placeholder="Search 520 000 3D models" >
            <span class="input-group-addon">
            <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
            </span> </div>
        </div>
        
        <div class="col-md-9 col-sm-8 col-xs-3 downloadpage">
        <div class="navbar-header"> <a class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> </div>
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">All Tutorials</a></li>
            <li><a href="#">maya</a></li>
            <li><a href="#">3ds Max</a></li>
            <li><a href="#">Blender</a></li>
            <li><a href="#">ZBrush</a></li>
            <li><a href="#">Cinema 4D</a></li>
            <li><a href="#">Houdini</a></li>
            <li><a href="#">Arnold Render</a></li>
            <li><a href="#">V-Ray Render</a></li>
            <li><a href="#">Photoshop</a></li>
            <li><a href="#">RealFlow</a></li>
            <li><a href="#">more</a></li>
          </ul>
        </div>
        </div>
        
        </div>
      </div>
    </div>
  </section>

  <!--  Download Details Content -->
  <section class="clearfix downloadcategorywrap">
      <div class="container">
          <h2><%= @topic_details.name %></h2>
          <div class="downloadtxt"><%= @topic_details.description %></div>
          <div class="row">
              <ul>
                  <% @sub_topics.each_with_index do |val, i| %>
                      <li class="col-md-3 col-sm-4 col-xs-6 marginB10"><a href="<%= tutorial_category_path(val.id) %>"><%= val.name %> <span class="badge">(<%= val.try(:count_tutorials) %>)</span></a></li>
                  <% end %>
              </ul>
          </div>
      </div>
  </section>

  <!-- Download Indent Start -->
  <section class="clearfix downpadcategory">
  <div class="container">
  <div class="clearfix hidden-xs hidden-sm">
  <ol class="breadcrumb margin">
  <li class="breadcrumb-item"><a href="javascript:void(0);"><%= @topic_details.name %></a></li>

  </ol>
  </div>


  <!-- User Followers Start -->
  <div class="download-indent clearfix">
  <div class="container">
  <div class="clearfix downbox row">
    <div class="clearfix">
      <ul>
      <% if @result.present? %>
              <li  class="clearfix marginL" ng-repeat="x in <%= @result.to_json %>">
                <div class="downwrap"><img lazy-img="<%= root_url %>{{ x.company_logo.tutorial_list.url }}" class="img-responsive"> </div>
                    <div class="padding10 clearfix">
                      <div class="down-txt"><span>{{x.title}}</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
                      <div class="clearfix down-name">
                        <div class="pull-left">by <span class="price-txt1">{{x.is_admin == 'Y' ? 'Admin' : x.user.firstname + ' ' + x.user.lastname}}</span></div>
                       
                      </div>
                    </div>
               </li>

        <% end %>    
      </ul>
    </div>
    
  </div>
   <div class="text-center col-md-12 col-sm-12 col-xs-12 text-uppercase">
          <%= paginate @result %>
    </div>
  </div>
  </div>
  </div>
  </section>
</div>
<footer class="footer clearfix padding">
  <%= render 'layouts/lastfooter' %>
</footer>

<script>
// main page angular app start
var app = angular.module('myApp', ["angularLazyImg"]);
app.controller('myCtrl', function($scope, $http) {
    
});

</script>