<!-- Submenu Navigation -->
<section class="wip-navigation-wrap">
  <div class="navbar-default">
    <div class="container-fluid">
      <div class="row">
      
      <div class="col-md-3 col-sm-4 col-xs-9 header-search">
      <div class="input-group stylish-input-group">
          <input type="text" class="form-control"  placeholder="Search 520 000 3D models" >
          <span class="input-group-addon">
          <button type="submit"> <span class="glyphicon glyphicon-search"></span> </button>
          </span> </div>
      </div>
      
      <div class="col-md-9 col-sm-8 col-xs-3 downloadpage">
      <div class="navbar-header"> <a class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> </div>
      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">All Tutorials</a></li>
          <li><a href="#">maya</a></li>
          <li><a href="#">3ds Max</a></li>
          <li><a href="#">Blender</a></li>
          <li><a href="#">ZBrush</a></li>
          <li><a href="#">Cinema 4D</a></li>
          <li><a href="#">Houdini</a></li>
          <li><a href="#">Arnold Render</a></li>
          <li><a href="#">V-Ray Render</a></li>
          <li><a href="#">Photoshop</a></li>
          <li><a href="#">RealFlow</a></li>
          <li><a href="#">more</a></li>
        </ul>
      </div>
      </div>
      
      </div>
    </div>
  </div>
</section>

<!--  Download Details Content -->
<section class="clearfix downloadcategorywrap">
    <div class="container">
        <h2><%= @topic_details.name %></h2>
        <div class="downloadtxt"><%= @topic_details.description %></div>
        <div class="row">
            <ul>
                <% @sub_topics.each_with_index do |val, i| %>
                    <li class="col-md-3 col-sm-4 col-xs-6 marginB10"><a href="<%= tutorial_category_path(val.id) %>"><%= val.name %> <span class="badge">(<%= val.try(:count_tutorials) %>)</span></a></li>
                <% end %>
            </ul>
        </div>
    </div>
</section>

<!-- Download Indent Start -->
<section class="clearfix downpadcategory">
<div class="container">
<div class="clearfix hidden-xs hidden-sm">
<ol class="breadcrumb margin">
<li class="breadcrumb-item"><a href="#">CGTrader</a></li>
<li class="breadcrumb-item"><a href="#">3D Models</a></li>
<li class="breadcrumb-item active">Character / Human 3D Models</li>
</ol>
</div>
<div class="downwrapprice hidden-xs hidden-sm">
<div class="row">
<div class="col-md-3 col-sm-4 col-xs-12">
  <div class="pull-left price-down paddinT5">Price <%= image_tag("price-line.png", :alt=>"price", :class=>"img-responsive marginL5", :style=>"display:inline-block") %></div>
  <div class="pull-right">
    <!-- <div class="checkbox-btn">
      <input type="checkbox" value="value-1" id="rc3" name="rc3" />
      <label for="rc3" onclick></label>
    </div> -->
  </div>
</div>
<div class="col-md-2 col-sm-3 col-xs-12">
  <!-- <select class="custom-select">
    <option>Formats</option>
  </select> -->
</div>
<div class="col-md-4 col-sm-3 col-xs-12 paddinT10">
  <!-- <div class="checkbox-btn pull-left marginR5">
    <input type="checkbox" value="value-1" id="rc4" name="rc4" />
    <label for="rc4" onclick>Animated</label>
  </div>
  <div class="checkbox-btn pull-left marginR5 marginL5">
    <input type="checkbox" value="value-1" id="rc5" name="rc5" />
    <label for="rc5" onclick>Rigged</label>
  </div>
  <div class="checkbox-btn  pull-left marginL5">
    <input type="checkbox" value="value-1" id="rc6" name="rc6" />
    <label for="rc6" onclick>Low-poly</label>
  </div> -->
</div>
<div class="col-md-3 col-sm-3 col-xs-12">
  <select class="custom-select">
    <option>Best Match</option>
  </select>
</div>
</div>
</div>
<div class="clearfix resetfilterswrap">
<div class="row">
<div class="col-md-10 col-sm-9 col-xs-12">
  <div class="text-select">Character / Human <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></div>
</div>
<div class="col-md-2 col-sm-3 col-xs-12 text-right reset-btn"> <a href="#"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Rest filters</a> </div>
</div>
</div>

<!-- User Followers Start -->
<div class="download-indent clearfix">
<div class="container">
<div class="clearfix downbox row">
  <div class="clearfix">
    <ul>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>12 Realistic Male Characters</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
           
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials1.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
            
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials2.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials3.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="clearfix">
    <ul>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials4.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials5.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials6.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials7.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="clearfix">
    <ul>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials8.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials9.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials10.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials11.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">max, obj, 3ds, dxf, c4d and more</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="clearfix">
    <ul>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials12.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>12 Realistic Male Characters</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
            
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials13.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
            
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials14.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials15.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="clearfix">
    <ul>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials16.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials17.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials18.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials19.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="clearfix">
    <ul>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials20.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials21.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials22.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials23.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">max, obj, 3ds, dxf, c4d and more</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="clearfix">
    <ul>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>12 Realistic Male Characters</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
            
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials1.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
            
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials2.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials3.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="clearfix">
    <ul>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials4.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials5.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials6.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials7.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="clearfix">
    <ul>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials8.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials9.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials10.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">by <span class="price-txt1">Matte Agr</span></div>
          </div>
        </div>
      </li>
      <li class="clearfix">
        <div class="downwrap"><%= image_tag("database/tutorials11.jpg", :class=>"img-responsive") %></div>
        <div class="padding10 clearfix">
          <div class="down-txt"><span>Garvel Hever</span> <a href="#" class="pull-right tut-price txt13">View</a></div>
          <div class="clearfix down-name">
            <div class="pull-left">max, obj, 3ds, dxf, c4d and more</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="text-center text-uppercase">
  <ul class="pagination">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next</a></li>
    <li><a href="#">Last</a></li>
  </ul>
</div>
</div>
</div>
</div>
</section>

<footer class="footer clearfix padding">
  <%= render 'layouts/lastfooter' %>
</footer>