<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Cgmeetup</title>
    <%= csrf_meta_tags %>
	<%= stylesheet_link_tag "bootstrap","font-awesome.min","animate","hover","bootstrap-responsive-tabs","v-accordion","styles","responsive","slick","jquery.mCustomScrollbar.css", "select2","cropper","angularjs-slider/rzslider", :media => "all" %>
	<%= javascript_include_tag "application" %>
 </head>
   <body>
		<%= render "layouts/header" %>
		<% if flash[:alert] %>
				<div class="alert alert-danger marginB text-center">
					<div><%= flash[:alert] %></div>
					<% flash.discard(:alert) %>
				</div>
			<% end %>
			<% if flash[:notice] %>
				<div class="alert alert-success marginB text-center">
					<div class="notice"><%= flash[:notice] %></div>
					<% flash.discard(:notice) %>
				</div>
			<% end %>
			<% if flash[:error] %>
				<div class="alert alert-danger marginB text-center">
					<div class="error"><%= flash[:error] %></div>
					<% flash.discard(:error) %>
				</div>
			<% end %>
			<% flash.discard %>
		<%= yield %>
	</body>	
</html>
